@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-uWRDKzdjvkf4EAoV {
        z-index: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-Y6MTqAnlYkTtOtmG {
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-dB {
        height: auto;
        aspect-ratio: unset;
        min-height: 1200px;
        background: var(--ww-style-background-color);
      }
      @media (max-width: 767px) {
        .ww-s-dB {
          margin: 0;
          min-height: 1200px;
        }
      }
      .ww-s-dB > .ww-section-element {
        width: 100%;
        padding: 120px 32px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-dB > .ww-section-element {
          --ww-section-root-auto-align: center;
          --ww-section-root-auto-width: 100%;
          padding: 64px 16px 128px;
          min-height: 1200px;
        }
      }
      .ww-s-dB > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-s-dB > .ww-section-element.ww-layout {
          align-items: stretch;
          gap: 0;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-e64GhYcJHEm1j0gb {
        margin: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-0196u6vQjAePVbDF {
        margin: 0;
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-bz1Dtfovudlkg0nb {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-0XtwMMjcpjxcaUFe {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-3tJBOiCg_zaOJAaU {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2ew-mtNf67a7wUE0 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-62B4z2iQ-iPYknmh {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-GY9OD6k0O9NAwLah {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Wf3kR1fDZCtNqRYp {
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-dQVf4AfE6DwFXRwu {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-EFbekEDt-bxLyKV- {
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-hrle4cgh7E0q5WYv {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-6GOhhIoAx0jRKIia {
        margin: 0;
        padding: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-osFt1bovyjmw1wCr {
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-CQC-UYJF9-3biM3_ {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-wepO1Mjw7DgHz3WK {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2XmtwZSC2Y1t00Nv {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Fijzlf8jhln2zwt7 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-ZHFlyccgidWMqZZn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4RoHNZRxGrkSNyJL {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-hrpkn2nmdrP6iFfB {
        margin: 0;
        padding: 0;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-d8h {
        margin: 0;
        width: revert-layer;
      }
      .ww-e-d8h.ww-layout, .ww-e-d8h [data-ww-ls~="d8h"] {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-d8h.ww-layout, .ww-e-d8h [data-ww-ls~="d8h"] {
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-start;
          row-gap: 5px;
        }
      }
      .ww-e-d8i.ww-layout, .ww-e-d8i [data-ww-ls~="d8i"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d8j {
        padding: 6px;
        z-index: 101;
        display: var(--ww-style-display);
        position: absolute;
        top: 12px;
        left: 12px;
        background: var(--ww-style-background-color);
        opacity: 1;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d8j {
          padding: 4px;
        }
      }
      .ww-e-d8j.ww-layout, .ww-e-d8j [data-ww-ls~="d8j"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-d8k {
        width: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-d8k {
          width: 20px;
        }
      }
      .ww-e-d8l {
        padding: 32px;
        align-self: unset;
        width: 100%;
        background-color: #0000001a;
        box-shadow: inset 0 1px 1px #78787833;
        border-radius: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-d8l {
          padding: 32px;
          box-shadow: inset 0 1px 1px #78787833;
          border-radius: 32px;
        }
      }
      .ww-e-d8l.ww-layout, .ww-e-d8l [data-ww-ls~="d8l"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 50px 20px;
      }
      .ww-e-d8m {
        margin: 0;
        display: block;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-d8m {
          margin: 0;
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-d8n {
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-d8n {
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-d8o {
        padding: 12px;
        align-self: center;
        display: var(--ww-style-display, none);
      }
      .ww-e-d8p {
        width: 16px;
      }
      .ww-e-d8q {
        margin: 0 0 0 40px;
        display: block;
        width: 200px;
        height: 40px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      .ww-e-d8r {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d8r {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-d8s {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d8s {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-d8t {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d8t {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-d8u {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d8u {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-d8v {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d8v {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-d8w {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d8w {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-d8x {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d8x {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-d8y {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d8y {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-d8z {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d8z {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-d90 {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d90 {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-d91 {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d91 {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-d92 {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d92 {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-d93 {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d93 {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-d94 {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d94 {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-d95 {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d95 {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-d96 {
        width: 100%;
      }
      .ww-e-d96.ww-layout, .ww-e-d96 [data-ww-ls~="d96"] {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-d96.ww-layout, .ww-e-d96 [data-ww-ls~="d96"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-d97 {
        width: 100%;
      }
      .ww-e-d97.ww-layout, .ww-e-d97 [data-ww-ls~="d97"] {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-d97.ww-layout, .ww-e-d97 [data-ww-ls~="d97"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-d98 {
        width: 100%;
      }
      .ww-e-d98.ww-layout, .ww-e-d98 [data-ww-ls~="d98"] {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-d98.ww-layout, .ww-e-d98 [data-ww-ls~="d98"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-d99 {
        width: 32px;
        transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-d99 {
          padding: 5px;
          width: 40px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d99:where([data-ww-states~="U7UYbI"]) {
          background-color: #19191980;
          box-shadow: inset 0 1px 1px #78787833;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d99:where([data-ww-states~="hQCGFR"]) {
          background-color: #d6d6d680;
        }
      }
      .ww-e-d99:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-d9A {
        width: 18px;
        height: auto;
        transition: all 0.2s ease;
      }
      .ww-e-d9A:where([data-ww-states~="2w7mmz"]) {
        transition: all 0.2s ease;
      }
      .ww-e-d9B {
        width: 100%;
        max-width: unset;
      }
      .ww-e-d9B.ww-layout, .ww-e-d9B [data-ww-ls~="d9B"] {
        display: flex;
        flex-flow: column;
        gap: 30px;
      }
      .ww-e-d9C {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        border-radius: 12px;
        --wwi-ar: unset;
        --wwi-of: cover;
      }
      @media (max-width: 767px) {
        .ww-e-d9C {
          width: 100px;
          height: 100%;
        }
      }
      .ww-e-d9C:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        transform: scale(1.05);
      }
      .ww-e-d9D {
        margin: 0;
        padding: 0;
        position: revert-layer;
        inset: revert-layer;
        font-size: 14px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d9D {
          font-size: 12px;
        }
      }
      .ww-e-d9E {
        margin: 0;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 600;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-d9E {
          margin: 5px 0 10px;
          font-size: 16px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d9F {
          align-self: center;
          display: var(--ww-style-display);
          max-width: 250px;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          background-color: #19191980;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d9F:where([data-ww-states~="6gviM9"]) {
          align-self: center;
          display: flex;
          flex: 1 0 auto;
          box-shadow: inset 0 1px 1px #78787833;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d9F:where([data-ww-states~="I7lxO2"]) {
          background-color: #d6d6d680;
          border-radius: 100px;
        }
      }
      .ww-e-d9F.ww-layout, .ww-e-d9F [data-ww-ls~="d9F"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-e-d9F.ww-layout, .ww-e-d9F [data-ww-ls~="d9F"] {
          display: var(--ww-style-display);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      @media (max-width: 767px) {
        .ww-e-d9F.ww-layout:where([data-ww-states~="6gviM9"]), .ww-e-d9F [data-ww-ls~="d9F"]:where([data-ww-states~="6gviM9"]) {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
        }
      }
      .ww-e-d9G {
        margin: 0;
        padding: 10px;
        align-self: flex-start;
        display: flex;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-91dbf187-694e-40dd-8438-f6ffbdc59d88-base-default;
      }
      @keyframes ww-keyframes-element-91dbf187-694e-40dd-8438-f6ffbdc59d88-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-d9G {
          padding: 10px;
          display: none;
          cursor: pointer;
        }
      }
      .ww-e-d9G:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-d9G.ww-layout, .ww-e-d9G [data-ww-ls~="d9G"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-d9G.ww-layout, .ww-e-d9G [data-ww-ls~="d9G"] {
          display: none;
        }
      }
      .ww-e-d9G.ww-layout:where(:hover), .ww-e-d9G [data-ww-ls~="d9G"]:where(:hover) {
        column-gap: 5px;
      }
      .ww-e-d9H {
        display: var(--ww-style-display, none);
        width: 1200px;
        opacity: 0.2;
      }
      @media (max-width: 767px) {
        .ww-e-d9H {
          display: var(--ww-style-display, none);
          width: var(--ww-section-root-auto-width, revert-layer);
        }
      }
      .ww-e-d9H:where([data-ww-states~="3ahbRv"]) {
        opacity: 0.5;
      }
      .ww-e-d9H.ww-layout, .ww-e-d9H [data-ww-ls~="d9H"] {
        display: var(--ww-style-display, none);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-d9H.ww-layout, .ww-e-d9H [data-ww-ls~="d9H"] {
          display: var(--ww-style-display, none);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-d9I {
        padding: 10px;
        align-self: flex-start;
        display: none;
        position: fixed;
        top: 100px;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-e3acb754-07dc-40a1-85c9-9d06bf20531b-base-default;
      }
      @keyframes ww-keyframes-element-e3acb754-07dc-40a1-85c9-9d06bf20531b-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-d9I {
          margin: 0;
          padding: 0 10px;
          z-index: 100;
          align-self: center;
          display: flex;
          position: fixed;
          top: 5px;
          right: auto;
          left: auto;
          width: 100%;
          flex: 1 0 auto;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          cursor: auto;
          box-shadow: revert-layer;
          animation-name: ww-keyframes-element-e3acb754-07dc-40a1-85c9-9d06bf20531b-base-mobile;
          border-radius: 100px;
        }
        @keyframes ww-keyframes-element-e3acb754-07dc-40a1-85c9-9d06bf20531b-base-mobile {
          0% {
          }
          100% {
          }
        }
      }
      @media (max-width: 767px) {
        .ww-e-d9I:where([data-ww-states~="0bFTkZ"]) {
          padding: 0 10px;
          top: 10px;
          width: 90%;
          box-shadow: revert-layer;
        }
      }
      .ww-e-d9I.ww-layout, .ww-e-d9I [data-ww-ls~="d9I"] {
        display: none;
      }
      @media (max-width: 767px) {
        .ww-e-d9I.ww-layout, .ww-e-d9I [data-ww-ls~="d9I"] {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          column-gap: 10px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-d9J {
        margin: 10px 5px;
      }
      @media (max-width: 767px) {
        .ww-e-d9J {
          width: 200px;
        }
      }
      .ww-e-d9J.ww-layout, .ww-e-d9J [data-ww-ls~="d9J"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-d9J.ww-layout, .ww-e-d9J [data-ww-ls~="d9J"] {
          flex-flow: column;
        }
      }
      .ww-e-d9K {
        z-index: 101;
        display: var(--ww-style-display);
        position: absolute;
        top: 12px;
        right: 12px;
        width: 32px;
        height: 32px;
        background-color: #252525cc;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 50%;
      }
      @media (max-width: 991px) {
        .ww-e-d9K {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d9K {
          display: none;
        }
      }
      .ww-e-d9K:where(:hover) {
        display: flex;
        background-color: #252525;
      }
      .ww-e-d9K.ww-layout, .ww-e-d9K [data-ww-ls~="d9K"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 991px) {
        .ww-e-d9K.ww-layout, .ww-e-d9K [data-ww-ls~="d9K"] {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d9K.ww-layout, .ww-e-d9K [data-ww-ls~="d9K"] {
          display: none;
        }
      }
      .ww-e-d9K.ww-layout:where(:hover), .ww-e-d9K [data-ww-ls~="d9K"]:where(:hover) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-d9L {
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        width: 200px;
        height: auto;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: translateY(0);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-dbf5c0fd-c16e-4db2-986b-2b5cf7204806-base-default;
      }
      @keyframes ww-keyframes-element-dbf5c0fd-c16e-4db2-986b-2b5cf7204806-base-default {
        0% {
        }
        100% {
        }
      }
      @media (max-width: 991px) {
        .ww-e-d9L {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d9L {
          display: flex;
          width: 100%;
          height: auto;
          aspect-ratio: unset;
          border-radius: 12px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d9L:where(:hover) {
          background-color: #ffffff0d;
        }
      }
      .ww-e-d9L.ww-layout, .ww-e-d9L [data-ww-ls~="d9L"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 991px) {
        .ww-e-d9L.ww-layout, .ww-e-d9L [data-ww-ls~="d9L"] {
          display: flex;
          flex-flow: column;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d9L.ww-layout, .ww-e-d9L [data-ww-ls~="d9L"] {
          display: flex;
          flex-direction: row;
          column-gap: 15px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-d9M {
        display: var(--ww-style-display, flex);
        width: 100%;
        max-width: 1200px;
      }
      @media (max-width: 767px) {
        .ww-e-d9M {
          width: var(--ww-section-root-auto-width, revert-layer);
          max-width: unset;
        }
      }
      .ww-e-d9M.ww-layout, .ww-e-d9M [data-ww-ls~="d9M"] {
        display: var(--ww-style-display, flex);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-d9M.ww-layout, .ww-e-d9M [data-ww-ls~="d9M"] {
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        }
      }
      .ww-e-d9N {
        margin: 0;
        padding: 6px;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        cursor: pointer;
        box-shadow: inset 0 1px 1px #78787833;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-text-white-space: nowrap;
        --ww-text-overflow: hidden;
        --ww-text-text-overflow: initial;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-d9N {
          margin: 0;
          font-weight: 600;
        }
      }
      .ww-e-d9N:where(:hover) {
        color: #191919;
        background-color: #fdca00;
        box-shadow: inset 0 1px 1px #78787833, 0 0 10px #fdca00;
        transition: all 0.3s ease 0s;
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        --ww-element-transition: all 0.3s ease 0s;
      }
      .ww-e-d9O.ww-layout, .ww-e-d9O [data-ww-ls~="d9O"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 10px 20px;
      }
      @media (max-width: 767px) {
        .ww-e-d9O.ww-layout, .ww-e-d9O [data-ww-ls~="d9O"] {
          gap: 10px 0;
        }
      }
      .ww-e-d9P {
        display: flex;
      }
      .ww-e-d9P.ww-layout, .ww-e-d9P [data-ww-ls~="d9P"] {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-d9P.ww-layout, .ww-e-d9P [data-ww-ls~="d9P"] {
          justify-content: flex-start;
          align-content: revert-layer;
          gap: 5px;
          flex-wrap: wrap;
        }
      }
      .ww-e-d9Q {
        display: flex;
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-d9Q.ww-layout, .ww-e-d9Q [data-ww-ls~="d9Q"] {
        display: flex;
        flex-flow: wrap;
        align-content: revert-layer;
        gap: 5px;
      }
      .ww-e-d9R {
        align-self: unset;
        display: grid;
        position: revert-layer;
        inset: revert-layer;
        width: revert-layer;
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
      }
      @media (max-width: 991px) {
        .ww-e-d9R {
          display: grid;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d9R {
          align-self: center;
          display: grid;
          width: 100%;
        }
      }
      .ww-e-d9R.ww-layout, .ww-e-d9R [data-ww-ls~="d9R"] {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 30px;
      }
      @media (max-width: 991px) {
        .ww-e-d9R.ww-layout, .ww-e-d9R [data-ww-ls~="d9R"] {
          display: grid;
          grid-auto-flow: row;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d9R.ww-layout, .ww-e-d9R [data-ww-ls~="d9R"] {
          display: grid;
          grid-auto-flow: row;
          grid-template-columns: revert-layer;
          grid-template-rows: revert-layer;
          gap: 15px 0;
        }
      }
      .ww-e-d9S {
        margin: 0;
        display: block;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-d9S {
          margin: 0;
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-d9T {
        font-size: 16px;
        font-weight: 400;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-ccf8a12a-d00a-4767-95a3-e54d006bb30e-base-default;
      }
      @keyframes ww-keyframes-element-ccf8a12a-d00a-4767-95a3-e54d006bb30e-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-d9T {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d9T {
          font-size: 16px;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-d9U {
        font-size: 12px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-fa16c755-30d9-4aee-a71e-f7669ce0ff83-base-default;
      }
      @keyframes ww-keyframes-element-fa16c755-30d9-4aee-a71e-f7669ce0ff83-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-d9U {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d9U {
          font-size: 12px;
          text-align: center;
        }
      }
      .ww-e-d9V {
        font-size: 24px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-10e78cf4-6ff4-4f52-a249-dda6ff26fb07-base-default;
      }
      @keyframes ww-keyframes-element-10e78cf4-6ff4-4f52-a249-dda6ff26fb07-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-d9V {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d9V {
          font-size: 16px;
          text-align: center;
        }
      }
      .ww-e-d9W {
        display: none;
        font-size: 16px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-d9W {
          padding: 5px;
          display: block;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          color: var(--ww-content-ww-text-color);
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
        }
      }
      .ww-e-d9X {
        overflow: unset;
        position: revert-layer;
        inset: revert-layer;
        max-width: unset;
        font-size: 16px;
        font-family: var(--ww-default-font-family);
        line-height: 1.2;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-8529f998-677d-4a35-af50-467b0f82a1de-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-8529f998-677d-4a35-af50-467b0f82a1de-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-d9X {
          font-size: 36px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d9X {
          margin: 0;
          overflow: unset;
          z-index: unset;
          align-self: unset;
          position: revert-layer;
          inset: revert-layer;
          max-width: unset;
          height: auto;
          aspect-ratio: unset;
          font-size: 16px;
          font-weight: 800;
          text-align: center;
        }
      }
      .ww-e-d9Y {
        padding: 0;
        overflow: hidden;
        display: block;
        position: revert-layer;
        inset: revert-layer;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d9Y {
          width: 100px;
          height: 150px;
          aspect-ratio: unset;
        }
      }
      .ww-e-d9Y.ww-layout, .ww-e-d9Y [data-ww-ls~="d9Y"] {
        display: block;
      }
      .ww-e-d9Z {
        z-index: 100;
        align-self: unset;
        display: var(--ww-style-display);
        position: revert-layer;
        inset: revert-layer;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        background: var(--ww-style-background-gradient);
        transition: all 0.3s ease 0s;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-d9Z {
          height: 100%;
          aspect-ratio: unset;
        }
      }
      .ww-e-d9Z:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-d9Z.ww-layout, .ww-e-d9Z [data-ww-ls~="d9Z"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-d9Z.ww-layout, .ww-e-d9Z [data-ww-ls~="d9Z"] {
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        }
      }
    }
  }
  @layer custom {
    @media (max-width: 767px) {
      .ww-e-d99:where([data-ww-states~="U7UYbI"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-d99:where([data-ww-states~="hQCGFR"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-d9F:where([data-ww-states~="6gviM9"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-d9F:where([data-ww-states~="I7lxO2"]) {
        backdrop-filter: blur(10px);
      }
    }
    .ww-e-d9K {
      backdrop-filter: blur(4px);
    }
  }
}
@layer ww-style-layout-override {
}
