@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-uWRDKzdjvkf4EAoV {
        z-index: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a--KGRjBBOtDBhGNXy {
        width: 100%;
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-dI {
        height: auto;
        aspect-ratio: unset;
        min-height: 1200px;
        background: var(--ww-style-background-color);
      }
      @media (max-width: 767px) {
        .ww-s-dI {
          margin: 0;
          min-height: 1200px;
        }
      }
      .ww-s-dI > .ww-section-element {
        --ww-section-root-auto-align: center;
        --ww-section-root-auto-width: 100%;
        padding: 120px 64px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-dI > .ww-section-element {
          padding: 64px 16px 128px;
          min-height: 1200px;
        }
      }
      .ww-s-dI > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: stretch;
        row-gap: 20px;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-dQVf4AfE6DwFXRwu {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-ojR9yNVv0aSDeAdG {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-GfbQibRQPgXgCmyn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4RoHNZRxGrkSNyJL {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-9edQr0hlgkNYPXGx {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-aTUuctVir867OVlc {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-GY9OD6k0O9NAwLah {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-rTsqU64juf9F-b7N {
        margin: 0;
        z-index: unset;
        align-self: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Fijzlf8jhln2zwt7 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-0XtwMMjcpjxcaUFe {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-dOY {
        width: 100%;
      }
      @media (max-width: 767px) {
        .ww-e-dOY {
          width: revert-layer;
        }
      }
      .ww-e-dOY.ww-layout, .ww-e-dOY [data-ww-ls~="dOY"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dOY.ww-layout, .ww-e-dOY [data-ww-ls~="dOY"] {
          justify-content: space-between;
        }
      }
      .ww-e-dOZ {
        margin: 12px 0;
        font-size: 38px;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dOa {
        margin: 12px 0;
        font-size: 14px;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dOb {
        margin: 12px 0;
        font-size: 14px;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dOc {
        padding: 64px 160px;
      }
      .ww-e-dOc.ww-layout, .ww-e-dOc [data-ww-ls~="dOc"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: stretch;
        align-content: revert-layer;
      }
      .ww-e-dOd {
        padding: 64px 160px;
      }
      .ww-e-dOd.ww-layout, .ww-e-dOd [data-ww-ls~="dOd"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: stretch;
        align-content: revert-layer;
      }
      .ww-e-dOe {
        margin: 12px 0;
        font-size: 38px;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dOf {
        padding: 64px 160px;
      }
      .ww-e-dOf.ww-layout, .ww-e-dOf [data-ww-ls~="dOf"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: stretch;
        align-content: revert-layer;
      }
      .ww-e-dOg {
        width: revert-layer;
      }
      .ww-e-dOh {
        padding: 64px 160px;
      }
      .ww-e-dOh.ww-layout, .ww-e-dOh [data-ww-ls~="dOh"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: stretch;
        align-content: revert-layer;
      }
      .ww-e-dOi {
        width: revert-layer;
      }
      .ww-e-dOj {
        padding: 24px;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #f3f4f6;
      }
      .ww-e-dOj.ww-layout, .ww-e-dOj [data-ww-ls~="dOj"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .ww-e-dOk {
        margin: 0 0 24px;
        font-size: 32px;
        font-weight: 700;
        color: #1f2937;
        white-space-collapse: preserve;
      }
      .ww-e-dOl {
        padding: 0 24px;
        max-width: 800px;
        font-size: 16px;
        line-height: 1.6;
        font-weight: 600;
        color: #374151;
        white-space-collapse: preserve;
      }
      .ww-e-dOm.ww-layout, .ww-e-dOm [data-ww-ls~="dOm"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dOn.ww-layout, .ww-e-dOn [data-ww-ls~="dOn"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dOo {
        width: revert-layer;
      }
      .ww-e-dOp {
        width: 100%;
        max-width: 1200px;
      }
      @media (max-width: 767px) {
        .ww-e-dOp {
          width: var(--ww-section-root-auto-width, revert-layer);
          max-width: unset;
        }
      }
      .ww-e-dOp.ww-layout, .ww-e-dOp [data-ww-ls~="dOp"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        row-gap: 40px;
      }
      @media (max-width: 767px) {
        .ww-e-dOp.ww-layout, .ww-e-dOp [data-ww-ls~="dOp"] {
          align-items: stretch;
        }
      }
      .ww-e-dOq {
        font-size: 32px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-a393c735-a58a-459b-96f7-b6075270b653-base-default;
      }
      @keyframes ww-keyframes-element-a393c735-a58a-459b-96f7-b6075270b653-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dOq {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dOq {
          font-size: 12px;
        }
      }
      .ww-e-dOr {
        width: 300px;
        height: unset;
        aspect-ratio: 1.78;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 12px;
        --wwi-ar: 1.78;
        --wwi-of: cover;
      }
      @media (max-width: 767px) {
        .ww-e-dOr {
          width: 100%;
        }
      }
      .ww-e-dOr:where(:hover) {
        opacity: 0.8;
        transition: all 0.3s ease 0s;
        transform: scale3d(1.03, 1.03, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dOs {
        padding: 20px;
        display: grid;
        width: revert-layer;
        max-width: unset;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-8d99df83-443b-4c68-9e23-b13f619bb4a6-base-default;
      }
      @keyframes ww-keyframes-element-8d99df83-443b-4c68-9e23-b13f619bb4a6-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dOs {
          padding: 0;
          max-width: unset;
        }
      }
      .ww-e-dOs.ww-layout, .ww-e-dOs [data-ww-ls~="dOs"] {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: revert-layer;
        gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-e-dOs.ww-layout, .ww-e-dOs [data-ww-ls~="dOs"] {
          gap: 10px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dOt {
          align-self: center;
          display: var(--ww-style-display);
          max-width: 250px;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          background-color: #19191980;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dOt:where([data-ww-states~="6gviM9"]) {
          align-self: center;
          display: flex;
          flex: 1 0 auto;
          box-shadow: inset 0 1px 1px #78787833;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dOt:where([data-ww-states~="I7lxO2"]) {
          background-color: #d6d6d680;
          border-radius: 100px;
        }
      }
      .ww-e-dOt.ww-layout, .ww-e-dOt [data-ww-ls~="dOt"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-e-dOt.ww-layout, .ww-e-dOt [data-ww-ls~="dOt"] {
          display: var(--ww-style-display);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dOt.ww-layout:where([data-ww-states~="6gviM9"]), .ww-e-dOt [data-ww-ls~="dOt"]:where([data-ww-states~="6gviM9"]) {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
        }
      }
      .ww-e-dOu {
        display: none;
        font-size: 16px;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dOu {
          padding: 5px;
          display: block;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          color: var(--ww-content-ww-text-color);
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
        }
      }
      .ww-e-dOv {
        width: 32px;
        transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dOv {
          padding: 5px;
          width: 40px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dOv:where([data-ww-states~="U7UYbI"]) {
          background-color: #19191980;
          box-shadow: inset 0 1px 1px #78787833;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dOv:where([data-ww-states~="hQCGFR"]) {
          background-color: #d6d6d680;
        }
      }
      .ww-e-dOv:where(:hover) {
        opacity: 0.6;
      }
      .ww-e-dOw {
        padding: 10px;
        align-self: flex-start;
        display: flex;
        position: fixed;
        top: 100px;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-9e8c0c0c-1073-4c13-9c4f-50119443cb77-base-default;
      }
      @keyframes ww-keyframes-element-9e8c0c0c-1073-4c13-9c4f-50119443cb77-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dOw {
          margin: 0;
          padding: 0 10px;
          z-index: 100;
          align-self: center;
          display: flex;
          position: fixed;
          top: 5px;
          right: auto;
          left: auto;
          width: 100%;
          flex: 1 0 auto;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          cursor: auto;
          box-shadow: revert-layer;
          animation-name: ww-keyframes-element-9e8c0c0c-1073-4c13-9c4f-50119443cb77-base-mobile;
          border-radius: 100px;
        }
        @keyframes ww-keyframes-element-9e8c0c0c-1073-4c13-9c4f-50119443cb77-base-mobile {
          0% {
          }
          100% {
          }
        }
      }
      @media (max-width: 767px) {
        .ww-e-dOw:where([data-ww-states~="0bFTkZ"]) {
          padding: 0 10px;
          top: 10px;
          width: 90%;
          box-shadow: revert-layer;
        }
      }
      .ww-e-dOw.ww-layout, .ww-e-dOw [data-ww-ls~="dOw"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dOw.ww-layout, .ww-e-dOw [data-ww-ls~="dOw"] {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          column-gap: 10px;
          flex-wrap: revert-layer;
        }
      }
    }
  }
  @layer custom {
    @media (max-width: 767px) {
      .ww-e-dOt:where([data-ww-states~="6gviM9"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dOt:where([data-ww-states~="I7lxO2"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dOv:where([data-ww-states~="U7UYbI"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dOv:where([data-ww-states~="hQCGFR"]) {
        backdrop-filter: blur(10px);
      }
    }
  }
}
@layer ww-style-layout-override {
}
