@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-uWRDKzdjvkf4EAoV {
        z-index: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-Y6MTqAnlYkTtOtmG {
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-dP {
        height: auto;
        aspect-ratio: unset;
        min-height: 1200px;
        background: var(--ww-style-background-color);
      }
      @media (max-width: 767px) {
        .ww-s-dP {
          margin: 0;
          min-height: 1200px;
        }
      }
      .ww-s-dP > .ww-section-element {
        width: 100%;
        padding: 120px 64px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-dP > .ww-section-element {
          --ww-section-root-auto-align: center;
          --ww-section-root-auto-width: 100%;
          padding: 64px 16px 128px;
          min-height: 1200px;
        }
      }
      .ww-s-dP > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-s-dP > .ww-section-element.ww-layout {
          align-items: stretch;
          column-gap: 0;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-EFbekEDt-bxLyKV- {
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-Wf3kR1fDZCtNqRYp {
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-dQVf4AfE6DwFXRwu {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-2XmtwZSC2Y1t00Nv {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Fijzlf8jhln2zwt7 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-2ew-mtNf67a7wUE0 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-62B4z2iQ-iPYknmh {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-3tJBOiCg_zaOJAaU {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-hrle4cgh7E0q5WYv {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-6GOhhIoAx0jRKIia {
        margin: 0;
        padding: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-qqyEbfFlgYFLR-KT {
        margin: 0;
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Km-a_vLqZYKzg1qQ {
        margin: 0;
        z-index: unset;
        width: auto;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-0XtwMMjcpjxcaUFe {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-aTUuctVir867OVlc {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-e64GhYcJHEm1j0gb {
        margin: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-GY9OD6k0O9NAwLah {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4RoHNZRxGrkSNyJL {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-hrpkn2nmdrP6iFfB {
        margin: 0;
        padding: 0;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-osFt1bovyjmw1wCr {
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-ZHFlyccgidWMqZZn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-0196u6vQjAePVbDF {
        margin: 0;
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-ddo {
        width: 16px;
      }
      .ww-e-ddp {
        margin: 0;
        padding: 10px;
        align-self: flex-start;
        display: flex;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-3350f8fb-d911-4e56-b31e-2175462c9360-base-default;
      }
      @keyframes ww-keyframes-element-3350f8fb-d911-4e56-b31e-2175462c9360-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-ddp {
          padding: 10px;
          display: none;
          cursor: pointer;
        }
      }
      .ww-e-ddp:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-ddp.ww-layout, .ww-e-ddp [data-ww-ls~="ddp"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-ddp.ww-layout, .ww-e-ddp [data-ww-ls~="ddp"] {
          display: none;
        }
      }
      .ww-e-ddp.ww-layout:where(:hover), .ww-e-ddp [data-ww-ls~="ddp"]:where(:hover) {
        column-gap: 5px;
      }
      .ww-e-ddr {
        font-size: 12px;
        line-height: 1.3;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
      }
      @media (max-width: 767px) {
        .ww-e-ddr {
          font-size: 12px;
        }
      }
      .ww-e-dds {
        margin: 0;
        padding: 0;
        position: revert-layer;
        inset: revert-layer;
        font-size: 14px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dds {
          font-size: 12px;
        }
      }
      .ww-e-ddt {
        margin: 0;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-ddt {
          margin: 5px 0 10px;
          font-size: 16px;
        }
      }
      .ww-e-ddu {
        align-self: unset;
        display: grid;
        position: revert-layer;
        inset: revert-layer;
        width: revert-layer;
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
      }
      @media (max-width: 991px) {
        .ww-e-ddu {
          display: grid;
        }
      }
      @media (max-width: 767px) {
        .ww-e-ddu {
          align-self: center;
          display: grid;
          width: 100%;
        }
      }
      .ww-e-ddu.ww-layout, .ww-e-ddu [data-ww-ls~="ddu"] {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 30px;
      }
      @media (max-width: 991px) {
        .ww-e-ddu.ww-layout, .ww-e-ddu [data-ww-ls~="ddu"] {
          display: grid;
          grid-auto-flow: row;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-ddu.ww-layout, .ww-e-ddu [data-ww-ls~="ddu"] {
          display: grid;
          grid-auto-flow: row;
          grid-template-columns: revert-layer;
          grid-template-rows: revert-layer;
          gap: 15px 0;
        }
      }
      .ww-e-ddv {
        display: none;
        font-size: 16px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-ddv {
          padding: 5px;
          display: block;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          color: var(--ww-content-ww-text-color);
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
        }
      }
      .ww-e-ddw {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-ddw {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-ddx {
        width: 100%;
        max-width: unset;
      }
      .ww-e-ddx.ww-layout, .ww-e-ddx [data-ww-ls~="ddx"] {
        display: flex;
        flex-flow: column;
        gap: 30px;
      }
      .ww-e-ddy {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-ddy {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-ddz {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-ddz {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-de0 {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-de0 {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-de1 {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-de1 {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-de2 {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-de2 {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-de3 {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-de3 {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-de4 {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-de4 {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-de5 {
        margin: 0 0 0 40px;
        display: block;
        width: 200px;
        height: 40px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      .ww-e-de6 {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-de6 {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-de7 {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-de7 {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-de8 {
        width: 100%;
      }
      .ww-e-de8.ww-layout, .ww-e-de8 [data-ww-ls~="de8"] {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-de8.ww-layout, .ww-e-de8 [data-ww-ls~="de8"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-de9 {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-de9 {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-deA {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-deA {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-deB {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-deB {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-deC {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-deC {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-deD {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-deD {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-deE {
        width: 100%;
      }
      .ww-e-deE.ww-layout, .ww-e-deE [data-ww-ls~="deE"] {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-deE.ww-layout, .ww-e-deE [data-ww-ls~="deE"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-deF {
        width: 100%;
      }
      .ww-e-deF.ww-layout, .ww-e-deF [data-ww-ls~="deF"] {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-deF.ww-layout, .ww-e-deF [data-ww-ls~="deF"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-deG {
        display: var(--ww-style-display, none);
        width: 1200px;
        opacity: 0.2;
      }
      @media (max-width: 767px) {
        .ww-e-deG {
          display: var(--ww-style-display, none);
          width: var(--ww-section-root-auto-width, revert-layer);
        }
      }
      .ww-e-deG:where([data-ww-states~="3ahbRv"]) {
        opacity: 0.5;
      }
      .ww-e-deG.ww-layout, .ww-e-deG [data-ww-ls~="deG"] {
        display: var(--ww-style-display, none);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-deG.ww-layout, .ww-e-deG [data-ww-ls~="deG"] {
          display: var(--ww-style-display, none);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-deH {
        margin: 10px 5px;
      }
      @media (max-width: 767px) {
        .ww-e-deH {
          width: 200px;
        }
      }
      .ww-e-deH.ww-layout, .ww-e-deH [data-ww-ls~="deH"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-deH.ww-layout, .ww-e-deH [data-ww-ls~="deH"] {
          flex-flow: column;
        }
      }
      .ww-e-deI {
        z-index: 101;
        display: flex;
        position: absolute;
        top: 12px;
        right: 12px;
        width: 32px;
        height: 32px;
        background-color: #252525cc;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 50%;
      }
      @media (max-width: 991px) {
        .ww-e-deI {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deI {
          display: none;
        }
      }
      .ww-e-deI:where(:hover) {
        display: flex;
        background-color: #252525;
      }
      .ww-e-deI.ww-layout, .ww-e-deI [data-ww-ls~="deI"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      @media (max-width: 991px) {
        .ww-e-deI.ww-layout, .ww-e-deI [data-ww-ls~="deI"] {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deI.ww-layout, .ww-e-deI [data-ww-ls~="deI"] {
          display: none;
        }
      }
      .ww-e-deI.ww-layout:where(:hover), .ww-e-deI [data-ww-ls~="deI"]:where(:hover) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-deJ {
        padding: 5px;
        align-self: flex-start;
        width: 20px;
        height: 20px;
        aspect-ratio: unset;
        background: var(--ww-style-background-color);
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-deJ {
          margin: 10px 0;
          padding: 5px;
          align-self: unset;
          width: 20px;
          height: 20px;
          aspect-ratio: unset;
        }
      }
      .ww-e-deJ.ww-layout, .ww-e-deJ [data-ww-ls~="deJ"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-deK {
        margin: 0;
      }
      .ww-e-deK.ww-layout, .ww-e-deK [data-ww-ls~="deK"] {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-deK.ww-layout, .ww-e-deK [data-ww-ls~="deK"] {
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-start;
          row-gap: 5px;
        }
      }
      .ww-e-deL {
        margin: 0;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-deL {
          margin: 0;
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-deM {
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-deM {
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-deN {
        width: 18px;
        height: auto;
        transition: all 0.2s ease;
      }
      .ww-e-deN:where([data-ww-states~="2w7mmz"]) {
        transition: all 0.2s ease;
      }
      .ww-e-deO {
        padding: 10px 16px;
        align-self: center;
        display: var(--ww-style-display);
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 12px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-deO {
          display: var(--ww-style-display, none);
          font-size: 12px;
        }
      }
      .ww-e-deO:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-deP {
        padding: 10px;
        align-self: flex-start;
        display: none;
        position: fixed;
        top: 100px;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-a985a847-efe7-4b50-874e-97374687df71-base-default;
      }
      @keyframes ww-keyframes-element-a985a847-efe7-4b50-874e-97374687df71-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-deP {
          margin: 0;
          padding: 0 10px;
          z-index: 100;
          align-self: center;
          display: flex;
          position: fixed;
          top: 5px;
          right: auto;
          left: auto;
          width: 100%;
          flex: 1 0 auto;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          cursor: auto;
          box-shadow: revert-layer;
          animation-name: ww-keyframes-element-a985a847-efe7-4b50-874e-97374687df71-base-mobile;
          border-radius: 100px;
        }
        @keyframes ww-keyframes-element-a985a847-efe7-4b50-874e-97374687df71-base-mobile {
          0% {
          }
          100% {
          }
        }
      }
      @media (max-width: 767px) {
        .ww-e-deP:where([data-ww-states~="0bFTkZ"]) {
          padding: 0 10px;
          top: 10px;
          width: 90%;
          box-shadow: revert-layer;
        }
      }
      .ww-e-deP.ww-layout, .ww-e-deP [data-ww-ls~="deP"] {
        display: none;
      }
      @media (max-width: 767px) {
        .ww-e-deP.ww-layout, .ww-e-deP [data-ww-ls~="deP"] {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          column-gap: 10px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-deQ {
        padding: 12px;
        align-self: center;
        display: var(--ww-style-display, none);
      }
      .ww-e-deR {
        width: 100%;
        max-width: 1200px;
      }
      @media (max-width: 767px) {
        .ww-e-deR {
          width: var(--ww-section-root-auto-width, revert-layer);
          max-width: unset;
        }
      }
      .ww-e-deR.ww-layout, .ww-e-deR [data-ww-ls~="deR"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        row-gap: 40px;
      }
      @media (max-width: 767px) {
        .ww-e-deR.ww-layout, .ww-e-deR [data-ww-ls~="deR"] {
          align-items: flex-start;
        }
      }
      .ww-e-deS {
        margin: 0 5px;
        overflow: unset;
        font-size: 20px;
        font-weight: 600;
        color: #888;
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-deS {
          margin: 0 5px;
          align-self: center;
          font-size: 16px;
          font-weight: 600;
        }
      }
      .ww-e-deT {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-deT.ww-layout, .ww-e-deT [data-ww-ls~="deT"] {
        display: flex;
        flex-flow: wrap;
        align-content: revert-layer;
        gap: 5px;
      }
      .ww-e-deU {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-413d1b90-a232-4253-8cb0-489a550bd8f2-base-default;
      }
      @keyframes ww-keyframes-element-413d1b90-a232-4253-8cb0-489a550bd8f2-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-deU {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deU {
          font-size: 16px;
        }
      }
      .ww-e-deV {
        font-size: 16px;
        font-weight: 400;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-85acf9f5-9ca0-4428-a2e9-f804e22d4789-base-default;
      }
      @keyframes ww-keyframes-element-85acf9f5-9ca0-4428-a2e9-f804e22d4789-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-deV {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deV {
          font-size: 16px;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-deW {
        padding: 6px;
        z-index: 101;
        display: var(--ww-style-display);
        position: absolute;
        top: 12px;
        left: 12px;
        background: var(--ww-style-background-color);
        opacity: 1;
        border-radius: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-deW {
          padding: 4px;
        }
      }
      .ww-e-deW.ww-layout, .ww-e-deW [data-ww-ls~="deW"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-deX {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        border-radius: 12px;
        --wwi-ar: unset;
        --wwi-of: cover;
      }
      @media (max-width: 767px) {
        .ww-e-deX {
          width: 100px;
          height: 100%;
        }
      }
      .ww-e-deX:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        transform: scale(1.05);
      }
      .ww-e-deY {
        padding: 0;
        overflow: hidden;
        display: block;
        position: revert-layer;
        inset: revert-layer;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-deY {
          width: 100px;
          height: 150px;
          aspect-ratio: unset;
        }
      }
      .ww-e-deY.ww-layout, .ww-e-deY [data-ww-ls~="deY"] {
        display: block;
      }
      .ww-e-deZ {
        z-index: 100;
        align-self: unset;
        display: var(--ww-style-display);
        position: revert-layer;
        inset: revert-layer;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        background: var(--ww-style-background-gradient);
        transition: all 0.3s ease 0s;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-deZ {
          height: 100%;
          aspect-ratio: unset;
        }
      }
      .ww-e-deZ:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-deZ.ww-layout, .ww-e-deZ [data-ww-ls~="deZ"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-deZ.ww-layout, .ww-e-deZ [data-ww-ls~="deZ"] {
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        }
      }
      .ww-e-dea {
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        width: 200px;
        height: auto;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: translateY(0);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-01b91c40-d582-415b-a8da-097380413f72-base-default;
      }
      @keyframes ww-keyframes-element-01b91c40-d582-415b-a8da-097380413f72-base-default {
        0% {
        }
        100% {
        }
      }
      @media (max-width: 991px) {
        .ww-e-dea {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dea {
          display: flex;
          width: 100%;
          height: auto;
          aspect-ratio: unset;
          border-radius: 12px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dea:where(:hover) {
          background-color: #ffffff0d;
        }
      }
      .ww-e-dea.ww-layout, .ww-e-dea [data-ww-ls~="dea"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 991px) {
        .ww-e-dea.ww-layout, .ww-e-dea [data-ww-ls~="dea"] {
          display: flex;
          flex-flow: column;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dea.ww-layout, .ww-e-dea [data-ww-ls~="dea"] {
          display: flex;
          flex-direction: row;
          column-gap: 15px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-deb {
        overflow: unset;
        position: revert-layer;
        inset: revert-layer;
        width: 90%;
        max-width: unset;
        font-size: 16px;
        font-family: var(--ww-default-font-family);
        line-height: 1.2;
        font-weight: 700;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-8d6032ae-2229-4fd1-a548-34b83f1f8b7f-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-8d6032ae-2229-4fd1-a548-34b83f1f8b7f-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-deb {
          font-size: 36px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deb {
          margin: 0;
          overflow: unset;
          z-index: unset;
          align-self: unset;
          position: revert-layer;
          inset: revert-layer;
          width: 90%;
          max-width: unset;
          height: auto;
          aspect-ratio: unset;
          font-size: 12px;
          font-weight: 800;
          text-align: center;
        }
      }
      .ww-e-dec {
        padding: 32px;
        align-self: unset;
        width: 100%;
        background-color: #0000001a;
        border-radius: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-dec {
          padding: 32px;
          box-shadow: revert-layer;
          border-radius: 32px;
        }
      }
      .ww-e-dec.ww-layout, .ww-e-dec [data-ww-ls~="dec"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 50px 25px;
        flex-wrap: revert-layer;
      }
      .ww-e-ded {
        width: 32px;
        transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-ded {
          padding: 5px;
          width: 40px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-ded:where([data-ww-states~="U7UYbI"]) {
          background-color: #19191980;
          box-shadow: inset 0 1px 1px #78787833, 0 1px 1px #7878781a;
        }
      }
      @media (max-width: 767px) {
        .ww-e-ded:where([data-ww-states~="hQCGFR"]) {
          background-color: #d6d6d680;
          box-shadow: inset 0 1px 1px #78787833, 0 1px 1px #7878781a;
        }
      }
      .ww-e-ded:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dee {
          align-self: center;
          display: var(--ww-style-display);
          max-width: 250px;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          background-color: #19191980;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dee:where([data-ww-states~="6gviM9"]) {
          align-self: center;
          display: flex;
          flex: 1 0 auto;
          box-shadow: inset 0 1px 1px #78787833, 0 1px 1px #7878781a;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dee:where([data-ww-states~="I7lxO2"]) {
          background-color: #d6d6d680;
          box-shadow: inset 0 1px 1px #78787833, 0 1px 1px #7878781a;
          border-radius: 100px;
        }
      }
      .ww-e-dee.ww-layout, .ww-e-dee [data-ww-ls~="dee"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-e-dee.ww-layout, .ww-e-dee [data-ww-ls~="dee"] {
          display: var(--ww-style-display);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dee.ww-layout:where([data-ww-states~="6gviM9"]), .ww-e-dee [data-ww-ls~="dee"]:where([data-ww-states~="6gviM9"]) {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  @layer custom {
    .ww-e-deI {
      backdrop-filter: blur(4px);
    }
    @media (min-width: 992px) {
      .ww-e-deb {
        word-break: break-word;
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .ww-e-deb {
        word-break: break-word;
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }
    }
    @media (max-width: 767px) {
      .ww-e-deb {
        word-break: break-word;
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }
    }
    @media (max-width: 767px) {
      .ww-e-ded:where([data-ww-states~="U7UYbI"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-ded:where([data-ww-states~="hQCGFR"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dee:where([data-ww-states~="6gviM9"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dee:where([data-ww-states~="I7lxO2"]) {
        backdrop-filter: blur(10px);
      }
    }
  }
}
@layer ww-style-layout-override {
}
