@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    .ww-section-2b4f9109-157f-4cd3-a7a1-1b35efc86722 {
      height: auto;
      margin: 0;
      z-index: unset;
      min-height: 1200px;
      max-height: unset;
      display: flex;
      background: var(--ww-style-background-color);
      position: revert-layer;
      inset: revert-layer;
      width: revert-layer;
    }
    @media (max-width: 767px) {
      .ww-section-2b4f9109-157f-4cd3-a7a1-1b35efc86722 {
        margin: 0;
        overflow: auto;
        min-height: 1200px;
      }
    }
    .ww-section-2b4f9109-157f-4cd3-a7a1-1b35efc86722 > .ww-section-element {
      width: 100%;
      padding: 120px 32px 64px;
      max-width: unset;
      min-width: unset;
      min-height: 1200px;
      max-height: unset;
    }
    @media (max-width: 767px) {
      .ww-section-2b4f9109-157f-4cd3-a7a1-1b35efc86722 > .ww-section-element {
        --ww-section-root-auto-align: center;
        --ww-section-root-auto-width: 100%;
        width: 100%;
        padding: 64px 16px 128px;
        min-height: 1200px;
      }
    }
    .ww-section-2b4f9109-157f-4cd3-a7a1-1b35efc86722 > .ww-section-element.ww-layout {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
    @media (max-width: 991px) {
      .ww-section-2b4f9109-157f-4cd3-a7a1-1b35efc86722 > .ww-section-element.ww-layout {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-section-2b4f9109-157f-4cd3-a7a1-1b35efc86722 > .ww-section-element.ww-layout {
        display: flex;
        align-items: stretch;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    .ww-element-b9d9340b-0631-48cc-a17d-2ada29a40090 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 16px;
      font-family: var(--ww-default-font-family);
      white-space-collapse: preserve;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-b9d9340b-0631-48cc-a17d-2ada29a40090 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-b9d9340b-0631-48cc-a17d-2ada29a40090 {
        padding: 5px;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
      }
    }
    .ww-element-bf20d7f2-f456-4fc8-a5cf-361f0ef8356f {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 16px;
      font-family: var(--ww-default-font-family);
      line-height: 1.3;
      font-weight: 500;
      color: var(--ww-content-ww-text-color);
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-bf20d7f2-f456-4fc8-a5cf-361f0ef8356f {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-bf20d7f2-f456-4fc8-a5cf-361f0ef8356f {
        margin: 0;
        font-size: 12px;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
    }
    .ww-element-bf20d7f2-f456-4fc8-a5cf-361f0ef8356f:hover {
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-bf20d7f2-f456-4fc8-a5cf-361f0ef8356f:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-bf20d7f2-f456-4fc8-a5cf-361f0ef8356f:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-25d419c9-850e-4c1c-9fce-902b8e0720e4 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: grid;
      position: revert-layer;
      inset: revert-layer;
      width: revert-layer;
      flex: 0 1 auto;
      max-width: unset;
      min-width: 900px;
      height: auto;
      aspect-ratio: unset;
      max-height: unset;
      min-height: unset;
      animation-fill-mode: none;
      animation-iteration-count: infinite;
      animation-direction: normal;
    }
    @media (max-width: 991px) {
      .ww-element-25d419c9-850e-4c1c-9fce-902b8e0720e4 {
        display: grid;
      }
    }
    @media (max-width: 767px) {
      .ww-element-25d419c9-850e-4c1c-9fce-902b8e0720e4 {
        padding: 0 10px;
        align-self: center;
        display: flex;
        width: 100%;
        min-width: unset;
      }
    }
    .ww-element-25d419c9-850e-4c1c-9fce-902b8e0720e4.ww-layout, .ww-element-25d419c9-850e-4c1c-9fce-902b8e0720e4 [data-ww-layout-style-scopes~="25d419c9-850e-4c1c-9fce-902b8e0720e4"] {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 30px 20px;
    }
    @media (max-width: 991px) {
      .ww-element-25d419c9-850e-4c1c-9fce-902b8e0720e4.ww-layout, .ww-element-25d419c9-850e-4c1c-9fce-902b8e0720e4 [data-ww-layout-style-scopes~="25d419c9-850e-4c1c-9fce-902b8e0720e4"] {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px 20px;
      }
    }
    @media (max-width: 767px) {
      .ww-element-25d419c9-850e-4c1c-9fce-902b8e0720e4.ww-layout, .ww-element-25d419c9-850e-4c1c-9fce-902b8e0720e4 [data-ww-layout-style-scopes~="25d419c9-850e-4c1c-9fce-902b8e0720e4"] {
        display: flex;
        flex-flow: wrap;
        place-content: stretch space-between;
        align-items: stretch;
        gap: 15px 5px;
      }
    }
    .ww-element-5c0b4283-c39b-48bb-ba83-5009c8d110d2 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 16px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-cb0469e7-33b7-4dd2-b1f4-a46018a50dc2 {
      margin: 0;
      padding: 12px;
      z-index: unset;
      align-self: unset;
      display: var(--ww-style-display);
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 767px) {
      .ww-element-cb0469e7-33b7-4dd2-b1f4-a46018a50dc2 {
        display: var(--ww-style-display);
      }
    }
    .ww-element-b36a6bc6-6b2d-4675-8742-9eeee26ee312 {
      margin: 0 6px 0 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 20px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-e64c3f14-7d0e-4899-952d-89f2c2df15a3 {
      margin: 0 0 0 6px;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 20px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-44212e51-e931-45ef-bf06-abe06ddce065 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 32px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(180deg) rotateZ(0);
    }
    .ww-element-ef368ab1-6c2f-48d2-8382-1e5cee2294cb {
      margin: 10px 0;
      padding: 0 25px;
      z-index: unset;
      align-self: unset;
      display: flex;
      position: revert-layer;
      inset: revert-layer;
      width: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 767px) {
      .ww-element-ef368ab1-6c2f-48d2-8382-1e5cee2294cb {
        align-self: unset;
      }
    }
    .ww-element-ef368ab1-6c2f-48d2-8382-1e5cee2294cb.ww-layout, .ww-element-ef368ab1-6c2f-48d2-8382-1e5cee2294cb [data-ww-layout-style-scopes~="ef368ab1-6c2f-48d2-8382-1e5cee2294cb"] {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px 20px;
      flex-wrap: revert-layer;
    }
    @media (max-width: 991px) {
      .ww-element-ef368ab1-6c2f-48d2-8382-1e5cee2294cb.ww-layout, .ww-element-ef368ab1-6c2f-48d2-8382-1e5cee2294cb [data-ww-layout-style-scopes~="ef368ab1-6c2f-48d2-8382-1e5cee2294cb"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-ef368ab1-6c2f-48d2-8382-1e5cee2294cb.ww-layout, .ww-element-ef368ab1-6c2f-48d2-8382-1e5cee2294cb [data-ww-layout-style-scopes~="ef368ab1-6c2f-48d2-8382-1e5cee2294cb"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        flex-wrap: revert-layer;
      }
    }
    .ww-element-5ba06360-4a75-4a48-a0f1-4913084ddc0c {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: var(--ww-section-root-auto-align, unset);
      display: flex;
      width: 100%;
      max-width: 1200px;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 767px) {
      .ww-element-5ba06360-4a75-4a48-a0f1-4913084ddc0c {
        margin: 0;
        width: var(--ww-section-root-auto-width, revert-layer);
      }
    }
    .ww-element-5ba06360-4a75-4a48-a0f1-4913084ddc0c.ww-layout, .ww-element-5ba06360-4a75-4a48-a0f1-4913084ddc0c [data-ww-layout-style-scopes~="5ba06360-4a75-4a48-a0f1-4913084ddc0c"] {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 50px;
    }
    @media (max-width: 991px) {
      .ww-element-5ba06360-4a75-4a48-a0f1-4913084ddc0c.ww-layout, .ww-element-5ba06360-4a75-4a48-a0f1-4913084ddc0c [data-ww-layout-style-scopes~="5ba06360-4a75-4a48-a0f1-4913084ddc0c"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-5ba06360-4a75-4a48-a0f1-4913084ddc0c.ww-layout, .ww-element-5ba06360-4a75-4a48-a0f1-4913084ddc0c [data-ww-layout-style-scopes~="5ba06360-4a75-4a48-a0f1-4913084ddc0c"] {
        display: flex;
        row-gap: 40px;
      }
    }
    .ww-element-72630787-ef73-498f-aef2-b8253b4d8371 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 14px;
      font-family: var(--ww-default-font-family);
      font-weight: 700;
      color: var(--ww-content-ww-text-color);
      white-space-collapse: preserve;
      background-color: #0000;
      animation-duration: 0s;
      animation-timing-function: cubic-bezier(.4, 0, .2, 1);
      animation-delay: 0s;
      animation-fill-mode: none;
      animation-iteration-count: infinite;
      animation-name: ww-keyframes-element-72630787-ef73-498f-aef2-b8253b4d8371-base-default;
    }
    @keyframes ww-keyframes-element-72630787-ef73-498f-aef2-b8253b4d8371-base-default {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @media (max-width: 991px) {
      .ww-element-72630787-ef73-498f-aef2-b8253b4d8371 {
        font-size: 24px;
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-72630787-ef73-498f-aef2-b8253b4d8371 {
        margin: 0;
        display: block;
        width: revert-layer;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
    }
    .ww-element-3f7d1073-1caf-4b23-b849-6d5b958ce9a6 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 25px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(180deg) rotateZ(0);
    }
    @media (max-width: 767px) {
      .ww-element-3f7d1073-1caf-4b23-b849-6d5b958ce9a6 {
        padding: 10px;
        width: 50px;
      }
    }
    .ww-element-05f6224d-48f0-4896-bec2-e4f8814eafbf {
      margin: 100px 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: var(--ww-style-display, none);
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 767px) {
      .ww-element-05f6224d-48f0-4896-bec2-e4f8814eafbf {
        margin: 100px 0;
        padding: 0;
        display: var(--ww-style-display, none);
      }
    }
    .ww-element-05f6224d-48f0-4896-bec2-e4f8814eafbf.ww-layout, .ww-element-05f6224d-48f0-4896-bec2-e4f8814eafbf [data-ww-layout-style-scopes~="05f6224d-48f0-4896-bec2-e4f8814eafbf"] {
      display: var(--ww-style-display, none);
      flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
      align-items: var(--ww-content-align-items-layout-flex, revert-layer);
      row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
      flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
    }
    .ww-element-05f6224d-48f0-4896-bec2-e4f8814eafbf [data-ww-layout-style-scopes~="05f6224d-48f0-4896-bec2-e4f8814eafbf"] {
      height: var(--ww-content-height-layout-block, revert-layer);
    }
    @media (max-width: 991px) {
      .ww-element-05f6224d-48f0-4896-bec2-e4f8814eafbf.ww-layout, .ww-element-05f6224d-48f0-4896-bec2-e4f8814eafbf [data-ww-layout-style-scopes~="05f6224d-48f0-4896-bec2-e4f8814eafbf"] {
        display: var(--ww-style-display, none);
      }
    }
    @media (max-width: 767px) {
      .ww-element-05f6224d-48f0-4896-bec2-e4f8814eafbf.ww-layout, .ww-element-05f6224d-48f0-4896-bec2-e4f8814eafbf [data-ww-layout-style-scopes~="05f6224d-48f0-4896-bec2-e4f8814eafbf"] {
        display: var(--ww-style-display, none);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-element-05f6224d-48f0-4896-bec2-e4f8814eafbf [data-ww-layout-style-scopes~="05f6224d-48f0-4896-bec2-e4f8814eafbf"] {
        height: var(--ww-content-height-layout-block, revert-layer);
      }
    }
    .ww-element-f9c9f90b-d0ed-4a1e-aee2-56e983a68e81 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 16px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 767px) {
      .ww-element-f9c9f90b-d0ed-4a1e-aee2-56e983a68e81 {
        width: 14px;
      }
    }
    .ww-element-c8a0edc9-8f5d-43e8-a3c1-50e9be053744 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 12px;
      font-family: var(--ww-default-font-family);
      line-height: 1.3;
      font-weight: 500;
      color: var(--ww-content-ww-text-color);
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-c8a0edc9-8f5d-43e8-a3c1-50e9be053744 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-c8a0edc9-8f5d-43e8-a3c1-50e9be053744 {
        margin: 0;
        font-size: 12px;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
    }
    .ww-element-c8a0edc9-8f5d-43e8-a3c1-50e9be053744:hover {
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-c8a0edc9-8f5d-43e8-a3c1-50e9be053744:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-c8a0edc9-8f5d-43e8-a3c1-50e9be053744:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-e5525882-a08f-4e71-ae7a-084ca010c903 {
      margin: 0;
      padding: 0 5px;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 50px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      cursor: auto;
      transition: all 0.3s ease 0s;
      border-radius: 0;
    }
    @media (max-width: 767px) {
      .ww-element-e5525882-a08f-4e71-ae7a-084ca010c903 {
        width: 30px;
      }
    }
    .ww-element-9afa969f-5e55-4bd6-bd15-b273c25caeff {
      margin: 0;
      padding: 0;
      overflow: hidden;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      aspect-ratio: unset;
      max-height: unset;
      min-height: unset;
      transition: all 0.3s ease;
      transform: translateY(0);
      animation-fill-mode: none;
      animation-iteration-count: infinite;
      animation-name: ww-keyframes-element-9afa969f-5e55-4bd6-bd15-b273c25caeff-base-default;
      border-radius: 16px;
    }
    @keyframes ww-keyframes-element-9afa969f-5e55-4bd6-bd15-b273c25caeff-base-default {
      0% {
      }
      100% {
      }
    }
    @media (max-width: 991px) {
      .ww-element-9afa969f-5e55-4bd6-bd15-b273c25caeff {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-9afa969f-5e55-4bd6-bd15-b273c25caeff {
        display: flex;
        width: revert-layer;
        height: auto;
        aspect-ratio: unset;
        border-radius: 12px;
      }
    }
    @media (max-width: 767px) {
      .ww-element-9afa969f-5e55-4bd6-bd15-b273c25caeff:hover {
        background-color: #fff0;
      }
    }
    .ww-element-9afa969f-5e55-4bd6-bd15-b273c25caeff.ww-layout, .ww-element-9afa969f-5e55-4bd6-bd15-b273c25caeff [data-ww-layout-style-scopes~="9afa969f-5e55-4bd6-bd15-b273c25caeff"] {
      display: flex;
      flex-flow: column;
    }
    @media (max-width: 991px) {
      .ww-element-9afa969f-5e55-4bd6-bd15-b273c25caeff.ww-layout, .ww-element-9afa969f-5e55-4bd6-bd15-b273c25caeff [data-ww-layout-style-scopes~="9afa969f-5e55-4bd6-bd15-b273c25caeff"] {
        display: flex;
        flex-flow: column;
      }
    }
    @media (max-width: 767px) {
      .ww-element-9afa969f-5e55-4bd6-bd15-b273c25caeff.ww-layout, .ww-element-9afa969f-5e55-4bd6-bd15-b273c25caeff [data-ww-layout-style-scopes~="9afa969f-5e55-4bd6-bd15-b273c25caeff"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        column-gap: 15px;
      }
    }
    .ww-element-9afa969f-5e55-4bd6-bd15-b273c25caeff.ww-layout:hover, .ww-element-9afa969f-5e55-4bd6-bd15-b273c25caeff [data-ww-layout-style-scopes~="9afa969f-5e55-4bd6-bd15-b273c25caeff"]:hover {
      display: flex;
    }
    @media (max-width: 991px) {
      .ww-element-9afa969f-5e55-4bd6-bd15-b273c25caeff.ww-layout:hover, .ww-element-9afa969f-5e55-4bd6-bd15-b273c25caeff [data-ww-layout-style-scopes~="9afa969f-5e55-4bd6-bd15-b273c25caeff"]:hover {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-9afa969f-5e55-4bd6-bd15-b273c25caeff.ww-layout:hover, .ww-element-9afa969f-5e55-4bd6-bd15-b273c25caeff [data-ww-layout-style-scopes~="9afa969f-5e55-4bd6-bd15-b273c25caeff"]:hover {
        display: flex;
      }
    }
    .ww-element-88f799c1-df8d-44ca-a9ea-9accc19676a1 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: var(--ww-style-display);
      position: revert-layer;
      inset: revert-layer;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: 100%;
      aspect-ratio: unset;
      max-height: unset;
      min-height: unset;
      transition: all 0.3s ease;
      transform: scale3d(.95, .95, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      border-radius: 32px;
      --wwi-ar: unset;
      --wwi-of: cover;
    }
    @media (max-width: 767px) {
      .ww-element-88f799c1-df8d-44ca-a9ea-9accc19676a1 {
        width: 150px;
        height: 100%;
        transform: scale3d(.95, .95, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
    }
    .ww-element-88f799c1-df8d-44ca-a9ea-9accc19676a1:hover {
      position: revert-layer;
      inset: revert-layer;
      width: 100%;
      height: 100%;
      transform: scale3d(.9, .9, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
    }
    @media (max-width: 767px) {
      .ww-element-88f799c1-df8d-44ca-a9ea-9accc19676a1:hover {
        transform: scale3d(.85, .85, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
    }
    .ww-element-c5a70700-7475-479e-b560-b190c39f0932 {
      margin: 0;
      padding: 5px 10px;
      z-index: 101;
      align-self: unset;
      display: var(--ww-style-display);
      position: absolute;
      inset: 43% 40%;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background: var(--ww-style-background-color);
      box-shadow: inset 0 1px 1px #78787840;
      border-radius: 32px;
    }
    @media (max-width: 767px) {
      .ww-element-c5a70700-7475-479e-b560-b190c39f0932 {
        inset: 40% 35%;
      }
    }
    .ww-element-c5a70700-7475-479e-b560-b190c39f0932.ww-layout, .ww-element-c5a70700-7475-479e-b560-b190c39f0932 [data-ww-layout-style-scopes~="c5a70700-7475-479e-b560-b190c39f0932"] {
      display: var(--ww-style-display);
      flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
      justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
      align-items: var(--ww-content-align-items-layout-flex, revert-layer);
      column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
      flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
    }
    .ww-element-c5a70700-7475-479e-b560-b190c39f0932 [data-ww-layout-style-scopes~="c5a70700-7475-479e-b560-b190c39f0932"] {
      height: var(--ww-content-height-layout-block, revert-layer);
    }
    @media (max-width: 991px) {
      .ww-element-c5a70700-7475-479e-b560-b190c39f0932.ww-layout, .ww-element-c5a70700-7475-479e-b560-b190c39f0932 [data-ww-layout-style-scopes~="c5a70700-7475-479e-b560-b190c39f0932"] {
        display: var(--ww-style-display);
      }
    }
    @media (max-width: 767px) {
      .ww-element-c5a70700-7475-479e-b560-b190c39f0932.ww-layout, .ww-element-c5a70700-7475-479e-b560-b190c39f0932 [data-ww-layout-style-scopes~="c5a70700-7475-479e-b560-b190c39f0932"] {
        display: var(--ww-style-display);
      }
    }
    .ww-element-d4d0503d-d135-48f1-9c07-0154e4e9c137 {
      margin: 0;
      padding: 0 5px;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 30px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      cursor: auto;
      transition: all 0.3s ease 0s;
      border-radius: 0;
    }
    @media (max-width: 767px) {
      .ww-element-d4d0503d-d135-48f1-9c07-0154e4e9c137 {
        width: 30px;
      }
    }
    .ww-element-0b2b39e4-88d9-464e-8ea2-c337ac4449b2 {
      margin: 0;
      padding: 0;
      overflow: hidden;
      z-index: unset;
      align-self: unset;
      display: block;
      position: revert-layer;
      inset: revert-layer;
      width: 280px;
      max-width: unset;
      min-width: unset;
      height: 280px;
      aspect-ratio: unset;
      max-height: unset;
      min-height: unset;
      background: var(--ww-style-background-color);
      cursor: pointer;
      transition: all 0.3s ease 0s;
      border: 0 solid #fff;
      border-radius: 32px;
    }
    @media (max-width: 767px) {
      .ww-element-0b2b39e4-88d9-464e-8ea2-c337ac4449b2 {
        align-self: unset;
        width: 150px;
        height: 150px;
        aspect-ratio: unset;
        background: var(--ww-style-background-color);
      }
    }
    .ww-element-0b2b39e4-88d9-464e-8ea2-c337ac4449b2:hover {
      opacity: 0.6;
      transition: all 0.3s ease 0s;
    }
    .ww-element-0b2b39e4-88d9-464e-8ea2-c337ac4449b2.ww-layout, .ww-element-0b2b39e4-88d9-464e-8ea2-c337ac4449b2 [data-ww-layout-style-scopes~="0b2b39e4-88d9-464e-8ea2-c337ac4449b2"] {
      display: block;
    }
    .ww-element-0b2b39e4-88d9-464e-8ea2-c337ac4449b2 [data-ww-layout-style-scopes~="0b2b39e4-88d9-464e-8ea2-c337ac4449b2"] {
      height: 100%;
    }
    @media (max-width: 991px) {
      .ww-element-0b2b39e4-88d9-464e-8ea2-c337ac4449b2.ww-layout, .ww-element-0b2b39e4-88d9-464e-8ea2-c337ac4449b2 [data-ww-layout-style-scopes~="0b2b39e4-88d9-464e-8ea2-c337ac4449b2"] {
        display: block;
      }
    }
    @media (max-width: 767px) {
      .ww-element-0b2b39e4-88d9-464e-8ea2-c337ac4449b2.ww-layout, .ww-element-0b2b39e4-88d9-464e-8ea2-c337ac4449b2 [data-ww-layout-style-scopes~="0b2b39e4-88d9-464e-8ea2-c337ac4449b2"] {
        display: block;
      }
    }
    .ww-element-0b2b39e4-88d9-464e-8ea2-c337ac4449b2.ww-layout:hover, .ww-element-0b2b39e4-88d9-464e-8ea2-c337ac4449b2 [data-ww-layout-style-scopes~="0b2b39e4-88d9-464e-8ea2-c337ac4449b2"]:hover {
      display: block;
    }
    @media (max-width: 991px) {
      .ww-element-0b2b39e4-88d9-464e-8ea2-c337ac4449b2.ww-layout:hover, .ww-element-0b2b39e4-88d9-464e-8ea2-c337ac4449b2 [data-ww-layout-style-scopes~="0b2b39e4-88d9-464e-8ea2-c337ac4449b2"]:hover {
        display: block;
      }
    }
    @media (max-width: 767px) {
      .ww-element-0b2b39e4-88d9-464e-8ea2-c337ac4449b2.ww-layout:hover, .ww-element-0b2b39e4-88d9-464e-8ea2-c337ac4449b2 [data-ww-layout-style-scopes~="0b2b39e4-88d9-464e-8ea2-c337ac4449b2"]:hover {
        display: block;
      }
    }
    .ww-element-219e90e4-d61c-4e22-8068-53d80926f20a {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      position: absolute;
      right: 20px;
      bottom: 20px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-219e90e4-d61c-4e22-8068-53d80926f20a.ww-layout, .ww-element-219e90e4-d61c-4e22-8068-53d80926f20a [data-ww-layout-style-scopes~="219e90e4-d61c-4e22-8068-53d80926f20a"] {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      flex-wrap: revert-layer;
    }
    @media (max-width: 991px) {
      .ww-element-219e90e4-d61c-4e22-8068-53d80926f20a.ww-layout, .ww-element-219e90e4-d61c-4e22-8068-53d80926f20a [data-ww-layout-style-scopes~="219e90e4-d61c-4e22-8068-53d80926f20a"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-219e90e4-d61c-4e22-8068-53d80926f20a.ww-layout, .ww-element-219e90e4-d61c-4e22-8068-53d80926f20a [data-ww-layout-style-scopes~="219e90e4-d61c-4e22-8068-53d80926f20a"] {
        display: flex;
      }
    }
    .ww-element-ce9f088a-9dbe-4252-beff-d7ccd29b065b {
      margin: 0;
      padding: 5px 10px;
      z-index: 101;
      align-self: unset;
      display: var(--ww-style-display);
      position: revert-layer;
      inset: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background: var(--ww-style-background-color);
      box-shadow: inset 0 1px 1px #78787840;
      border-radius: 32px;
    }
    .ww-element-ce9f088a-9dbe-4252-beff-d7ccd29b065b.ww-layout, .ww-element-ce9f088a-9dbe-4252-beff-d7ccd29b065b [data-ww-layout-style-scopes~="ce9f088a-9dbe-4252-beff-d7ccd29b065b"] {
      display: var(--ww-style-display);
      flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
      justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
      align-items: var(--ww-content-align-items-layout-flex, revert-layer);
      column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
      flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
    }
    .ww-element-ce9f088a-9dbe-4252-beff-d7ccd29b065b [data-ww-layout-style-scopes~="ce9f088a-9dbe-4252-beff-d7ccd29b065b"] {
      height: var(--ww-content-height-layout-block, revert-layer);
    }
    @media (max-width: 991px) {
      .ww-element-ce9f088a-9dbe-4252-beff-d7ccd29b065b.ww-layout, .ww-element-ce9f088a-9dbe-4252-beff-d7ccd29b065b [data-ww-layout-style-scopes~="ce9f088a-9dbe-4252-beff-d7ccd29b065b"] {
        display: var(--ww-style-display);
      }
    }
    @media (max-width: 767px) {
      .ww-element-ce9f088a-9dbe-4252-beff-d7ccd29b065b.ww-layout, .ww-element-ce9f088a-9dbe-4252-beff-d7ccd29b065b [data-ww-layout-style-scopes~="ce9f088a-9dbe-4252-beff-d7ccd29b065b"] {
        display: var(--ww-style-display);
      }
    }
    .ww-element-bf545630-a02c-4576-9746-72d90825ffe2 {
      margin: 0;
      padding: 5px 10px;
      z-index: 101;
      align-self: unset;
      display: var(--ww-style-display);
      position: revert-layer;
      inset: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background: var(--ww-style-background-color);
      box-shadow: inset 0 1px 1px #78787840;
      border-radius: 16px;
    }
    .ww-element-bf545630-a02c-4576-9746-72d90825ffe2.ww-layout, .ww-element-bf545630-a02c-4576-9746-72d90825ffe2 [data-ww-layout-style-scopes~="bf545630-a02c-4576-9746-72d90825ffe2"] {
      display: var(--ww-style-display);
      flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
      justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
      align-items: var(--ww-content-align-items-layout-flex, revert-layer);
      column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
      flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
    }
    .ww-element-bf545630-a02c-4576-9746-72d90825ffe2 [data-ww-layout-style-scopes~="bf545630-a02c-4576-9746-72d90825ffe2"] {
      height: var(--ww-content-height-layout-block, revert-layer);
    }
    @media (max-width: 991px) {
      .ww-element-bf545630-a02c-4576-9746-72d90825ffe2.ww-layout, .ww-element-bf545630-a02c-4576-9746-72d90825ffe2 [data-ww-layout-style-scopes~="bf545630-a02c-4576-9746-72d90825ffe2"] {
        display: var(--ww-style-display);
      }
    }
    @media (max-width: 767px) {
      .ww-element-bf545630-a02c-4576-9746-72d90825ffe2.ww-layout, .ww-element-bf545630-a02c-4576-9746-72d90825ffe2 [data-ww-layout-style-scopes~="bf545630-a02c-4576-9746-72d90825ffe2"] {
        display: var(--ww-style-display);
      }
    }
    .ww-element-95980253-92ca-4750-bb05-890091d2de97 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 16px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 767px) {
      .ww-element-95980253-92ca-4750-bb05-890091d2de97 {
        padding: 5px;
        width: 40px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 100px;
      }
    }
    @media (max-width: 767px) {
      .ww-element-95980253-92ca-4750-bb05-890091d2de97:hover {
        opacity: 1;
      }
    }
    @media (max-width: 767px) {
      .ww-element-95980253-92ca-4750-bb05-890091d2de97[data-ww-states~="U7UYbI"] {
        background-color: #19191980;
        box-shadow: inset 0 1px 1px #78787833;
      }
    }
    @media (max-width: 767px) {
      .ww-element-95980253-92ca-4750-bb05-890091d2de97[data-ww-states~="hQCGFR"] {
        background-color: #d6d6d680;
      }
    }
    .ww-element-e4313c05-4551-4137-819e-44972a03514e {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 767px) {
      .ww-element-e4313c05-4551-4137-819e-44972a03514e {
        align-self: center;
        display: var(--ww-style-display);
        max-width: 250px;
        height: auto;
        aspect-ratio: unset;
        max-height: 50px;
        min-height: 40px;
        background-color: #19191980;
        border-radius: 100px;
      }
    }
    @media (max-width: 767px) {
      .ww-element-e4313c05-4551-4137-819e-44972a03514e[data-ww-states~="6gviM9"] {
        align-self: center;
        display: flex;
        flex: 1 0 auto;
        box-shadow: inset 0 1px 1px #78787833;
        border-radius: 100px;
      }
    }
    @media (max-width: 767px) {
      .ww-element-e4313c05-4551-4137-819e-44972a03514e[data-ww-states~="I7lxO2"] {
        background-color: #d6d6d680;
        border-radius: 100px;
      }
    }
    .ww-element-e4313c05-4551-4137-819e-44972a03514e.ww-layout, .ww-element-e4313c05-4551-4137-819e-44972a03514e [data-ww-layout-style-scopes~="e4313c05-4551-4137-819e-44972a03514e"] {
      display: flex;
      flex-flow: column;
    }
    @media (max-width: 991px) {
      .ww-element-e4313c05-4551-4137-819e-44972a03514e.ww-layout, .ww-element-e4313c05-4551-4137-819e-44972a03514e [data-ww-layout-style-scopes~="e4313c05-4551-4137-819e-44972a03514e"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-e4313c05-4551-4137-819e-44972a03514e.ww-layout, .ww-element-e4313c05-4551-4137-819e-44972a03514e [data-ww-layout-style-scopes~="e4313c05-4551-4137-819e-44972a03514e"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-element-e4313c05-4551-4137-819e-44972a03514e [data-ww-layout-style-scopes~="e4313c05-4551-4137-819e-44972a03514e"] {
        height: var(--ww-content-height-layout-block, revert-layer);
      }
    }
    .ww-element-e4313c05-4551-4137-819e-44972a03514e.ww-layout[data-ww-states~="6gviM9"], .ww-element-e4313c05-4551-4137-819e-44972a03514e [data-ww-layout-style-scopes~="e4313c05-4551-4137-819e-44972a03514e"][data-ww-states~="6gviM9"] {
      display: flex;
    }
    @media (max-width: 991px) {
      .ww-element-e4313c05-4551-4137-819e-44972a03514e.ww-layout[data-ww-states~="6gviM9"], .ww-element-e4313c05-4551-4137-819e-44972a03514e [data-ww-layout-style-scopes~="e4313c05-4551-4137-819e-44972a03514e"][data-ww-states~="6gviM9"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-e4313c05-4551-4137-819e-44972a03514e.ww-layout[data-ww-states~="6gviM9"], .ww-element-e4313c05-4551-4137-819e-44972a03514e [data-ww-layout-style-scopes~="e4313c05-4551-4137-819e-44972a03514e"][data-ww-states~="6gviM9"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
    }
    .ww-element-e4313c05-4551-4137-819e-44972a03514e.ww-layout[data-ww-states~="I7lxO2"], .ww-element-e4313c05-4551-4137-819e-44972a03514e [data-ww-layout-style-scopes~="e4313c05-4551-4137-819e-44972a03514e"][data-ww-states~="I7lxO2"] {
      display: flex;
    }
    @media (max-width: 991px) {
      .ww-element-e4313c05-4551-4137-819e-44972a03514e.ww-layout[data-ww-states~="I7lxO2"], .ww-element-e4313c05-4551-4137-819e-44972a03514e [data-ww-layout-style-scopes~="e4313c05-4551-4137-819e-44972a03514e"][data-ww-states~="I7lxO2"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-e4313c05-4551-4137-819e-44972a03514e.ww-layout[data-ww-states~="I7lxO2"], .ww-element-e4313c05-4551-4137-819e-44972a03514e [data-ww-layout-style-scopes~="e4313c05-4551-4137-819e-44972a03514e"][data-ww-states~="I7lxO2"] {
        display: var(--ww-style-display);
      }
    }
    .ww-element-5465ce91-4337-4a48-a4bc-17ae353745b6 {
      margin: 0;
      padding: 32px;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 100%;
      flex: 0 1 auto;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: #0000001a;
      box-shadow: inset 0 1px 1px #78787833;
      border-radius: 32px;
    }
    .ww-element-5465ce91-4337-4a48-a4bc-17ae353745b6.ww-layout, .ww-element-5465ce91-4337-4a48-a4bc-17ae353745b6 [data-ww-layout-style-scopes~="5465ce91-4337-4a48-a4bc-17ae353745b6"] {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      gap: 50px 20px;
    }
    @media (max-width: 991px) {
      .ww-element-5465ce91-4337-4a48-a4bc-17ae353745b6.ww-layout, .ww-element-5465ce91-4337-4a48-a4bc-17ae353745b6 [data-ww-layout-style-scopes~="5465ce91-4337-4a48-a4bc-17ae353745b6"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-5465ce91-4337-4a48-a4bc-17ae353745b6.ww-layout, .ww-element-5465ce91-4337-4a48-a4bc-17ae353745b6 [data-ww-layout-style-scopes~="5465ce91-4337-4a48-a4bc-17ae353745b6"] {
        display: flex;
        justify-content: center;
        row-gap: 20px;
      }
    }
    .ww-element-e3a3259a-6825-45ac-8c26-bcc64b0aae65 {
      margin: 0;
      padding: 10px 16px;
      z-index: unset;
      align-self: center;
      display: var(--ww-style-display);
      width: auto;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 14px;
      font-family: var(--ww-default-font-family);
      font-weight: 600;
      text-align: center;
      color: var(--ww-content-ww-text-color);
      white-space-collapse: preserve;
      background: var(--ww-style-background-color);
      cursor: pointer;
      box-shadow: inset 0 1px 1px #78787833;
      transition: all 0.3s ease 0s;
      border: none;
      border-radius: 32px;
      --ww-element-transition: all 0.3s ease 0s;
    }
    @media (max-width: 991px) {
      .ww-element-e3a3259a-6825-45ac-8c26-bcc64b0aae65 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-e3a3259a-6825-45ac-8c26-bcc64b0aae65 {
        margin: 0;
        padding: 10px 16px;
        align-self: center;
        max-width: 200px;
        min-height: 40px;
        font-size: 12px;
        text-align: center;
        white-space-collapse: preserve;
        border-radius: 32px;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
      }
    }
    .ww-element-e3a3259a-6825-45ac-8c26-bcc64b0aae65:hover {
      white-space-collapse: preserve;
      transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
    }
    @media (max-width: 991px) {
      .ww-element-e3a3259a-6825-45ac-8c26-bcc64b0aae65:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-e3a3259a-6825-45ac-8c26-bcc64b0aae65:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6 {
      margin: 0;
      padding: 10px;
      z-index: unset;
      align-self: flex-start;
      display: flex;
      width: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      animation-duration: 0s;
      animation-timing-function: cubic-bezier(.4, 0, .2, 1);
      animation-delay: 0s;
      animation-fill-mode: none;
      animation-iteration-count: infinite;
      animation-name: ww-keyframes-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6-base-default;
    }
    @keyframes ww-keyframes-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6-base-default {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @media (max-width: 767px) {
      .ww-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6 {
        padding: 10px;
        display: none;
        cursor: pointer;
      }
    }
    .ww-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6:hover {
      opacity: 0.6;
      transition: all 0.3s ease 0s;
    }
    .ww-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6.ww-layout, .ww-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6 [data-ww-layout-style-scopes~="ccded55f-ca04-4c09-b212-40df5f1fd3d6"] {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      column-gap: 10px;
      flex-wrap: revert-layer;
    }
    @media (max-width: 991px) {
      .ww-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6.ww-layout, .ww-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6 [data-ww-layout-style-scopes~="ccded55f-ca04-4c09-b212-40df5f1fd3d6"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6.ww-layout, .ww-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6 [data-ww-layout-style-scopes~="ccded55f-ca04-4c09-b212-40df5f1fd3d6"] {
        display: none;
      }
    }
    .ww-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6.ww-layout:hover, .ww-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6 [data-ww-layout-style-scopes~="ccded55f-ca04-4c09-b212-40df5f1fd3d6"]:hover {
      display: flex;
      column-gap: 5px;
    }
    @media (max-width: 991px) {
      .ww-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6.ww-layout:hover, .ww-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6 [data-ww-layout-style-scopes~="ccded55f-ca04-4c09-b212-40df5f1fd3d6"]:hover {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6.ww-layout:hover, .ww-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6 [data-ww-layout-style-scopes~="ccded55f-ca04-4c09-b212-40df5f1fd3d6"]:hover {
        display: none;
      }
    }
    .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f {
      margin: 0;
      padding: 10px;
      z-index: unset;
      align-self: flex-start;
      display: none;
      width: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      animation-duration: 0s;
      animation-timing-function: cubic-bezier(.4, 0, .2, 1);
      animation-delay: 0s;
      animation-fill-mode: none;
      animation-iteration-count: infinite;
      animation-name: ww-keyframes-element-588f0c0d-3970-478e-bede-a527b7e6584f-base-default;
    }
    @keyframes ww-keyframes-element-588f0c0d-3970-478e-bede-a527b7e6584f-base-default {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @media (max-width: 767px) {
      .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f {
        margin: 0;
        padding: 0 10px;
        z-index: 100;
        align-self: center;
        display: flex;
        position: fixed;
        top: 5px;
        right: auto;
        left: auto;
        width: 100%;
        flex: 1 0 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: 50px;
        min-height: 40px;
        cursor: auto;
        animation-name: ww-keyframes-element-588f0c0d-3970-478e-bede-a527b7e6584f-base-mobile;
        border-radius: 100px;
      }
      @keyframes ww-keyframes-element-588f0c0d-3970-478e-bede-a527b7e6584f-base-mobile {
        0% {
        }
        100% {
        }
      }
    }
    @media (max-width: 767px) {
      .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f[data-ww-states~="0bFTkZ"] {
        padding: 0 10px;
        top: 10px;
        width: 90%;
      }
    }
    .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f.ww-layout, .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f [data-ww-layout-style-scopes~="588f0c0d-3970-478e-bede-a527b7e6584f"] {
      display: none;
    }
    @media (max-width: 991px) {
      .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f.ww-layout, .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f [data-ww-layout-style-scopes~="588f0c0d-3970-478e-bede-a527b7e6584f"] {
        display: none;
      }
    }
    @media (max-width: 767px) {
      .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f.ww-layout, .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f [data-ww-layout-style-scopes~="588f0c0d-3970-478e-bede-a527b7e6584f"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
    }
    .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f.ww-layout[data-ww-states~="0bFTkZ"], .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f [data-ww-layout-style-scopes~="588f0c0d-3970-478e-bede-a527b7e6584f"][data-ww-states~="0bFTkZ"] {
      display: none;
    }
    @media (max-width: 991px) {
      .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f.ww-layout[data-ww-states~="0bFTkZ"], .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f [data-ww-layout-style-scopes~="588f0c0d-3970-478e-bede-a527b7e6584f"][data-ww-states~="0bFTkZ"] {
        display: none;
      }
    }
    @media (max-width: 767px) {
      .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f.ww-layout[data-ww-states~="0bFTkZ"], .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f [data-ww-layout-style-scopes~="588f0c0d-3970-478e-bede-a527b7e6584f"][data-ww-states~="0bFTkZ"] {
        display: flex;
      }
    }
    .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f.ww-layout[data-ww-states~="wdOBOt"], .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f [data-ww-layout-style-scopes~="588f0c0d-3970-478e-bede-a527b7e6584f"][data-ww-states~="wdOBOt"] {
      display: none;
    }
    @media (max-width: 991px) {
      .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f.ww-layout[data-ww-states~="wdOBOt"], .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f [data-ww-layout-style-scopes~="588f0c0d-3970-478e-bede-a527b7e6584f"][data-ww-states~="wdOBOt"] {
        display: none;
      }
    }
    @media (max-width: 767px) {
      .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f.ww-layout[data-ww-states~="wdOBOt"], .ww-element-588f0c0d-3970-478e-bede-a527b7e6584f [data-ww-layout-style-scopes~="588f0c0d-3970-478e-bede-a527b7e6584f"][data-ww-states~="wdOBOt"] {
        display: flex;
      }
    }
    .ww-element-b71ddd1f-cde2-4f50-a446-c131956d88b8 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 16px;
      font-family: var(--ww-default-font-family);
      font-weight: 400;
      color: var(--ww-content-ww-text-color);
      white-space-collapse: preserve;
      animation-timing-function: ease;
      animation-fill-mode: none;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-name: ww-keyframes-element-b71ddd1f-cde2-4f50-a446-c131956d88b8-base-default;
    }
    @keyframes ww-keyframes-element-b71ddd1f-cde2-4f50-a446-c131956d88b8-base-default {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @media (max-width: 991px) {
      .ww-element-b71ddd1f-cde2-4f50-a446-c131956d88b8 {
        font-size: 24px;
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-b71ddd1f-cde2-4f50-a446-c131956d88b8 {
        font-size: 16px;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
    }
    .ww-element-eaa95603-50b8-410f-ae6c-a78197e4a41e {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: var(--ww-style-display, none);
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 24px;
      font-family: var(--ww-default-font-family);
      font-weight: 700;
      text-align: center;
      color: var(--ww-content-ww-text-color);
      white-space-collapse: preserve;
      animation-duration: 0s;
      animation-timing-function: cubic-bezier(.4, 0, .2, 1);
      animation-delay: 0s;
      animation-fill-mode: none;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-name: ww-keyframes-element-eaa95603-50b8-410f-ae6c-a78197e4a41e-base-default;
    }
    @keyframes ww-keyframes-element-eaa95603-50b8-410f-ae6c-a78197e4a41e-base-default {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @media (max-width: 991px) {
      .ww-element-eaa95603-50b8-410f-ae6c-a78197e4a41e {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-eaa95603-50b8-410f-ae6c-a78197e4a41e {
        margin: 25px 0;
        font-size: 16px;
        text-align: center;
        white-space-collapse: preserve;
      }
    }
    .ww-element-eaa95603-50b8-410f-ae6c-a78197e4a41e[data-ww-states~="wa3PGz"] {
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-eaa95603-50b8-410f-ae6c-a78197e4a41e[data-ww-states~="wa3PGz"] {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-eaa95603-50b8-410f-ae6c-a78197e4a41e[data-ww-states~="wa3PGz"] {
        white-space-collapse: preserve;
      }
    }
  }
  @layer custom {
    @media (min-width: 992px) {
      .ww-element-88f799c1-df8d-44ca-a9ea-9accc19676a1[data-ww-states~="2vM17Y"] {
        filter: blur(20px);
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .ww-element-88f799c1-df8d-44ca-a9ea-9accc19676a1[data-ww-states~="2vM17Y"] {
        filter: blur(20px);
      }
    }
    @media (max-width: 767px) {
      .ww-element-88f799c1-df8d-44ca-a9ea-9accc19676a1[data-ww-states~="2vM17Y"] {
        filter: blur(20px);
      }
    }
    @media (max-width: 767px) {
      .ww-element-95980253-92ca-4750-bb05-890091d2de97[data-ww-states~="U7UYbI"] {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-element-95980253-92ca-4750-bb05-890091d2de97[data-ww-states~="hQCGFR"] {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-element-e4313c05-4551-4137-819e-44972a03514e[data-ww-states~="6gviM9"] {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-element-e4313c05-4551-4137-819e-44972a03514e[data-ww-states~="I7lxO2"] {
        backdrop-filter: blur(10px);
      }
    }
  }
}
