@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Vl7bPWcpf-HYgY1D {
        height: auto;
        z-index: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-Y6MTqAnlYkTtOtmG {
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-db {
        min-height: 1200px;
        background: var(--ww-style-background-color);
      }
      @media (max-width: 767px) {
        .ww-s-db {
          height: auto;
          aspect-ratio: unset;
          margin: 0;
          min-height: 1200px;
          background: var(--ww-style-background-color);
        }
      }
      .ww-s-db > .ww-section-element {
        width: 100%;
        padding: 120px 64px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-db > .ww-section-element {
          width: 100%;
          padding: 32px 16px 128px;
          min-height: 1200px;
        }
      }
      .ww-s-db > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-s-db > .ww-section-element.ww-layout {
          row-gap: 40px;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-BUy5c_7mQD_pnjJN {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-ASwWizGf65fD79YV {
        margin: 0;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4RoHNZRxGrkSNyJL {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2MXhXlVHrdKM1K4g {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Wf3kR1fDZCtNqRYp {
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-dQVf4AfE6DwFXRwu {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-6GOhhIoAx0jRKIia {
        margin: 0;
        padding: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-musbR7AL09vB7JZp {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-GY9OD6k0O9NAwLah {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-osFt1bovyjmw1wCr {
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2XmtwZSC2Y1t00Nv {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-JHTUrsi5weKcajAQ {
        margin: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-EFbekEDt-bxLyKV- {
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-IBqsSZqALGUiyJm3 {
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-CQC-UYJF9-3biM3_ {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Fijzlf8jhln2zwt7 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-xFskeE2e2iRUDkEm {
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-wepO1Mjw7DgHz3WK {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-EuBNDoFBsWKwG6sw {
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-u-w_kYfT7D3GBKvP {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-hrpkn2nmdrP6iFfB {
        margin: 0;
        padding: 0;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-e64GhYcJHEm1j0gb {
        margin: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-ZHFlyccgidWMqZZn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-XMNgqUZITcWnfqZ3 {
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-0XtwMMjcpjxcaUFe {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-doN {
        align-self: unset;
        flex: 0 1 auto;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
      }
      @media (max-width: 767px) {
        .ww-e-doN {
          font-size: 12px;
        }
      }
      .ww-e-doO {
        margin: 10px 5px;
      }
      @media (max-width: 767px) {
        .ww-e-doO {
          align-self: unset;
          display: flex;
          width: 200px;
          flex: 0 1 auto;
        }
      }
      .ww-e-doO.ww-layout, .ww-e-doO [data-ww-ls~="doO"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-doO.ww-layout, .ww-e-doO [data-ww-ls~="doO"] {
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          align-items: flex-start;
        }
      }
      .ww-e-doP {
        padding: 5px;
        z-index: 100;
        align-self: flex-start;
        position: absolute;
        right: 12px;
        bottom: 12px;
        width: 20px;
        height: 20px;
        aspect-ratio: unset;
        background: var(--ww-style-background-color);
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-doP {
          margin: 0;
          padding: 5px;
          align-self: unset;
          display: var(--ww-style-display);
          width: 20px;
          height: 20px;
          aspect-ratio: unset;
        }
      }
      .ww-e-doP.ww-layout, .ww-e-doP [data-ww-ls~="doP"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-doP.ww-layout, .ww-e-doP [data-ww-ls~="doP"] {
          display: var(--ww-style-display);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-doQ {
        padding: 16px;
        display: flex;
        width: revert-layer;
        height: 16px;
        aspect-ratio: unset;
        background-color: #fdca0080;
        box-shadow: inset 0 1px 1px #78787880;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-play-state: running;
        animation-name: ww-keyframes-element-d39661e3-6403-4ece-a2e7-675f6a53dd0f-base-default;
        border-radius: 16px;
      }
      @keyframes ww-keyframes-element-d39661e3-6403-4ece-a2e7-675f6a53dd0f-base-default {
        0% {
          opacity: 0;
          transform: translateY(-10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-doQ {
          padding: 12px;
          width: revert-layer;
          height: 12px;
        }
      }
      .ww-e-doQ.ww-layout, .ww-e-doQ [data-ww-ls~="doQ"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-doR {
        padding: 20px;
        align-self: unset;
        display: block;
        width: revert-layer;
        height: auto;
        aspect-ratio: unset;
        font-size: 16px;
        font-family: var(--ww-default-font-family);
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-doS {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-doT {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-doU {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-doV {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-doW {
        padding: 20px;
        align-self: unset;
        display: block;
        width: revert-layer;
        height: auto;
        aspect-ratio: unset;
        font-size: 16px;
        font-family: var(--ww-default-font-family);
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-doX {
        width: 18px;
        height: auto;
        transition: all 0.2s ease;
      }
      .ww-e-doX:where([data-ww-states~="2w7mmz"]) {
        transition: all 0.2s ease;
      }
      .ww-e-doY {
        margin: 0;
        padding: 0;
        position: revert-layer;
        inset: revert-layer;
        font-size: 14px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-doY {
          font-size: 12px;
        }
      }
      .ww-e-doZ {
        margin: 0;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-doZ {
          margin: 0;
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-doa {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-doa.ww-layout, .ww-e-doa [data-ww-ls~="doa"] {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-doa.ww-layout, .ww-e-doa [data-ww-ls~="doa"] {
          align-content: revert-layer;
          row-gap: 5px;
          flex-wrap: wrap;
        }
      }
      .ww-e-dob {
        z-index: 101;
        display: flex;
        position: absolute;
        top: 12px;
        right: 12px;
        width: 32px;
        height: 32px;
        background-color: #252525cc;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 50%;
      }
      @media (max-width: 991px) {
        .ww-e-dob {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dob {
          z-index: 101;
          display: none;
        }
      }
      .ww-e-dob:where(:hover) {
        display: flex;
        background-color: #252525;
      }
      .ww-e-dob.ww-layout, .ww-e-dob [data-ww-ls~="dob"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      @media (max-width: 991px) {
        .ww-e-dob.ww-layout, .ww-e-dob [data-ww-ls~="dob"] {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dob.ww-layout, .ww-e-dob [data-ww-ls~="dob"] {
          display: none;
        }
      }
      .ww-e-dob.ww-layout:where(:hover), .ww-e-dob [data-ww-ls~="dob"]:where(:hover) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-doc {
        align-self: var(--ww-section-root-auto-align, unset);
        display: var(--ww-style-display, flex);
        width: 100%;
      }
      @media (max-width: 767px) {
        .ww-e-doc {
          display: var(--ww-style-display, none);
        }
      }
      .ww-e-doc.ww-layout, .ww-e-doc [data-ww-ls~="doc"] {
        display: var(--ww-style-display, flex);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-doc.ww-layout, .ww-e-doc [data-ww-ls~="doc"] {
          display: var(--ww-style-display, none);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-dod {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        border-radius: 12px;
        --wwi-ar: unset;
        --wwi-of: cover;
      }
      @media (max-width: 767px) {
        .ww-e-dod {
          display: block;
          width: 100px;
          height: 100%;
          --wwi-of: cover;
        }
      }
      .ww-e-dod:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        transform: scale(1.05);
      }
      .ww-e-doe {
        margin: 0;
      }
      @media (max-width: 767px) {
        .ww-e-doe {
          width: revert-layer;
          height: auto;
          aspect-ratio: unset;
          min-height: unset;
        }
      }
      .ww-e-doe.ww-layout, .ww-e-doe [data-ww-ls~="doe"] {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-doe.ww-layout, .ww-e-doe [data-ww-ls~="doe"] {
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-start;
          row-gap: 5px;
        }
      }
      .ww-e-dof {
        margin: 0;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dof {
          margin: 5px 0 10px;
          font-size: 16px;
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
          --ww-text-text-overflow: ellipsis;
        }
      }
      .ww-e-dog {
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        width: 200px;
        height: auto;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: translateY(0);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-7176c66d-7a87-4f48-80fc-0a8b4a15cf82-base-default;
      }
      @keyframes ww-keyframes-element-7176c66d-7a87-4f48-80fc-0a8b4a15cf82-base-default {
        0% {
        }
        100% {
        }
      }
      @media (max-width: 991px) {
        .ww-e-dog {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dog {
          align-self: unset;
          display: flex;
          width: 100%;
          height: auto;
          aspect-ratio: unset;
          border-radius: 12px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dog:where(:hover) {
          background-color: #ffffff0d;
        }
      }
      .ww-e-dog.ww-layout, .ww-e-dog [data-ww-ls~="dog"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 991px) {
        .ww-e-dog.ww-layout, .ww-e-dog [data-ww-ls~="dog"] {
          display: flex;
          flex-flow: column;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dog.ww-layout, .ww-e-dog [data-ww-ls~="dog"] {
          display: flex;
          flex-flow: row;
          justify-content: flex-start;
          align-items: stretch;
          align-content: revert-layer;
          gap: 0 15px;
        }
      }
      .ww-e-doh {
        align-self: var(--ww-section-root-auto-align, unset);
        display: grid;
        position: revert-layer;
        inset: revert-layer;
        width: var(--ww-section-root-auto-width, revert-layer);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
      }
      @media (max-width: 991px) {
        .ww-e-doh {
          display: grid;
        }
      }
      @media (max-width: 767px) {
        .ww-e-doh {
          align-self: center;
          display: var(--ww-style-display, none);
          width: 100%;
          flex: 0 1 auto;
        }
      }
      .ww-e-doh.ww-layout, .ww-e-doh [data-ww-ls~="doh"] {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 30px;
      }
      @media (max-width: 991px) {
        .ww-e-doh.ww-layout, .ww-e-doh [data-ww-ls~="doh"] {
          display: grid;
          grid-auto-flow: row;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-doh.ww-layout, .ww-e-doh [data-ww-ls~="doh"] {
          display: var(--ww-style-display, none);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          row-gap: var(--ww-content-row-gap-layout-flex, var(--ww-content-row-gap-layout-grid, revert-layer));
          column-gap: var(--ww-content-column-gap-layout-flex, var(--ww-content-column-gap-layout-grid, revert-layer));
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
          grid-auto-flow: var(--ww-content-grid-auto-flow-layout-grid, revert-layer);
          grid-template-columns: var(--ww-content-grid-template-columns-layout-grid, revert-layer);
          grid-template-rows: var(--ww-content-grid-template-rows-layout-grid, revert-layer);
        }
      }
      .ww-e-doi {
        padding: 12px;
        display: var(--ww-style-display, none);
        width: var(--ww-section-root-auto-width, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-doi {
          display: var(--ww-style-display, none);
        }
      }
      .ww-e-dok {
        margin: 32px 0;
        padding: 48px;
        align-self: center;
        display: flex;
        width: 1200px;
        background-color: #0000001a;
        box-shadow: inset 0 1px 1px #78787833;
        border-radius: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-dok {
          margin: 25px 0;
          padding: 20px;
          display: flex;
          width: 100%;
          background-color: #0000001a;
          background-image: none;
          box-shadow: inset 0 1px 1px #78787833;
          transition: all 0.3s ease 0s;
          border-radius: 32px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dok:where([data-ww-states~="glmQn2"]) {
          margin: 0;
          padding: 0;
          background-image: linear-gradient(0deg, #2c2c2c00 0%, #19191900 100%);
          box-shadow: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dok:where([data-ww-states~="oL96bD"]) {
          background-color: #0000;
          background-image: linear-gradient(0deg, #0000001a, #0000001a), linear-gradient(0deg, #2c2c2c00 0%, #19191900 100%);
        }
      }
      .ww-e-dok.ww-layout, .ww-e-dok [data-ww-ls~="dok"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 25px 20px;
      }
      @media (max-width: 767px) {
        .ww-e-dok.ww-layout, .ww-e-dok [data-ww-ls~="dok"] {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          gap: 30px 20px;
        }
      }
      .ww-e-dol {
        width: 32px;
        height: auto;
      }
      @media (max-width: 767px) {
        .ww-e-dol {
          display: none;
        }
      }
      .ww-e-dom {
        margin: 0;
        padding: 10px;
        align-self: flex-start;
        display: flex;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-5f7e40a7-cfaa-476f-b345-5eb37ce9d24c-base-default;
      }
      @keyframes ww-keyframes-element-5f7e40a7-cfaa-476f-b345-5eb37ce9d24c-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dom {
          padding: 10px;
          display: none;
          cursor: pointer;
        }
      }
      .ww-e-dom:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dom.ww-layout, .ww-e-dom [data-ww-ls~="dom"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dom.ww-layout, .ww-e-dom [data-ww-ls~="dom"] {
          display: none;
        }
      }
      .ww-e-dom.ww-layout:where(:hover), .ww-e-dom [data-ww-ls~="dom"]:where(:hover) {
        column-gap: 5px;
      }
      .ww-e-don {
        width: 16px;
      }
      .ww-e-doo {
        width: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-doo {
          align-self: unset;
        }
      }
      .ww-e-dop {
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dop {
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-doq {
        margin: 0;
        padding: 0;
        width: 100%;
        flex: 0 1 auto;
        height: 100%;
        aspect-ratio: unset;
        font-size: 14px;
        color: #fff;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        border: 0 solid #e0e0e0;
        border-radius: 10px;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      @media (max-width: 767px) {
        .ww-e-doq {
          width: 100%;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
          transition: all 0.3s ease 0s;
          --ww-element-transition: all 0.3s ease 0s;
          --placeholder-color: var(--ww-content-placeholder-color);
        }
      }
      .ww-e-dor {
        width: 20px;
        flex: 0 1 auto;
        height: auto;
      }
      @media (max-width: 767px) {
        .ww-e-dor {
          transition: all 0.3s ease 0s;
        }
      }
      .ww-e-dos {
        display: flex;
        width: 100%;
        max-width: 1200px;
      }
      @media (max-width: 767px) {
        .ww-e-dos {
          padding: 15px;
          z-index: 100;
          display: var(--ww-style-display, none);
          position: sticky;
          top: 0;
          background: var(--ww-style-background-color);
          transition: all 0.3s ease 0s;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dos:where([data-ww-states~="ncknsA"]) {
          top: 2%;
          width: 90%;
          background-color: #19191980;
          box-shadow: 0 1px 2px #78787833;
          border-radius: 32px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dos:where([data-ww-states~="1T06Qr"]) {
          background-color: #ebebeb80;
        }
      }
      .ww-e-dos.ww-layout, .ww-e-dos [data-ww-ls~="dos"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        row-gap: 40px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dos.ww-layout, .ww-e-dos [data-ww-ls~="dos"] {
          display: var(--ww-style-display, none);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-dot {
        width: 100%;
      }
      @media (max-width: 767px) {
        .ww-e-dot {
          overflow: auto;
          display: flex;
          position: revert-layer;
          inset: revert-layer;
          background-color: #0000;
        }
      }
      .ww-e-dot.ww-layout, .ww-e-dot [data-ww-ls~="dot"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 991px) {
        .ww-e-dot.ww-layout, .ww-e-dot [data-ww-ls~="dot"] {
          justify-content: center;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dot.ww-layout, .ww-e-dot [data-ww-ls~="dot"] {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          column-gap: 25px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-dou {
        display: var(--ww-style-display);
        font-size: 16px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        cursor: auto;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-e8b32095-dde4-4ad5-b42e-2bbbc49253a4-base-default;
      }
      @keyframes ww-keyframes-element-e8b32095-dde4-4ad5-b42e-2bbbc49253a4-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dou {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dou {
          display: var(--ww-style-display);
          font-size: 12px;
        }
      }
      .ww-e-dov {
        margin: 15px 0;
        padding: 0 20px;
        overflow: unset;
        z-index: 100;
        align-self: center;
        display: none;
        width: 500px;
        flex: 0 1 auto;
        height: 40px;
        aspect-ratio: unset;
        background-color: #ffffff1a;
        border-radius: 12px;
      }
      @media (max-width: 991px) {
        .ww-e-dov {
          margin: 0 48px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dov {
          margin: 0;
          padding: 0 20px;
          display: flex;
          width: 100%;
          height: 45px;
          aspect-ratio: unset;
          background-color: #ffffff0d;
          box-shadow: 0 1px 1px #78787833, 1px 10px 20px #0003;
          transition: all 0.3s ease 0s;
          border-radius: 32px;
        }
      }
      @media (max-width: 991px) {
        .ww-e-dov:where([data-ww-states~="nISnVV"]) {
          box-shadow: 0 0 10px #fdca00cc;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dov:where([data-ww-states~="nISnVV"]) {
          margin: 0;
          width: 100%;
          background-color: #ffffff0d;
          box-shadow: revert-layer;
          transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dov:where([data-ww-states~="66wOip"]) {
          background-color: #c2c2c280;
          box-shadow: 0 1px 1px #78787833, 1px 10px 20px #0003;
        }
      }
      .ww-e-dov.ww-layout, .ww-e-dov [data-ww-ls~="dov"] {
        display: none;
      }
      @media (max-width: 767px) {
        .ww-e-dov.ww-layout, .ww-e-dov [data-ww-ls~="dov"] {
          display: flex;
          flex-flow: row;
          justify-content: flex-start;
          align-items: center;
          align-content: revert-layer;
          gap: 8px;
        }
      }
      .ww-e-dow {
        display: var(--ww-style-display, none);
        width: 20px;
        cursor: pointer;
      }
      @media (max-width: 767px) {
        .ww-e-dow {
          padding: 6px;
          align-self: unset;
          width: 40px;
          background: var(--ww-style-background-color);
          transition: all 0.3s ease 0s;
          border-radius: 16px;
        }
      }
      .ww-e-dox {
        padding: 20px 24px;
        display: none;
        width: 100%;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dox {
          padding: 10px 12px;
          display: flex;
          width: 80%;
        }
      }
      .ww-e-dox:where(:hover) {
        background-color: #aaa3;
      }
      @media (max-width: 767px) {
        .ww-e-dox:where(:hover) {
          background-color: #aaa0;
          opacity: 0.6;
        }
      }
      .ww-e-dox.ww-layout, .ww-e-dox [data-ww-ls~="dox"] {
        display: none;
      }
      @media (max-width: 767px) {
        .ww-e-dox.ww-layout, .ww-e-dox [data-ww-ls~="dox"] {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          column-gap: 5px;
          flex-wrap: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dox.ww-layout:where(:hover), .ww-e-dox [data-ww-ls~="dox"]:where(:hover) {
          column-gap: 10px;
        }
      }
      .ww-e-doy {
        font-size: 16px;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-doy {
          font-weight: 600;
        }
      }
      .ww-e-doz {
        font-size: 24px;
        font-weight: 800;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-doz {
          padding: 0;
          align-self: center;
          display: var(--ww-style-display, block);
          width: 100%;
          font-size: 28px;
          font-weight: 900;
          text-align: center;
          color: var(--ww-content-ww-text-color);
          letter-spacing: 2px;
          box-shadow: revert-layer;
          transition: all 0.3s ease 0s;
          border-radius: 100px;
          --ww-element-transition: all 0.3s ease 0s;
        }
      }
      .ww-e-dp0 {
        padding: 10px 16px;
        align-self: center;
        display: var(--ww-style-display);
        width: auto;
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        box-shadow: inset 0 1px 1px #78787880;
        transition: all 0.3s ease 0s;
        border-radius: 32px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dp0 {
          display: var(--ww-style-display);
          font-size: 12px;
          font-weight: 700;
        }
      }
      .ww-e-dp0:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dp1 {
        font-size: 16px;
        font-weight: 400;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-7b321635-f490-475f-a1ef-02a9deddf7a8-base-default;
      }
      @keyframes ww-keyframes-element-7b321635-f490-475f-a1ef-02a9deddf7a8-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dp1 {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dp1 {
          font-size: 16px;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dp2 {
        padding: 0;
        overflow: hidden;
        display: block;
        position: revert-layer;
        inset: revert-layer;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dp2 {
          width: 100px;
          height: 150px;
          aspect-ratio: unset;
        }
      }
      .ww-e-dp2.ww-layout, .ww-e-dp2 [data-ww-ls~="dp2"] {
        display: block;
      }
      .ww-e-dp3 {
        z-index: 100;
        align-self: unset;
        display: var(--ww-style-display);
        position: revert-layer;
        inset: revert-layer;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        background: var(--ww-style-background-gradient);
        transition: all 0.3s ease 0s;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dp3 {
          height: 100%;
          aspect-ratio: unset;
        }
      }
      .ww-e-dp3:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dp3.ww-layout, .ww-e-dp3 [data-ww-ls~="dp3"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dp3.ww-layout, .ww-e-dp3 [data-ww-ls~="dp3"] {
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        }
      }
      .ww-e-dp4 {
        padding: 6px;
        z-index: 101;
        display: var(--ww-style-display);
        position: absolute;
        top: 12px;
        left: 12px;
        background: var(--ww-style-background-color);
        opacity: 1;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dp4 {
          padding: 4px;
          z-index: 101;
        }
      }
      .ww-e-dp4.ww-layout, .ww-e-dp4 [data-ww-ls~="dp4"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dp4.ww-layout, .ww-e-dp4 [data-ww-ls~="dp4"] {
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        }
      }
      .ww-e-dp5 {
        overflow: unset;
        position: revert-layer;
        inset: revert-layer;
        width: 90%;
        max-width: unset;
        font-size: 16px;
        font-family: var(--ww-default-font-family);
        line-height: 1.2;
        font-weight: 700;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-0952c7da-2393-44a6-8be2-b8f006f2f75b-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-0952c7da-2393-44a6-8be2-b8f006f2f75b-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dp5 {
          font-size: 36px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dp5 {
          margin: 0;
          overflow: unset;
          z-index: unset;
          align-self: unset;
          position: revert-layer;
          inset: revert-layer;
          width: 90%;
          max-width: unset;
          height: auto;
          aspect-ratio: unset;
          font-size: 12px;
          font-weight: 800;
          text-align: center;
        }
      }
      .ww-e-dp6 {
        align-self: unset;
        flex: 0 1 auto;
        font-size: 14px;
        font-weight: 600;
        color: #000;
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dp6 {
          font-size: 12px;
          font-weight: 600;
        }
      }
      .ww-e-dp7 {
        margin: 10px 0;
        padding: 12px 24px;
        width: auto;
        font-size: 12px;
        font-weight: 600;
        color: #000;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border: none;
        border-radius: 32px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dp7 {
          border-radius: 32px;
        }
      }
      .ww-e-dp7:where(:hover) {
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dp8 {
        margin: 10px 0;
        padding: 12px 24px;
        width: auto;
        font-size: 12px;
        font-weight: 600;
        color: #000;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border: none;
        border-radius: 32px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dp8 {
          border-radius: 32px;
        }
      }
      .ww-e-dp8:where(:hover) {
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dp9 {
        padding: 12px;
        align-self: center;
        display: flex;
        width: revert-layer;
      }
    }
  }
  @layer custom {
    .ww-e-dob {
      backdrop-filter: blur(4px);
    }
    @media (max-width: 767px) {
      .ww-e-dos:where([data-ww-states~="ncknsA"]) {
        backdrop-filter: blur(10px);
      }
    }
    .ww-e-dov {
      position: relative;
    }
    @media (min-width: 992px) {
      .ww-e-dp5 {
        word-break: break-word;
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .ww-e-dp5 {
        word-break: break-word;
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }
    }
    @media (max-width: 767px) {
      .ww-e-dp5 {
        word-break: break-word;
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }
    }
  }
}
@layer ww-style-layout-override {
}
