@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Vl7bPWcpf-HYgY1D {
        height: auto;
        z-index: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-Y6MTqAnlYkTtOtmG {
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-dM {
        min-height: 1200px;
        background: var(--ww-style-background-color);
      }
      @media (max-width: 767px) {
        .ww-s-dM {
          height: auto;
          aspect-ratio: unset;
          margin: 0;
          min-height: 1200px;
        }
      }
      .ww-s-dM > .ww-section-element {
        width: 100%;
        padding: 120px 64px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-dM > .ww-section-element {
          width: 100%;
          padding: 32px 16px 128px;
          min-height: 1200px;
        }
      }
      .ww-s-dM > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 50px;
      }
      @media (max-width: 767px) {
        .ww-s-dM > .ww-section-element.ww-layout {
          row-gap: 40px;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-dQVf4AfE6DwFXRwu {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-2XmtwZSC2Y1t00Nv {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-BUy5c_7mQD_pnjJN {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-Wf3kR1fDZCtNqRYp {
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-GY9OD6k0O9NAwLah {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-qqyEbfFlgYFLR-KT {
        margin: 0;
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-e64GhYcJHEm1j0gb {
        margin: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-1263zm1SrXK1GJZQ {
        margin: 0;
        padding: 0;
        z-index: unset;
        min-width: unset;
        height: auto;
        min-height: unset;
      }
      .ww-a-2MXhXlVHrdKM1K4g {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-6GOhhIoAx0jRKIia {
        margin: 0;
        padding: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4RoHNZRxGrkSNyJL {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-osFt1bovyjmw1wCr {
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-musbR7AL09vB7JZp {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-62B4z2iQ-iPYknmh {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-iVX9xAOhxPh0TDna {
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-XMNgqUZITcWnfqZ3 {
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-JHTUrsi5weKcajAQ {
        margin: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-u-w_kYfT7D3GBKvP {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-ojR9yNVv0aSDeAdG {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-fKo7xotRqyrxdbG4 {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jY00-auMuYX_Yaxn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        width: auto;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-Km-a_vLqZYKzg1qQ {
        margin: 0;
        z-index: unset;
        width: auto;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-hrle4cgh7E0q5WYv {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-H4TZlWGl0PlJ7ldL {
        margin: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YF0k00I-Mi8zOhMt {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jmcmduGw2BpHZ9RI {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-xcvtKf9v4YXjru0H {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Fijzlf8jhln2zwt7 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-CQC-UYJF9-3biM3_ {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-dUC {
        margin: 0;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dUC {
          margin: 0;
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dUD {
        font-size: 12px;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dUD {
          text-align: center;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dUE {
        align-self: var(--ww-section-root-auto-align, unset);
        display: grid;
        position: revert-layer;
        inset: revert-layer;
        width: var(--ww-section-root-auto-width, revert-layer);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
      }
      @media (max-width: 991px) {
        .ww-e-dUE {
          display: grid;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUE {
          align-self: center;
          display: flex;
          width: 100%;
          flex: 0 1 auto;
        }
      }
      .ww-e-dUE.ww-layout, .ww-e-dUE [data-ww-ls~="dUE"] {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 30px;
      }
      @media (max-width: 991px) {
        .ww-e-dUE.ww-layout, .ww-e-dUE [data-ww-ls~="dUE"] {
          display: grid;
          grid-auto-flow: row;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUE.ww-layout, .ww-e-dUE [data-ww-ls~="dUE"] {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: stretch;
          gap: 15px 0;
        }
      }
      .ww-e-dUF {
        width: 18px;
        height: auto;
        transition: all 0.2s ease;
      }
      .ww-e-dUF:where([data-ww-states~="2w7mmz"]) {
        transition: all 0.2s ease;
      }
      .ww-e-dUG {
        align-self: unset;
        flex: 0 1 auto;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
      }
      @media (max-width: 767px) {
        .ww-e-dUG {
          font-size: 12px;
        }
      }
      .ww-e-dUH {
        margin: 0;
        padding: 0;
        position: revert-layer;
        inset: revert-layer;
        font-size: 14px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dUH {
          font-size: 12px;
        }
      }
      .ww-e-dUI {
        margin: 0;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dUI {
          margin: 5px 0 10px;
          font-size: 16px;
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
          --ww-text-text-overflow: ellipsis;
        }
      }
      .ww-e-dUJ {
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dUJ {
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dUK {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        border-radius: 12px;
        --wwi-ar: unset;
        --wwi-of: cover;
      }
      @media (max-width: 767px) {
        .ww-e-dUK {
          display: block;
          width: 100px;
          height: 100%;
          --wwi-of: cover;
        }
      }
      .ww-e-dUK:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        transform: scale(1.05);
      }
      .ww-e-dUL {
        padding: 5px;
        align-self: flex-start;
        width: 20px;
        height: 20px;
        aspect-ratio: unset;
        background: var(--ww-style-background-color);
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dUL {
          margin: 10px 0;
          padding: 5px;
          align-self: unset;
          width: 20px;
          height: 20px;
          aspect-ratio: unset;
        }
      }
      .ww-e-dUL.ww-layout, .ww-e-dUL [data-ww-ls~="dUL"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-dUM {
        padding: 6px;
        z-index: 1;
        display: var(--ww-style-display);
        position: absolute;
        top: 12px;
        left: 12px;
        background: var(--ww-style-background-color);
        opacity: 1;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dUM {
          padding: 4px;
        }
      }
      .ww-e-dUM.ww-layout, .ww-e-dUM [data-ww-ls~="dUM"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dUM.ww-layout, .ww-e-dUM [data-ww-ls~="dUM"] {
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        }
      }
      .ww-e-dUN {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dUN.ww-layout, .ww-e-dUN [data-ww-ls~="dUN"] {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        flex-wrap: revert-layer;
      }
      .ww-e-dUO {
        margin: 0;
      }
      @media (max-width: 767px) {
        .ww-e-dUO {
          width: revert-layer;
          height: auto;
          aspect-ratio: unset;
          min-height: unset;
        }
      }
      .ww-e-dUO.ww-layout, .ww-e-dUO [data-ww-ls~="dUO"] {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dUO.ww-layout, .ww-e-dUO [data-ww-ls~="dUO"] {
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-start;
          row-gap: 5px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUP {
          width: 90%;
        }
      }
      .ww-e-dUP.ww-layout, .ww-e-dUP [data-ww-ls~="dUP"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-dUQ {
        align-self: unset;
        display: flex;
        width: 700px;
        max-width: unset;
        max-height: unset;
      }
      @media (max-width: 991px) {
        .ww-e-dUQ {
          width: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUQ {
          width: revert-layer;
          max-width: unset;
          height: auto;
          aspect-ratio: unset;
        }
      }
      .ww-e-dUQ.ww-layout, .ww-e-dUQ [data-ww-ls~="dUQ"] {
        display: flex;
        flex-flow: wrap;
        align-items: stretch;
        align-content: revert-layer;
        gap: 10px;
      }
      @media (max-width: 767px) {
        .ww-e-dUQ.ww-layout, .ww-e-dUQ [data-ww-ls~="dUQ"] {
          flex-flow: wrap;
          align-content: revert-layer;
          row-gap: 10px;
        }
      }
      .ww-e-dUS {
        padding: 20px;
        align-self: unset;
        display: block;
        width: revert-layer;
        height: auto;
        aspect-ratio: unset;
        font-size: 16px;
        font-family: var(--ww-default-font-family);
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dUU {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-dUV {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-dUW {
        z-index: 1;
        display: flex;
        position: absolute;
        top: 12px;
        right: 12px;
        width: 32px;
        height: 32px;
        background-color: #252525cc;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 50%;
      }
      @media (max-width: 991px) {
        .ww-e-dUW {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUW {
          display: none;
        }
      }
      .ww-e-dUW:where(:hover) {
        display: flex;
        background-color: #252525;
      }
      .ww-e-dUW.ww-layout, .ww-e-dUW [data-ww-ls~="dUW"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      @media (max-width: 991px) {
        .ww-e-dUW.ww-layout, .ww-e-dUW [data-ww-ls~="dUW"] {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUW.ww-layout, .ww-e-dUW [data-ww-ls~="dUW"] {
          display: none;
        }
      }
      .ww-e-dUW.ww-layout:where(:hover), .ww-e-dUW [data-ww-ls~="dUW"]:where(:hover) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-dUX {
        padding: 0;
        overflow: hidden;
        display: block;
        position: revert-layer;
        inset: revert-layer;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dUX {
          width: 100px;
          height: 150px;
          aspect-ratio: unset;
        }
      }
      .ww-e-dUX.ww-layout, .ww-e-dUX [data-ww-ls~="dUX"] {
        display: block;
      }
      .ww-e-dUY {
        margin: 10px 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dUY {
          align-self: unset;
          display: flex;
          width: 200px;
          flex: 0 1 auto;
        }
      }
      .ww-e-dUY.ww-layout, .ww-e-dUY [data-ww-ls~="dUY"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dUY.ww-layout, .ww-e-dUY [data-ww-ls~="dUY"] {
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          align-items: flex-start;
        }
      }
      .ww-e-dUZ {
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        width: 200px;
        height: auto;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: translateY(0);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-c6e43cc3-abfb-4258-8af1-a62ee03f2647-base-default;
      }
      @keyframes ww-keyframes-element-c6e43cc3-abfb-4258-8af1-a62ee03f2647-base-default {
        0% {
        }
        100% {
        }
      }
      @media (max-width: 991px) {
        .ww-e-dUZ {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUZ {
          align-self: unset;
          display: flex;
          width: 100%;
          height: auto;
          aspect-ratio: unset;
          border-radius: 12px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUZ:where(:hover) {
          background-color: #ffffff0d;
        }
      }
      .ww-e-dUZ.ww-layout, .ww-e-dUZ [data-ww-ls~="dUZ"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 991px) {
        .ww-e-dUZ.ww-layout, .ww-e-dUZ [data-ww-ls~="dUZ"] {
          display: flex;
          flex-flow: column;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUZ.ww-layout, .ww-e-dUZ [data-ww-ls~="dUZ"] {
          display: flex;
          flex-flow: row;
          justify-content: flex-start;
          align-items: stretch;
          align-content: revert-layer;
          gap: 0 15px;
        }
      }
      .ww-e-dUa {
        align-self: var(--ww-section-root-auto-align, unset);
        display: var(--ww-style-display, flex);
        width: 100%;
      }
      @media (max-width: 767px) {
        .ww-e-dUa {
          display: var(--ww-style-display, none);
        }
      }
      .ww-e-dUa.ww-layout, .ww-e-dUa [data-ww-ls~="dUa"] {
        display: var(--ww-style-display, flex);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dUa.ww-layout, .ww-e-dUa [data-ww-ls~="dUa"] {
          display: var(--ww-style-display, none);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-dUb {
        align-self: unset;
        display: flex;
        width: 700px;
        max-width: unset;
        max-height: unset;
      }
      @media (max-width: 991px) {
        .ww-e-dUb {
          width: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUb {
          width: revert-layer;
          max-width: unset;
          height: auto;
          aspect-ratio: unset;
        }
      }
      .ww-e-dUb.ww-layout, .ww-e-dUb [data-ww-ls~="dUb"] {
        display: flex;
        flex-flow: wrap;
        align-items: stretch;
        align-content: revert-layer;
        gap: 10px;
      }
      @media (max-width: 767px) {
        .ww-e-dUb.ww-layout, .ww-e-dUb [data-ww-ls~="dUb"] {
          flex-flow: wrap;
          align-content: revert-layer;
          row-gap: 10px;
        }
      }
      .ww-e-dUc {
        max-width: 1000px;
      }
      @media (max-width: 767px) {
        .ww-e-dUc {
          max-width: unset;
        }
      }
      .ww-e-dUc.ww-layout, .ww-e-dUc [data-ww-ls~="dUc"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dUc.ww-layout, .ww-e-dUc [data-ww-ls~="dUc"] {
          flex-flow: column;
        }
      }
      .ww-e-dUe {
        margin: 0;
        padding: 6px;
        align-self: unset;
        width: revert-layer;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 12px;
        --ww-text-white-space: nowrap;
        --ww-text-overflow: hidden;
        --ww-text-text-overflow: initial;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 991px) {
        .ww-e-dUe {
          min-width: unset;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUe {
          display: block;
          max-width: unset;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      .ww-e-dUe:where(:hover) {
        color: #191919;
        background-color: #fdca00;
        transition: all 0.3s ease 0s;
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        --ww-element-transition: all 0.3s ease 0s;
      }
      .ww-e-dUe:where([data-ww-states~="N1thmi"]) {
        color: #191919;
        background-color: #fdca00;
      }
      @media (max-width: 767px) {
        .ww-e-dUf {
          width: 90%;
        }
      }
      .ww-e-dUf.ww-layout, .ww-e-dUf [data-ww-ls~="dUf"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-dUg {
        max-width: 1000px;
      }
      @media (max-width: 767px) {
        .ww-e-dUg {
          max-width: unset;
        }
      }
      .ww-e-dUg.ww-layout, .ww-e-dUg [data-ww-ls~="dUg"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dUg.ww-layout, .ww-e-dUg [data-ww-ls~="dUg"] {
          flex-flow: column;
        }
      }
      .ww-e-dUh {
        margin: 0;
        padding: 6px;
        align-self: unset;
        width: revert-layer;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 12px;
        --ww-text-white-space: nowrap;
        --ww-text-overflow: hidden;
        --ww-text-text-overflow: initial;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 991px) {
        .ww-e-dUh {
          min-width: unset;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUh {
          display: block;
          max-width: unset;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      .ww-e-dUh:where(:hover) {
        color: #191919;
        background-color: #fdca00;
        transition: all 0.3s ease 0s;
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        --ww-element-transition: all 0.3s ease 0s;
      }
      .ww-e-dUh:where([data-ww-states~="N1thmi"]) {
        color: #191919;
        background-color: #fdca00;
      }
      .ww-e-dUi {
        max-width: 1000px;
      }
      @media (max-width: 767px) {
        .ww-e-dUi {
          max-width: unset;
        }
      }
      .ww-e-dUi.ww-layout, .ww-e-dUi [data-ww-ls~="dUi"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-e-dUi.ww-layout, .ww-e-dUi [data-ww-ls~="dUi"] {
          align-items: center;
        }
      }
      .ww-e-dUj.ww-layout, .ww-e-dUj [data-ww-ls~="dUj"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dUk {
        margin: 0;
        padding: 6px;
        align-self: unset;
        width: revert-layer;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 12px;
        --ww-text-white-space: nowrap;
        --ww-text-overflow: hidden;
        --ww-text-text-overflow: initial;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 991px) {
        .ww-e-dUk {
          min-width: unset;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUk {
          display: block;
          max-width: unset;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      .ww-e-dUk:where(:hover) {
        color: #191919;
        background-color: #fdca00;
        transition: all 0.3s ease 0s;
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        --ww-element-transition: all 0.3s ease 0s;
      }
      .ww-e-dUk:where([data-ww-states~="N1thmi"]) {
        color: #191919;
        background-color: #fdca00;
      }
      @media (max-width: 767px) {
        .ww-e-dUl {
          width: 90%;
        }
      }
      .ww-e-dUl.ww-layout, .ww-e-dUl [data-ww-ls~="dUl"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-dUm {
        font-size: 12px;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dUm {
          text-align: center;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dUn {
        margin: 10px 0;
        padding: 12px 24px;
        width: auto;
        font-size: 12px;
        font-weight: 500;
        color: #000;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border: none;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      .ww-e-dUn:where(:hover) {
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dUo {
        padding: 12px;
        display: var(--ww-style-display, none);
        width: var(--ww-section-root-auto-width, revert-layer);
      }
      .ww-e-dUp {
        padding: 10px 16px;
        align-self: center;
        display: var(--ww-style-display, none);
        width: auto;
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dUp {
          display: var(--ww-style-display, none);
          font-size: 12px;
        }
      }
      .ww-e-dUp:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dUq {
        margin: 0 0 2px;
        font-size: 12px;
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dUr {
        font-size: 16px;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dUs {
        padding: 4px 12px;
        width: 100%;
        border-top: 0 none;
        border-bottom: 0 none;
        border-left: 1px solid #c0c4cc;
        border-right: 0 none;
        border-radius: 16px;
      }
      .ww-e-dUs.ww-layout, .ww-e-dUs [data-ww-ls~="dUs"] {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: stretch;
        align-content: revert-layer;
      }
      .ww-e-dUt {
        font-size: 16px;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dUu {
        padding: 0;
        width: 100%;
        height: auto;
        border-radius: 16px;
      }
      .ww-e-dUu.ww-layout, .ww-e-dUu [data-ww-ls~="dUu"] {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        align-content: revert-layer;
      }
      .ww-e-dUv {
        font-size: 16px;
        font-weight: initial;
        text-transform: none;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dUw {
        margin: 0 0 2px;
        font-size: 12px;
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dUx.ww-layout, .ww-e-dUx [data-ww-ls~="dUx"] {
        display: flex;
        flex-flow: column;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-e-dUx.ww-layout, .ww-e-dUx [data-ww-ls~="dUx"] {
          align-items: center;
        }
      }
      .ww-e-dUy.ww-layout, .ww-e-dUy [data-ww-ls~="dUy"] {
        display: flex;
        flex-flow: column;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-e-dUy.ww-layout, .ww-e-dUy [data-ww-ls~="dUy"] {
          align-items: center;
        }
      }
      .ww-e-dV1 {
        padding: 10px 16px;
        align-self: center;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dV1 {
          font-size: 12px;
        }
      }
      .ww-e-dV1:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dV2 {
        padding: 10px 16px;
        align-self: center;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dV2 {
          font-size: 12px;
        }
      }
      .ww-e-dV2:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dV3 {
        display: flex;
        width: var(--ww-section-root-auto-width, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dV3 {
          width: 100%;
        }
      }
      .ww-e-dV3.ww-layout, .ww-e-dV3 [data-ww-ls~="dV3"] {
        display: flex;
        flex-flow: column;
        gap: 40px 20px;
      }
      .ww-e-dV4 {
        width: 100%;
      }
      .ww-e-dV4.ww-layout, .ww-e-dV4 [data-ww-ls~="dV4"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: revert-layer;
      }
      .ww-e-dV5 {
        font-size: 16px;
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dV6 {
        padding: 5px;
        align-self: unset;
        width: 300px;
        min-width: unset;
        height: auto;
        aspect-ratio: unset;
        background-color: #333;
        border-radius: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dV6 {
          width: auto;
          min-width: unset;
        }
      }
      .ww-e-dV7.ww-layout, .ww-e-dV7 [data-ww-ls~="dV7"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dV8 {
        padding: 12px;
        display: var(--ww-style-display, none);
      }
      .ww-e-dV9 {
        padding: 10px 16px;
        align-self: flex-start;
        display: var(--ww-style-display, none);
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dV9 {
          font-size: 12px;
        }
      }
      .ww-e-dV9:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dVA {
        padding: 12px;
        display: var(--ww-style-display, none);
      }
      .ww-e-dVB.ww-layout, .ww-e-dVB [data-ww-ls~="dVB"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dVC {
        padding: 10px 16px;
        align-self: flex-start;
        display: var(--ww-style-display, none);
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dVC {
          font-size: 12px;
        }
      }
      .ww-e-dVC:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dVD {
        padding: 0;
        width: 300px;
        cursor: pointer;
        border: 0 solid #d1d5db;
        border-radius: 16px;
      }
      .ww-e-dVE {
        font-size: 12px;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dVE {
          text-align: center;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dVF {
        padding: 4px 12px;
        width: 100%;
        border-radius: 16px;
      }
      .ww-e-dVF.ww-layout, .ww-e-dVF [data-ww-ls~="dVF"] {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: stretch;
        align-content: revert-layer;
      }
      .ww-e-dVG.ww-layout, .ww-e-dVG [data-ww-ls~="dVG"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dVG.ww-layout, .ww-e-dVG [data-ww-ls~="dVG"] {
          align-items: center;
        }
      }
      .ww-e-dVH {
        font-size: 12px;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dVH {
          text-align: center;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dVI {
        font-size: 16px;
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dVJ {
        align-self: unset;
        display: flex;
        width: 700px;
        max-width: unset;
        max-height: unset;
      }
      @media (max-width: 991px) {
        .ww-e-dVJ {
          width: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dVJ {
          width: revert-layer;
          max-width: unset;
          height: auto;
          aspect-ratio: unset;
        }
      }
      .ww-e-dVJ.ww-layout, .ww-e-dVJ [data-ww-ls~="dVJ"] {
        display: flex;
        flex-flow: wrap;
        align-items: stretch;
        align-content: revert-layer;
        gap: 10px;
      }
      @media (max-width: 767px) {
        .ww-e-dVJ.ww-layout, .ww-e-dVJ [data-ww-ls~="dVJ"] {
          flex-flow: wrap;
          align-content: revert-layer;
          row-gap: 10px;
        }
      }
      .ww-e-dVK {
        padding: 5px;
        align-self: unset;
        width: 300px;
        min-width: unset;
        height: auto;
        aspect-ratio: unset;
        background-color: #333;
        border-radius: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dVK {
          width: auto;
          min-width: unset;
        }
      }
      .ww-e-dVL {
        padding: 5px;
        align-self: unset;
        width: 300px;
        min-width: unset;
        height: auto;
        aspect-ratio: unset;
        background-color: #333;
        border-radius: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dVL {
          width: auto;
          min-width: unset;
        }
      }
      .ww-e-dVM.ww-layout, .ww-e-dVM [data-ww-ls~="dVM"] {
        display: flex;
        flex-flow: column;
        row-gap: 30px;
      }
      .ww-e-dVN {
        font-size: 12px;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dVN {
          text-align: center;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dVO {
        margin: 0;
      }
      .ww-e-dVP {
        padding: 16px;
        display: flex;
        width: revert-layer;
        height: 16px;
        aspect-ratio: unset;
        background-color: #fdca0080;
        box-shadow: inset 0 1px 1px #78787880;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-play-state: running;
        animation-name: ww-keyframes-element-11350b12-5ee6-4a43-9a2e-90502ab46218-base-default;
        border-radius: 16px;
      }
      @keyframes ww-keyframes-element-11350b12-5ee6-4a43-9a2e-90502ab46218-base-default {
        0% {
          opacity: 0;
          transform: translateY(-10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dVP {
          padding: 12px;
          width: revert-layer;
          height: 12px;
        }
      }
      .ww-e-dVP.ww-layout, .ww-e-dVP [data-ww-ls~="dVP"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-dVQ {
        display: block;
        font-size: 16px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        cursor: auto;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-12dbc2c6-e5e2-4ac1-8048-7babf81f63c3-base-default;
      }
      @keyframes ww-keyframes-element-12dbc2c6-e5e2-4ac1-8048-7babf81f63c3-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dVQ {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dVQ {
          display: block;
          font-size: 12px;
        }
      }
      .ww-e-dVR {
        display: flex;
        width: 100%;
        max-width: 1200px;
      }
      @media (max-width: 767px) {
        .ww-e-dVR {
          padding: 15px;
          z-index: 100;
          display: flex;
          position: sticky;
          top: 0;
          max-width: unset;
          background: var(--ww-style-background-color);
          transition: all 0.3s ease 0s;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dVR:where([data-ww-states~="ncknsA"]) {
          top: 2%;
          width: 90%;
          background-color: #19191980;
          box-shadow: 0 1px 2px #78787833;
          border-radius: 16px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dVR:where([data-ww-states~="1T06Qr"]) {
          background-color: #ebebeb80;
        }
      }
      .ww-e-dVR.ww-layout, .ww-e-dVR [data-ww-ls~="dVR"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        row-gap: 40px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dVR.ww-layout, .ww-e-dVR [data-ww-ls~="dVR"] {
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          align-items: stretch;
          row-gap: 40px;
        }
      }
      .ww-e-dVS {
        align-self: unset;
        flex: 0 1 auto;
        font-size: 14px;
        font-weight: 600;
        color: #000;
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dVS {
          font-size: 12px;
          font-weight: 600;
        }
      }
      .ww-e-dVT {
        width: 100%;
      }
      @media (max-width: 767px) {
        .ww-e-dVT {
          overflow: auto;
          display: flex;
          position: revert-layer;
          inset: revert-layer;
          background-color: #0000;
        }
      }
      .ww-e-dVT.ww-layout, .ww-e-dVT [data-ww-ls~="dVT"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 991px) {
        .ww-e-dVT.ww-layout, .ww-e-dVT [data-ww-ls~="dVT"] {
          justify-content: center;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dVT.ww-layout, .ww-e-dVT [data-ww-ls~="dVT"] {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          column-gap: 10px;
          flex-wrap: revert-layer;
        }
      }
    }
  }
  @layer custom {
    .ww-e-dUW {
      backdrop-filter: blur(4px);
    }
    @media (max-width: 767px) {
      .ww-e-dVR:where([data-ww-states~="ncknsA"]) {
        backdrop-filter: blur(10px);
      }
    }
  }
}
@layer ww-style-layout-override {
}
