@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Vl7bPWcpf-HYgY1D {
        height: auto;
        z-index: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-Y6MTqAnlYkTtOtmG {
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-dM {
        min-height: 1200px;
        background: var(--ww-style-background-color);
      }
      @media (max-width: 767px) {
        .ww-s-dM {
          height: auto;
          aspect-ratio: unset;
          margin: 0;
          min-height: 1200px;
        }
      }
      .ww-s-dM > .ww-section-element {
        width: 100%;
        padding: 120px 64px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-dM > .ww-section-element {
          width: 100%;
          padding: 32px 16px 128px;
          min-height: 1200px;
        }
      }
      .ww-s-dM > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 50px;
      }
      @media (max-width: 767px) {
        .ww-s-dM > .ww-section-element.ww-layout {
          row-gap: 40px;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-dQVf4AfE6DwFXRwu {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-2XmtwZSC2Y1t00Nv {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-BUy5c_7mQD_pnjJN {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-Wf3kR1fDZCtNqRYp {
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-GY9OD6k0O9NAwLah {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-qqyEbfFlgYFLR-KT {
        margin: 0;
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-e64GhYcJHEm1j0gb {
        margin: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-1263zm1SrXK1GJZQ {
        margin: 0;
        padding: 0;
        z-index: unset;
        min-width: unset;
        height: auto;
        min-height: unset;
      }
      .ww-a-2MXhXlVHrdKM1K4g {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-6GOhhIoAx0jRKIia {
        margin: 0;
        padding: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4RoHNZRxGrkSNyJL {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-osFt1bovyjmw1wCr {
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-musbR7AL09vB7JZp {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-62B4z2iQ-iPYknmh {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-iVX9xAOhxPh0TDna {
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-XMNgqUZITcWnfqZ3 {
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-JHTUrsi5weKcajAQ {
        margin: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-u-w_kYfT7D3GBKvP {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-ojR9yNVv0aSDeAdG {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-fKo7xotRqyrxdbG4 {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jY00-auMuYX_Yaxn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        width: auto;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-Km-a_vLqZYKzg1qQ {
        margin: 0;
        z-index: unset;
        width: auto;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-hrle4cgh7E0q5WYv {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-H4TZlWGl0PlJ7ldL {
        margin: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YF0k00I-Mi8zOhMt {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jmcmduGw2BpHZ9RI {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-xcvtKf9v4YXjru0H {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Fijzlf8jhln2zwt7 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-CQC-UYJF9-3biM3_ {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-dTM {
        margin: 0;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dTM {
          margin: 0;
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dTN {
        font-size: 12px;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dTN {
          text-align: center;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dTO {
        align-self: var(--ww-section-root-auto-align, unset);
        display: grid;
        position: revert-layer;
        inset: revert-layer;
        width: var(--ww-section-root-auto-width, revert-layer);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
      }
      @media (max-width: 991px) {
        .ww-e-dTO {
          display: grid;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTO {
          align-self: center;
          display: flex;
          width: 100%;
          flex: 0 1 auto;
        }
      }
      .ww-e-dTO.ww-layout, .ww-e-dTO [data-ww-ls~="dTO"] {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 30px;
      }
      @media (max-width: 991px) {
        .ww-e-dTO.ww-layout, .ww-e-dTO [data-ww-ls~="dTO"] {
          display: grid;
          grid-auto-flow: row;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTO.ww-layout, .ww-e-dTO [data-ww-ls~="dTO"] {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: stretch;
          gap: 15px 0;
        }
      }
      .ww-e-dTP {
        width: 18px;
        height: auto;
        transition: all 0.2s ease;
      }
      .ww-e-dTP:where([data-ww-states~="2w7mmz"]) {
        transition: all 0.2s ease;
      }
      .ww-e-dTQ {
        align-self: unset;
        flex: 0 1 auto;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
      }
      @media (max-width: 767px) {
        .ww-e-dTQ {
          font-size: 12px;
        }
      }
      .ww-e-dTR {
        margin: 0;
        padding: 0;
        position: revert-layer;
        inset: revert-layer;
        font-size: 14px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dTR {
          font-size: 12px;
        }
      }
      .ww-e-dTS {
        margin: 0;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dTS {
          margin: 5px 0 10px;
          font-size: 16px;
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
          --ww-text-text-overflow: ellipsis;
        }
      }
      .ww-e-dTT {
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dTT {
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dTU {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        border-radius: 12px;
        --wwi-ar: unset;
        --wwi-of: cover;
      }
      @media (max-width: 767px) {
        .ww-e-dTU {
          display: block;
          width: 100px;
          height: 100%;
          --wwi-of: cover;
        }
      }
      .ww-e-dTU:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        transform: scale(1.05);
      }
      .ww-e-dTV {
        padding: 5px;
        align-self: flex-start;
        width: 20px;
        height: 20px;
        aspect-ratio: unset;
        background: var(--ww-style-background-color);
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dTV {
          margin: 10px 0;
          padding: 5px;
          align-self: unset;
          width: 20px;
          height: 20px;
          aspect-ratio: unset;
        }
      }
      .ww-e-dTV.ww-layout, .ww-e-dTV [data-ww-ls~="dTV"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-dTW {
        padding: 6px;
        z-index: 1;
        display: var(--ww-style-display);
        position: absolute;
        top: 12px;
        left: 12px;
        background: var(--ww-style-background-color);
        opacity: 1;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dTW {
          padding: 4px;
        }
      }
      .ww-e-dTW.ww-layout, .ww-e-dTW [data-ww-ls~="dTW"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dTW.ww-layout, .ww-e-dTW [data-ww-ls~="dTW"] {
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        }
      }
      .ww-e-dTX {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dTX.ww-layout, .ww-e-dTX [data-ww-ls~="dTX"] {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        flex-wrap: revert-layer;
      }
      .ww-e-dTY {
        margin: 0;
      }
      @media (max-width: 767px) {
        .ww-e-dTY {
          width: revert-layer;
          height: auto;
          aspect-ratio: unset;
          min-height: unset;
        }
      }
      .ww-e-dTY.ww-layout, .ww-e-dTY [data-ww-ls~="dTY"] {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dTY.ww-layout, .ww-e-dTY [data-ww-ls~="dTY"] {
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-start;
          row-gap: 5px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTZ {
          width: 90%;
        }
      }
      .ww-e-dTZ.ww-layout, .ww-e-dTZ [data-ww-ls~="dTZ"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-dTa {
        align-self: unset;
        display: flex;
        width: 700px;
        max-width: unset;
        max-height: unset;
      }
      @media (max-width: 991px) {
        .ww-e-dTa {
          width: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTa {
          width: revert-layer;
          max-width: unset;
          height: auto;
          aspect-ratio: unset;
        }
      }
      .ww-e-dTa.ww-layout, .ww-e-dTa [data-ww-ls~="dTa"] {
        display: flex;
        flex-flow: wrap;
        align-items: stretch;
        align-content: revert-layer;
        gap: 10px;
      }
      @media (max-width: 767px) {
        .ww-e-dTa.ww-layout, .ww-e-dTa [data-ww-ls~="dTa"] {
          flex-flow: wrap;
          align-content: revert-layer;
          row-gap: 10px;
        }
      }
      .ww-e-dTc {
        padding: 20px;
        align-self: unset;
        display: block;
        width: revert-layer;
        height: auto;
        aspect-ratio: unset;
        font-size: 16px;
        font-family: var(--ww-default-font-family);
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dTe {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-dTf {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-dTg {
        z-index: 1;
        display: flex;
        position: absolute;
        top: 12px;
        right: 12px;
        width: 32px;
        height: 32px;
        background-color: #252525cc;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 50%;
      }
      @media (max-width: 991px) {
        .ww-e-dTg {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTg {
          display: none;
        }
      }
      .ww-e-dTg:where(:hover) {
        display: flex;
        background-color: #252525;
      }
      .ww-e-dTg.ww-layout, .ww-e-dTg [data-ww-ls~="dTg"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      @media (max-width: 991px) {
        .ww-e-dTg.ww-layout, .ww-e-dTg [data-ww-ls~="dTg"] {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTg.ww-layout, .ww-e-dTg [data-ww-ls~="dTg"] {
          display: none;
        }
      }
      .ww-e-dTg.ww-layout:where(:hover), .ww-e-dTg [data-ww-ls~="dTg"]:where(:hover) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-dTh {
        padding: 0;
        overflow: hidden;
        display: block;
        position: revert-layer;
        inset: revert-layer;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dTh {
          width: 100px;
          height: 150px;
          aspect-ratio: unset;
        }
      }
      .ww-e-dTh.ww-layout, .ww-e-dTh [data-ww-ls~="dTh"] {
        display: block;
      }
      .ww-e-dTi {
        margin: 10px 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dTi {
          align-self: unset;
          display: flex;
          width: 200px;
          flex: 0 1 auto;
        }
      }
      .ww-e-dTi.ww-layout, .ww-e-dTi [data-ww-ls~="dTi"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dTi.ww-layout, .ww-e-dTi [data-ww-ls~="dTi"] {
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          align-items: flex-start;
        }
      }
      .ww-e-dTj {
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        width: 200px;
        height: auto;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: translateY(0);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-c6e43cc3-abfb-4258-8af1-a62ee03f2647-base-default;
      }
      @keyframes ww-keyframes-element-c6e43cc3-abfb-4258-8af1-a62ee03f2647-base-default {
        0% {
        }
        100% {
        }
      }
      @media (max-width: 991px) {
        .ww-e-dTj {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTj {
          align-self: unset;
          display: flex;
          width: 100%;
          height: auto;
          aspect-ratio: unset;
          border-radius: 12px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTj:where(:hover) {
          background-color: #ffffff0d;
        }
      }
      .ww-e-dTj.ww-layout, .ww-e-dTj [data-ww-ls~="dTj"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 991px) {
        .ww-e-dTj.ww-layout, .ww-e-dTj [data-ww-ls~="dTj"] {
          display: flex;
          flex-flow: column;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTj.ww-layout, .ww-e-dTj [data-ww-ls~="dTj"] {
          display: flex;
          flex-flow: row;
          justify-content: flex-start;
          align-items: stretch;
          align-content: revert-layer;
          gap: 0 15px;
        }
      }
      .ww-e-dTk {
        align-self: var(--ww-section-root-auto-align, unset);
        display: var(--ww-style-display, flex);
        width: 100%;
      }
      @media (max-width: 767px) {
        .ww-e-dTk {
          display: var(--ww-style-display, none);
        }
      }
      .ww-e-dTk.ww-layout, .ww-e-dTk [data-ww-ls~="dTk"] {
        display: var(--ww-style-display, flex);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dTk.ww-layout, .ww-e-dTk [data-ww-ls~="dTk"] {
          display: var(--ww-style-display, none);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-dTl {
        align-self: unset;
        display: flex;
        width: 700px;
        max-width: unset;
        max-height: unset;
      }
      @media (max-width: 991px) {
        .ww-e-dTl {
          width: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTl {
          width: revert-layer;
          max-width: unset;
          height: auto;
          aspect-ratio: unset;
        }
      }
      .ww-e-dTl.ww-layout, .ww-e-dTl [data-ww-ls~="dTl"] {
        display: flex;
        flex-flow: wrap;
        align-items: stretch;
        align-content: revert-layer;
        gap: 10px;
      }
      @media (max-width: 767px) {
        .ww-e-dTl.ww-layout, .ww-e-dTl [data-ww-ls~="dTl"] {
          flex-flow: wrap;
          align-content: revert-layer;
          row-gap: 10px;
        }
      }
      .ww-e-dTm {
        max-width: 1000px;
      }
      @media (max-width: 767px) {
        .ww-e-dTm {
          max-width: unset;
        }
      }
      .ww-e-dTm.ww-layout, .ww-e-dTm [data-ww-ls~="dTm"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dTm.ww-layout, .ww-e-dTm [data-ww-ls~="dTm"] {
          flex-flow: column;
        }
      }
      .ww-e-dTo {
        margin: 0;
        padding: 6px;
        align-self: unset;
        width: revert-layer;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 12px;
        --ww-text-white-space: nowrap;
        --ww-text-overflow: hidden;
        --ww-text-text-overflow: initial;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 991px) {
        .ww-e-dTo {
          min-width: unset;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTo {
          display: block;
          max-width: unset;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      .ww-e-dTo:where(:hover) {
        color: #191919;
        background-color: #fdca00;
        transition: all 0.3s ease 0s;
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        --ww-element-transition: all 0.3s ease 0s;
      }
      .ww-e-dTo:where([data-ww-states~="N1thmi"]) {
        color: #191919;
        background-color: #fdca00;
      }
      @media (max-width: 767px) {
        .ww-e-dTp {
          width: 90%;
        }
      }
      .ww-e-dTp.ww-layout, .ww-e-dTp [data-ww-ls~="dTp"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-dTq {
        max-width: 1000px;
      }
      @media (max-width: 767px) {
        .ww-e-dTq {
          max-width: unset;
        }
      }
      .ww-e-dTq.ww-layout, .ww-e-dTq [data-ww-ls~="dTq"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dTq.ww-layout, .ww-e-dTq [data-ww-ls~="dTq"] {
          flex-flow: column;
        }
      }
      .ww-e-dTr {
        margin: 0;
        padding: 6px;
        align-self: unset;
        width: revert-layer;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 12px;
        --ww-text-white-space: nowrap;
        --ww-text-overflow: hidden;
        --ww-text-text-overflow: initial;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 991px) {
        .ww-e-dTr {
          min-width: unset;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTr {
          display: block;
          max-width: unset;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      .ww-e-dTr:where(:hover) {
        color: #191919;
        background-color: #fdca00;
        transition: all 0.3s ease 0s;
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        --ww-element-transition: all 0.3s ease 0s;
      }
      .ww-e-dTr:where([data-ww-states~="N1thmi"]) {
        color: #191919;
        background-color: #fdca00;
      }
      .ww-e-dTs {
        max-width: 1000px;
      }
      @media (max-width: 767px) {
        .ww-e-dTs {
          max-width: unset;
        }
      }
      .ww-e-dTs.ww-layout, .ww-e-dTs [data-ww-ls~="dTs"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-e-dTs.ww-layout, .ww-e-dTs [data-ww-ls~="dTs"] {
          align-items: center;
        }
      }
      .ww-e-dTt.ww-layout, .ww-e-dTt [data-ww-ls~="dTt"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dTu {
        margin: 0;
        padding: 6px;
        align-self: unset;
        width: revert-layer;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 12px;
        --ww-text-white-space: nowrap;
        --ww-text-overflow: hidden;
        --ww-text-text-overflow: initial;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 991px) {
        .ww-e-dTu {
          min-width: unset;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTu {
          display: block;
          max-width: unset;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      .ww-e-dTu:where(:hover) {
        color: #191919;
        background-color: #fdca00;
        transition: all 0.3s ease 0s;
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        --ww-element-transition: all 0.3s ease 0s;
      }
      .ww-e-dTu:where([data-ww-states~="N1thmi"]) {
        color: #191919;
        background-color: #fdca00;
      }
      @media (max-width: 767px) {
        .ww-e-dTv {
          width: 90%;
        }
      }
      .ww-e-dTv.ww-layout, .ww-e-dTv [data-ww-ls~="dTv"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-dTw {
        font-size: 12px;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dTw {
          text-align: center;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dTx {
        margin: 10px 0;
        padding: 12px 24px;
        width: auto;
        font-size: 12px;
        font-weight: 500;
        color: #000;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border: none;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      .ww-e-dTx:where(:hover) {
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dTy {
        padding: 12px;
        display: var(--ww-style-display, none);
        width: var(--ww-section-root-auto-width, revert-layer);
      }
      .ww-e-dTz {
        padding: 10px 16px;
        align-self: center;
        display: var(--ww-style-display, none);
        width: auto;
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dTz {
          display: var(--ww-style-display, none);
          font-size: 12px;
        }
      }
      .ww-e-dTz:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dU0 {
        margin: 0 0 2px;
        font-size: 12px;
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dU1 {
        font-size: 16px;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dU2 {
        padding: 4px 12px;
        width: 100%;
        border-top: 0 none;
        border-bottom: 0 none;
        border-left: 1px solid #c0c4cc;
        border-right: 0 none;
        border-radius: 16px;
      }
      .ww-e-dU2.ww-layout, .ww-e-dU2 [data-ww-ls~="dU2"] {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: stretch;
        align-content: revert-layer;
      }
      .ww-e-dU3 {
        font-size: 16px;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dU4 {
        padding: 0;
        width: 100%;
        height: auto;
        border-radius: 16px;
      }
      .ww-e-dU4.ww-layout, .ww-e-dU4 [data-ww-ls~="dU4"] {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        align-content: revert-layer;
      }
      .ww-e-dU5 {
        font-size: 16px;
        font-weight: initial;
        text-transform: none;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dU6 {
        margin: 0 0 2px;
        font-size: 12px;
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dU7.ww-layout, .ww-e-dU7 [data-ww-ls~="dU7"] {
        display: flex;
        flex-flow: column;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-e-dU7.ww-layout, .ww-e-dU7 [data-ww-ls~="dU7"] {
          align-items: center;
        }
      }
      .ww-e-dU8.ww-layout, .ww-e-dU8 [data-ww-ls~="dU8"] {
        display: flex;
        flex-flow: column;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-e-dU8.ww-layout, .ww-e-dU8 [data-ww-ls~="dU8"] {
          align-items: center;
        }
      }
      .ww-e-dUB {
        padding: 10px 16px;
        align-self: center;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dUB {
          font-size: 12px;
        }
      }
      .ww-e-dUB:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dUC {
        padding: 10px 16px;
        align-self: center;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dUC {
          font-size: 12px;
        }
      }
      .ww-e-dUC:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dUD {
        display: flex;
        width: var(--ww-section-root-auto-width, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dUD {
          width: 100%;
        }
      }
      .ww-e-dUD.ww-layout, .ww-e-dUD [data-ww-ls~="dUD"] {
        display: flex;
        flex-flow: column;
        gap: 40px 20px;
      }
      .ww-e-dUE {
        width: 100%;
      }
      .ww-e-dUE.ww-layout, .ww-e-dUE [data-ww-ls~="dUE"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: revert-layer;
      }
      .ww-e-dUF {
        font-size: 16px;
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dUG {
        padding: 5px;
        align-self: unset;
        width: 300px;
        min-width: unset;
        height: auto;
        aspect-ratio: unset;
        background-color: #333;
        border-radius: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dUG {
          width: auto;
          min-width: unset;
        }
      }
      .ww-e-dUH.ww-layout, .ww-e-dUH [data-ww-ls~="dUH"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dUI {
        padding: 12px;
        display: var(--ww-style-display, none);
      }
      .ww-e-dUJ {
        padding: 10px 16px;
        align-self: flex-start;
        display: var(--ww-style-display, none);
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dUJ {
          font-size: 12px;
        }
      }
      .ww-e-dUJ:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dUK {
        padding: 12px;
        display: var(--ww-style-display, none);
      }
      .ww-e-dUL.ww-layout, .ww-e-dUL [data-ww-ls~="dUL"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dUM {
        padding: 10px 16px;
        align-self: flex-start;
        display: var(--ww-style-display, none);
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dUM {
          font-size: 12px;
        }
      }
      .ww-e-dUM:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dUN {
        padding: 0;
        width: 300px;
        cursor: pointer;
        border: 0 solid #d1d5db;
        border-radius: 16px;
      }
      .ww-e-dUO {
        font-size: 12px;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dUO {
          text-align: center;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dUP {
        padding: 4px 12px;
        width: 100%;
        border-radius: 16px;
      }
      .ww-e-dUP.ww-layout, .ww-e-dUP [data-ww-ls~="dUP"] {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: stretch;
        align-content: revert-layer;
      }
      .ww-e-dUQ.ww-layout, .ww-e-dUQ [data-ww-ls~="dUQ"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dUQ.ww-layout, .ww-e-dUQ [data-ww-ls~="dUQ"] {
          align-items: center;
        }
      }
      .ww-e-dUR {
        font-size: 12px;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dUR {
          text-align: center;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dUS {
        font-size: 16px;
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dUT {
        align-self: unset;
        display: flex;
        width: 700px;
        max-width: unset;
        max-height: unset;
      }
      @media (max-width: 991px) {
        .ww-e-dUT {
          width: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUT {
          width: revert-layer;
          max-width: unset;
          height: auto;
          aspect-ratio: unset;
        }
      }
      .ww-e-dUT.ww-layout, .ww-e-dUT [data-ww-ls~="dUT"] {
        display: flex;
        flex-flow: wrap;
        align-items: stretch;
        align-content: revert-layer;
        gap: 10px;
      }
      @media (max-width: 767px) {
        .ww-e-dUT.ww-layout, .ww-e-dUT [data-ww-ls~="dUT"] {
          flex-flow: wrap;
          align-content: revert-layer;
          row-gap: 10px;
        }
      }
      .ww-e-dUU {
        padding: 5px;
        align-self: unset;
        width: 300px;
        min-width: unset;
        height: auto;
        aspect-ratio: unset;
        background-color: #333;
        border-radius: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dUU {
          width: auto;
          min-width: unset;
        }
      }
      .ww-e-dUV {
        padding: 5px;
        align-self: unset;
        width: 300px;
        min-width: unset;
        height: auto;
        aspect-ratio: unset;
        background-color: #333;
        border-radius: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dUV {
          width: auto;
          min-width: unset;
        }
      }
      .ww-e-dUW.ww-layout, .ww-e-dUW [data-ww-ls~="dUW"] {
        display: flex;
        flex-flow: column;
        row-gap: 30px;
      }
      .ww-e-dUX {
        font-size: 12px;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dUX {
          text-align: center;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dUY {
        margin: 0;
      }
      .ww-e-dUZ {
        padding: 16px;
        display: flex;
        width: revert-layer;
        height: 16px;
        aspect-ratio: unset;
        background-color: #fdca0080;
        box-shadow: inset 0 1px 1px #78787880;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-play-state: running;
        animation-name: ww-keyframes-element-11350b12-5ee6-4a43-9a2e-90502ab46218-base-default;
        border-radius: 16px;
      }
      @keyframes ww-keyframes-element-11350b12-5ee6-4a43-9a2e-90502ab46218-base-default {
        0% {
          opacity: 0;
          transform: translateY(-10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUZ {
          padding: 12px;
          width: revert-layer;
          height: 12px;
        }
      }
      .ww-e-dUZ.ww-layout, .ww-e-dUZ [data-ww-ls~="dUZ"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-dUa {
        display: block;
        font-size: 16px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        cursor: auto;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-12dbc2c6-e5e2-4ac1-8048-7babf81f63c3-base-default;
      }
      @keyframes ww-keyframes-element-12dbc2c6-e5e2-4ac1-8048-7babf81f63c3-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dUa {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUa {
          display: block;
          font-size: 12px;
        }
      }
      .ww-e-dUb {
        display: flex;
        width: 100%;
        max-width: 1200px;
      }
      @media (max-width: 767px) {
        .ww-e-dUb {
          padding: 15px;
          z-index: 100;
          display: flex;
          position: sticky;
          top: 0;
          max-width: unset;
          background: var(--ww-style-background-color);
          transition: all 0.3s ease 0s;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUb:where([data-ww-states~="ncknsA"]) {
          top: 2%;
          width: 90%;
          background-color: #19191980;
          box-shadow: 0 1px 2px #78787833;
          border-radius: 16px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUb:where([data-ww-states~="1T06Qr"]) {
          background-color: #ebebeb80;
        }
      }
      .ww-e-dUb.ww-layout, .ww-e-dUb [data-ww-ls~="dUb"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        row-gap: 40px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dUb.ww-layout, .ww-e-dUb [data-ww-ls~="dUb"] {
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          align-items: stretch;
          row-gap: 40px;
        }
      }
      .ww-e-dUc {
        align-self: unset;
        flex: 0 1 auto;
        font-size: 14px;
        font-weight: 600;
        color: #000;
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dUc {
          font-size: 12px;
          font-weight: 600;
        }
      }
      .ww-e-dUd {
        width: 100%;
      }
      @media (max-width: 767px) {
        .ww-e-dUd {
          overflow: auto;
          display: flex;
          position: revert-layer;
          inset: revert-layer;
          background-color: #0000;
        }
      }
      .ww-e-dUd.ww-layout, .ww-e-dUd [data-ww-ls~="dUd"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 991px) {
        .ww-e-dUd.ww-layout, .ww-e-dUd [data-ww-ls~="dUd"] {
          justify-content: center;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUd.ww-layout, .ww-e-dUd [data-ww-ls~="dUd"] {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          column-gap: 10px;
          flex-wrap: revert-layer;
        }
      }
    }
  }
  @layer custom {
    .ww-e-dTg {
      backdrop-filter: blur(4px);
    }
    @media (max-width: 767px) {
      .ww-e-dUb:where([data-ww-states~="ncknsA"]) {
        backdrop-filter: blur(10px);
      }
    }
  }
}
@layer ww-style-layout-override {
}
