@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-ah5kXiW44wImNtcA {
        height: auto;
        z-index: unset;
        max-height: unset;
      }
      .ww-a-Y6MTqAnlYkTtOtmG {
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-d8 {
        margin: 0;
        min-height: 1200px;
        display: flex;
        background: var(--ww-style-background-color);
        position: revert-layer;
        inset: revert-layer;
        width: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-s-d8 {
          margin: 0;
          overflow: auto;
          min-height: 1200px;
        }
      }
      .ww-s-d8 > .ww-section-element {
        width: 100%;
        padding: 120px 32px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-d8 > .ww-section-element {
          --ww-section-root-auto-align: center;
          --ww-section-root-auto-width: 100%;
          width: 100%;
          padding: 64px 16px 128px;
          min-height: 1200px;
        }
      }
      .ww-s-d8 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: center;
      }
      @media (max-width: 767px) {
        .ww-s-d8 > .ww-section-element.ww-layout {
          align-items: stretch;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-dQVf4AfE6DwFXRwu {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-eCMaaPUTIERimuVG {
        margin: 0;
        z-index: unset;
        max-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YF0k00I-Mi8zOhMt {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-7dxAqErApSSqFalm {
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-oD8b5Gow0Chk0AYK {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-musbR7AL09vB7JZp {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Pl_ddFv4O7h7sQ1q {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4RoHNZRxGrkSNyJL {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-osFt1bovyjmw1wCr {
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-6GOhhIoAx0jRKIia {
        margin: 0;
        padding: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-e64GhYcJHEm1j0gb {
        margin: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2MXhXlVHrdKM1K4g {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-0XtwMMjcpjxcaUFe {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-EFbekEDt-bxLyKV- {
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YP1sznfDWeKOxiXA {
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
    }
    @layer ordered {
      .ww-e-d7U {
        font-size: 16px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-d7U {
          padding: 5px;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          color: var(--ww-content-ww-text-color);
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
        }
      }
      .ww-e-d7V {
        margin: 0;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-d7V {
          margin: 0;
          font-size: 12px;
          font-weight: 600;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-d7W {
        padding: 0;
        align-self: unset;
        display: grid;
        position: revert-layer;
        inset: revert-layer;
        width: revert-layer;
        flex: 0 1 auto;
        min-width: 900px;
        height: auto;
        aspect-ratio: unset;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
      }
      @media (max-width: 991px) {
        .ww-e-d7W {
          display: grid;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7W {
          padding: 0 10px;
          align-self: center;
          display: flex;
          width: 100%;
          min-width: unset;
        }
      }
      .ww-e-d7W.ww-layout, .ww-e-d7W [data-ww-ls~="d7W"] {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px 20px;
      }
      @media (max-width: 991px) {
        .ww-e-d7W.ww-layout, .ww-e-d7W [data-ww-ls~="d7W"] {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 30px 20px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7W.ww-layout, .ww-e-d7W [data-ww-ls~="d7W"] {
          display: flex;
          flex-flow: wrap;
          place-content: stretch space-between;
          align-items: stretch;
          gap: 15px 5px;
        }
      }
      .ww-e-d7X {
        width: 16px;
      }
      .ww-e-d7Y {
        padding: 12px;
        display: var(--ww-style-display, none);
      }
      @media (max-width: 767px) {
        .ww-e-d7Y {
          display: var(--ww-style-display, none);
        }
      }
      .ww-e-d7Z {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-d7a {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-d7b {
        width: 32px;
        height: auto;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(180deg) rotateZ(0);
      }
      .ww-e-d7c {
        margin: 10px 0;
        padding: 0 25px;
        position: revert-layer;
        inset: revert-layer;
        width: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-d7c {
          align-self: unset;
        }
      }
      .ww-e-d7c.ww-layout, .ww-e-d7c [data-ww-ls~="d7c"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px 20px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-d7c.ww-layout, .ww-e-d7c [data-ww-ls~="d7c"] {
          flex-direction: row;
          justify-content: center;
          align-items: center;
          row-gap: 10px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-d7d {
        align-self: var(--ww-section-root-auto-align, unset);
        width: 100%;
        max-width: 1200px;
      }
      @media (max-width: 767px) {
        .ww-e-d7d {
          margin: 0;
          width: var(--ww-section-root-auto-width, revert-layer);
        }
      }
      .ww-e-d7d.ww-layout, .ww-e-d7d [data-ww-ls~="d7d"] {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 50px;
      }
      @media (max-width: 767px) {
        .ww-e-d7d.ww-layout, .ww-e-d7d [data-ww-ls~="d7d"] {
          row-gap: 40px;
        }
      }
      .ww-e-d7e {
        font-size: 14px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-72630787-ef73-498f-aef2-b8253b4d8371-base-default;
      }
      @keyframes ww-keyframes-element-72630787-ef73-498f-aef2-b8253b4d8371-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-d7e {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7e {
          margin: 0;
          display: block;
          width: revert-layer;
          font-size: 14px;
          font-weight: 500;
          text-align: center;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-d7f {
        align-self: unset;
        display: flex;
        width: 25px;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(180deg) rotateZ(0);
      }
      @media (max-width: 767px) {
        .ww-e-d7f {
          padding: 10px;
          width: 50px;
        }
      }
      .ww-e-d7g {
        margin: 100px 0;
        display: var(--ww-style-display, none);
      }
      @media (max-width: 767px) {
        .ww-e-d7g {
          margin: 100px 0;
          padding: 0;
          display: var(--ww-style-display, none);
        }
      }
      .ww-e-d7g.ww-layout, .ww-e-d7g [data-ww-ls~="d7g"] {
        display: var(--ww-style-display, none);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-d7g.ww-layout, .ww-e-d7g [data-ww-ls~="d7g"] {
          display: var(--ww-style-display, none);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-d7h {
        width: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-d7h {
          width: 14px;
        }
      }
      .ww-e-d7i {
        margin: 0;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-d7i {
          margin: 0;
          font-size: 12px;
          font-weight: 600;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-d7j {
        padding: 0 5px;
        display: flex;
        width: 50px;
        height: auto;
        cursor: auto;
        transition: all 0.3s ease 0s;
        border-radius: 0;
      }
      @media (max-width: 767px) {
        .ww-e-d7j {
          width: 30px;
        }
      }
      .ww-e-d7k {
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        width: revert-layer;
        height: auto;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: translateY(0);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-9afa969f-5e55-4bd6-bd15-b273c25caeff-base-default;
        border-radius: 16px;
      }
      @keyframes ww-keyframes-element-9afa969f-5e55-4bd6-bd15-b273c25caeff-base-default {
        0% {
        }
        100% {
        }
      }
      @media (max-width: 991px) {
        .ww-e-d7k {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7k {
          display: flex;
          width: revert-layer;
          height: auto;
          aspect-ratio: unset;
          border-radius: 12px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7k:where(:hover) {
          background-color: #fff0;
        }
      }
      .ww-e-d7k.ww-layout, .ww-e-d7k [data-ww-ls~="d7k"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 991px) {
        .ww-e-d7k.ww-layout, .ww-e-d7k [data-ww-ls~="d7k"] {
          display: flex;
          flex-flow: column;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7k.ww-layout, .ww-e-d7k [data-ww-ls~="d7k"] {
          display: flex;
          flex-flow: column;
          align-items: center;
          column-gap: 15px;
        }
      }
      .ww-e-d7l {
        z-index: unset;
        display: var(--ww-style-display);
        position: revert-layer;
        inset: revert-layer;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: scale3d(.95, .95, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        border-radius: 32px;
        --wwi-ar: unset;
        --wwi-of: cover;
      }
      @media (max-width: 767px) {
        .ww-e-d7l {
          width: 150px;
          height: 100%;
          transform: scale3d(.95, .95, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        }
      }
      .ww-e-d7l:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        width: 100%;
        height: 100%;
        transform: scale3d(.9, .9, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      @media (max-width: 767px) {
        .ww-e-d7l:where(:hover) {
          transform: scale3d(.85, .85, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        }
      }
      .ww-e-d7m {
        padding: 5px 10px;
        z-index: 101;
        display: var(--ww-style-display);
        position: absolute;
        inset: 43% 40%;
        background: var(--ww-style-background-color);
        box-shadow: inset 0 1px 1px #78787840;
        border-radius: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-d7m {
          inset: 40% 35%;
        }
      }
      .ww-e-d7m.ww-layout, .ww-e-d7m [data-ww-ls~="d7m"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-d7n {
        padding: 0 5px;
        display: flex;
        width: 30px;
        height: auto;
        cursor: auto;
        transition: all 0.3s ease 0s;
        border-radius: 0;
      }
      @media (max-width: 767px) {
        .ww-e-d7n {
          width: 30px;
        }
      }
      .ww-e-d7o {
        padding: 0;
        overflow: hidden;
        align-self: unset;
        display: block;
        position: revert-layer;
        inset: revert-layer;
        width: 280px;
        height: 280px;
        aspect-ratio: unset;
        background: var(--ww-style-background-color);
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border: 0 solid #fff;
        border-radius: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-d7o {
          align-self: unset;
          width: 150px;
          height: 150px;
          aspect-ratio: unset;
          background: var(--ww-style-background-color);
        }
      }
      .ww-e-d7o:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-d7o.ww-layout, .ww-e-d7o [data-ww-ls~="d7o"] {
        display: block;
      }
      .ww-e-d7p {
        position: absolute;
        right: 20px;
        bottom: 20px;
      }
      .ww-e-d7p.ww-layout, .ww-e-d7p [data-ww-ls~="d7p"] {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      .ww-e-d7q {
        padding: 5px 10px;
        z-index: 101;
        display: var(--ww-style-display);
        position: revert-layer;
        inset: revert-layer;
        background: var(--ww-style-background-color);
        box-shadow: inset 0 1px 1px #78787840;
        border-radius: 32px;
      }
      .ww-e-d7q.ww-layout, .ww-e-d7q [data-ww-ls~="d7q"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-d7r {
        padding: 5px 10px;
        z-index: 101;
        display: var(--ww-style-display);
        position: revert-layer;
        inset: revert-layer;
        background: var(--ww-style-background-color);
        box-shadow: inset 0 1px 1px #78787840;
        border-radius: 16px;
      }
      .ww-e-d7r.ww-layout, .ww-e-d7r [data-ww-ls~="d7r"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-d7s {
        width: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-d7s {
          padding: 5px;
          width: 40px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7s:where(:hover) {
          opacity: 1;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7s:where([data-ww-states~="U7UYbI"]) {
          background-color: #19191980;
          box-shadow: inset 0 1px 1px #78787833;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7s:where([data-ww-states~="hQCGFR"]) {
          background-color: #d6d6d680;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7t {
          align-self: center;
          display: var(--ww-style-display);
          max-width: 250px;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          background-color: #19191980;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7t:where([data-ww-states~="6gviM9"]) {
          align-self: center;
          display: flex;
          flex: 1 0 auto;
          box-shadow: inset 0 1px 1px #78787833;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7t:where([data-ww-states~="I7lxO2"]) {
          background-color: #d6d6d680;
          border-radius: 100px;
        }
      }
      .ww-e-d7t.ww-layout, .ww-e-d7t [data-ww-ls~="d7t"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-e-d7t.ww-layout, .ww-e-d7t [data-ww-ls~="d7t"] {
          display: var(--ww-style-display);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7t.ww-layout:where([data-ww-states~="6gviM9"]), .ww-e-d7t [data-ww-ls~="d7t"]:where([data-ww-states~="6gviM9"]) {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
        }
      }
      .ww-e-d7u {
        padding: 32px;
        align-self: unset;
        display: flex;
        width: 100%;
        flex: 0 1 auto;
        background-color: #0000001a;
        box-shadow: inset 0 1px 1px #78787833;
        border-radius: 32px;
      }
      .ww-e-d7u.ww-layout, .ww-e-d7u [data-ww-ls~="d7u"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 50px 20px;
      }
      @media (max-width: 767px) {
        .ww-e-d7u.ww-layout, .ww-e-d7u [data-ww-ls~="d7u"] {
          justify-content: center;
          row-gap: 20px;
        }
      }
      .ww-e-d7v {
        margin: 0;
        padding: 10px 16px;
        align-self: center;
        display: var(--ww-style-display);
        width: auto;
        font-size: 14px;
        font-family: var(--ww-default-font-family);
        font-weight: 600;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background: var(--ww-style-background-color);
        cursor: pointer;
        box-shadow: inset 0 1px 1px #78787833;
        transition: all 0.3s ease 0s;
        border: none;
        border-radius: 32px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-d7v {
          margin: 0;
          padding: 10px 16px;
          align-self: center;
          max-width: 200px;
          min-height: 40px;
          font-size: 12px;
          text-align: center;
          border-radius: 32px;
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
        }
      }
      .ww-e-d7v:where(:hover) {
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-d7w {
        margin: 0;
        padding: 10px;
        align-self: flex-start;
        display: flex;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6-base-default;
      }
      @keyframes ww-keyframes-element-ccded55f-ca04-4c09-b212-40df5f1fd3d6-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7w {
          padding: 10px;
          display: none;
          cursor: pointer;
        }
      }
      .ww-e-d7w:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-d7w.ww-layout, .ww-e-d7w [data-ww-ls~="d7w"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-d7w.ww-layout, .ww-e-d7w [data-ww-ls~="d7w"] {
          display: none;
        }
      }
      .ww-e-d7w.ww-layout:where(:hover), .ww-e-d7w [data-ww-ls~="d7w"]:where(:hover) {
        column-gap: 5px;
      }
      .ww-e-d7x {
        padding: 10px;
        align-self: flex-start;
        display: none;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-588f0c0d-3970-478e-bede-a527b7e6584f-base-default;
      }
      @keyframes ww-keyframes-element-588f0c0d-3970-478e-bede-a527b7e6584f-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7x {
          margin: 0;
          padding: 0 10px;
          z-index: 100;
          align-self: center;
          display: flex;
          position: fixed;
          top: 5px;
          right: auto;
          left: auto;
          width: 100%;
          flex: 1 0 auto;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          cursor: auto;
          box-shadow: revert-layer;
          animation-name: ww-keyframes-element-588f0c0d-3970-478e-bede-a527b7e6584f-base-mobile;
          border-radius: 100px;
        }
        @keyframes ww-keyframes-element-588f0c0d-3970-478e-bede-a527b7e6584f-base-mobile {
          0% {
          }
          100% {
          }
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7x:where([data-ww-states~="0bFTkZ"]) {
          padding: 0 10px;
          top: 10px;
          width: 90%;
          box-shadow: revert-layer;
        }
      }
      .ww-e-d7x.ww-layout, .ww-e-d7x [data-ww-ls~="d7x"] {
        display: none;
      }
      @media (max-width: 767px) {
        .ww-e-d7x.ww-layout, .ww-e-d7x [data-ww-ls~="d7x"] {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          column-gap: 10px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-d7y {
        font-size: 16px;
        font-weight: 400;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-b71ddd1f-cde2-4f50-a446-c131956d88b8-base-default;
      }
      @keyframes ww-keyframes-element-b71ddd1f-cde2-4f50-a446-c131956d88b8-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-d7y {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7y {
          font-size: 16px;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-d7z {
        margin: 0;
        align-self: unset;
        display: var(--ww-style-display, none);
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-eaa95603-50b8-410f-ae6c-a78197e4a41e-base-default;
      }
      @keyframes ww-keyframes-element-eaa95603-50b8-410f-ae6c-a78197e4a41e-base-default {
        0% {
          opacity: 0;
          transform: translateY(-10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-d7z {
          margin: 25px 0;
          font-size: 16px;
          text-align: center;
        }
      }
    }
  }
  @layer custom {
    @media (min-width: 992px) {
      .ww-e-d7l:where([data-ww-states~="2vM17Y"]) {
        filter: blur(20px);
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .ww-e-d7l:where([data-ww-states~="2vM17Y"]) {
        filter: blur(20px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-d7l:where([data-ww-states~="2vM17Y"]) {
        filter: blur(20px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-d7s:where([data-ww-states~="U7UYbI"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-d7s:where([data-ww-states~="hQCGFR"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-d7t:where([data-ww-states~="6gviM9"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-d7t:where([data-ww-states~="I7lxO2"]) {
        backdrop-filter: blur(10px);
      }
    }
  }
}
@layer ww-style-layout-override {
}
