@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-uWRDKzdjvkf4EAoV {
        z-index: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-Y6MTqAnlYkTtOtmG {
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-dU {
        height: auto;
        aspect-ratio: unset;
        min-height: 1200px;
        background: var(--ww-style-background-color);
      }
      @media (max-width: 767px) {
        .ww-s-dU {
          margin: 0;
          min-height: 1200px;
        }
      }
      .ww-s-dU > .ww-section-element {
        width: 100%;
        padding: 120px 32px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-dU > .ww-section-element {
          --ww-section-root-auto-align: center;
          --ww-section-root-auto-width: 100%;
          padding: 64px 16px 128px;
          min-height: 1200px;
        }
      }
      .ww-s-dU > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-s-dU > .ww-section-element.ww-layout {
          align-items: stretch;
          gap: 0;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Fijzlf8jhln2zwt7 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-3tJBOiCg_zaOJAaU {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2ew-mtNf67a7wUE0 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-62B4z2iQ-iPYknmh {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-GY9OD6k0O9NAwLah {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Wf3kR1fDZCtNqRYp {
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-dQVf4AfE6DwFXRwu {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-9nS4S3naw0fj5ZAV {
        margin: 0;
        z-index: unset;
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-bz1Dtfovudlkg0nb {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-EFbekEDt-bxLyKV- {
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-hrle4cgh7E0q5WYv {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YF0k00I-Mi8zOhMt {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-0XtwMMjcpjxcaUFe {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-CQC-UYJF9-3biM3_ {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-osFt1bovyjmw1wCr {
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4RoHNZRxGrkSNyJL {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-6GOhhIoAx0jRKIia {
        margin: 0;
        padding: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-e64GhYcJHEm1j0gb {
        margin: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-wepO1Mjw7DgHz3WK {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2XmtwZSC2Y1t00Nv {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-ZHFlyccgidWMqZZn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-hrpkn2nmdrP6iFfB {
        margin: 0;
        padding: 0;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      @media (max-width: 767px) {
        .ww-e-diF {
          align-self: center;
          display: var(--ww-style-display);
          max-width: 250px;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          background-color: #19191980;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-diF:where([data-ww-states~="6gviM9"]) {
          align-self: center;
          display: flex;
          flex: 1 0 auto;
          box-shadow: inset 0 1px 1px #78787833, 0 1px 1px #7878781a;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-diF:where([data-ww-states~="I7lxO2"]) {
          background-color: #d6d6d680;
          border-radius: 100px;
        }
      }
      .ww-e-diF.ww-layout, .ww-e-diF [data-ww-ls~="diF"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-e-diF.ww-layout, .ww-e-diF [data-ww-ls~="diF"] {
          display: var(--ww-style-display);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      @media (max-width: 767px) {
        .ww-e-diF.ww-layout:where([data-ww-states~="6gviM9"]), .ww-e-diF [data-ww-ls~="diF"]:where([data-ww-states~="6gviM9"]) {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
        }
      }
      .ww-e-diG {
        width: 32px;
        transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-diG {
          padding: 5px;
          width: 40px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-diG:where([data-ww-states~="U7UYbI"]) {
          background-color: #19191980;
          box-shadow: inset 0 1px 1px #78787833, 0 1px 1px #7878781a;
        }
      }
      @media (max-width: 767px) {
        .ww-e-diG:where([data-ww-states~="hQCGFR"]) {
          background-color: #d6d6d680;
        }
      }
      .ww-e-diG:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-diH {
        display: none;
        font-size: 16px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-diH {
          padding: 5px;
          display: block;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          color: var(--ww-content-ww-text-color);
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
        }
      }
      .ww-e-diI.ww-layout, .ww-e-diI [data-ww-ls~="diI"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-diJ {
        margin: 0;
        width: revert-layer;
      }
      .ww-e-diJ.ww-layout, .ww-e-diJ [data-ww-ls~="diJ"] {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-diJ.ww-layout, .ww-e-diJ [data-ww-ls~="diJ"] {
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-start;
          row-gap: 5px;
        }
      }
      .ww-e-diK {
        width: 16px;
      }
      .ww-e-diL {
        margin: 0 0 0 40px;
        display: block;
        width: 200px;
        height: 40px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      .ww-e-diM {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-diM {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-diN {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-diN {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-diO {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-diO {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-diP {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-diP {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-diQ {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-diQ {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-diR {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-diR {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-diS {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-diS {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-diT {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-diT {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-diU {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-diU {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-diV {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-diV {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-diW {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-diW {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-diX {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-diX {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-diY {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-diY {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-diZ {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-diZ {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dia {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dia {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dib {
        width: 100%;
      }
      .ww-e-dib.ww-layout, .ww-e-dib [data-ww-ls~="dib"] {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dib.ww-layout, .ww-e-dib [data-ww-ls~="dib"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-dic {
        width: 100%;
      }
      .ww-e-dic.ww-layout, .ww-e-dic [data-ww-ls~="dic"] {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dic.ww-layout, .ww-e-dic [data-ww-ls~="dic"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-did {
        width: 100%;
      }
      .ww-e-did.ww-layout, .ww-e-did [data-ww-ls~="did"] {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-did.ww-layout, .ww-e-did [data-ww-ls~="did"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-die {
        width: 18px;
        height: auto;
        transition: all 0.2s ease;
      }
      .ww-e-die:where([data-ww-states~="2w7mmz"]) {
        transition: all 0.2s ease;
      }
      .ww-e-dif {
        width: 100%;
        max-width: unset;
      }
      .ww-e-dif.ww-layout, .ww-e-dif [data-ww-ls~="dif"] {
        display: flex;
        flex-flow: column;
        gap: 30px;
      }
      .ww-e-dig {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        border-radius: 12px;
        --wwi-ar: unset;
        --wwi-of: cover;
      }
      @media (max-width: 767px) {
        .ww-e-dig {
          width: 100px;
          height: 100%;
        }
      }
      .ww-e-dig:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        transform: scale(1.05);
      }
      .ww-e-dih {
        margin: 0;
        padding: 0;
        position: revert-layer;
        inset: revert-layer;
        font-size: 14px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dih {
          font-size: 12px;
        }
      }
      .ww-e-dii {
        margin: 0;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 600;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dii {
          margin: 5px 0 10px;
          font-size: 16px;
        }
      }
      .ww-e-dij {
        padding: 32px;
        align-self: unset;
        width: 100%;
        max-width: 1200px;
        background-color: #0000001a;
        border-radius: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-dij {
          padding: 32px;
          box-shadow: revert-layer;
          border-radius: 32px;
        }
      }
      .ww-e-dij.ww-layout, .ww-e-dij [data-ww-ls~="dij"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 25px 20px;
        flex-wrap: revert-layer;
      }
      .ww-e-dik {
        margin: 0;
        display: block;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dik {
          margin: 0;
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dil {
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dil {
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dim {
        display: block;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 400;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
      }
      @media (max-width: 767px) {
        .ww-e-dim {
          align-self: unset;
          display: block;
          font-size: 12px;
          text-align: left;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-din {
        display: block;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
      }
      @media (max-width: 767px) {
        .ww-e-din {
          align-self: flex-start;
          display: block;
          font-size: 12px;
          text-align: left;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dio {
        margin: 0;
        padding: 10px;
        align-self: flex-start;
        display: flex;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-77e6c291-0d43-4c03-bd34-eb6640692550-base-default;
      }
      @keyframes ww-keyframes-element-77e6c291-0d43-4c03-bd34-eb6640692550-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dio {
          padding: 10px;
          display: none;
          cursor: pointer;
        }
      }
      .ww-e-dio:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dio.ww-layout, .ww-e-dio [data-ww-ls~="dio"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dio.ww-layout, .ww-e-dio [data-ww-ls~="dio"] {
          display: none;
        }
      }
      .ww-e-dio.ww-layout:where(:hover), .ww-e-dio [data-ww-ls~="dio"]:where(:hover) {
        column-gap: 5px;
      }
      .ww-e-dip {
        display: var(--ww-style-display, none);
        width: 1200px;
        opacity: 0.2;
      }
      @media (max-width: 767px) {
        .ww-e-dip {
          display: var(--ww-style-display, none);
          width: var(--ww-section-root-auto-width, revert-layer);
        }
      }
      .ww-e-dip:where([data-ww-states~="3ahbRv"]) {
        opacity: 0.5;
      }
      .ww-e-dip.ww-layout, .ww-e-dip [data-ww-ls~="dip"] {
        display: var(--ww-style-display, none);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dip.ww-layout, .ww-e-dip [data-ww-ls~="dip"] {
          display: var(--ww-style-display, none);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-diq {
        padding: 0;
        display: var(--ww-style-display);
      }
      @media (max-width: 767px) {
        .ww-e-diq {
          padding: 0;
          align-self: unset;
          display: var(--ww-style-display);
        }
      }
      .ww-e-diq.ww-layout, .ww-e-diq [data-ww-ls~="diq"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-diq.ww-layout, .ww-e-diq [data-ww-ls~="diq"] {
          display: var(--ww-style-display);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-dir {
        padding: 10px;
        align-self: flex-start;
        display: none;
        position: fixed;
        top: 100px;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-d3294563-6746-475f-9a53-ef00f60d6ce5-base-default;
      }
      @keyframes ww-keyframes-element-d3294563-6746-475f-9a53-ef00f60d6ce5-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dir {
          margin: 0;
          padding: 0 10px;
          z-index: 100;
          align-self: center;
          display: flex;
          position: fixed;
          top: 5px;
          right: auto;
          left: auto;
          width: 100%;
          flex: 1 0 auto;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          cursor: auto;
          box-shadow: revert-layer;
          animation-name: ww-keyframes-element-d3294563-6746-475f-9a53-ef00f60d6ce5-base-mobile;
          border-radius: 100px;
        }
        @keyframes ww-keyframes-element-d3294563-6746-475f-9a53-ef00f60d6ce5-base-mobile {
          0% {
          }
          100% {
          }
        }
      }
      @media (max-width: 767px) {
        .ww-e-dir:where([data-ww-states~="0bFTkZ"]) {
          padding: 0 10px;
          top: 10px;
          width: 90%;
          box-shadow: revert-layer;
        }
      }
      .ww-e-dir.ww-layout, .ww-e-dir [data-ww-ls~="dir"] {
        display: none;
      }
      @media (max-width: 767px) {
        .ww-e-dir.ww-layout, .ww-e-dir [data-ww-ls~="dir"] {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          column-gap: 10px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-dis {
        margin: 10px 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dis {
          width: 200px;
        }
      }
      .ww-e-dis.ww-layout, .ww-e-dis [data-ww-ls~="dis"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dis.ww-layout, .ww-e-dis [data-ww-ls~="dis"] {
          flex-flow: column;
        }
      }
      .ww-e-dit {
        display: var(--ww-style-display, flex);
        width: 100%;
        max-width: 1200px;
      }
      @media (max-width: 767px) {
        .ww-e-dit {
          width: var(--ww-section-root-auto-width, revert-layer);
          max-width: unset;
        }
      }
      .ww-e-dit.ww-layout, .ww-e-dit [data-ww-ls~="dit"] {
        display: var(--ww-style-display, flex);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dit.ww-layout, .ww-e-dit [data-ww-ls~="dit"] {
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        }
      }
      .ww-e-diu {
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        width: 200px;
        height: auto;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: translateY(0);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-bc03eb06-f56a-4bd6-9de7-23511665d6f0-base-default;
      }
      @keyframes ww-keyframes-element-bc03eb06-f56a-4bd6-9de7-23511665d6f0-base-default {
        0% {
        }
        100% {
        }
      }
      @media (max-width: 991px) {
        .ww-e-diu {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-diu {
          display: flex;
          width: 100%;
          height: auto;
          aspect-ratio: unset;
          border-radius: 12px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-diu:where(:hover) {
          background-color: #ffffff0d;
        }
      }
      .ww-e-diu.ww-layout, .ww-e-diu [data-ww-ls~="diu"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 991px) {
        .ww-e-diu.ww-layout, .ww-e-diu [data-ww-ls~="diu"] {
          display: flex;
          flex-flow: column;
        }
      }
      @media (max-width: 767px) {
        .ww-e-diu.ww-layout, .ww-e-diu [data-ww-ls~="diu"] {
          display: flex;
          flex-direction: row;
          column-gap: 15px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-div {
        padding: 0;
        overflow: hidden;
        display: block;
        position: revert-layer;
        inset: revert-layer;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-div {
          width: 100px;
          height: 150px;
          aspect-ratio: unset;
        }
      }
      .ww-e-div.ww-layout, .ww-e-div [data-ww-ls~="div"] {
        display: block;
      }
      .ww-e-diw {
        z-index: 101;
        display: var(--ww-style-display);
        position: absolute;
        top: 12px;
        right: 12px;
        width: 32px;
        height: 32px;
        background-color: #252525cc;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 50%;
      }
      @media (max-width: 991px) {
        .ww-e-diw {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-diw {
          display: none;
        }
      }
      .ww-e-diw:where(:hover) {
        display: flex;
        background-color: #252525;
      }
      .ww-e-diw.ww-layout, .ww-e-diw [data-ww-ls~="diw"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 991px) {
        .ww-e-diw.ww-layout, .ww-e-diw [data-ww-ls~="diw"] {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-diw.ww-layout, .ww-e-diw [data-ww-ls~="diw"] {
          display: none;
        }
      }
      .ww-e-diw.ww-layout:where(:hover), .ww-e-diw [data-ww-ls~="diw"]:where(:hover) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-dix {
        padding: 6px;
        z-index: 101;
        display: var(--ww-style-display);
        position: absolute;
        top: 12px;
        left: 12px;
        background: var(--ww-style-background-color);
        opacity: 1;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dix {
          padding: 4px;
        }
      }
      .ww-e-dix.ww-layout, .ww-e-dix [data-ww-ls~="dix"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-diy {
        width: 28px;
        height: auto;
      }
      .ww-e-diz {
        padding: 12px;
        align-self: center;
        display: var(--ww-style-display, none);
      }
      .ww-e-dj0 {
        display: flex;
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dj0.ww-layout, .ww-e-dj0 [data-ww-ls~="dj0"] {
        display: flex;
        flex-flow: wrap;
        align-content: revert-layer;
        gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dj0.ww-layout, .ww-e-dj0 [data-ww-ls~="dj0"] {
          align-content: revert-layer;
          row-gap: 5px;
          flex-wrap: wrap;
        }
      }
      .ww-e-dj1 {
        align-self: unset;
        display: grid;
        position: revert-layer;
        inset: revert-layer;
        width: revert-layer;
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
      }
      @media (max-width: 991px) {
        .ww-e-dj1 {
          display: grid;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dj1 {
          align-self: center;
          display: grid;
          width: 100%;
        }
      }
      .ww-e-dj1.ww-layout, .ww-e-dj1 [data-ww-ls~="dj1"] {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 30px;
      }
      @media (max-width: 991px) {
        .ww-e-dj1.ww-layout, .ww-e-dj1 [data-ww-ls~="dj1"] {
          display: grid;
          grid-auto-flow: row;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dj1.ww-layout, .ww-e-dj1 [data-ww-ls~="dj1"] {
          display: grid;
          grid-auto-flow: row;
          grid-template-columns: revert-layer;
          grid-template-rows: revert-layer;
          gap: 15px 0;
        }
      }
      .ww-e-dj2 {
        font-size: 16px;
        font-weight: 400;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-0f03f365-5ed1-475e-8207-776c666c9327-base-default;
      }
      @keyframes ww-keyframes-element-0f03f365-5ed1-475e-8207-776c666c9327-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dj2 {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dj2 {
          font-size: 16px;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dj3 {
        font-size: 24px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-5dcfc946-aa3d-4269-828e-1ba5f6b5ddb0-base-default;
      }
      @keyframes ww-keyframes-element-5dcfc946-aa3d-4269-828e-1ba5f6b5ddb0-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dj3 {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dj3 {
          font-size: 16px;
        }
      }
      .ww-e-dj4 {
        margin: 0;
        display: block;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dj4 {
          margin: 0;
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dj5 {
        overflow: unset;
        position: revert-layer;
        inset: revert-layer;
        max-width: unset;
        font-size: 16px;
        font-family: var(--ww-default-font-family);
        line-height: 1.2;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-53ea0263-98c3-4489-8f43-738d984fbf73-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-53ea0263-98c3-4489-8f43-738d984fbf73-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dj5 {
          font-size: 36px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dj5 {
          margin: 0;
          overflow: unset;
          z-index: unset;
          align-self: unset;
          position: revert-layer;
          inset: revert-layer;
          max-width: unset;
          height: auto;
          aspect-ratio: unset;
          font-size: 16px;
          font-weight: 800;
          text-align: center;
        }
      }
      .ww-e-dj6 {
        z-index: 100;
        align-self: unset;
        display: var(--ww-style-display);
        position: revert-layer;
        inset: revert-layer;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        background: var(--ww-style-background-gradient);
        transition: all 0.3s ease 0s;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dj6 {
          height: 100%;
          aspect-ratio: unset;
        }
      }
      .ww-e-dj6:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dj6.ww-layout, .ww-e-dj6 [data-ww-ls~="dj6"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dj6.ww-layout, .ww-e-dj6 [data-ww-ls~="dj6"] {
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        }
      }
    }
  }
  @layer custom {
    @media (max-width: 767px) {
      .ww-e-diF:where([data-ww-states~="6gviM9"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-diF:where([data-ww-states~="I7lxO2"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-diG:where([data-ww-states~="U7UYbI"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-diG:where([data-ww-states~="hQCGFR"]) {
        backdrop-filter: blur(10px);
      }
    }
    .ww-e-diw {
      backdrop-filter: blur(4px);
    }
  }
}
@layer ww-style-layout-override {
}
