@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-uWRDKzdjvkf4EAoV {
        z-index: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-Y6MTqAnlYkTtOtmG {
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-dd {
        height: auto;
        aspect-ratio: unset;
        min-height: 1200px;
        background: var(--ww-style-background-color);
      }
      @media (max-width: 767px) {
        .ww-s-dd {
          margin: 0;
          min-height: 1200px;
        }
      }
      .ww-s-dd > .ww-section-element {
        width: 100%;
        padding: 120px 32px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-dd > .ww-section-element {
          --ww-section-root-auto-align: center;
          --ww-section-root-auto-width: 100%;
          padding: 64px 16px 128px;
          min-height: 1200px;
        }
      }
      .ww-s-dd > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-s-dd > .ww-section-element.ww-layout {
          align-items: stretch;
          gap: 0;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-3tJBOiCg_zaOJAaU {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2ew-mtNf67a7wUE0 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-62B4z2iQ-iPYknmh {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-EFbekEDt-bxLyKV- {
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-hrle4cgh7E0q5WYv {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-0XtwMMjcpjxcaUFe {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-iVX9xAOhxPh0TDna {
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-aTUuctVir867OVlc {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4EJ5XMDtCfADOrfC {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Km-a_vLqZYKzg1qQ {
        margin: 0;
        z-index: unset;
        width: auto;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-osFt1bovyjmw1wCr {
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-wepO1Mjw7DgHz3WK {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-u-w_kYfT7D3GBKvP {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-dQVf4AfE6DwFXRwu {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-YP1sznfDWeKOxiXA {
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-2MXhXlVHrdKM1K4g {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YF0k00I-Mi8zOhMt {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4RoHNZRxGrkSNyJL {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a--x5kU5wb778UwlZt {
        padding: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-Fijzlf8jhln2zwt7 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-0196u6vQjAePVbDF {
        margin: 0;
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-TtvmKzDI8mcRYFT1 {
        z-index: unset;
        align-self: unset;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-dqE {
        width: 16px;
      }
      .ww-e-dqF {
        margin: 0 0 0 40px;
        display: block;
        width: 200px;
        height: 40px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      .ww-e-dqG {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dqG {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dqH {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dqH {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dqI {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dqI {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dqJ {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dqJ {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dqK {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dqK {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dqL {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dqL {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dqM {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dqM {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dqN {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dqN {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dqO {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dqO {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dqP {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dqP {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dqQ {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dqQ {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dqR {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dqR {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dqS {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dqS {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dqT {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dqT {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dqU {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dqU {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dqV {
        width: 100%;
      }
      .ww-e-dqV.ww-layout, .ww-e-dqV [data-ww-ls~="dqV"] {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dqV.ww-layout, .ww-e-dqV [data-ww-ls~="dqV"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-dqW {
        width: 100%;
      }
      .ww-e-dqW.ww-layout, .ww-e-dqW [data-ww-ls~="dqW"] {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dqW.ww-layout, .ww-e-dqW [data-ww-ls~="dqW"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-dqX {
        width: 100%;
      }
      .ww-e-dqX.ww-layout, .ww-e-dqX [data-ww-ls~="dqX"] {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dqX.ww-layout, .ww-e-dqX [data-ww-ls~="dqX"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-dqY {
        width: 32px;
        transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dqY {
          padding: 5px;
          width: 40px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dqY:where([data-ww-states~="U7UYbI"]) {
          background-color: #19191980;
          box-shadow: inset 0 1px 1px #78787833;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dqY:where([data-ww-states~="hQCGFR"]) {
          background-color: #d6d6d680;
        }
      }
      .ww-e-dqY:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dqZ {
        width: 100%;
        max-width: unset;
      }
      .ww-e-dqZ.ww-layout, .ww-e-dqZ [data-ww-ls~="dqZ"] {
        display: flex;
        flex-flow: column;
        gap: 30px;
      }
      @media (max-width: 767px) {
        .ww-e-dqa {
          align-self: center;
          display: var(--ww-style-display);
          max-width: 250px;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          background-color: #19191980;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dqa:where([data-ww-states~="6gviM9"]) {
          align-self: center;
          display: flex;
          flex: 1 0 auto;
          box-shadow: inset 0 1px 1px #78787833;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dqa:where([data-ww-states~="I7lxO2"]) {
          background-color: #d6d6d680;
          border-radius: 100px;
        }
      }
      .ww-e-dqa.ww-layout, .ww-e-dqa [data-ww-ls~="dqa"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-e-dqa.ww-layout, .ww-e-dqa [data-ww-ls~="dqa"] {
          display: var(--ww-style-display);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dqa.ww-layout:where([data-ww-states~="6gviM9"]), .ww-e-dqa [data-ww-ls~="dqa"]:where([data-ww-states~="6gviM9"]) {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
        }
      }
      .ww-e-dqb {
        margin: 0;
        padding: 10px;
        align-self: flex-start;
        display: flex;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-f336b865-cacd-45f1-be9d-18fec3e96813-base-default;
      }
      @keyframes ww-keyframes-element-f336b865-cacd-45f1-be9d-18fec3e96813-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dqb {
          padding: 10px;
          display: none;
          cursor: pointer;
        }
      }
      .ww-e-dqb:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dqb.ww-layout, .ww-e-dqb [data-ww-ls~="dqb"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dqb.ww-layout, .ww-e-dqb [data-ww-ls~="dqb"] {
          display: none;
        }
      }
      .ww-e-dqb.ww-layout:where(:hover), .ww-e-dqb [data-ww-ls~="dqb"]:where(:hover) {
        column-gap: 5px;
      }
      .ww-e-dqc {
        display: var(--ww-style-display, none);
        width: 1200px;
        opacity: 0.2;
      }
      @media (max-width: 767px) {
        .ww-e-dqc {
          display: var(--ww-style-display, none);
          width: var(--ww-section-root-auto-width, revert-layer);
        }
      }
      .ww-e-dqc:where([data-ww-states~="3ahbRv"]) {
        opacity: 0.5;
      }
      .ww-e-dqc.ww-layout, .ww-e-dqc [data-ww-ls~="dqc"] {
        display: var(--ww-style-display, none);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dqc.ww-layout, .ww-e-dqc [data-ww-ls~="dqc"] {
          display: var(--ww-style-display, none);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-dqd {
        padding: 10px;
        align-self: flex-start;
        display: none;
        position: fixed;
        top: 100px;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-3b318094-2281-4dbb-a5fb-b200ead49f87-base-default;
      }
      @keyframes ww-keyframes-element-3b318094-2281-4dbb-a5fb-b200ead49f87-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dqd {
          margin: 0;
          padding: 0 10px;
          z-index: 100;
          align-self: center;
          display: flex;
          position: fixed;
          top: 5px;
          right: auto;
          left: auto;
          width: 100%;
          flex: 1 0 auto;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          cursor: auto;
          box-shadow: revert-layer;
          animation-name: ww-keyframes-element-3b318094-2281-4dbb-a5fb-b200ead49f87-base-mobile;
          border-radius: 100px;
        }
        @keyframes ww-keyframes-element-3b318094-2281-4dbb-a5fb-b200ead49f87-base-mobile {
          0% {
          }
          100% {
          }
        }
      }
      @media (max-width: 767px) {
        .ww-e-dqd:where([data-ww-states~="0bFTkZ"]) {
          padding: 0 10px;
          top: 10px;
          width: 90%;
          box-shadow: revert-layer;
        }
      }
      .ww-e-dqd.ww-layout, .ww-e-dqd [data-ww-ls~="dqd"] {
        display: none;
      }
      @media (max-width: 767px) {
        .ww-e-dqd.ww-layout, .ww-e-dqd [data-ww-ls~="dqd"] {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          column-gap: 10px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-dqe {
        margin: 0;
        padding: 10px;
        align-self: unset;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 700;
        text-align: center;
        color: #191919;
        white-space-collapse: preserve;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dqe {
          width: revert-layer;
          max-width: 200px;
          font-size: 12px;
          cursor: auto;
        }
      }
      .ww-e-dqf {
        width: 100%;
        max-width: 1200px;
      }
      @media (max-width: 767px) {
        .ww-e-dqf {
          width: var(--ww-section-root-auto-width, revert-layer);
          max-width: unset;
        }
      }
      .ww-e-dqf.ww-layout, .ww-e-dqf [data-ww-ls~="dqf"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: 50px;
      }
      @media (max-width: 767px) {
        .ww-e-dqf.ww-layout, .ww-e-dqf [data-ww-ls~="dqf"] {
          align-items: flex-start;
        }
      }
      .ww-e-dqg {
        align-self: flex-start;
      }
      @media (max-width: 767px) {
        .ww-e-dqg {
          width: 100%;
        }
      }
      .ww-e-dqg.ww-layout, .ww-e-dqg [data-ww-ls~="dqg"] {
        display: flex;
        flex-direction: row;
        column-gap: 25px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dqg.ww-layout, .ww-e-dqg [data-ww-ls~="dqg"] {
          flex-flow: column;
          row-gap: 25px;
        }
      }
      .ww-e-dqh {
        padding: 12px;
        align-self: center;
        display: var(--ww-style-display, none);
      }
      .ww-e-dqi {
        padding: 10px 16px;
        align-self: center;
        display: var(--ww-style-display, none);
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dqi {
          display: var(--ww-style-display, none);
          font-size: 12px;
        }
      }
      .ww-e-dqi:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dqj {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-dqk {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-dql {
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        width: revert-layer;
        height: auto;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: translateY(0);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-8a5ccaac-e086-4929-9c89-db2114dc86f2-base-default;
      }
      @keyframes ww-keyframes-element-8a5ccaac-e086-4929-9c89-db2114dc86f2-base-default {
        0% {
        }
        100% {
        }
      }
      @media (max-width: 991px) {
        .ww-e-dql {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dql {
          display: flex;
          width: 100%;
          height: auto;
          aspect-ratio: unset;
          border-radius: 12px;
        }
      }
      .ww-e-dql.ww-layout, .ww-e-dql [data-ww-ls~="dql"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 991px) {
        .ww-e-dql.ww-layout, .ww-e-dql [data-ww-ls~="dql"] {
          display: flex;
          flex-flow: column;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dql.ww-layout, .ww-e-dql [data-ww-ls~="dql"] {
          display: flex;
          flex-direction: row;
          column-gap: 15px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-dqm {
        display: flex;
      }
      @media (max-width: 767px) {
        .ww-e-dqm {
          transition: all 0.3s ease 0s;
        }
      }
      .ww-e-dqm.ww-layout, .ww-e-dqm [data-ww-ls~="dqm"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-dqn {
        width: 16px;
      }
      .ww-e-dqo {
        padding: 5px;
        align-self: center;
        display: block;
        width: revert-layer;
        font-size: 14px;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        animation-name: ww-keyframes-element-e694dabe-5a24-441b-bff1-4793216e9d31-base-default;
        border-radius: 12px;
      }
      @keyframes ww-keyframes-element-e694dabe-5a24-441b-bff1-4793216e9d31-base-default {
        0% {
        }
        100% {
        }
      }
      @media (max-width: 767px) {
        .ww-e-dqo {
          padding: 0;
          align-self: center;
          font-size: 12px;
          text-align: center;
        }
      }
      .ww-e-dqp {
        padding: 5px;
        align-self: center;
        display: block;
        width: revert-layer;
        font-size: 14px;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        animation-name: ww-keyframes-element-44fc7968-af73-403c-9e4e-98c5f22913be-base-default;
        border-radius: 12px;
      }
      @keyframes ww-keyframes-element-44fc7968-af73-403c-9e4e-98c5f22913be-base-default {
        0% {
        }
        100% {
        }
      }
      @media (max-width: 767px) {
        .ww-e-dqp {
          padding: 0;
          align-self: center;
          font-size: 12px;
          text-align: center;
        }
      }
      .ww-e-dqq {
        font-size: 12px;
        line-height: 1.3;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
      }
      @media (max-width: 767px) {
        .ww-e-dqq {
          font-size: 12px;
        }
      }
      .ww-e-dqr {
        margin: 0;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 600;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dqr {
          margin: 5px 0 10px;
          font-size: 16px;
        }
      }
      .ww-e-dqs {
        margin: 0;
        align-self: unset;
        display: var(--ww-style-display);
        font-size: 12px;
        font-weight: 500;
        text-align: left;
        color: #888;
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dqs {
          margin: 0;
          align-self: flex-end;
          display: none;
          text-align: left;
        }
      }
      .ww-e-dqt {
        padding: 5px;
        align-self: flex-start;
        display: flex;
        width: 20px;
        height: 20px;
        aspect-ratio: unset;
        background: var(--ww-style-background-color);
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dqt {
          margin: 10px 0;
          padding: 5px;
          align-self: unset;
          width: 20px;
          height: 20px;
          aspect-ratio: unset;
        }
      }
      .ww-e-dqt.ww-layout, .ww-e-dqt [data-ww-ls~="dqt"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-dqu {
        padding: 2px;
        display: flex;
        width: 20px;
        background-color: #252525cc;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 100%;
      }
      @media (max-width: 767px) {
        .ww-e-dqu {
          width: 25px;
        }
      }
      .ww-e-dqu:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dqv {
        padding: 9px;
        display: flex;
        width: 36px;
        height: auto;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 0;
      }
      .ww-e-dqw {
        display: flex;
      }
      .ww-e-dqw.ww-layout, .ww-e-dqw [data-ww-ls~="dqw"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-e-dqw.ww-layout, .ww-e-dqw [data-ww-ls~="dqw"] {
          flex-direction: row;
          gap: 0 20px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-dqx {
        display: var(--ww-style-display);
        position: absolute;
        top: 10px;
        right: 10px;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dqy {
        padding: 9px;
        display: flex;
        width: 36px;
        height: auto;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 0;
      }
      .ww-e-dqz {
        padding: 8px;
        display: flex;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-dqz {
          padding: 8px 16px;
        }
      }
      .ww-e-dqz:where(:hover) {
        background-color: #aaa3;
        border-radius: 32px;
      }
      .ww-e-dqz.ww-layout, .ww-e-dqz [data-ww-ls~="dqz"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5px;
        flex-wrap: revert-layer;
      }
      .ww-e-dr0 {
        margin: 10px 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dr0 {
          width: 100px;
        }
      }
      .ww-e-dr0.ww-layout, .ww-e-dr0 [data-ww-ls~="dr0"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dr0.ww-layout, .ww-e-dr0 [data-ww-ls~="dr0"] {
          flex-flow: column;
        }
      }
      .ww-e-dr1 {
        padding: 8px;
        display: flex;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-dr1 {
          padding: 8px 16px;
          display: flex;
        }
      }
      .ww-e-dr1:where(:hover) {
        background-color: #aaa3;
        transition: all 0.3s ease 0s;
        border-radius: 32px;
      }
      .ww-e-dr1.ww-layout, .ww-e-dr1 [data-ww-ls~="dr1"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dr1.ww-layout, .ww-e-dr1 [data-ww-ls~="dr1"] {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          column-gap: 5px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-dr2 {
        display: flex;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background: var(--ww-style-background-gradient);
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-e0e4cbc4-f4ec-442f-ad65-323fdbba88f8-base-default;
        border-radius: 16px;
      }
      @keyframes ww-keyframes-element-e0e4cbc4-f4ec-442f-ad65-323fdbba88f8-base-default {
        0% {
        }
        100% {
        }
      }
      @media (max-width: 767px) {
        .ww-e-dr2 {
          width: 100px;
          height: 150px;
        }
      }
      .ww-e-dr2.ww-layout, .ww-e-dr2 [data-ww-ls~="dr2"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .ww-e-dr3 {
        margin: 0;
        align-self: unset;
        font-size: 14px;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-00108eb4-06bb-4a56-8551-99fd644d136b-base-default;
      }
      @keyframes ww-keyframes-element-00108eb4-06bb-4a56-8551-99fd644d136b-base-default {
        0% {
          opacity: 0;
          transform: translateY(-10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dr3 {
          font-size: 14px;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      .ww-e-dr4 {
        padding: 9px;
        display: flex;
        width: 36px;
        height: auto;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 0;
      }
      .ww-e-dr5 {
        padding: 8px;
        display: none;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dr5 {
          padding: 8px 16px;
          display: none;
        }
      }
      .ww-e-dr5:where(:hover) {
        background-color: #aaa3;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
      }
      .ww-e-dr5.ww-layout, .ww-e-dr5 [data-ww-ls~="dr5"] {
        display: none;
      }
      @media (max-width: 767px) {
        .ww-e-dr5.ww-layout, .ww-e-dr5 [data-ww-ls~="dr5"] {
          display: none;
        }
      }
      .ww-e-dr6 {
        margin: 0;
        width: revert-layer;
      }
      .ww-e-dr6.ww-layout, .ww-e-dr6 [data-ww-ls~="dr6"] {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 5px 0;
      }
      @media (max-width: 767px) {
        .ww-e-dr6.ww-layout, .ww-e-dr6 [data-ww-ls~="dr6"] {
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-start;
          row-gap: 5px;
        }
      }
      .ww-e-dr7 {
        margin: 0;
        align-self: unset;
        display: none;
        font-size: 12px;
        font-weight: 500;
        text-align: left;
        color: #888;
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dr7 {
          margin: 0;
          align-self: flex-end;
          display: var(--ww-style-display);
          text-align: left;
        }
      }
      .ww-e-dr8 {
        font-size: 16px;
        font-weight: 400;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-e7dcf1c3-60c0-4b32-84cf-b8a022e20cc5-base-default;
      }
      @keyframes ww-keyframes-element-e7dcf1c3-60c0-4b32-84cf-b8a022e20cc5-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dr8 {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dr8 {
          font-size: 16px;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dr9 {
        margin: 0 5px;
        overflow: unset;
        font-size: 20px;
        font-weight: 600;
        color: #888;
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dr9 {
          margin: 0 5px;
          align-self: center;
          font-size: 16px;
          font-weight: 600;
        }
      }
      .ww-e-drA {
        display: none;
        font-size: 16px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-drA {
          padding: 5px;
          display: block;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          color: var(--ww-content-ww-text-color);
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
        }
      }
      .ww-e-drB {
        font-size: 24px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-39d695dd-c3af-45a9-af0d-af8eca9f474e-base-default;
      }
      @keyframes ww-keyframes-element-39d695dd-c3af-45a9-af0d-af8eca9f474e-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-drB {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-drB {
          font-size: 16px;
        }
      }
      .ww-e-drC {
        margin: 0;
        align-self: unset;
        font-size: 14px;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-b28031d2-b734-4cce-88ea-396d2f917dcb-base-default;
      }
      @keyframes ww-keyframes-element-b28031d2-b734-4cce-88ea-396d2f917dcb-base-default {
        0% {
          opacity: 0;
          transform: translateY(-10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-drC {
          font-size: 14px;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      .ww-e-drD {
        margin: 0;
        align-self: unset;
        font-size: 14px;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-5d6abaca-650e-4e17-a614-8f8fd980fdce-base-default;
      }
      @keyframes ww-keyframes-element-5d6abaca-650e-4e17-a614-8f8fd980fdce-base-default {
        0% {
          opacity: 0;
          transform: translateY(-10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-drD {
          font-size: 14px;
        }
      }
      .ww-e-drE {
        padding: 32px;
        align-self: unset;
        width: 100%;
        background-color: #0000001a;
        border-radius: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-drE {
          padding: 32px;
          box-shadow: inset 0 1px 1px #78787833;
          border-radius: 32px;
        }
      }
      .ww-e-drE.ww-layout, .ww-e-drE [data-ww-ls~="drE"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 50px 20px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-drE.ww-layout, .ww-e-drE [data-ww-ls~="drE"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-drF.ww-layout, .ww-e-drF [data-ww-ls~="drF"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 25px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-drF.ww-layout, .ww-e-drF [data-ww-ls~="drF"] {
          flex-flow: column;
          row-gap: 25px;
        }
      }
      .ww-e-drG {
        width: 28px;
        height: auto;
      }
      .ww-e-drH {
        margin: 15px 0;
        padding: 8px;
        overflow: hidden;
        display: flex;
        width: revert-layer;
        max-width: unset;
        min-width: 200px;
        height: auto;
        background: var(--ww-style-background-color);
        box-shadow: inset 0 1px 1px #78787833, 0 1px 1px #7878781a;
        border: 0px solid var(--5df2264d-813f-4e12-959b-e86f202e40b0, #E4E4E7);
        border-radius: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-drH {
          width: revert-layer;
          min-width: unset;
        }
      }
      .ww-e-drH.ww-layout, .ww-e-drH [data-ww-ls~="drH"] {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: stretch;
        align-content: revert-layer;
        row-gap: 5px;
      }
      .ww-e-drI {
        margin: 0;
        padding: 10px 16px;
        align-self: center;
        display: var(--ww-style-display);
        width: auto;
        font-size: 14px;
        font-family: var(--ww-default-font-family);
        font-weight: 600;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background: var(--ww-style-background-color);
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border: none;
        border-radius: 32px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-drI {
          margin: 0;
          padding: 10px 16px;
          align-self: center;
          max-width: 200px;
          min-height: 40px;
          font-size: 12px;
          text-align: center;
          border-radius: 32px;
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
        }
      }
      .ww-e-drI:where(:hover) {
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
    }
  }
  @layer custom {
    @media (max-width: 767px) {
      .ww-e-dqY:where([data-ww-states~="U7UYbI"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dqY:where([data-ww-states~="hQCGFR"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dqa:where([data-ww-states~="6gviM9"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dqa:where([data-ww-states~="I7lxO2"]) {
        backdrop-filter: blur(10px);
      }
    }
    .ww-e-dqe {
      word-break: break-word;
      white-space: pre-wrap;
      overflow-wrap: break-word;
    }
    .ww-e-dqu {
      backdrop-filter: blur(10px);
    }
    .ww-e-drH {
      backdrop-filter: blur(8px);
    }
  }
}
@layer ww-style-layout-override {
}
