@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Vl7bPWcpf-HYgY1D {
        height: auto;
        z-index: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-Y6MTqAnlYkTtOtmG {
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-dM {
        min-height: 1200px;
        background: var(--ww-style-background-color);
      }
      @media (max-width: 767px) {
        .ww-s-dM {
          height: auto;
          aspect-ratio: unset;
          margin: 0;
          min-height: 1200px;
        }
      }
      .ww-s-dM > .ww-section-element {
        width: 100%;
        padding: 120px 64px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-dM > .ww-section-element {
          width: 100%;
          padding: 32px 16px 128px;
          min-height: 1200px;
        }
      }
      .ww-s-dM > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 50px;
      }
      @media (max-width: 767px) {
        .ww-s-dM > .ww-section-element.ww-layout {
          row-gap: 40px;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-dQVf4AfE6DwFXRwu {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-2XmtwZSC2Y1t00Nv {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-BUy5c_7mQD_pnjJN {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-Wf3kR1fDZCtNqRYp {
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-GY9OD6k0O9NAwLah {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-qqyEbfFlgYFLR-KT {
        margin: 0;
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-e64GhYcJHEm1j0gb {
        margin: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-1263zm1SrXK1GJZQ {
        margin: 0;
        padding: 0;
        z-index: unset;
        min-width: unset;
        height: auto;
        min-height: unset;
      }
      .ww-a-2MXhXlVHrdKM1K4g {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-6GOhhIoAx0jRKIia {
        margin: 0;
        padding: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4RoHNZRxGrkSNyJL {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-osFt1bovyjmw1wCr {
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-musbR7AL09vB7JZp {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-62B4z2iQ-iPYknmh {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-iVX9xAOhxPh0TDna {
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-XMNgqUZITcWnfqZ3 {
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-JHTUrsi5weKcajAQ {
        margin: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-u-w_kYfT7D3GBKvP {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-ojR9yNVv0aSDeAdG {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-fKo7xotRqyrxdbG4 {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jY00-auMuYX_Yaxn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        width: auto;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-Km-a_vLqZYKzg1qQ {
        margin: 0;
        z-index: unset;
        width: auto;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-hrle4cgh7E0q5WYv {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-H4TZlWGl0PlJ7ldL {
        margin: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YF0k00I-Mi8zOhMt {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jmcmduGw2BpHZ9RI {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-xcvtKf9v4YXjru0H {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Fijzlf8jhln2zwt7 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-CQC-UYJF9-3biM3_ {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-dTX {
        margin: 0;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dTX {
          margin: 0;
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dTY {
        font-size: 12px;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dTY {
          text-align: center;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dTZ {
        align-self: var(--ww-section-root-auto-align, unset);
        display: grid;
        position: revert-layer;
        inset: revert-layer;
        width: var(--ww-section-root-auto-width, revert-layer);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
      }
      @media (max-width: 991px) {
        .ww-e-dTZ {
          display: grid;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTZ {
          align-self: center;
          display: flex;
          width: 100%;
          flex: 0 1 auto;
        }
      }
      .ww-e-dTZ.ww-layout, .ww-e-dTZ [data-ww-ls~="dTZ"] {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 30px;
      }
      @media (max-width: 991px) {
        .ww-e-dTZ.ww-layout, .ww-e-dTZ [data-ww-ls~="dTZ"] {
          display: grid;
          grid-auto-flow: row;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTZ.ww-layout, .ww-e-dTZ [data-ww-ls~="dTZ"] {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: stretch;
          gap: 15px 0;
        }
      }
      .ww-e-dTa {
        width: 18px;
        height: auto;
        transition: all 0.2s ease;
      }
      .ww-e-dTa:where([data-ww-states~="2w7mmz"]) {
        transition: all 0.2s ease;
      }
      .ww-e-dTb {
        align-self: unset;
        flex: 0 1 auto;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
      }
      @media (max-width: 767px) {
        .ww-e-dTb {
          font-size: 12px;
        }
      }
      .ww-e-dTc {
        margin: 0;
        padding: 0;
        position: revert-layer;
        inset: revert-layer;
        font-size: 14px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dTc {
          font-size: 12px;
        }
      }
      .ww-e-dTd {
        margin: 0;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dTd {
          margin: 5px 0 10px;
          font-size: 16px;
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
          --ww-text-text-overflow: ellipsis;
        }
      }
      .ww-e-dTe {
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dTe {
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dTf {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        border-radius: 12px;
        --wwi-ar: unset;
        --wwi-of: cover;
      }
      @media (max-width: 767px) {
        .ww-e-dTf {
          display: block;
          width: 100px;
          height: 100%;
          --wwi-of: cover;
        }
      }
      .ww-e-dTf:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        transform: scale(1.05);
      }
      .ww-e-dTg {
        padding: 5px;
        align-self: flex-start;
        width: 20px;
        height: 20px;
        aspect-ratio: unset;
        background: var(--ww-style-background-color);
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dTg {
          margin: 10px 0;
          padding: 5px;
          align-self: unset;
          width: 20px;
          height: 20px;
          aspect-ratio: unset;
        }
      }
      .ww-e-dTg.ww-layout, .ww-e-dTg [data-ww-ls~="dTg"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-dTh {
        padding: 6px;
        z-index: 1;
        display: var(--ww-style-display);
        position: absolute;
        top: 12px;
        left: 12px;
        background: var(--ww-style-background-color);
        opacity: 1;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dTh {
          padding: 4px;
        }
      }
      .ww-e-dTh.ww-layout, .ww-e-dTh [data-ww-ls~="dTh"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dTh.ww-layout, .ww-e-dTh [data-ww-ls~="dTh"] {
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        }
      }
      .ww-e-dTi {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dTi.ww-layout, .ww-e-dTi [data-ww-ls~="dTi"] {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        flex-wrap: revert-layer;
      }
      .ww-e-dTj {
        margin: 0;
      }
      @media (max-width: 767px) {
        .ww-e-dTj {
          width: revert-layer;
          height: auto;
          aspect-ratio: unset;
          min-height: unset;
        }
      }
      .ww-e-dTj.ww-layout, .ww-e-dTj [data-ww-ls~="dTj"] {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dTj.ww-layout, .ww-e-dTj [data-ww-ls~="dTj"] {
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-start;
          row-gap: 5px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTk {
          width: 90%;
        }
      }
      .ww-e-dTk.ww-layout, .ww-e-dTk [data-ww-ls~="dTk"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-dTl {
        align-self: unset;
        display: flex;
        width: 700px;
        max-width: unset;
        max-height: unset;
      }
      @media (max-width: 991px) {
        .ww-e-dTl {
          width: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTl {
          width: revert-layer;
          max-width: unset;
          height: auto;
          aspect-ratio: unset;
        }
      }
      .ww-e-dTl.ww-layout, .ww-e-dTl [data-ww-ls~="dTl"] {
        display: flex;
        flex-flow: wrap;
        align-items: stretch;
        align-content: revert-layer;
        gap: 10px;
      }
      @media (max-width: 767px) {
        .ww-e-dTl.ww-layout, .ww-e-dTl [data-ww-ls~="dTl"] {
          flex-flow: wrap;
          align-content: revert-layer;
          row-gap: 10px;
        }
      }
      .ww-e-dTn {
        padding: 20px;
        align-self: unset;
        display: block;
        width: revert-layer;
        height: auto;
        aspect-ratio: unset;
        font-size: 16px;
        font-family: var(--ww-default-font-family);
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dTp {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-dTq {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-dTr {
        z-index: 1;
        display: flex;
        position: absolute;
        top: 12px;
        right: 12px;
        width: 32px;
        height: 32px;
        background-color: #252525cc;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 50%;
      }
      @media (max-width: 991px) {
        .ww-e-dTr {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTr {
          display: none;
        }
      }
      .ww-e-dTr:where(:hover) {
        display: flex;
        background-color: #252525;
      }
      .ww-e-dTr.ww-layout, .ww-e-dTr [data-ww-ls~="dTr"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      @media (max-width: 991px) {
        .ww-e-dTr.ww-layout, .ww-e-dTr [data-ww-ls~="dTr"] {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTr.ww-layout, .ww-e-dTr [data-ww-ls~="dTr"] {
          display: none;
        }
      }
      .ww-e-dTr.ww-layout:where(:hover), .ww-e-dTr [data-ww-ls~="dTr"]:where(:hover) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-dTs {
        padding: 0;
        overflow: hidden;
        display: block;
        position: revert-layer;
        inset: revert-layer;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dTs {
          width: 100px;
          height: 150px;
          aspect-ratio: unset;
        }
      }
      .ww-e-dTs.ww-layout, .ww-e-dTs [data-ww-ls~="dTs"] {
        display: block;
      }
      .ww-e-dTt {
        margin: 10px 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dTt {
          align-self: unset;
          display: flex;
          width: 200px;
          flex: 0 1 auto;
        }
      }
      .ww-e-dTt.ww-layout, .ww-e-dTt [data-ww-ls~="dTt"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dTt.ww-layout, .ww-e-dTt [data-ww-ls~="dTt"] {
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          align-items: flex-start;
        }
      }
      .ww-e-dTu {
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        width: 200px;
        height: auto;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: translateY(0);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-c6e43cc3-abfb-4258-8af1-a62ee03f2647-base-default;
      }
      @keyframes ww-keyframes-element-c6e43cc3-abfb-4258-8af1-a62ee03f2647-base-default {
        0% {
        }
        100% {
        }
      }
      @media (max-width: 991px) {
        .ww-e-dTu {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTu {
          align-self: unset;
          display: flex;
          width: 100%;
          height: auto;
          aspect-ratio: unset;
          border-radius: 12px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTu:where(:hover) {
          background-color: #ffffff0d;
        }
      }
      .ww-e-dTu.ww-layout, .ww-e-dTu [data-ww-ls~="dTu"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 991px) {
        .ww-e-dTu.ww-layout, .ww-e-dTu [data-ww-ls~="dTu"] {
          display: flex;
          flex-flow: column;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTu.ww-layout, .ww-e-dTu [data-ww-ls~="dTu"] {
          display: flex;
          flex-flow: row;
          justify-content: flex-start;
          align-items: stretch;
          align-content: revert-layer;
          gap: 0 15px;
        }
      }
      .ww-e-dTv {
        align-self: var(--ww-section-root-auto-align, unset);
        display: var(--ww-style-display, flex);
        width: 100%;
      }
      @media (max-width: 767px) {
        .ww-e-dTv {
          display: var(--ww-style-display, none);
        }
      }
      .ww-e-dTv.ww-layout, .ww-e-dTv [data-ww-ls~="dTv"] {
        display: var(--ww-style-display, flex);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dTv.ww-layout, .ww-e-dTv [data-ww-ls~="dTv"] {
          display: var(--ww-style-display, none);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-dTw {
        align-self: unset;
        display: flex;
        width: 700px;
        max-width: unset;
        max-height: unset;
      }
      @media (max-width: 991px) {
        .ww-e-dTw {
          width: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTw {
          width: revert-layer;
          max-width: unset;
          height: auto;
          aspect-ratio: unset;
        }
      }
      .ww-e-dTw.ww-layout, .ww-e-dTw [data-ww-ls~="dTw"] {
        display: flex;
        flex-flow: wrap;
        align-items: stretch;
        align-content: revert-layer;
        gap: 10px;
      }
      @media (max-width: 767px) {
        .ww-e-dTw.ww-layout, .ww-e-dTw [data-ww-ls~="dTw"] {
          flex-flow: wrap;
          align-content: revert-layer;
          row-gap: 10px;
        }
      }
      .ww-e-dTx {
        max-width: 1000px;
      }
      @media (max-width: 767px) {
        .ww-e-dTx {
          max-width: unset;
        }
      }
      .ww-e-dTx.ww-layout, .ww-e-dTx [data-ww-ls~="dTx"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dTx.ww-layout, .ww-e-dTx [data-ww-ls~="dTx"] {
          flex-flow: column;
        }
      }
      .ww-e-dTz {
        margin: 0;
        padding: 6px;
        align-self: unset;
        width: revert-layer;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 12px;
        --ww-text-white-space: nowrap;
        --ww-text-overflow: hidden;
        --ww-text-text-overflow: initial;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 991px) {
        .ww-e-dTz {
          min-width: unset;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dTz {
          display: block;
          max-width: unset;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      .ww-e-dTz:where(:hover) {
        color: #191919;
        background-color: #fdca00;
        transition: all 0.3s ease 0s;
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        --ww-element-transition: all 0.3s ease 0s;
      }
      .ww-e-dTz:where([data-ww-states~="N1thmi"]) {
        color: #191919;
        background-color: #fdca00;
      }
      @media (max-width: 767px) {
        .ww-e-dU0 {
          width: 90%;
        }
      }
      .ww-e-dU0.ww-layout, .ww-e-dU0 [data-ww-ls~="dU0"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-dU1 {
        max-width: 1000px;
      }
      @media (max-width: 767px) {
        .ww-e-dU1 {
          max-width: unset;
        }
      }
      .ww-e-dU1.ww-layout, .ww-e-dU1 [data-ww-ls~="dU1"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dU1.ww-layout, .ww-e-dU1 [data-ww-ls~="dU1"] {
          flex-flow: column;
        }
      }
      .ww-e-dU2 {
        margin: 0;
        padding: 6px;
        align-self: unset;
        width: revert-layer;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 12px;
        --ww-text-white-space: nowrap;
        --ww-text-overflow: hidden;
        --ww-text-text-overflow: initial;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 991px) {
        .ww-e-dU2 {
          min-width: unset;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dU2 {
          display: block;
          max-width: unset;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      .ww-e-dU2:where(:hover) {
        color: #191919;
        background-color: #fdca00;
        transition: all 0.3s ease 0s;
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        --ww-element-transition: all 0.3s ease 0s;
      }
      .ww-e-dU2:where([data-ww-states~="N1thmi"]) {
        color: #191919;
        background-color: #fdca00;
      }
      .ww-e-dU3 {
        max-width: 1000px;
      }
      @media (max-width: 767px) {
        .ww-e-dU3 {
          max-width: unset;
        }
      }
      .ww-e-dU3.ww-layout, .ww-e-dU3 [data-ww-ls~="dU3"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-e-dU3.ww-layout, .ww-e-dU3 [data-ww-ls~="dU3"] {
          align-items: center;
        }
      }
      .ww-e-dU4.ww-layout, .ww-e-dU4 [data-ww-ls~="dU4"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dU5 {
        margin: 0;
        padding: 6px;
        align-self: unset;
        width: revert-layer;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 12px;
        --ww-text-white-space: nowrap;
        --ww-text-overflow: hidden;
        --ww-text-text-overflow: initial;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 991px) {
        .ww-e-dU5 {
          min-width: unset;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dU5 {
          display: block;
          max-width: unset;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
        }
      }
      .ww-e-dU5:where(:hover) {
        color: #191919;
        background-color: #fdca00;
        transition: all 0.3s ease 0s;
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        --ww-element-transition: all 0.3s ease 0s;
      }
      .ww-e-dU5:where([data-ww-states~="N1thmi"]) {
        color: #191919;
        background-color: #fdca00;
      }
      @media (max-width: 767px) {
        .ww-e-dU6 {
          width: 90%;
        }
      }
      .ww-e-dU6.ww-layout, .ww-e-dU6 [data-ww-ls~="dU6"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-dU7 {
        font-size: 12px;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dU7 {
          text-align: center;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dU8 {
        margin: 10px 0;
        padding: 12px 24px;
        width: auto;
        font-size: 12px;
        font-weight: 500;
        color: #000;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border: none;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      .ww-e-dU8:where(:hover) {
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dU9 {
        padding: 12px;
        display: var(--ww-style-display, none);
        width: var(--ww-section-root-auto-width, revert-layer);
      }
      .ww-e-dUA {
        padding: 10px 16px;
        align-self: center;
        display: var(--ww-style-display, none);
        width: auto;
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dUA {
          display: var(--ww-style-display, none);
          font-size: 12px;
        }
      }
      .ww-e-dUA:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dUB {
        margin: 0 0 2px;
        font-size: 12px;
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dUC {
        font-size: 16px;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dUD {
        padding: 4px 12px;
        width: 100%;
        border-top: 0 none;
        border-bottom: 0 none;
        border-left: 1px solid #c0c4cc;
        border-right: 0 none;
        border-radius: 16px;
      }
      .ww-e-dUD.ww-layout, .ww-e-dUD [data-ww-ls~="dUD"] {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: stretch;
        align-content: revert-layer;
      }
      .ww-e-dUE {
        font-size: 16px;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dUF {
        padding: 0;
        width: 100%;
        height: auto;
        border-radius: 16px;
      }
      .ww-e-dUF.ww-layout, .ww-e-dUF [data-ww-ls~="dUF"] {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        align-content: revert-layer;
      }
      .ww-e-dUG {
        font-size: 16px;
        font-weight: initial;
        text-transform: none;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dUH {
        margin: 0 0 2px;
        font-size: 12px;
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dUI.ww-layout, .ww-e-dUI [data-ww-ls~="dUI"] {
        display: flex;
        flex-flow: column;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-e-dUI.ww-layout, .ww-e-dUI [data-ww-ls~="dUI"] {
          align-items: center;
        }
      }
      .ww-e-dUJ.ww-layout, .ww-e-dUJ [data-ww-ls~="dUJ"] {
        display: flex;
        flex-flow: column;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-e-dUJ.ww-layout, .ww-e-dUJ [data-ww-ls~="dUJ"] {
          align-items: center;
        }
      }
      .ww-e-dUM {
        padding: 10px 16px;
        align-self: center;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dUM {
          font-size: 12px;
        }
      }
      .ww-e-dUM:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dUN {
        padding: 10px 16px;
        align-self: center;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dUN {
          font-size: 12px;
        }
      }
      .ww-e-dUN:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dUO {
        display: flex;
        width: var(--ww-section-root-auto-width, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dUO {
          width: 100%;
        }
      }
      .ww-e-dUO.ww-layout, .ww-e-dUO [data-ww-ls~="dUO"] {
        display: flex;
        flex-flow: column;
        gap: 40px 20px;
      }
      .ww-e-dUP {
        width: 100%;
      }
      .ww-e-dUP.ww-layout, .ww-e-dUP [data-ww-ls~="dUP"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: revert-layer;
      }
      .ww-e-dUQ {
        font-size: 16px;
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dUR {
        padding: 5px;
        align-self: unset;
        width: 300px;
        min-width: unset;
        height: auto;
        aspect-ratio: unset;
        background-color: #333;
        border-radius: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dUR {
          width: auto;
          min-width: unset;
        }
      }
      .ww-e-dUS.ww-layout, .ww-e-dUS [data-ww-ls~="dUS"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dUT {
        padding: 12px;
        display: var(--ww-style-display, none);
      }
      .ww-e-dUU {
        padding: 10px 16px;
        align-self: flex-start;
        display: var(--ww-style-display, none);
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dUU {
          font-size: 12px;
        }
      }
      .ww-e-dUU:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dUV {
        padding: 12px;
        display: var(--ww-style-display, none);
      }
      .ww-e-dUW.ww-layout, .ww-e-dUW [data-ww-ls~="dUW"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dUX {
        padding: 10px 16px;
        align-self: flex-start;
        display: var(--ww-style-display, none);
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dUX {
          font-size: 12px;
        }
      }
      .ww-e-dUX:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dUY {
        padding: 0;
        width: 300px;
        cursor: pointer;
        border: 0 solid #d1d5db;
        border-radius: 16px;
      }
      .ww-e-dUZ {
        font-size: 12px;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dUZ {
          text-align: center;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dUa {
        padding: 4px 12px;
        width: 100%;
        border-radius: 16px;
      }
      .ww-e-dUa.ww-layout, .ww-e-dUa [data-ww-ls~="dUa"] {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: stretch;
        align-content: revert-layer;
      }
      .ww-e-dUb.ww-layout, .ww-e-dUb [data-ww-ls~="dUb"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dUb.ww-layout, .ww-e-dUb [data-ww-ls~="dUb"] {
          align-items: center;
        }
      }
      .ww-e-dUc {
        font-size: 12px;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dUc {
          text-align: center;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dUd {
        font-size: 16px;
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dUe {
        align-self: unset;
        display: flex;
        width: 700px;
        max-width: unset;
        max-height: unset;
      }
      @media (max-width: 991px) {
        .ww-e-dUe {
          width: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUe {
          width: revert-layer;
          max-width: unset;
          height: auto;
          aspect-ratio: unset;
        }
      }
      .ww-e-dUe.ww-layout, .ww-e-dUe [data-ww-ls~="dUe"] {
        display: flex;
        flex-flow: wrap;
        align-items: stretch;
        align-content: revert-layer;
        gap: 10px;
      }
      @media (max-width: 767px) {
        .ww-e-dUe.ww-layout, .ww-e-dUe [data-ww-ls~="dUe"] {
          flex-flow: wrap;
          align-content: revert-layer;
          row-gap: 10px;
        }
      }
      .ww-e-dUf {
        padding: 5px;
        align-self: unset;
        width: 300px;
        min-width: unset;
        height: auto;
        aspect-ratio: unset;
        background-color: #333;
        border-radius: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dUf {
          width: auto;
          min-width: unset;
        }
      }
      .ww-e-dUg {
        padding: 5px;
        align-self: unset;
        width: 300px;
        min-width: unset;
        height: auto;
        aspect-ratio: unset;
        background-color: #333;
        border-radius: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dUg {
          width: auto;
          min-width: unset;
        }
      }
      .ww-e-dUh.ww-layout, .ww-e-dUh [data-ww-ls~="dUh"] {
        display: flex;
        flex-flow: column;
        row-gap: 30px;
      }
      .ww-e-dUi {
        font-size: 12px;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dUi {
          text-align: center;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dUj {
        margin: 0;
      }
      .ww-e-dUk {
        padding: 16px;
        display: flex;
        width: revert-layer;
        height: 16px;
        aspect-ratio: unset;
        background-color: #fdca0080;
        box-shadow: inset 0 1px 1px #78787880;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-play-state: running;
        animation-name: ww-keyframes-element-11350b12-5ee6-4a43-9a2e-90502ab46218-base-default;
        border-radius: 16px;
      }
      @keyframes ww-keyframes-element-11350b12-5ee6-4a43-9a2e-90502ab46218-base-default {
        0% {
          opacity: 0;
          transform: translateY(-10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUk {
          padding: 12px;
          width: revert-layer;
          height: 12px;
        }
      }
      .ww-e-dUk.ww-layout, .ww-e-dUk [data-ww-ls~="dUk"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-dUl {
        display: block;
        font-size: 16px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        cursor: auto;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-12dbc2c6-e5e2-4ac1-8048-7babf81f63c3-base-default;
      }
      @keyframes ww-keyframes-element-12dbc2c6-e5e2-4ac1-8048-7babf81f63c3-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dUl {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUl {
          display: block;
          font-size: 12px;
        }
      }
      .ww-e-dUm {
        display: flex;
        width: 100%;
        max-width: 1200px;
      }
      @media (max-width: 767px) {
        .ww-e-dUm {
          padding: 15px;
          z-index: 100;
          display: flex;
          position: sticky;
          top: 0;
          max-width: unset;
          background: var(--ww-style-background-color);
          transition: all 0.3s ease 0s;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUm:where([data-ww-states~="ncknsA"]) {
          top: 2%;
          width: 90%;
          background-color: #19191980;
          box-shadow: 0 1px 2px #78787833;
          border-radius: 16px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUm:where([data-ww-states~="1T06Qr"]) {
          background-color: #ebebeb80;
        }
      }
      .ww-e-dUm.ww-layout, .ww-e-dUm [data-ww-ls~="dUm"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        row-gap: 40px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dUm.ww-layout, .ww-e-dUm [data-ww-ls~="dUm"] {
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          align-items: stretch;
          row-gap: 40px;
        }
      }
      .ww-e-dUn {
        align-self: unset;
        flex: 0 1 auto;
        font-size: 14px;
        font-weight: 600;
        color: #000;
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dUn {
          font-size: 12px;
          font-weight: 600;
        }
      }
      .ww-e-dUo {
        width: 100%;
      }
      @media (max-width: 767px) {
        .ww-e-dUo {
          overflow: auto;
          display: flex;
          position: revert-layer;
          inset: revert-layer;
          background-color: #0000;
        }
      }
      .ww-e-dUo.ww-layout, .ww-e-dUo [data-ww-ls~="dUo"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 991px) {
        .ww-e-dUo.ww-layout, .ww-e-dUo [data-ww-ls~="dUo"] {
          justify-content: center;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dUo.ww-layout, .ww-e-dUo [data-ww-ls~="dUo"] {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          column-gap: 10px;
          flex-wrap: revert-layer;
        }
      }
    }
  }
  @layer custom {
    .ww-e-dTr {
      backdrop-filter: blur(4px);
    }
    @media (max-width: 767px) {
      .ww-e-dUm:where([data-ww-states~="ncknsA"]) {
        backdrop-filter: blur(10px);
      }
    }
  }
}
@layer ww-style-layout-override {
}
