@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Vl7bPWcpf-HYgY1D {
        height: auto;
        z-index: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-Y6MTqAnlYkTtOtmG {
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-db {
        min-height: 1200px;
        background: var(--ww-style-background-color);
      }
      @media (max-width: 767px) {
        .ww-s-db {
          height: auto;
          aspect-ratio: unset;
          margin: 0;
          min-height: 1200px;
          background: var(--ww-style-background-color);
        }
      }
      .ww-s-db > .ww-section-element {
        width: 100%;
        padding: 120px 64px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-db > .ww-section-element {
          width: 100%;
          padding: 32px 16px 128px;
          min-height: 1200px;
        }
      }
      .ww-s-db > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-s-db > .ww-section-element.ww-layout {
          row-gap: 40px;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-BUy5c_7mQD_pnjJN {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-ASwWizGf65fD79YV {
        margin: 0;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2MXhXlVHrdKM1K4g {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Wf3kR1fDZCtNqRYp {
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-dQVf4AfE6DwFXRwu {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-6GOhhIoAx0jRKIia {
        margin: 0;
        padding: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-musbR7AL09vB7JZp {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-GY9OD6k0O9NAwLah {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-osFt1bovyjmw1wCr {
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2XmtwZSC2Y1t00Nv {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-JHTUrsi5weKcajAQ {
        margin: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-EFbekEDt-bxLyKV- {
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-IBqsSZqALGUiyJm3 {
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-Fijzlf8jhln2zwt7 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-wepO1Mjw7DgHz3WK {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-EuBNDoFBsWKwG6sw {
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-u-w_kYfT7D3GBKvP {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-4RoHNZRxGrkSNyJL {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-hrpkn2nmdrP6iFfB {
        margin: 0;
        padding: 0;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-e64GhYcJHEm1j0gb {
        margin: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-ZHFlyccgidWMqZZn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-XMNgqUZITcWnfqZ3 {
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-0XtwMMjcpjxcaUFe {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-TszpyCWllUS44282 {
        z-index: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-xFskeE2e2iRUDkEm {
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-CQC-UYJF9-3biM3_ {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-dpF {
        align-self: unset;
        flex: 0 1 auto;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
      }
      @media (max-width: 767px) {
        .ww-e-dpF {
          font-size: 12px;
        }
      }
      .ww-e-dpG {
        margin: 10px 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dpG {
          align-self: unset;
          display: flex;
          width: 200px;
          flex: 0 1 auto;
        }
      }
      .ww-e-dpG.ww-layout, .ww-e-dpG [data-ww-ls~="dpG"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dpG.ww-layout, .ww-e-dpG [data-ww-ls~="dpG"] {
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          align-items: flex-start;
        }
      }
      .ww-e-dpH {
        padding: 5px;
        z-index: 100;
        align-self: flex-start;
        position: absolute;
        right: 12px;
        bottom: 12px;
        width: 20px;
        height: 20px;
        aspect-ratio: unset;
        background: var(--ww-style-background-color);
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dpH {
          margin: 0;
          padding: 5px;
          align-self: unset;
          display: var(--ww-style-display);
          width: 20px;
          height: 20px;
          aspect-ratio: unset;
        }
      }
      .ww-e-dpH.ww-layout, .ww-e-dpH [data-ww-ls~="dpH"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dpH.ww-layout, .ww-e-dpH [data-ww-ls~="dpH"] {
          display: var(--ww-style-display);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-dpI {
        padding: 20px;
        align-self: unset;
        display: block;
        width: revert-layer;
        height: auto;
        aspect-ratio: unset;
        font-size: 16px;
        font-family: var(--ww-default-font-family);
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dpJ {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-dpK {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-dpL {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-dpM {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-dpN {
        padding: 20px;
        align-self: unset;
        display: block;
        width: revert-layer;
        height: auto;
        aspect-ratio: unset;
        font-size: 16px;
        font-family: var(--ww-default-font-family);
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        letter-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dpO {
        width: 18px;
        height: auto;
        transition: all 0.2s ease;
      }
      .ww-e-dpO:where([data-ww-states~="2w7mmz"]) {
        transition: all 0.2s ease;
      }
      .ww-e-dpP {
        margin: 0;
        padding: 0;
        position: revert-layer;
        inset: revert-layer;
        font-size: 14px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dpP {
          font-size: 12px;
        }
      }
      .ww-e-dpQ {
        margin: 0;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dpQ {
          margin: 0;
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dpR {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dpR.ww-layout, .ww-e-dpR [data-ww-ls~="dpR"] {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dpR.ww-layout, .ww-e-dpR [data-ww-ls~="dpR"] {
          align-content: revert-layer;
          row-gap: 5px;
          flex-wrap: wrap;
        }
      }
      .ww-e-dpS {
        z-index: 101;
        display: flex;
        position: absolute;
        top: 12px;
        right: 12px;
        width: 32px;
        height: 32px;
        background-color: #252525cc;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 50%;
      }
      @media (max-width: 991px) {
        .ww-e-dpS {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpS {
          z-index: 101;
          display: none;
        }
      }
      .ww-e-dpS:where(:hover) {
        display: flex;
        background-color: #252525;
      }
      .ww-e-dpS.ww-layout, .ww-e-dpS [data-ww-ls~="dpS"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      @media (max-width: 991px) {
        .ww-e-dpS.ww-layout, .ww-e-dpS [data-ww-ls~="dpS"] {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpS.ww-layout, .ww-e-dpS [data-ww-ls~="dpS"] {
          display: none;
        }
      }
      .ww-e-dpS.ww-layout:where(:hover), .ww-e-dpS [data-ww-ls~="dpS"]:where(:hover) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-dpT {
        align-self: var(--ww-section-root-auto-align, unset);
        display: var(--ww-style-display, flex);
        width: 100%;
      }
      @media (max-width: 767px) {
        .ww-e-dpT {
          display: var(--ww-style-display, none);
        }
      }
      .ww-e-dpT.ww-layout, .ww-e-dpT [data-ww-ls~="dpT"] {
        display: var(--ww-style-display, flex);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dpT.ww-layout, .ww-e-dpT [data-ww-ls~="dpT"] {
          display: var(--ww-style-display, none);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-dpU {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        border-radius: 12px;
        --wwi-ar: unset;
        --wwi-of: cover;
      }
      @media (max-width: 767px) {
        .ww-e-dpU {
          display: block;
          width: 100px;
          height: 100%;
          --wwi-of: cover;
        }
      }
      .ww-e-dpU:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        transform: scale(1.05);
      }
      .ww-e-dpV {
        margin: 0;
      }
      @media (max-width: 767px) {
        .ww-e-dpV {
          width: revert-layer;
          height: auto;
          aspect-ratio: unset;
          min-height: unset;
        }
      }
      .ww-e-dpV.ww-layout, .ww-e-dpV [data-ww-ls~="dpV"] {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dpV.ww-layout, .ww-e-dpV [data-ww-ls~="dpV"] {
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-start;
          row-gap: 5px;
        }
      }
      .ww-e-dpW {
        margin: 0;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dpW {
          margin: 5px 0 10px;
          font-size: 16px;
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
          --ww-text-text-overflow: ellipsis;
        }
      }
      .ww-e-dpX {
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        width: 200px;
        height: auto;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: translateY(0);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-7176c66d-7a87-4f48-80fc-0a8b4a15cf82-base-default;
      }
      @keyframes ww-keyframes-element-7176c66d-7a87-4f48-80fc-0a8b4a15cf82-base-default {
        0% {
        }
        100% {
        }
      }
      @media (max-width: 991px) {
        .ww-e-dpX {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpX {
          align-self: unset;
          display: flex;
          width: 100%;
          height: auto;
          aspect-ratio: unset;
          border-radius: 12px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpX:where(:hover) {
          background-color: #ffffff0d;
        }
      }
      .ww-e-dpX.ww-layout, .ww-e-dpX [data-ww-ls~="dpX"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 991px) {
        .ww-e-dpX.ww-layout, .ww-e-dpX [data-ww-ls~="dpX"] {
          display: flex;
          flex-flow: column;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpX.ww-layout, .ww-e-dpX [data-ww-ls~="dpX"] {
          display: flex;
          flex-flow: row;
          justify-content: flex-start;
          align-items: stretch;
          align-content: revert-layer;
          gap: 0 15px;
        }
      }
      .ww-e-dpY {
        align-self: var(--ww-section-root-auto-align, unset);
        display: grid;
        position: revert-layer;
        inset: revert-layer;
        width: var(--ww-section-root-auto-width, revert-layer);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
      }
      @media (max-width: 991px) {
        .ww-e-dpY {
          display: grid;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpY {
          align-self: center;
          display: var(--ww-style-display, none);
          width: 100%;
          flex: 0 1 auto;
        }
      }
      .ww-e-dpY.ww-layout, .ww-e-dpY [data-ww-ls~="dpY"] {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 30px;
      }
      @media (max-width: 991px) {
        .ww-e-dpY.ww-layout, .ww-e-dpY [data-ww-ls~="dpY"] {
          display: grid;
          grid-auto-flow: row;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpY.ww-layout, .ww-e-dpY [data-ww-ls~="dpY"] {
          display: var(--ww-style-display, none);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          row-gap: var(--ww-content-row-gap-layout-flex, var(--ww-content-row-gap-layout-grid, revert-layer));
          column-gap: var(--ww-content-column-gap-layout-flex, var(--ww-content-column-gap-layout-grid, revert-layer));
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
          grid-auto-flow: var(--ww-content-grid-auto-flow-layout-grid, revert-layer);
          grid-template-columns: var(--ww-content-grid-template-columns-layout-grid, revert-layer);
          grid-template-rows: var(--ww-content-grid-template-rows-layout-grid, revert-layer);
        }
      }
      .ww-e-dpZ {
        padding: 12px;
        display: var(--ww-style-display, none);
        width: var(--ww-section-root-auto-width, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dpZ {
          display: var(--ww-style-display, none);
        }
      }
      .ww-e-dpb {
        margin: 0;
        padding: 10px;
        align-self: flex-start;
        display: flex;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-5f7e40a7-cfaa-476f-b345-5eb37ce9d24c-base-default;
      }
      @keyframes ww-keyframes-element-5f7e40a7-cfaa-476f-b345-5eb37ce9d24c-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpb {
          padding: 10px;
          display: none;
          cursor: pointer;
        }
      }
      .ww-e-dpb:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dpb.ww-layout, .ww-e-dpb [data-ww-ls~="dpb"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dpb.ww-layout, .ww-e-dpb [data-ww-ls~="dpb"] {
          display: none;
        }
      }
      .ww-e-dpb.ww-layout:where(:hover), .ww-e-dpb [data-ww-ls~="dpb"]:where(:hover) {
        column-gap: 5px;
      }
      .ww-e-dpc {
        width: 16px;
      }
      .ww-e-dpd {
        width: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dpd {
          align-self: unset;
        }
      }
      .ww-e-dpe {
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dpe {
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dpf {
        margin: 0;
        padding: 0;
        width: 100%;
        flex: 0 1 auto;
        height: 100%;
        aspect-ratio: unset;
        font-size: 14px;
        color: #fff;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        border: 0 solid #e0e0e0;
        border-radius: 10px;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      @media (max-width: 767px) {
        .ww-e-dpf {
          width: 100%;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
          transition: all 0.3s ease 0s;
          --ww-element-transition: all 0.3s ease 0s;
          --placeholder-color: var(--ww-content-placeholder-color);
        }
      }
      .ww-e-dpg {
        width: 20px;
        flex: 0 1 auto;
        height: auto;
      }
      @media (max-width: 767px) {
        .ww-e-dpg {
          transition: all 0.3s ease 0s;
        }
      }
      .ww-e-dph {
        width: 100%;
      }
      @media (max-width: 767px) {
        .ww-e-dph {
          overflow: auto;
          display: flex;
          position: revert-layer;
          inset: revert-layer;
          background-color: #0000;
        }
      }
      .ww-e-dph.ww-layout, .ww-e-dph [data-ww-ls~="dph"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 991px) {
        .ww-e-dph.ww-layout, .ww-e-dph [data-ww-ls~="dph"] {
          justify-content: center;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dph.ww-layout, .ww-e-dph [data-ww-ls~="dph"] {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          column-gap: 25px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-dpi {
        display: var(--ww-style-display);
        font-size: 16px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        cursor: auto;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-e8b32095-dde4-4ad5-b42e-2bbbc49253a4-base-default;
      }
      @keyframes ww-keyframes-element-e8b32095-dde4-4ad5-b42e-2bbbc49253a4-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dpi {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpi {
          display: var(--ww-style-display);
          font-size: 12px;
        }
      }
      .ww-e-dpj {
        display: var(--ww-style-display, none);
        width: 20px;
        cursor: pointer;
      }
      @media (max-width: 767px) {
        .ww-e-dpj {
          padding: 6px;
          align-self: unset;
          width: 40px;
          background: var(--ww-style-background-color);
          transition: all 0.3s ease 0s;
          border-radius: 16px;
        }
      }
      .ww-e-dpk {
        padding: 20px 24px;
        display: none;
        width: 100%;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dpk {
          padding: 10px 12px;
          display: flex;
          width: 80%;
        }
      }
      .ww-e-dpk:where(:hover) {
        background-color: #aaa3;
      }
      @media (max-width: 767px) {
        .ww-e-dpk:where(:hover) {
          background-color: #aaa0;
          opacity: 0.6;
        }
      }
      .ww-e-dpk.ww-layout, .ww-e-dpk [data-ww-ls~="dpk"] {
        display: none;
      }
      @media (max-width: 767px) {
        .ww-e-dpk.ww-layout, .ww-e-dpk [data-ww-ls~="dpk"] {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          column-gap: 5px;
          flex-wrap: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpk.ww-layout:where(:hover), .ww-e-dpk [data-ww-ls~="dpk"]:where(:hover) {
          column-gap: 10px;
        }
      }
      .ww-e-dpl {
        font-size: 16px;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dpl {
          font-weight: 600;
        }
      }
      .ww-e-dpm {
        font-size: 24px;
        font-weight: 800;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dpm {
          padding: 0;
          align-self: center;
          display: var(--ww-style-display, block);
          width: 100%;
          font-size: 28px;
          font-weight: 900;
          text-align: center;
          color: var(--ww-content-ww-text-color);
          letter-spacing: 2px;
          box-shadow: revert-layer;
          transition: all 0.3s ease 0s;
          border-radius: 100px;
          --ww-element-transition: all 0.3s ease 0s;
        }
      }
      .ww-e-dpn {
        padding: 10px 16px;
        align-self: center;
        display: var(--ww-style-display);
        width: auto;
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        box-shadow: inset 0 1px 1px #78787880;
        transition: all 0.3s ease 0s;
        border-radius: 32px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dpn {
          display: var(--ww-style-display);
          font-size: 12px;
          font-weight: 700;
        }
      }
      .ww-e-dpn:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dpo {
        font-size: 16px;
        font-weight: 400;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-7b321635-f490-475f-a1ef-02a9deddf7a8-base-default;
      }
      @keyframes ww-keyframes-element-7b321635-f490-475f-a1ef-02a9deddf7a8-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dpo {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpo {
          font-size: 16px;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dpp {
        padding: 0;
        overflow: hidden;
        display: block;
        position: revert-layer;
        inset: revert-layer;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dpp {
          width: 100px;
          height: 150px;
          aspect-ratio: unset;
        }
      }
      .ww-e-dpp.ww-layout, .ww-e-dpp [data-ww-ls~="dpp"] {
        display: block;
      }
      .ww-e-dpq {
        z-index: 100;
        align-self: unset;
        display: var(--ww-style-display);
        position: revert-layer;
        inset: revert-layer;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        background: var(--ww-style-background-gradient);
        transition: all 0.3s ease 0s;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dpq {
          height: 100%;
          aspect-ratio: unset;
        }
      }
      .ww-e-dpq:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dpq.ww-layout, .ww-e-dpq [data-ww-ls~="dpq"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dpq.ww-layout, .ww-e-dpq [data-ww-ls~="dpq"] {
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        }
      }
      .ww-e-dpr {
        padding: 6px;
        z-index: 101;
        display: var(--ww-style-display);
        position: absolute;
        top: 12px;
        left: 12px;
        background: var(--ww-style-background-color);
        opacity: 1;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dpr {
          padding: 4px;
          z-index: 101;
        }
      }
      .ww-e-dpr.ww-layout, .ww-e-dpr [data-ww-ls~="dpr"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dpr.ww-layout, .ww-e-dpr [data-ww-ls~="dpr"] {
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        }
      }
      .ww-e-dps {
        overflow: unset;
        position: revert-layer;
        inset: revert-layer;
        width: 90%;
        max-width: unset;
        font-size: 16px;
        font-family: var(--ww-default-font-family);
        line-height: 1.2;
        font-weight: 700;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-0952c7da-2393-44a6-8be2-b8f006f2f75b-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-0952c7da-2393-44a6-8be2-b8f006f2f75b-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dps {
          font-size: 36px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dps {
          margin: 0;
          overflow: unset;
          z-index: unset;
          align-self: unset;
          position: revert-layer;
          inset: revert-layer;
          width: 90%;
          max-width: unset;
          height: auto;
          aspect-ratio: unset;
          font-size: 12px;
          font-weight: 800;
          text-align: center;
        }
      }
      .ww-e-dpt {
        align-self: unset;
        flex: 0 1 auto;
        font-size: 14px;
        font-weight: 600;
        color: #000;
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dpt {
          font-size: 12px;
          font-weight: 600;
        }
      }
      .ww-e-dpu {
        margin: 10px 0;
        padding: 12px 24px;
        width: auto;
        font-size: 12px;
        font-weight: 600;
        color: #000;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border: none;
        border-radius: 32px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dpu {
          border-radius: 32px;
        }
      }
      .ww-e-dpu:where(:hover) {
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dpv {
        margin: 10px 0;
        padding: 12px 24px;
        width: auto;
        font-size: 12px;
        font-weight: 600;
        color: #000;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border: none;
        border-radius: 32px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dpv {
          border-radius: 32px;
        }
      }
      .ww-e-dpv:where(:hover) {
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dpw {
        padding: 12px;
        align-self: center;
        display: flex;
        width: revert-layer;
      }
      .ww-e-dpx {
        margin: 32px 0;
        padding: 48px;
        align-self: center;
        display: flex;
        width: 100%;
        max-width: 1200px;
        background-color: #0000001a;
        border-radius: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-dpx {
          margin: 25px 0;
          padding: 20px;
          display: flex;
          width: 100%;
          background-color: #0000001a;
          background-image: none;
          box-shadow: revert-layer;
          transition: all 0.3s ease 0s;
          border-radius: 32px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpx:where([data-ww-states~="glmQn2"]) {
          margin: 0;
          padding: 0;
          background-image: linear-gradient(0deg, #2c2c2c00 0%, #19191900 100%);
          box-shadow: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpx:where([data-ww-states~="oL96bD"]) {
          background-color: #0000;
          background-image: linear-gradient(0deg, #0000001a, #0000001a), linear-gradient(0deg, #2c2c2c00 0%, #19191900 100%);
        }
      }
      .ww-e-dpx.ww-layout, .ww-e-dpx [data-ww-ls~="dpx"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dpx.ww-layout, .ww-e-dpx [data-ww-ls~="dpx"] {
          display: flex;
          flex-flow: column;
          justify-content: flex-start;
          align-items: center;
          gap: 30px 25px;
        }
      }
      .ww-e-dpy {
        padding: 16px;
        display: flex;
        width: revert-layer;
        height: 16px;
        aspect-ratio: unset;
        background-color: #fdca0080;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-play-state: running;
        animation-name: ww-keyframes-element-d39661e3-6403-4ece-a2e7-675f6a53dd0f-base-default;
        border-radius: 16px;
      }
      @keyframes ww-keyframes-element-d39661e3-6403-4ece-a2e7-675f6a53dd0f-base-default {
        0% {
          opacity: 0;
          transform: translateY(-10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpy {
          padding: 12px;
          width: revert-layer;
          height: 12px;
        }
      }
      .ww-e-dpy.ww-layout, .ww-e-dpy [data-ww-ls~="dpy"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-dpz {
        margin: 15px 0;
        padding: 0 20px;
        overflow: unset;
        z-index: 100;
        align-self: center;
        display: none;
        width: 500px;
        flex: 0 1 auto;
        height: 40px;
        aspect-ratio: unset;
        background-color: #ffffff1a;
        border-radius: 12px;
      }
      @media (max-width: 991px) {
        .ww-e-dpz {
          margin: 0 48px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpz {
          margin: 0;
          padding: 0 20px;
          display: flex;
          width: 100%;
          height: 45px;
          aspect-ratio: unset;
          background-color: #ffffff0d;
          box-shadow: revert-layer;
          transition: all 0.3s ease 0s;
          border-radius: 32px;
        }
      }
      @media (max-width: 991px) {
        .ww-e-dpz:where([data-ww-states~="nISnVV"]) {
          box-shadow: 0 0 10px #fdca00cc;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpz:where([data-ww-states~="nISnVV"]) {
          margin: 0;
          width: 100%;
          background-color: #ffffff0d;
          box-shadow: revert-layer;
          transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpz:where([data-ww-states~="66wOip"]) {
          background-color: #c2c2c280;
          box-shadow: 0 1px 1px #78787833, 1px 10px 20px #0003;
        }
      }
      .ww-e-dpz.ww-layout, .ww-e-dpz [data-ww-ls~="dpz"] {
        display: none;
      }
      @media (max-width: 767px) {
        .ww-e-dpz.ww-layout, .ww-e-dpz [data-ww-ls~="dpz"] {
          display: flex;
          flex-flow: row;
          justify-content: flex-start;
          align-items: center;
          align-content: revert-layer;
          gap: 8px;
        }
      }
      .ww-e-dq0 {
        display: flex;
        width: 100%;
        max-width: 1200px;
      }
      @media (max-width: 767px) {
        .ww-e-dq0 {
          padding: 15px;
          z-index: 100;
          display: var(--ww-style-display, none);
          position: sticky;
          top: 0;
          background: var(--ww-style-background-color);
          transition: all 0.3s ease 0s;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dq0:where([data-ww-states~="ncknsA"]) {
          top: 2%;
          width: 90%;
          background-color: #19191980;
          box-shadow: inset 0 1px 1px #78787833, 0 1px 1px #7878781a;
          border-radius: 32px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dq0:where([data-ww-states~="1T06Qr"]) {
          background-color: #ebebeb80;
        }
      }
      .ww-e-dq0.ww-layout, .ww-e-dq0 [data-ww-ls~="dq0"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        row-gap: 40px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dq0.ww-layout, .ww-e-dq0 [data-ww-ls~="dq0"] {
          display: var(--ww-style-display, none);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-dq1 {
        width: 28px;
        height: auto;
      }
      @media (max-width: 767px) {
        .ww-e-dq1 {
          display: none;
        }
      }
    }
  }
  @layer custom {
    .ww-e-dpS {
      backdrop-filter: blur(4px);
    }
    @media (min-width: 992px) {
      .ww-e-dps {
        word-break: break-word;
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .ww-e-dps {
        word-break: break-word;
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }
    }
    @media (max-width: 767px) {
      .ww-e-dps {
        word-break: break-word;
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }
    }
    .ww-e-dpz {
      position: relative;
    }
    @media (max-width: 767px) {
      .ww-e-dq0:where([data-ww-states~="ncknsA"]) {
        backdrop-filter: blur(10px);
      }
    }
  }
}
@layer ww-style-layout-override {
}
