@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Vl7bPWcpf-HYgY1D {
        height: auto;
        z-index: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a--KGRjBBOtDBhGNXy {
        width: 100%;
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-d6 {
        min-height: 1200px;
        background: var(--ww-style-background-color);
      }
      .ww-s-d6 > .ww-section-element {
        padding: 120px 64px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-d6 > .ww-section-element {
          padding: 32px 24px 64px;
        }
      }
      .ww-s-d6 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: center;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-hrle4cgh7E0q5WYv {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-HKUUaWr_lXVy4vXn {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
    }
    @layer ordered {
      .ww-e-d6u {
        display: var(--ww-style-display);
        width: 60%;
      }
      @media (max-width: 767px) {
        .ww-e-d6u {
          width: 100%;
        }
      }
      .ww-e-d6u.ww-layout, .ww-e-d6u [data-ww-ls~="d6u"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-d6v {
        overflow: unset;
        align-self: unset;
        display: block;
        width: 100%;
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.5em;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-02275af5-41bb-4f42-9f0e-cdf118ced5d6-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-02275af5-41bb-4f42-9f0e-cdf118ced5d6-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-d6v {
          font-size: 12px;
        }
      }
      .ww-e-d6w {
        display: var(--ww-style-display);
        width: 60%;
      }
      @media (max-width: 767px) {
        .ww-e-d6w {
          width: 100%;
        }
      }
      .ww-e-d6w.ww-layout, .ww-e-d6w [data-ww-ls~="d6w"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-d6x {
        overflow: unset;
        align-self: unset;
        display: block;
        width: 100%;
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.5em;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-32c9dbb6-e954-49aa-ab0d-41c87cb1ed7f-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-32c9dbb6-e954-49aa-ab0d-41c87cb1ed7f-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-d6x {
          font-size: 12px;
        }
      }
      .ww-e-d6y {
        overflow: unset;
        align-self: unset;
        display: block;
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 36px;
        line-height: 1.6;
        font-weight: 600;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-4f70bf76-d635-4deb-bfad-98a127bd1e37-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-4f70bf76-d635-4deb-bfad-98a127bd1e37-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-d6y {
          font-size: 24px;
        }
      }
      .ww-e-d6z {
        overflow: unset;
        align-self: unset;
        display: block;
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 36px;
        line-height: 1.6;
        font-weight: 600;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-a76ab23d-ea5e-4f5a-8d32-b3a4ed719ffb-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-a76ab23d-ea5e-4f5a-8d32-b3a4ed719ffb-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-d6z {
          font-size: 24px;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-layout-override {
}
