@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Vl7bPWcpf-HYgY1D {
        height: auto;
        z-index: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a--KGRjBBOtDBhGNXy {
        width: 100%;
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-dc {
        min-height: 1200px;
        background: var(--ww-style-background-color);
      }
      .ww-s-dc > .ww-section-element {
        padding: 120px 64px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-dc > .ww-section-element {
          padding: 32px 24px 64px;
        }
      }
      .ww-s-dc > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: center;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-HKUUaWr_lXVy4vXn {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-Pl_ddFv4O7h7sQ1q {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-RnT0DjUqlwK_HqMg {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-VKUhmmNDcyZcVcWk {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-xt96CZ4DfPUjQaFH {
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
    }
    @layer ordered {
      .ww-e-dpA.ww-layout, .ww-e-dpA [data-ww-ls~="dpA"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dpB.ww-layout, .ww-e-dpB [data-ww-ls~="dpB"] {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        flex-wrap: revert-layer;
      }
      .ww-e-dpC {
        overflow: unset;
        align-self: unset;
        display: block;
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: underline;
        white-space-collapse: preserve;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-485b4198-f53c-4056-8a8a-38bdea15452b-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @keyframes ww-keyframes-element-485b4198-f53c-4056-8a8a-38bdea15452b-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpC {
          font-size: 12px;
        }
      }
      .ww-e-dpC:where(:hover) {
        text-decoration: none;
      }
      .ww-e-dpD {
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 36px;
        line-height: 1.6;
        font-weight: 600;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-36540a7c-e824-49c9-9d7f-393aa3d51697-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-36540a7c-e824-49c9-9d7f-393aa3d51697-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpD {
          font-size: 24px;
        }
      }
      .ww-e-dpE {
        overflow: unset;
        align-self: unset;
        display: block;
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-d60198d0-0396-44a1-82ea-fb85dbeb46a7-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-d60198d0-0396-44a1-82ea-fb85dbeb46a7-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpE {
          font-size: 12px;
        }
      }
      .ww-e-dpF {
        overflow: unset;
        align-self: unset;
        display: block;
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-01a54c12-ed5b-45e4-bdcf-9a12be280301-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-01a54c12-ed5b-45e4-bdcf-9a12be280301-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpF {
          font-size: 12px;
        }
      }
      .ww-e-dpG {
        overflow: unset;
        align-self: unset;
        display: block;
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: underline;
        white-space-collapse: preserve;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-d6de6edb-82b4-461f-8e06-eeb8de94dde1-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @keyframes ww-keyframes-element-d6de6edb-82b4-461f-8e06-eeb8de94dde1-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpG {
          font-size: 12px;
        }
      }
      .ww-e-dpG:where(:hover) {
        text-decoration: none;
      }
      .ww-e-dpH {
        margin: 0 0 25px;
        display: var(--ww-style-display);
      }
      .ww-e-dpH.ww-layout, .ww-e-dpH [data-ww-ls~="dpH"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dpH.ww-layout, .ww-e-dpH [data-ww-ls~="dpH"] {
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-dpI {
        width: 100px;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dpI:where(:hover) {
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dpJ {
        padding: 0 10px;
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display, none);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-7711e239-60af-400a-82ac-5ec2e0c4cb23-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-7711e239-60af-400a-82ac-5ec2e0c4cb23-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpJ {
          font-size: 12px;
        }
      }
      .ww-e-dpK {
        padding: 0 10px;
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display, none);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-a0994b72-76b0-4bde-8610-80972bb90b73-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-a0994b72-76b0-4bde-8610-80972bb90b73-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpK {
          font-size: 12px;
        }
      }
      .ww-e-dpL {
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 36px;
        line-height: 1.6;
        font-weight: 600;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-4de8d24b-d2ed-47ca-a300-03862f2c1d5b-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-4de8d24b-d2ed-47ca-a300-03862f2c1d5b-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpL {
          font-size: 24px;
        }
      }
      .ww-e-dpM {
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display, none);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-d44450d4-b79f-475f-8bee-e3616c008f77-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-d44450d4-b79f-475f-8bee-e3616c008f77-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpM {
          font-size: 12px;
        }
      }
      .ww-e-dpN {
        width: 60%;
      }
      @media (max-width: 767px) {
        .ww-e-dpN {
          margin: 100px 0 0;
          width: 100%;
        }
      }
      .ww-e-dpN.ww-layout, .ww-e-dpN [data-ww-ls~="dpN"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        row-gap: 20px;
      }
      .ww-e-dpO {
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display, none);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-8a853779-0266-4ccb-8f1d-177caf3e8911-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-8a853779-0266-4ccb-8f1d-177caf3e8911-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpO {
          font-size: 12px;
        }
      }
      .ww-e-dpP {
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display, none);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-a381df10-f045-4d7d-b00d-8eedc0902601-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-a381df10-f045-4d7d-b00d-8eedc0902601-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpP {
          font-size: 24px;
        }
      }
      .ww-e-dpQ {
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display, none);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 36px;
        line-height: 1.6;
        font-weight: 600;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-f91f3041-7eed-48ec-b880-d101fa721570-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-f91f3041-7eed-48ec-b880-d101fa721570-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpQ {
          font-size: 24px;
        }
      }
      .ww-e-dpR {
        padding: 0 10px;
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display, none);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-a91bcbf3-5eb8-4939-8713-d57e65102865-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-a91bcbf3-5eb8-4939-8713-d57e65102865-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpR {
          font-size: 12px;
        }
      }
      .ww-e-dpS {
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display, none);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-e0100e18-ad76-466a-8d39-a72bd79f1004-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-e0100e18-ad76-466a-8d39-a72bd79f1004-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpS {
          font-size: 12px;
        }
      }
      .ww-e-dpT {
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display, none);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-8ca9a64f-be21-41b9-9e6f-e3c2200c6b0f-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-8ca9a64f-be21-41b9-9e6f-e3c2200c6b0f-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpT {
          font-size: 12px;
        }
      }
      .ww-e-dpU {
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display, none);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-919e656d-4604-4d97-ad0c-392b95ad1d23-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-919e656d-4604-4d97-ad0c-392b95ad1d23-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpU {
          font-size: 12px;
        }
      }
      .ww-e-dpV {
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display, none);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 36px;
        line-height: 1.6;
        font-weight: 600;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-8348c7d2-17c9-4e0f-86ba-cefaf2d506cf-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-8348c7d2-17c9-4e0f-86ba-cefaf2d506cf-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpV {
          font-size: 24px;
        }
      }
      .ww-e-dpW {
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display, none);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-109f55c8-d59a-451f-9277-f060a9d9bad6-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-109f55c8-d59a-451f-9277-f060a9d9bad6-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpW {
          font-size: 24px;
        }
      }
      .ww-e-dpX {
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display, none);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 36px;
        line-height: 1.6;
        font-weight: 600;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-6d6f67df-e263-44c0-abd0-42548c3f334d-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-6d6f67df-e263-44c0-abd0-42548c3f334d-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpX {
          font-size: 24px;
        }
      }
      .ww-e-dpY {
        padding: 0 10px;
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display, none);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-b04dfe9c-ab87-4d88-9ede-5774caa50ccc-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-b04dfe9c-ab87-4d88-9ede-5774caa50ccc-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpY {
          font-size: 12px;
        }
      }
      .ww-e-dpZ {
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display, none);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 36px;
        line-height: 1.6;
        font-weight: 600;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-895852b0-b091-424b-be4e-f2be3fb478b8-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-895852b0-b091-424b-be4e-f2be3fb478b8-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpZ {
          font-size: 24px;
        }
      }
      .ww-e-dpa {
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display, none);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-0278809e-7973-40c6-b020-5513b879343d-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-0278809e-7973-40c6-b020-5513b879343d-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpa {
          font-size: 12px;
        }
      }
      .ww-e-dpb {
        margin: 0 0 25px;
        overflow: unset;
        align-self: unset;
        display: block;
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: underline;
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-33e0f4fa-d2bd-44bb-bd0f-e1437dbfe364-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @keyframes ww-keyframes-element-33e0f4fa-d2bd-44bb-bd0f-e1437dbfe364-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpb {
          font-size: 12px;
        }
      }
      .ww-e-dpb:where(:hover) {
        text-decoration: none;
      }
      .ww-e-dpc {
        padding: 0 10px;
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display, none);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-f1664719-1ad9-4d00-b775-eed2d65026d6-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-f1664719-1ad9-4d00-b775-eed2d65026d6-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpc {
          font-size: 12px;
        }
      }
      .ww-e-dpd {
        padding: 0 10px;
        overflow: unset;
        align-self: unset;
        display: var(--ww-style-display, none);
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: unset;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        text-decoration: none;
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: ww-keyframes-element-e4a5706f-1721-47d9-b1da-d8caa9f1ed27-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-e4a5706f-1721-47d9-b1da-d8caa9f1ed27-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dpd {
          font-size: 12px;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-layout-override {
}
