@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Vl7bPWcpf-HYgY1D {
        height: auto;
        z-index: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-yQ8RIhrN0Q7T-KZc {
        width: 100%;
        max-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-dQ {
        min-height: 1000px;
        background: var(--ww-style-background-color);
      }
      .ww-s-dQ > .ww-section-element {
        min-width: 1200px;
        min-height: 1000px;
      }
      .ww-s-dQ > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-bz1Dtfovudlkg0nb {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-Pl_ddFv4O7h7sQ1q {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-dQVf4AfE6DwFXRwu {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-UwZcNhn5pQq8yQgY {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        width: auto;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-7z7Fp3CUQKsvog5J {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-wepO1Mjw7DgHz3WK {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-EFbekEDt-bxLyKV- {
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-ddx {
        display: var(--ww-style-display, block);
        font-size: 14px;
        color: #f44;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-ddy {
        margin: 0 0 16px;
        display: flex;
        width: 100%;
      }
      .ww-e-ddy.ww-layout, .ww-e-ddy [data-ww-ls~="ddy"] {
        display: flex;
        flex-flow: column;
        row-gap: 0;
      }
      .ww-e-ddz {
        margin: 0 0 16px;
        display: flex;
        width: 100%;
      }
      .ww-e-ddz.ww-layout, .ww-e-ddz [data-ww-ls~="ddz"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-de0 {
        width: 16px;
      }
      .ww-e-de1 {
        margin: 0;
        font-size: 14px;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      .ww-e-de2 {
        margin: 10px 0;
      }
      .ww-e-de2.ww-layout, .ww-e-de2 [data-ww-ls~="de2"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      .ww-e-de3 {
        padding: 12px 24px;
        font-size: 16px;
        font-weight: 500;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        box-shadow: inset 0 1px 1px #78787880;
        transition: all 0.3s ease 0s;
        border: none;
        border-radius: 12px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-de3 {
          font-size: 14px;
        }
      }
      .ww-e-de3:where(:hover) {
        box-shadow: revert-layer;
        transition: all 0.3s ease 0s;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        --ww-element-transition: all 0.3s ease 0s;
      }
      .ww-e-de4 {
        padding: 12px 16px;
        width: 100%;
        font-size: 16px;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background: var(--ww-style-background-color);
        box-shadow: 0 1px 1px #78787880;
        border-radius: 12px;
      }
      .ww-e-de5 {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-de6 {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-de7 {
        display: flex;
        position: revert-layer;
        inset: revert-layer;
        width: 100%;
      }
      .ww-e-de7.ww-layout, .ww-e-de7 [data-ww-ls~="de7"] {
        display: flex;
        flex-direction: row;
        flex-wrap: revert-layer;
      }
      .ww-e-de8 {
        margin: 0 0 8px;
        font-size: 14px;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      .ww-e-de9 {
        margin: 0;
        font-size: 24px;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      .ww-e-deA {
        margin: 0 0 24px;
        display: flex;
        width: 100%;
      }
      .ww-e-deA.ww-layout, .ww-e-deA [data-ww-ls~="deA"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-deB {
        margin: 100px 0;
        padding: 32px;
        align-self: center;
        display: flex;
        width: 400px;
        background: var(--ww-style-background-color);
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-deB {
          width: revert-layer;
        }
      }
      .ww-e-deB.ww-layout, .ww-e-deB [data-ww-ls~="deB"] {
        display: flex;
        flex-flow: column;
        align-items: stretch;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-e-deB.ww-layout, .ww-e-deB [data-ww-ls~="deB"] {
          align-items: stretch;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-layout-override {
}
