@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    .ww-section-d45c6b97-11c7-48dc-ab6b-936bd74231ac {
      height: auto;
      margin: 0;
      z-index: unset;
      min-height: 1200px;
      max-height: unset;
      display: flex;
      background: var(--ww-style-background-color);
      position: revert-layer;
      inset: revert-layer;
      width: revert-layer;
    }
    @media (max-width: 767px) {
      .ww-section-d45c6b97-11c7-48dc-ab6b-936bd74231ac {
        margin: 0;
        overflow: auto;
        min-height: 1200px;
      }
    }
    .ww-section-d45c6b97-11c7-48dc-ab6b-936bd74231ac > .ww-section-element {
      width: 100%;
      padding: 120px 32px 64px;
      max-width: unset;
      min-width: unset;
      min-height: 1200px;
      max-height: unset;
    }
    @media (max-width: 767px) {
      .ww-section-d45c6b97-11c7-48dc-ab6b-936bd74231ac > .ww-section-element {
        --ww-section-root-auto-align: center;
        --ww-section-root-auto-width: 100%;
        width: 100%;
        padding: 64px 16px 128px;
        min-height: 1200px;
      }
    }
    .ww-section-d45c6b97-11c7-48dc-ab6b-936bd74231ac > .ww-section-element.ww-layout {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
    @media (max-width: 991px) {
      .ww-section-d45c6b97-11c7-48dc-ab6b-936bd74231ac > .ww-section-element.ww-layout {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-section-d45c6b97-11c7-48dc-ab6b-936bd74231ac > .ww-section-element.ww-layout {
        display: flex;
        align-items: stretch;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    .ww-element-9f4d30e7-9f1e-4444-a864-8d929ff9d4a7 {
      margin: 0 0 0 6px;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 20px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-1cad326f-7f1f-4440-b54f-1135e48ae83b {
      margin: 0 6px 0 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 20px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-8d0a1bcc-6ed8-4174-8dde-380fb887b770 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 32px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-ca6f7967-6769-42b4-a434-1e62447aa840 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 16px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-39942ac4-1042-4f25-99a4-5c909b468c78 {
      margin: 0;
      padding: 10px;
      z-index: unset;
      align-self: flex-start;
      display: flex;
      width: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      animation-duration: 0s;
      animation-timing-function: cubic-bezier(.4, 0, .2, 1);
      animation-delay: 0s;
      animation-fill-mode: none;
      animation-iteration-count: infinite;
      animation-name: ww-keyframes-element-39942ac4-1042-4f25-99a4-5c909b468c78-base-default;
    }
    @keyframes ww-keyframes-element-39942ac4-1042-4f25-99a4-5c909b468c78-base-default {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @media (max-width: 767px) {
      .ww-element-39942ac4-1042-4f25-99a4-5c909b468c78 {
        padding: 10px;
        display: none;
        cursor: pointer;
      }
    }
    .ww-element-39942ac4-1042-4f25-99a4-5c909b468c78:hover {
      opacity: 0.6;
      transition: all 0.3s ease 0s;
    }
    .ww-element-39942ac4-1042-4f25-99a4-5c909b468c78.ww-layout, .ww-element-39942ac4-1042-4f25-99a4-5c909b468c78 [data-ww-layout-style-scopes~="39942ac4-1042-4f25-99a4-5c909b468c78"] {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      column-gap: 10px;
      flex-wrap: revert-layer;
    }
    @media (max-width: 991px) {
      .ww-element-39942ac4-1042-4f25-99a4-5c909b468c78.ww-layout, .ww-element-39942ac4-1042-4f25-99a4-5c909b468c78 [data-ww-layout-style-scopes~="39942ac4-1042-4f25-99a4-5c909b468c78"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-39942ac4-1042-4f25-99a4-5c909b468c78.ww-layout, .ww-element-39942ac4-1042-4f25-99a4-5c909b468c78 [data-ww-layout-style-scopes~="39942ac4-1042-4f25-99a4-5c909b468c78"] {
        display: none;
      }
    }
    .ww-element-39942ac4-1042-4f25-99a4-5c909b468c78.ww-layout:hover, .ww-element-39942ac4-1042-4f25-99a4-5c909b468c78 [data-ww-layout-style-scopes~="39942ac4-1042-4f25-99a4-5c909b468c78"]:hover {
      display: flex;
      column-gap: 5px;
    }
    @media (max-width: 991px) {
      .ww-element-39942ac4-1042-4f25-99a4-5c909b468c78.ww-layout:hover, .ww-element-39942ac4-1042-4f25-99a4-5c909b468c78 [data-ww-layout-style-scopes~="39942ac4-1042-4f25-99a4-5c909b468c78"]:hover {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-39942ac4-1042-4f25-99a4-5c909b468c78.ww-layout:hover, .ww-element-39942ac4-1042-4f25-99a4-5c909b468c78 [data-ww-layout-style-scopes~="39942ac4-1042-4f25-99a4-5c909b468c78"]:hover {
        display: none;
      }
    }
    .ww-element-b767d67d-bbf0-4864-8cb4-bec8da109104 {
      margin: 0;
      padding: 32px;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 100%;
      flex: 0 1 auto;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background-color: #0000001a;
      box-shadow: inset 0 1px 1px #78787833;
      border-radius: 32px;
    }
    .ww-element-b767d67d-bbf0-4864-8cb4-bec8da109104.ww-layout, .ww-element-b767d67d-bbf0-4864-8cb4-bec8da109104 [data-ww-layout-style-scopes~="b767d67d-bbf0-4864-8cb4-bec8da109104"] {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      gap: 50px 20px;
    }
    @media (max-width: 991px) {
      .ww-element-b767d67d-bbf0-4864-8cb4-bec8da109104.ww-layout, .ww-element-b767d67d-bbf0-4864-8cb4-bec8da109104 [data-ww-layout-style-scopes~="b767d67d-bbf0-4864-8cb4-bec8da109104"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-b767d67d-bbf0-4864-8cb4-bec8da109104.ww-layout, .ww-element-b767d67d-bbf0-4864-8cb4-bec8da109104 [data-ww-layout-style-scopes~="b767d67d-bbf0-4864-8cb4-bec8da109104"] {
        display: flex;
        justify-content: center;
        row-gap: 20px;
      }
    }
    .ww-element-fffd7472-f9b7-4756-8ce0-a8bce037db32 {
      margin: 0;
      padding: 10px 16px;
      z-index: unset;
      align-self: center;
      display: var(--ww-style-display);
      width: auto;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 14px;
      font-family: var(--ww-default-font-family);
      font-weight: 600;
      text-align: center;
      color: var(--ww-content-ww-text-color);
      white-space-collapse: preserve;
      background: var(--ww-style-background-color);
      cursor: pointer;
      box-shadow: inset 0 1px 1px #78787833;
      transition: all 0.3s ease 0s;
      border: none;
      border-radius: 32px;
      --ww-element-transition: all 0.3s ease 0s;
    }
    @media (max-width: 991px) {
      .ww-element-fffd7472-f9b7-4756-8ce0-a8bce037db32 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-fffd7472-f9b7-4756-8ce0-a8bce037db32 {
        margin: 0;
        padding: 10px 16px;
        align-self: center;
        max-width: 200px;
        min-height: 40px;
        font-size: 12px;
        text-align: center;
        white-space-collapse: preserve;
        border-radius: 32px;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
      }
    }
    .ww-element-fffd7472-f9b7-4756-8ce0-a8bce037db32:hover {
      white-space-collapse: preserve;
      transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
    }
    @media (max-width: 991px) {
      .ww-element-fffd7472-f9b7-4756-8ce0-a8bce037db32:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-fffd7472-f9b7-4756-8ce0-a8bce037db32:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6 {
      margin: 0;
      padding: 10px;
      z-index: unset;
      align-self: flex-start;
      display: none;
      width: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      animation-duration: 0s;
      animation-timing-function: cubic-bezier(.4, 0, .2, 1);
      animation-delay: 0s;
      animation-fill-mode: none;
      animation-iteration-count: infinite;
      animation-name: ww-keyframes-element-6588daa6-4500-4411-bf56-ac28145a63f6-base-default;
    }
    @keyframes ww-keyframes-element-6588daa6-4500-4411-bf56-ac28145a63f6-base-default {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @media (max-width: 767px) {
      .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6 {
        margin: 0;
        padding: 0 10px;
        z-index: 100;
        align-self: center;
        display: flex;
        position: fixed;
        top: 5px;
        right: auto;
        left: auto;
        width: 100%;
        flex: 1 0 auto;
        height: auto;
        aspect-ratio: unset;
        max-height: 50px;
        min-height: 40px;
        cursor: auto;
        animation-name: ww-keyframes-element-6588daa6-4500-4411-bf56-ac28145a63f6-base-mobile;
        border-radius: 100px;
      }
      @keyframes ww-keyframes-element-6588daa6-4500-4411-bf56-ac28145a63f6-base-mobile {
        0% {
        }
        100% {
        }
      }
    }
    @media (max-width: 767px) {
      .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6[data-ww-states~="0bFTkZ"] {
        padding: 0 10px;
        top: 10px;
        width: 90%;
      }
    }
    .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6.ww-layout, .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6 [data-ww-layout-style-scopes~="6588daa6-4500-4411-bf56-ac28145a63f6"] {
      display: none;
    }
    @media (max-width: 991px) {
      .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6.ww-layout, .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6 [data-ww-layout-style-scopes~="6588daa6-4500-4411-bf56-ac28145a63f6"] {
        display: none;
      }
    }
    @media (max-width: 767px) {
      .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6.ww-layout, .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6 [data-ww-layout-style-scopes~="6588daa6-4500-4411-bf56-ac28145a63f6"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
    }
    .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6.ww-layout[data-ww-states~="0bFTkZ"], .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6 [data-ww-layout-style-scopes~="6588daa6-4500-4411-bf56-ac28145a63f6"][data-ww-states~="0bFTkZ"] {
      display: none;
    }
    @media (max-width: 991px) {
      .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6.ww-layout[data-ww-states~="0bFTkZ"], .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6 [data-ww-layout-style-scopes~="6588daa6-4500-4411-bf56-ac28145a63f6"][data-ww-states~="0bFTkZ"] {
        display: none;
      }
    }
    @media (max-width: 767px) {
      .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6.ww-layout[data-ww-states~="0bFTkZ"], .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6 [data-ww-layout-style-scopes~="6588daa6-4500-4411-bf56-ac28145a63f6"][data-ww-states~="0bFTkZ"] {
        display: flex;
      }
    }
    .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6.ww-layout[data-ww-states~="wdOBOt"], .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6 [data-ww-layout-style-scopes~="6588daa6-4500-4411-bf56-ac28145a63f6"][data-ww-states~="wdOBOt"] {
      display: none;
    }
    @media (max-width: 991px) {
      .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6.ww-layout[data-ww-states~="wdOBOt"], .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6 [data-ww-layout-style-scopes~="6588daa6-4500-4411-bf56-ac28145a63f6"][data-ww-states~="wdOBOt"] {
        display: none;
      }
    }
    @media (max-width: 767px) {
      .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6.ww-layout[data-ww-states~="wdOBOt"], .ww-element-6588daa6-4500-4411-bf56-ac28145a63f6 [data-ww-layout-style-scopes~="6588daa6-4500-4411-bf56-ac28145a63f6"][data-ww-states~="wdOBOt"] {
        display: flex;
      }
    }
    .ww-element-7804e608-17ff-410a-8abc-0f7a0e4b2391 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 16px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 767px) {
      .ww-element-7804e608-17ff-410a-8abc-0f7a0e4b2391 {
        padding: 5px;
        width: 40px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 100px;
      }
    }
    @media (max-width: 767px) {
      .ww-element-7804e608-17ff-410a-8abc-0f7a0e4b2391:hover {
        opacity: 1;
      }
    }
    @media (max-width: 767px) {
      .ww-element-7804e608-17ff-410a-8abc-0f7a0e4b2391[data-ww-states~="U7UYbI"] {
        background-color: #19191980;
        box-shadow: inset 0 1px 1px #78787833;
      }
    }
    @media (max-width: 767px) {
      .ww-element-7804e608-17ff-410a-8abc-0f7a0e4b2391[data-ww-states~="hQCGFR"] {
        background-color: #d6d6d680;
      }
    }
    .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 767px) {
      .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df {
        align-self: center;
        display: var(--ww-style-display);
        max-width: 250px;
        height: auto;
        aspect-ratio: unset;
        max-height: 50px;
        min-height: 40px;
        background-color: #19191980;
        border-radius: 100px;
      }
    }
    @media (max-width: 767px) {
      .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df[data-ww-states~="6gviM9"] {
        align-self: center;
        display: flex;
        flex: 1 0 auto;
        box-shadow: inset 0 1px 1px #78787833;
        border-radius: 100px;
      }
    }
    @media (max-width: 767px) {
      .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df[data-ww-states~="I7lxO2"] {
        background-color: #d6d6d680;
        border-radius: 100px;
      }
    }
    .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df.ww-layout, .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df [data-ww-layout-style-scopes~="abdcc03b-413e-499c-9e7a-0cbf38f8c3df"] {
      display: flex;
      flex-flow: column;
    }
    @media (max-width: 991px) {
      .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df.ww-layout, .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df [data-ww-layout-style-scopes~="abdcc03b-413e-499c-9e7a-0cbf38f8c3df"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df.ww-layout, .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df [data-ww-layout-style-scopes~="abdcc03b-413e-499c-9e7a-0cbf38f8c3df"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df [data-ww-layout-style-scopes~="abdcc03b-413e-499c-9e7a-0cbf38f8c3df"] {
        height: var(--ww-content-height-layout-block, revert-layer);
      }
    }
    .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df.ww-layout[data-ww-states~="6gviM9"], .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df [data-ww-layout-style-scopes~="abdcc03b-413e-499c-9e7a-0cbf38f8c3df"][data-ww-states~="6gviM9"] {
      display: flex;
    }
    @media (max-width: 991px) {
      .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df.ww-layout[data-ww-states~="6gviM9"], .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df [data-ww-layout-style-scopes~="abdcc03b-413e-499c-9e7a-0cbf38f8c3df"][data-ww-states~="6gviM9"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df.ww-layout[data-ww-states~="6gviM9"], .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df [data-ww-layout-style-scopes~="abdcc03b-413e-499c-9e7a-0cbf38f8c3df"][data-ww-states~="6gviM9"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
    }
    .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df.ww-layout[data-ww-states~="I7lxO2"], .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df [data-ww-layout-style-scopes~="abdcc03b-413e-499c-9e7a-0cbf38f8c3df"][data-ww-states~="I7lxO2"] {
      display: flex;
    }
    @media (max-width: 991px) {
      .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df.ww-layout[data-ww-states~="I7lxO2"], .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df [data-ww-layout-style-scopes~="abdcc03b-413e-499c-9e7a-0cbf38f8c3df"][data-ww-states~="I7lxO2"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df.ww-layout[data-ww-states~="I7lxO2"], .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df [data-ww-layout-style-scopes~="abdcc03b-413e-499c-9e7a-0cbf38f8c3df"][data-ww-states~="I7lxO2"] {
        display: var(--ww-style-display);
      }
    }
    .ww-element-186c5460-5523-4f5f-bf51-87730fefe675 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 16px;
      font-family: var(--ww-default-font-family);
      white-space-collapse: preserve;
      --ww-text-text-overflow: initial;
    }
    @media (max-width: 991px) {
      .ww-element-186c5460-5523-4f5f-bf51-87730fefe675 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-186c5460-5523-4f5f-bf51-87730fefe675 {
        padding: 5px;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
      }
    }
    .ww-element-e06fa8b0-ca0c-4bf3-8c13-df048e0b476b {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 12px;
      font-family: var(--ww-default-font-family);
      line-height: 1.3;
      font-weight: 500;
      color: var(--ww-content-ww-text-color);
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-e06fa8b0-ca0c-4bf3-8c13-df048e0b476b {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-e06fa8b0-ca0c-4bf3-8c13-df048e0b476b {
        margin: 0;
        font-size: 12px;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
    }
    .ww-element-e06fa8b0-ca0c-4bf3-8c13-df048e0b476b:hover {
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-e06fa8b0-ca0c-4bf3-8c13-df048e0b476b:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-e06fa8b0-ca0c-4bf3-8c13-df048e0b476b:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-153ac38e-008e-48f7-b391-7c5916ecf589 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 25px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 767px) {
      .ww-element-153ac38e-008e-48f7-b391-7c5916ecf589 {
        padding: 10px;
        width: 50px;
      }
    }
    .ww-element-38c4fcb4-9762-4fb1-b23c-884550c1a7ff {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: var(--ww-section-root-auto-align, unset);
      display: flex;
      width: 100%;
      max-width: 1200px;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 767px) {
      .ww-element-38c4fcb4-9762-4fb1-b23c-884550c1a7ff {
        margin: 0;
        width: var(--ww-section-root-auto-width, revert-layer);
      }
    }
    .ww-element-38c4fcb4-9762-4fb1-b23c-884550c1a7ff.ww-layout, .ww-element-38c4fcb4-9762-4fb1-b23c-884550c1a7ff [data-ww-layout-style-scopes~="38c4fcb4-9762-4fb1-b23c-884550c1a7ff"] {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 50px;
    }
    @media (max-width: 991px) {
      .ww-element-38c4fcb4-9762-4fb1-b23c-884550c1a7ff.ww-layout, .ww-element-38c4fcb4-9762-4fb1-b23c-884550c1a7ff [data-ww-layout-style-scopes~="38c4fcb4-9762-4fb1-b23c-884550c1a7ff"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-38c4fcb4-9762-4fb1-b23c-884550c1a7ff.ww-layout, .ww-element-38c4fcb4-9762-4fb1-b23c-884550c1a7ff [data-ww-layout-style-scopes~="38c4fcb4-9762-4fb1-b23c-884550c1a7ff"] {
        display: flex;
        row-gap: 40px;
      }
    }
    .ww-element-c8d00351-2bd6-4127-b7b8-ae28b4a72589 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 14px;
      font-family: var(--ww-default-font-family);
      font-weight: 700;
      color: var(--ww-content-ww-text-color);
      white-space-collapse: preserve;
      background-color: #0000;
      animation-duration: 0s;
      animation-timing-function: cubic-bezier(.4, 0, .2, 1);
      animation-delay: 0s;
      animation-fill-mode: none;
      animation-iteration-count: infinite;
      animation-name: ww-keyframes-element-c8d00351-2bd6-4127-b7b8-ae28b4a72589-base-default;
    }
    @keyframes ww-keyframes-element-c8d00351-2bd6-4127-b7b8-ae28b4a72589-base-default {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @media (max-width: 991px) {
      .ww-element-c8d00351-2bd6-4127-b7b8-ae28b4a72589 {
        font-size: 24px;
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-c8d00351-2bd6-4127-b7b8-ae28b4a72589 {
        margin: 0;
        display: block;
        width: revert-layer;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
    }
    .ww-element-1a07c3a4-00fc-49b6-a72c-c244b7e38419 {
      margin: 100px 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: var(--ww-style-display, none);
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 767px) {
      .ww-element-1a07c3a4-00fc-49b6-a72c-c244b7e38419 {
        margin: 100px 0;
        padding: 0;
        display: var(--ww-style-display, none);
      }
    }
    .ww-element-1a07c3a4-00fc-49b6-a72c-c244b7e38419.ww-layout, .ww-element-1a07c3a4-00fc-49b6-a72c-c244b7e38419 [data-ww-layout-style-scopes~="1a07c3a4-00fc-49b6-a72c-c244b7e38419"] {
      display: var(--ww-style-display, none);
      flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
      align-items: var(--ww-content-align-items-layout-flex, revert-layer);
      row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
      flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
    }
    .ww-element-1a07c3a4-00fc-49b6-a72c-c244b7e38419 [data-ww-layout-style-scopes~="1a07c3a4-00fc-49b6-a72c-c244b7e38419"] {
      height: var(--ww-content-height-layout-block, revert-layer);
    }
    @media (max-width: 991px) {
      .ww-element-1a07c3a4-00fc-49b6-a72c-c244b7e38419.ww-layout, .ww-element-1a07c3a4-00fc-49b6-a72c-c244b7e38419 [data-ww-layout-style-scopes~="1a07c3a4-00fc-49b6-a72c-c244b7e38419"] {
        display: var(--ww-style-display, none);
      }
    }
    @media (max-width: 767px) {
      .ww-element-1a07c3a4-00fc-49b6-a72c-c244b7e38419.ww-layout, .ww-element-1a07c3a4-00fc-49b6-a72c-c244b7e38419 [data-ww-layout-style-scopes~="1a07c3a4-00fc-49b6-a72c-c244b7e38419"] {
        display: var(--ww-style-display, none);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-element-1a07c3a4-00fc-49b6-a72c-c244b7e38419 [data-ww-layout-style-scopes~="1a07c3a4-00fc-49b6-a72c-c244b7e38419"] {
        height: var(--ww-content-height-layout-block, revert-layer);
      }
    }
    .ww-element-02faea91-a932-437e-aa9f-5b847083c074 {
      margin: 0;
      padding: 0;
      overflow: hidden;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 280px;
      max-width: unset;
      min-width: unset;
      height: auto;
      aspect-ratio: unset;
      max-height: unset;
      min-height: unset;
      transition: all 0.3s ease;
      transform: translateY(0);
      animation-fill-mode: none;
      animation-iteration-count: infinite;
      animation-name: ww-keyframes-element-02faea91-a932-437e-aa9f-5b847083c074-base-default;
      border-radius: 32px;
    }
    @keyframes ww-keyframes-element-02faea91-a932-437e-aa9f-5b847083c074-base-default {
      0% {
      }
      100% {
      }
    }
    @media (max-width: 991px) {
      .ww-element-02faea91-a932-437e-aa9f-5b847083c074 {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-02faea91-a932-437e-aa9f-5b847083c074 {
        display: flex;
        width: revert-layer;
        height: auto;
        aspect-ratio: unset;
        border-radius: 12px;
      }
    }
    @media (max-width: 767px) {
      .ww-element-02faea91-a932-437e-aa9f-5b847083c074:hover {
        background-color: #fff0;
      }
    }
    .ww-element-02faea91-a932-437e-aa9f-5b847083c074.ww-layout, .ww-element-02faea91-a932-437e-aa9f-5b847083c074 [data-ww-layout-style-scopes~="02faea91-a932-437e-aa9f-5b847083c074"] {
      display: flex;
      flex-flow: column;
    }
    @media (max-width: 991px) {
      .ww-element-02faea91-a932-437e-aa9f-5b847083c074.ww-layout, .ww-element-02faea91-a932-437e-aa9f-5b847083c074 [data-ww-layout-style-scopes~="02faea91-a932-437e-aa9f-5b847083c074"] {
        display: flex;
        flex-flow: column;
      }
    }
    @media (max-width: 767px) {
      .ww-element-02faea91-a932-437e-aa9f-5b847083c074.ww-layout, .ww-element-02faea91-a932-437e-aa9f-5b847083c074 [data-ww-layout-style-scopes~="02faea91-a932-437e-aa9f-5b847083c074"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        column-gap: 15px;
      }
    }
    .ww-element-02faea91-a932-437e-aa9f-5b847083c074.ww-layout:hover, .ww-element-02faea91-a932-437e-aa9f-5b847083c074 [data-ww-layout-style-scopes~="02faea91-a932-437e-aa9f-5b847083c074"]:hover {
      display: flex;
    }
    @media (max-width: 991px) {
      .ww-element-02faea91-a932-437e-aa9f-5b847083c074.ww-layout:hover, .ww-element-02faea91-a932-437e-aa9f-5b847083c074 [data-ww-layout-style-scopes~="02faea91-a932-437e-aa9f-5b847083c074"]:hover {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-02faea91-a932-437e-aa9f-5b847083c074.ww-layout:hover, .ww-element-02faea91-a932-437e-aa9f-5b847083c074 [data-ww-layout-style-scopes~="02faea91-a932-437e-aa9f-5b847083c074"]:hover {
        display: flex;
      }
    }
    .ww-element-bbd71cc1-de2f-4a77-b221-df4db277c9c2 {
      margin: 0;
      padding: 0 5px;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 50px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      cursor: auto;
      transition: all 0.3s ease 0s;
      border-radius: 0;
    }
    @media (max-width: 767px) {
      .ww-element-bbd71cc1-de2f-4a77-b221-df4db277c9c2 {
        width: 30px;
      }
    }
    .ww-element-e9e7f5c7-333d-4a13-9b6d-1ff0e1de2f8a {
      margin: 0;
      padding: 5px 10px;
      z-index: 101;
      align-self: unset;
      display: var(--ww-style-display);
      position: revert-layer;
      inset: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background: var(--ww-style-background-color);
      box-shadow: inset 0 1px 1px #78787840;
      border-radius: 32px;
    }
    .ww-element-e9e7f5c7-333d-4a13-9b6d-1ff0e1de2f8a.ww-layout, .ww-element-e9e7f5c7-333d-4a13-9b6d-1ff0e1de2f8a [data-ww-layout-style-scopes~="e9e7f5c7-333d-4a13-9b6d-1ff0e1de2f8a"] {
      display: var(--ww-style-display);
      flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
      justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
      align-items: var(--ww-content-align-items-layout-flex, revert-layer);
      column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
      flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
    }
    .ww-element-e9e7f5c7-333d-4a13-9b6d-1ff0e1de2f8a [data-ww-layout-style-scopes~="e9e7f5c7-333d-4a13-9b6d-1ff0e1de2f8a"] {
      height: var(--ww-content-height-layout-block, revert-layer);
    }
    @media (max-width: 991px) {
      .ww-element-e9e7f5c7-333d-4a13-9b6d-1ff0e1de2f8a.ww-layout, .ww-element-e9e7f5c7-333d-4a13-9b6d-1ff0e1de2f8a [data-ww-layout-style-scopes~="e9e7f5c7-333d-4a13-9b6d-1ff0e1de2f8a"] {
        display: var(--ww-style-display);
      }
    }
    @media (max-width: 767px) {
      .ww-element-e9e7f5c7-333d-4a13-9b6d-1ff0e1de2f8a.ww-layout, .ww-element-e9e7f5c7-333d-4a13-9b6d-1ff0e1de2f8a [data-ww-layout-style-scopes~="e9e7f5c7-333d-4a13-9b6d-1ff0e1de2f8a"] {
        display: var(--ww-style-display);
      }
    }
    .ww-element-aea3b9ab-4071-4222-a139-75acf8cc5445 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: var(--ww-style-display);
      position: revert-layer;
      inset: revert-layer;
      width: 100%;
      max-width: unset;
      min-width: unset;
      height: 100%;
      aspect-ratio: unset;
      max-height: unset;
      min-height: unset;
      transition: all 0.3s ease;
      transform: scale3d(.95, .95, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      border-radius: 32px;
      --wwi-ar: unset;
      --wwi-of: cover;
    }
    @media (max-width: 767px) {
      .ww-element-aea3b9ab-4071-4222-a139-75acf8cc5445 {
        width: 150px;
        height: 100%;
        transform: scale3d(.95, .95, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
    }
    .ww-element-aea3b9ab-4071-4222-a139-75acf8cc5445:hover {
      position: revert-layer;
      inset: revert-layer;
      width: 100%;
      height: 100%;
      transform: scale3d(.9, .9, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
    }
    @media (max-width: 767px) {
      .ww-element-aea3b9ab-4071-4222-a139-75acf8cc5445:hover {
        transform: scale3d(.85, .85, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
    }
    .ww-element-b5d0808e-f6d7-410a-8552-13abe42bdf71 {
      margin: 0;
      padding: 0 5px;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: 30px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      cursor: auto;
      transition: all 0.3s ease 0s;
      border-radius: 0;
    }
    @media (max-width: 767px) {
      .ww-element-b5d0808e-f6d7-410a-8552-13abe42bdf71 {
        width: 30px;
      }
    }
    .ww-element-aec731fa-8331-49ad-b8aa-e09e649f513e {
      margin: 0;
      padding: 0;
      overflow: hidden;
      z-index: unset;
      align-self: unset;
      display: block;
      position: revert-layer;
      inset: revert-layer;
      width: 280px;
      max-width: unset;
      min-width: unset;
      height: 280px;
      aspect-ratio: unset;
      max-height: unset;
      min-height: unset;
      background-color: #fff;
      background-image: none;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      border: 0 solid #fff;
      border-radius: 32px;
    }
    @media (max-width: 767px) {
      .ww-element-aec731fa-8331-49ad-b8aa-e09e649f513e {
        align-self: unset;
        width: 150px;
        height: 150px;
        aspect-ratio: unset;
        background-color: #fff;
        background-image: none;
      }
    }
    .ww-element-aec731fa-8331-49ad-b8aa-e09e649f513e:hover {
      opacity: 0.6;
      transition: all 0.3s ease 0s;
    }
    .ww-element-aec731fa-8331-49ad-b8aa-e09e649f513e.ww-layout, .ww-element-aec731fa-8331-49ad-b8aa-e09e649f513e [data-ww-layout-style-scopes~="aec731fa-8331-49ad-b8aa-e09e649f513e"] {
      display: block;
    }
    .ww-element-aec731fa-8331-49ad-b8aa-e09e649f513e [data-ww-layout-style-scopes~="aec731fa-8331-49ad-b8aa-e09e649f513e"] {
      height: 100%;
    }
    @media (max-width: 991px) {
      .ww-element-aec731fa-8331-49ad-b8aa-e09e649f513e.ww-layout, .ww-element-aec731fa-8331-49ad-b8aa-e09e649f513e [data-ww-layout-style-scopes~="aec731fa-8331-49ad-b8aa-e09e649f513e"] {
        display: block;
      }
    }
    @media (max-width: 767px) {
      .ww-element-aec731fa-8331-49ad-b8aa-e09e649f513e.ww-layout, .ww-element-aec731fa-8331-49ad-b8aa-e09e649f513e [data-ww-layout-style-scopes~="aec731fa-8331-49ad-b8aa-e09e649f513e"] {
        display: block;
      }
    }
    .ww-element-aec731fa-8331-49ad-b8aa-e09e649f513e.ww-layout:hover, .ww-element-aec731fa-8331-49ad-b8aa-e09e649f513e [data-ww-layout-style-scopes~="aec731fa-8331-49ad-b8aa-e09e649f513e"]:hover {
      display: block;
    }
    @media (max-width: 991px) {
      .ww-element-aec731fa-8331-49ad-b8aa-e09e649f513e.ww-layout:hover, .ww-element-aec731fa-8331-49ad-b8aa-e09e649f513e [data-ww-layout-style-scopes~="aec731fa-8331-49ad-b8aa-e09e649f513e"]:hover {
        display: block;
      }
    }
    @media (max-width: 767px) {
      .ww-element-aec731fa-8331-49ad-b8aa-e09e649f513e.ww-layout:hover, .ww-element-aec731fa-8331-49ad-b8aa-e09e649f513e [data-ww-layout-style-scopes~="aec731fa-8331-49ad-b8aa-e09e649f513e"]:hover {
        display: block;
      }
    }
    .ww-element-66778d5a-224b-4a60-8b4d-4a3dc29286e1 {
      margin: 0;
      padding: 5px 10px;
      z-index: 101;
      align-self: unset;
      display: var(--ww-style-display);
      position: absolute;
      inset: 43% 40%;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background: var(--ww-style-background-color);
      box-shadow: inset 0 1px 1px #78787840;
      border-radius: 32px;
    }
    @media (max-width: 767px) {
      .ww-element-66778d5a-224b-4a60-8b4d-4a3dc29286e1 {
        inset: 40% 35%;
      }
    }
    .ww-element-66778d5a-224b-4a60-8b4d-4a3dc29286e1.ww-layout, .ww-element-66778d5a-224b-4a60-8b4d-4a3dc29286e1 [data-ww-layout-style-scopes~="66778d5a-224b-4a60-8b4d-4a3dc29286e1"] {
      display: var(--ww-style-display);
      flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
      justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
      align-items: var(--ww-content-align-items-layout-flex, revert-layer);
      column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
      flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
    }
    .ww-element-66778d5a-224b-4a60-8b4d-4a3dc29286e1 [data-ww-layout-style-scopes~="66778d5a-224b-4a60-8b4d-4a3dc29286e1"] {
      height: var(--ww-content-height-layout-block, revert-layer);
    }
    @media (max-width: 991px) {
      .ww-element-66778d5a-224b-4a60-8b4d-4a3dc29286e1.ww-layout, .ww-element-66778d5a-224b-4a60-8b4d-4a3dc29286e1 [data-ww-layout-style-scopes~="66778d5a-224b-4a60-8b4d-4a3dc29286e1"] {
        display: var(--ww-style-display);
      }
    }
    @media (max-width: 767px) {
      .ww-element-66778d5a-224b-4a60-8b4d-4a3dc29286e1.ww-layout, .ww-element-66778d5a-224b-4a60-8b4d-4a3dc29286e1 [data-ww-layout-style-scopes~="66778d5a-224b-4a60-8b4d-4a3dc29286e1"] {
        display: var(--ww-style-display);
      }
    }
    .ww-element-ec8bf05a-a8ae-4a75-8618-ebbc40007c2d {
      margin: 0;
      padding: 5px 10px;
      z-index: 101;
      align-self: unset;
      display: var(--ww-style-display);
      position: revert-layer;
      inset: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      background: var(--ww-style-background-color);
      box-shadow: inset 0 1px 1px #78787840;
      border-radius: 32px;
    }
    .ww-element-ec8bf05a-a8ae-4a75-8618-ebbc40007c2d.ww-layout, .ww-element-ec8bf05a-a8ae-4a75-8618-ebbc40007c2d [data-ww-layout-style-scopes~="ec8bf05a-a8ae-4a75-8618-ebbc40007c2d"] {
      display: var(--ww-style-display);
      flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
      justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
      align-items: var(--ww-content-align-items-layout-flex, revert-layer);
      column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
      flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
    }
    .ww-element-ec8bf05a-a8ae-4a75-8618-ebbc40007c2d [data-ww-layout-style-scopes~="ec8bf05a-a8ae-4a75-8618-ebbc40007c2d"] {
      height: var(--ww-content-height-layout-block, revert-layer);
    }
    @media (max-width: 991px) {
      .ww-element-ec8bf05a-a8ae-4a75-8618-ebbc40007c2d.ww-layout, .ww-element-ec8bf05a-a8ae-4a75-8618-ebbc40007c2d [data-ww-layout-style-scopes~="ec8bf05a-a8ae-4a75-8618-ebbc40007c2d"] {
        display: var(--ww-style-display);
      }
    }
    @media (max-width: 767px) {
      .ww-element-ec8bf05a-a8ae-4a75-8618-ebbc40007c2d.ww-layout, .ww-element-ec8bf05a-a8ae-4a75-8618-ebbc40007c2d [data-ww-layout-style-scopes~="ec8bf05a-a8ae-4a75-8618-ebbc40007c2d"] {
        display: var(--ww-style-display);
      }
    }
    .ww-element-fb0ccd12-442f-4132-a3fa-06bff59ceaa8 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      position: absolute;
      right: 20px;
      bottom: 20px;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 767px) {
      .ww-element-fb0ccd12-442f-4132-a3fa-06bff59ceaa8 {
        bottom: 10px;
      }
    }
    .ww-element-fb0ccd12-442f-4132-a3fa-06bff59ceaa8.ww-layout, .ww-element-fb0ccd12-442f-4132-a3fa-06bff59ceaa8 [data-ww-layout-style-scopes~="fb0ccd12-442f-4132-a3fa-06bff59ceaa8"] {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      flex-wrap: revert-layer;
    }
    @media (max-width: 991px) {
      .ww-element-fb0ccd12-442f-4132-a3fa-06bff59ceaa8.ww-layout, .ww-element-fb0ccd12-442f-4132-a3fa-06bff59ceaa8 [data-ww-layout-style-scopes~="fb0ccd12-442f-4132-a3fa-06bff59ceaa8"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-fb0ccd12-442f-4132-a3fa-06bff59ceaa8.ww-layout, .ww-element-fb0ccd12-442f-4132-a3fa-06bff59ceaa8 [data-ww-layout-style-scopes~="fb0ccd12-442f-4132-a3fa-06bff59ceaa8"] {
        display: flex;
      }
    }
    .ww-element-244aba30-d60c-4f6a-9691-598d50b52884 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 16px;
      font-family: var(--ww-default-font-family);
      line-height: 1.3;
      font-weight: 500;
      color: var(--ww-content-ww-text-color);
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-244aba30-d60c-4f6a-9691-598d50b52884 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-244aba30-d60c-4f6a-9691-598d50b52884 {
        margin: 0;
        font-size: 12px;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
    }
    .ww-element-244aba30-d60c-4f6a-9691-598d50b52884:hover {
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-244aba30-d60c-4f6a-9691-598d50b52884:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-244aba30-d60c-4f6a-9691-598d50b52884:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-a09f4650-706a-46ee-bee6-27f212379f86 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      width: revert-layer;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 767px) {
      .ww-element-a09f4650-706a-46ee-bee6-27f212379f86 {
        align-self: unset;
      }
    }
    .ww-element-a09f4650-706a-46ee-bee6-27f212379f86.ww-layout, .ww-element-a09f4650-706a-46ee-bee6-27f212379f86 [data-ww-layout-style-scopes~="a09f4650-706a-46ee-bee6-27f212379f86"] {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: flex-start;
      row-gap: 5px;
    }
    @media (max-width: 991px) {
      .ww-element-a09f4650-706a-46ee-bee6-27f212379f86.ww-layout, .ww-element-a09f4650-706a-46ee-bee6-27f212379f86 [data-ww-layout-style-scopes~="a09f4650-706a-46ee-bee6-27f212379f86"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-a09f4650-706a-46ee-bee6-27f212379f86.ww-layout, .ww-element-a09f4650-706a-46ee-bee6-27f212379f86 [data-ww-layout-style-scopes~="a09f4650-706a-46ee-bee6-27f212379f86"] {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 5px;
      }
    }
    .ww-element-160c6c76-f651-44ea-9db7-dbbad93703a4 {
      margin: 10px 5px;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: flex;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    .ww-element-160c6c76-f651-44ea-9db7-dbbad93703a4.ww-layout, .ww-element-160c6c76-f651-44ea-9db7-dbbad93703a4 [data-ww-layout-style-scopes~="160c6c76-f651-44ea-9db7-dbbad93703a4"] {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: revert-layer;
    }
    @media (max-width: 991px) {
      .ww-element-160c6c76-f651-44ea-9db7-dbbad93703a4.ww-layout, .ww-element-160c6c76-f651-44ea-9db7-dbbad93703a4 [data-ww-layout-style-scopes~="160c6c76-f651-44ea-9db7-dbbad93703a4"] {
        display: flex;
      }
    }
    @media (max-width: 767px) {
      .ww-element-160c6c76-f651-44ea-9db7-dbbad93703a4.ww-layout, .ww-element-160c6c76-f651-44ea-9db7-dbbad93703a4 [data-ww-layout-style-scopes~="160c6c76-f651-44ea-9db7-dbbad93703a4"] {
        display: flex;
        flex-flow: column;
      }
    }
    .ww-element-800fe06b-1e49-4f65-a980-33e2a0e93434 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: grid;
      position: revert-layer;
      inset: revert-layer;
      width: revert-layer;
      flex: 0 1 auto;
      max-width: unset;
      min-width: 900px;
      height: auto;
      aspect-ratio: unset;
      max-height: unset;
      min-height: unset;
      animation-fill-mode: none;
      animation-iteration-count: infinite;
      animation-direction: normal;
    }
    @media (max-width: 991px) {
      .ww-element-800fe06b-1e49-4f65-a980-33e2a0e93434 {
        display: grid;
      }
    }
    @media (max-width: 767px) {
      .ww-element-800fe06b-1e49-4f65-a980-33e2a0e93434 {
        padding: 0 10px;
        align-self: center;
        display: flex;
        width: 100%;
        min-width: unset;
      }
    }
    .ww-element-800fe06b-1e49-4f65-a980-33e2a0e93434.ww-layout, .ww-element-800fe06b-1e49-4f65-a980-33e2a0e93434 [data-ww-layout-style-scopes~="800fe06b-1e49-4f65-a980-33e2a0e93434"] {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 30px;
    }
    @media (max-width: 991px) {
      .ww-element-800fe06b-1e49-4f65-a980-33e2a0e93434.ww-layout, .ww-element-800fe06b-1e49-4f65-a980-33e2a0e93434 [data-ww-layout-style-scopes~="800fe06b-1e49-4f65-a980-33e2a0e93434"] {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
      }
    }
    @media (max-width: 767px) {
      .ww-element-800fe06b-1e49-4f65-a980-33e2a0e93434.ww-layout, .ww-element-800fe06b-1e49-4f65-a980-33e2a0e93434 [data-ww-layout-style-scopes~="800fe06b-1e49-4f65-a980-33e2a0e93434"] {
        display: flex;
        flex-flow: wrap;
        place-content: stretch space-between;
        align-items: stretch;
        gap: 15px 5px;
      }
    }
    .ww-element-0d368ede-1d47-43ba-aa77-1d880a3ae19e {
      margin: 0;
      padding: 12px;
      z-index: unset;
      align-self: unset;
      display: var(--ww-style-display, none);
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
    }
    @media (max-width: 767px) {
      .ww-element-0d368ede-1d47-43ba-aa77-1d880a3ae19e {
        display: var(--ww-style-display, none);
      }
    }
    .ww-element-d1172171-ae50-4a4d-a294-fcb065bc5833 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: var(--ww-style-display, none);
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 24px;
      font-family: var(--ww-default-font-family);
      font-weight: 700;
      text-align: center;
      color: var(--ww-content-ww-text-color);
      white-space-collapse: preserve;
      animation-duration: 0s;
      animation-timing-function: cubic-bezier(.4, 0, .2, 1);
      animation-delay: 0s;
      animation-fill-mode: none;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-name: ww-keyframes-element-d1172171-ae50-4a4d-a294-fcb065bc5833-base-default;
    }
    @keyframes ww-keyframes-element-d1172171-ae50-4a4d-a294-fcb065bc5833-base-default {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @media (max-width: 991px) {
      .ww-element-d1172171-ae50-4a4d-a294-fcb065bc5833 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-d1172171-ae50-4a4d-a294-fcb065bc5833 {
        margin: 25px 0;
        font-size: 16px;
        text-align: center;
        white-space-collapse: preserve;
      }
    }
    .ww-element-53faf49b-0e86-4f1e-84e5-5ba282c67199 {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 12px;
      font-family: var(--ww-default-font-family);
      line-height: 1.3;
      font-weight: 500;
      color: var(--ww-content-ww-text-color);
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-53faf49b-0e86-4f1e-84e5-5ba282c67199 {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-53faf49b-0e86-4f1e-84e5-5ba282c67199 {
        margin: 0;
        font-size: 12px;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
    }
    .ww-element-53faf49b-0e86-4f1e-84e5-5ba282c67199:hover {
      white-space-collapse: preserve;
    }
    @media (max-width: 991px) {
      .ww-element-53faf49b-0e86-4f1e-84e5-5ba282c67199:hover {
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-53faf49b-0e86-4f1e-84e5-5ba282c67199:hover {
        white-space-collapse: preserve;
      }
    }
    .ww-element-bfedd0c6-6de9-4e39-b572-03385e68d14a {
      margin: 0;
      padding: 0;
      z-index: unset;
      align-self: unset;
      display: block;
      max-width: unset;
      min-width: unset;
      height: auto;
      max-height: unset;
      min-height: unset;
      font-size: 16px;
      font-family: var(--ww-default-font-family);
      font-weight: 400;
      color: var(--ww-content-ww-text-color);
      white-space-collapse: preserve;
      animation-timing-function: ease;
      animation-fill-mode: none;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-name: ww-keyframes-element-bfedd0c6-6de9-4e39-b572-03385e68d14a-base-default;
    }
    @keyframes ww-keyframes-element-bfedd0c6-6de9-4e39-b572-03385e68d14a-base-default {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @media (max-width: 991px) {
      .ww-element-bfedd0c6-6de9-4e39-b572-03385e68d14a {
        font-size: 24px;
        white-space-collapse: preserve;
      }
    }
    @media (max-width: 767px) {
      .ww-element-bfedd0c6-6de9-4e39-b572-03385e68d14a {
        font-size: 16px;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
    }
  }
  @layer custom {
    @media (max-width: 767px) {
      .ww-element-7804e608-17ff-410a-8abc-0f7a0e4b2391[data-ww-states~="U7UYbI"] {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-element-7804e608-17ff-410a-8abc-0f7a0e4b2391[data-ww-states~="hQCGFR"] {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df[data-ww-states~="6gviM9"] {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-element-abdcc03b-413e-499c-9e7a-0cbf38f8c3df[data-ww-states~="I7lxO2"] {
        backdrop-filter: blur(10px);
      }
    }
    .ww-element-aea3b9ab-4071-4222-a139-75acf8cc5445[data-ww-states~="jGFOR9"] {
      filter: blur(20px);
    }
  }
}
