@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Kx1Omt4gI5aMcV9U {
        height: auto;
        z-index: unset;
        min-height: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-ToP1y73DpSf7xjcF {
        width: 100%;
        max-width: unset;
        min-width: unset;
        min-height: unset;
        max-height: unset;
      }
      .ww-a-uWRDKzdjvkf4EAoV {
        z-index: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-Y6MTqAnlYkTtOtmG {
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-dE {
        aspect-ratio: unset;
      }
      @media (max-width: 767px) {
        .ww-s-dE {
          z-index: 100;
        }
      }
      .ww-s-dE > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .ww-s-dh {
        height: auto;
        aspect-ratio: unset;
        min-height: 1200px;
        background: var(--ww-style-background-color);
      }
      @media (max-width: 767px) {
        .ww-s-dh {
          margin: 0;
          min-height: 800px;
        }
      }
      .ww-s-dh > .ww-section-element {
        width: 100%;
        padding: 120px 64px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-dh > .ww-section-element {
          --ww-section-root-auto-align: center;
          --ww-section-root-auto-width: 100%;
          padding: 64px 16px 128px;
          min-height: 800px;
        }
      }
      .ww-s-dh > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-s-dh > .ww-section-element.ww-layout {
          align-items: stretch;
          column-gap: 0;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-ojR9yNVv0aSDeAdG {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-7dxAqErApSSqFalm {
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-tz8Ot9L7YJtLyH-p {
        margin: 0;
        padding: 0;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-VKUhmmNDcyZcVcWk {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-JavJ86pcuk-G7rQt {
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-3tJBOiCg_zaOJAaU {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-dQVf4AfE6DwFXRwu {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-Uds4CVZOBCUG_xSn {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-iVX9xAOhxPh0TDna {
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-r7WnTn9SzgK-adhw {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Pl_ddFv4O7h7sQ1q {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-musbR7AL09vB7JZp {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2XmtwZSC2Y1t00Nv {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-EFbekEDt-bxLyKV- {
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2ew-mtNf67a7wUE0 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-hrle4cgh7E0q5WYv {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-6N55Z-BsXmtn0S5J {
        padding: 0;
        z-index: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-0XtwMMjcpjxcaUFe {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YF0k00I-Mi8zOhMt {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-LDmpW3IfZ4eTGdcl {
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-BaIC8tdCYp5mXVzM {
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-bz1Dtfovudlkg0nb {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-gKJVPigFRIKz_eoQ {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-dJ5 {
        padding: 2px;
      }
      .ww-e-dJ5.ww-layout, .ww-e-dJ5 [data-ww-ls~="dJ5"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dJ6.ww-layout, .ww-e-dJ6 [data-ww-ls~="dJ6"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dJ7 {
        margin: 0;
        padding: 8px;
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dJ7:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dJ7.ww-layout, .ww-e-dJ7 [data-ww-ls~="dJ7"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
      }
      .ww-e-dJ8 {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: var(--ww-style-width, 100vw);
        height: 100vh;
        aspect-ratio: unset;
        background-color: #0006;
      }
      .ww-e-dJ8.ww-layout, .ww-e-dJ8 [data-ww-ls~="dJ8"] {
        display: flex;
      }
      .ww-e-dJ9 {
        font-size: 16px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dJA {
        cursor: pointer;
      }
      .ww-e-dJA.ww-layout, .ww-e-dJA [data-ww-ls~="dJA"] {
        display: flex;
      }
      .ww-e-dJB {
        width: 22px;
      }
      .ww-e-dJC {
        width: 32px;
      }
      .ww-e-dJD {
        width: revert-layer;
        height: auto;
        aspect-ratio: unset;
      }
      .ww-e-dJD.ww-layout, .ww-e-dJD [data-ww-ls~="dJD"] {
        display: flex;
        flex-flow: row;
        align-items: center;
        align-content: revert-layer;
        column-gap: 10px;
      }
      @media (max-width: 767px) {
        .ww-e-dJD.ww-layout, .ww-e-dJD [data-ww-ls~="dJD"] {
          column-gap: 15px;
        }
      }
      .ww-e-dJE {
        width: var(--ww-section-root-auto-width, revert-layer);
      }
      .ww-e-dJE.ww-layout, .ww-e-dJE [data-ww-ls~="dJE"] {
        display: flex;
        flex-direction: row;
        flex-wrap: revert-layer;
      }
      .ww-e-dJF {
        margin: 12px;
        padding: 12px 22px;
        z-index: 2;
        display: flex;
        width: 400px;
        height: 100px;
        aspect-ratio: unset;
        background-color: #fffc;
        box-shadow: inset 0 1px 1px #78787880;
        border: 0 solid #e6e6e6;
        border-radius: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dJF {
          width: 90%;
        }
      }
      .ww-e-dJF.ww-layout, .ww-e-dJF [data-ww-ls~="dJF"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
      }
      .ww-e-dJG {
        font-size: 14px;
        font-weight: 500;
        color: #000c;
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dJG {
          width: 200px;
        }
      }
      .ww-e-dJH {
        width: 22px;
      }
      .ww-e-dJI {
        width: 32px;
      }
      .ww-e-dJJ {
        padding: 2px;
      }
      .ww-e-dJJ.ww-layout, .ww-e-dJJ [data-ww-ls~="dJJ"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dJK {
        margin: 0;
        padding: 8px;
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dJK:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dJK.ww-layout, .ww-e-dJK [data-ww-ls~="dJK"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
      }
      .ww-e-dJL.ww-layout, .ww-e-dJL [data-ww-ls~="dJL"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dJM {
        width: revert-layer;
        height: auto;
        aspect-ratio: unset;
      }
      .ww-e-dJM.ww-layout, .ww-e-dJM [data-ww-ls~="dJM"] {
        display: flex;
        flex-flow: row;
        align-items: center;
        align-content: revert-layer;
        column-gap: 10px;
      }
      @media (max-width: 767px) {
        .ww-e-dJM.ww-layout, .ww-e-dJM [data-ww-ls~="dJM"] {
          column-gap: 15px;
        }
      }
      .ww-e-dJN {
        margin: 12px;
        padding: 12px 22px;
        z-index: 2;
        display: flex;
        width: 400px;
        height: 100px;
        aspect-ratio: unset;
        background-color: #fffc;
        box-shadow: inset 0 1px 1px #78787880;
        border: 0 solid #e6e6e6;
        border-radius: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dJN {
          width: 90%;
        }
      }
      .ww-e-dJN.ww-layout, .ww-e-dJN [data-ww-ls~="dJN"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
      }
      .ww-e-dJO {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: var(--ww-style-width, 100vw);
        height: 100vh;
        aspect-ratio: unset;
        background-color: #0006;
      }
      .ww-e-dJO.ww-layout, .ww-e-dJO [data-ww-ls~="dJO"] {
        display: flex;
      }
      .ww-e-dJP {
        font-size: 16px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dJQ {
        cursor: pointer;
      }
      .ww-e-dJQ.ww-layout, .ww-e-dJQ [data-ww-ls~="dJQ"] {
        display: flex;
      }
      .ww-e-dJR {
        width: var(--ww-section-root-auto-width, revert-layer);
      }
      .ww-e-dJR.ww-layout, .ww-e-dJR [data-ww-ls~="dJR"] {
        display: flex;
        flex-direction: row;
        flex-wrap: revert-layer;
      }
      .ww-e-dJS {
        font-size: 14px;
        font-weight: 500;
        color: #000c;
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dJS {
          width: 200px;
        }
      }
      .ww-e-dwp.ww-layout, .ww-e-dwp [data-ww-ls~="dwp"] {
        display: flex;
        flex-flow: column;
        row-gap: 10px;
      }
      @media (max-width: 767px) {
        .ww-e-dwp.ww-layout, .ww-e-dwp [data-ww-ls~="dwp"] {
          row-gap: 5px;
        }
      }
      .ww-e-dwq {
        margin: 0;
        display: var(--ww-style-display);
        width: 18px;
        height: 18px;
      }
      @media (max-width: 767px) {
        .ww-e-dwq {
          width: 16px;
          height: 16px;
        }
      }
      .ww-e-dwr {
        margin: 0;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dwr {
          font-size: 12px;
        }
      }
      .ww-e-dws {
        margin: 0;
        width: 18px;
        height: 18px;
      }
      @media (max-width: 767px) {
        .ww-e-dws {
          width: 16px;
          height: 16px;
        }
      }
      .ww-e-dwt.ww-layout, .ww-e-dwt [data-ww-ls~="dwt"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dwt.ww-layout, .ww-e-dwt [data-ww-ls~="dwt"] {
          align-items: center;
          align-content: revert-layer;
          row-gap: 5px;
          flex-wrap: wrap;
        }
      }
      .ww-e-dwu {
        margin: 0;
        padding: 10px;
        align-self: unset;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 700;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        cursor: auto;
        transition: all 0.3s ease 0s;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dwu {
          width: revert-layer;
          max-width: 200px;
          font-size: 12px;
        }
      }
      .ww-e-dwv {
        padding: 5px 10px;
        min-width: 300px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 10px;
      }
      @media (max-width: 767px) {
        .ww-e-dwv {
          padding: 5px 10px;
          min-width: unset;
        }
      }
      .ww-e-dwv:where(:hover) {
        padding: 5px 10px;
        background-color: #ffffff1a;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 10px;
      }
      .ww-e-dwv.ww-layout, .ww-e-dwv [data-ww-ls~="dwv"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 0;
        flex-wrap: revert-layer;
      }
      .ww-e-dww {
        margin: 0;
        display: flex;
      }
      .ww-e-dww.ww-layout, .ww-e-dww [data-ww-ls~="dww"] {
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dww.ww-layout, .ww-e-dww [data-ww-ls~="dww"] {
          align-content: revert-layer;
          column-gap: 10px;
          flex-wrap: nowrap;
        }
      }
      .ww-e-dwx {
        align-self: unset;
        display: var(--ww-style-display, none);
        width: 1200px;
      }
      @media (max-width: 767px) {
        .ww-e-dwx {
          width: 100%;
        }
      }
      .ww-e-dwx.ww-layout, .ww-e-dwx [data-ww-ls~="dwx"] {
        display: var(--ww-style-display, none);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, var(--ww-content-row-gap-layout-grid, revert-layer));
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        grid-auto-flow: var(--ww-content-grid-auto-flow-layout-grid, revert-layer);
        grid-template-columns: var(--ww-content-grid-template-columns-layout-grid, revert-layer);
        grid-template-rows: var(--ww-content-grid-template-rows-layout-grid, revert-layer);
        column-gap: var(--ww-content-column-gap-layout-grid, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dwx.ww-layout, .ww-e-dwx [data-ww-ls~="dwx"] {
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        }
      }
      .ww-e-dwy {
        align-self: center;
        display: var(--ww-style-display);
        width: 1px;
        height: 100%;
        aspect-ratio: unset;
        border: 2px solid #fdca00;
        border-radius: 16px;
      }
      .ww-e-dwy.ww-layout, .ww-e-dwy [data-ww-ls~="dwy"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dwz {
          align-self: unset;
        }
      }
      .ww-e-dwz.ww-layout, .ww-e-dwz [data-ww-ls~="dwz"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-e-dwz.ww-layout, .ww-e-dwz [data-ww-ls~="dwz"] {
          flex-flow: column;
          justify-content: flex-start;
          align-items: stretch;
        }
      }
      .ww-e-dx0 {
        width: 16px;
      }
      .ww-e-dx1 {
        margin: 0;
        padding: 10px;
        align-self: flex-start;
        display: flex;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-eac08aca-2da2-4b7a-9f0f-64af0a725b51-base-default;
      }
      @keyframes ww-keyframes-element-eac08aca-2da2-4b7a-9f0f-64af0a725b51-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dx1 {
          padding: 10px;
          display: none;
          cursor: pointer;
        }
      }
      .ww-e-dx1:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dx1.ww-layout, .ww-e-dx1 [data-ww-ls~="dx1"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dx1.ww-layout, .ww-e-dx1 [data-ww-ls~="dx1"] {
          display: none;
        }
      }
      .ww-e-dx1.ww-layout:where(:hover), .ww-e-dx1 [data-ww-ls~="dx1"]:where(:hover) {
        column-gap: 5px;
      }
      .ww-e-dx2 {
        font-size: 16px;
        font-weight: 400;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-045a27e4-a4c9-44de-8095-2e849c010a2b-base-default;
      }
      @keyframes ww-keyframes-element-045a27e4-a4c9-44de-8095-2e849c010a2b-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dx2 {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dx2 {
          font-size: 16px;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dx3.ww-layout, .ww-e-dx3 [data-ww-ls~="dx3"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-dx4 {
        display: var(--ww-style-display);
        position: revert-layer;
        inset: revert-layer;
        width: 90px;
        height: 120px;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        border-radius: 12px;
        --wwi-ar: unset;
        --wwi-of: cover;
      }
      @media (max-width: 767px) {
        .ww-e-dx4 {
          width: 80px;
          min-width: 80px;
          height: 100px;
          --wwi-of: cover;
        }
      }
      .ww-e-dx5 {
        display: var(--ww-style-display);
        width: 90px;
        height: 120px;
        aspect-ratio: unset;
        background: var(--ww-style-background-color);
        border-radius: 16px;
      }
      .ww-e-dx5.ww-layout, .ww-e-dx5 [data-ww-ls~="dx5"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-dx6 {
        display: flex;
        width: var(--ww-section-root-auto-width, revert-layer);
      }
      .ww-e-dx6.ww-layout, .ww-e-dx6 [data-ww-ls~="dx6"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dx7.ww-layout, .ww-e-dx7 [data-ww-ls~="dx7"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dx8 {
        margin: 0;
        font-size: 20px;
        line-height: 1.3;
        font-weight: 700;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dx8 {
          font-size: 14px;
        }
      }
      .ww-e-dx9 {
        width: 60px;
      }
      .ww-e-dxA {
        margin: 100px 0;
        align-self: center;
        display: var(--ww-style-display, none);
        max-width: 500px;
      }
      @media (max-width: 767px) {
        .ww-e-dxA {
          max-width: unset;
        }
      }
      .ww-e-dxA.ww-layout, .ww-e-dxA [data-ww-ls~="dxA"] {
        display: var(--ww-style-display, none);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-dxB {
        margin: 0;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 700;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxB {
          font-size: 12px;
        }
      }
      .ww-e-dxC.ww-layout, .ww-e-dxC [data-ww-ls~="dxC"] {
        display: flex;
        flex-flow: column;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-e-dxC.ww-layout, .ww-e-dxC [data-ww-ls~="dxC"] {
          row-gap: 10px;
        }
      }
      .ww-e-dxD {
        width: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dxD {
          padding: 5px;
          width: 40px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxD:where(:hover) {
          opacity: 1;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxD:where([data-ww-states~="U7UYbI"]) {
          background-color: #19191980;
          box-shadow: inset 0 1px 1px #78787833;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxD:where([data-ww-states~="hQCGFR"]) {
          background-color: #d6d6d680;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxE {
          align-self: center;
          display: var(--ww-style-display);
          max-width: 250px;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          background-color: #19191980;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxE:where([data-ww-states~="6gviM9"]) {
          align-self: center;
          display: flex;
          flex: 1 0 auto;
          box-shadow: inset 0 1px 1px #78787833;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxE:where([data-ww-states~="I7lxO2"]) {
          background-color: #d6d6d680;
          border-radius: 100px;
        }
      }
      .ww-e-dxE.ww-layout, .ww-e-dxE [data-ww-ls~="dxE"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-e-dxE.ww-layout, .ww-e-dxE [data-ww-ls~="dxE"] {
          display: var(--ww-style-display);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxE.ww-layout:where([data-ww-states~="6gviM9"]), .ww-e-dxE [data-ww-ls~="dxE"]:where([data-ww-states~="6gviM9"]) {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
        }
      }
      .ww-e-dxF {
        font-size: 16px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dxF {
          padding: 5px;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          color: var(--ww-content-ww-text-color);
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
        }
      }
      .ww-e-dxG {
        padding: 10px;
        align-self: flex-start;
        display: none;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-64f19580-9f4d-4217-8b30-172769a5bb2e-base-default;
      }
      @keyframes ww-keyframes-element-64f19580-9f4d-4217-8b30-172769a5bb2e-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxG {
          margin: 0;
          padding: 0 10px;
          z-index: 100;
          align-self: center;
          display: flex;
          position: fixed;
          top: 5px;
          right: auto;
          left: auto;
          width: 100%;
          flex: 1 0 auto;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          cursor: auto;
          box-shadow: revert-layer;
          animation-name: ww-keyframes-element-64f19580-9f4d-4217-8b30-172769a5bb2e-base-mobile;
          border-radius: 100px;
        }
        @keyframes ww-keyframes-element-64f19580-9f4d-4217-8b30-172769a5bb2e-base-mobile {
          0% {
          }
          100% {
          }
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxG:where([data-ww-states~="0bFTkZ"]) {
          padding: 0 10px;
          top: 10px;
          width: 90%;
          box-shadow: revert-layer;
        }
      }
      .ww-e-dxG.ww-layout, .ww-e-dxG [data-ww-ls~="dxG"] {
        display: none;
      }
      @media (max-width: 767px) {
        .ww-e-dxG.ww-layout, .ww-e-dxG [data-ww-ls~="dxG"] {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          column-gap: 10px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-dxH {
        padding: 12px;
        display: var(--ww-style-display, flex);
      }
      @media (max-width: 767px) {
        .ww-e-dxI {
          align-self: unset;
        }
      }
      .ww-e-dxI.ww-layout, .ww-e-dxI [data-ww-ls~="dxI"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-e-dxI.ww-layout, .ww-e-dxI [data-ww-ls~="dxI"] {
          align-items: center;
          row-gap: 10px;
        }
      }
      .ww-e-dxJ {
        width: 32px;
        height: auto;
      }
      .ww-e-dxK {
        margin: 32px 0;
        padding: 48px;
        align-self: unset;
        width: 1200px;
        background-color: #0000001a;
        box-shadow: inset 0 1px 1px #78787833;
        border-radius: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-dxK {
          padding: 32px;
          width: 100%;
          box-shadow: inset 0 1px 1px #78787833;
          border-radius: 32px;
        }
      }
      .ww-e-dxK.ww-layout, .ww-e-dxK [data-ww-ls~="dxK"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 25px 20px;
      }
      @media (max-width: 767px) {
        .ww-e-dxK.ww-layout, .ww-e-dxK [data-ww-ls~="dxK"] {
          row-gap: 25px;
        }
      }
      .ww-e-dxL.ww-layout, .ww-e-dxL [data-ww-ls~="dxL"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dxM.ww-layout, .ww-e-dxM [data-ww-ls~="dxM"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dxN {
        margin: 0 0 12px;
        padding: 12px 18px;
        z-index: 100;
        align-self: flex-start;
        position: sticky;
        top: 100px;
        font-size: 24px;
        line-height: 1.3;
        font-weight: 800;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background: var(--ww-style-background-color);
        box-shadow: inset 0 1px 1px #78787833, 0 1px 1px #7878781a;
        border-radius: 100px;
      }
      @media (max-width: 767px) {
        .ww-e-dxN {
          padding: 6px 12px;
          z-index: 100;
          position: sticky;
          top: 100px;
          font-size: 14px;
          background: var(--ww-style-background-color);
          box-shadow: inset 0 1px 1px #78787833, 0 1px 1px #7878781a;
          border-radius: 100px;
        }
      }
      .ww-e-dxO {
        margin: 0;
        display: var(--ww-style-display);
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxO {
          font-size: 12px;
        }
      }
      .ww-e-dxP.ww-layout, .ww-e-dxP [data-ww-ls~="dxP"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dxP.ww-layout, .ww-e-dxP [data-ww-ls~="dxP"] {
          align-items: center;
        }
      }
      .ww-e-dxQ.ww-layout, .ww-e-dxQ [data-ww-ls~="dxQ"] {
        display: flex;
        flex-direction: row;
        flex-wrap: revert-layer;
      }
      .ww-e-dxR {
        margin: 0;
        width: 18px;
        height: 18px;
      }
      @media (max-width: 767px) {
        .ww-e-dxR {
          width: 16px;
          height: 16px;
        }
      }
      .ww-e-dxS {
        margin: 0;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxS {
          font-size: 12px;
        }
      }
      .ww-e-dxT {
        margin: 0;
        max-width: unset;
        min-width: 70px;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxT {
          min-width: 50px;
          font-size: 12px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxU {
          width: 100%;
        }
      }
      .ww-e-dxU.ww-layout, .ww-e-dxU [data-ww-ls~="dxU"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dxV {
        padding: 28px;
        display: flex;
        width: 800px;
        background-color: #fff0;
        box-shadow: inset 0 1px 1px #78787800;
        transition: all 0.3s ease;
        border: 0 solid #f1f5f9;
        border-radius: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dxV {
          padding: 12px 0 12px 12px;
          width: 100%;
        }
      }
      .ww-e-dxV.ww-layout, .ww-e-dxV [data-ww-ls~="dxV"] {
        display: flex;
        flex-flow: column;
        align-items: stretch;
      }
      @media (max-width: 767px) {
        .ww-e-dxW {
          width: 100%;
        }
      }
      .ww-e-dxW.ww-layout, .ww-e-dxW [data-ww-ls~="dxW"] {
        display: flex;
        flex-direction: row;
        flex-wrap: revert-layer;
      }
      .ww-e-dxX {
        margin: 0;
        display: var(--ww-style-display);
        width: 18px;
        height: 18px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxX {
          display: none;
        }
      }
      .ww-e-dxY {
        margin: 0;
        display: var(--ww-style-display);
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxY {
          font-size: 12px;
        }
      }
      .ww-e-dxZ.ww-layout, .ww-e-dxZ [data-ww-ls~="dxZ"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dxZ.ww-layout, .ww-e-dxZ [data-ww-ls~="dxZ"] {
          align-content: revert-layer;
          row-gap: 5px;
          flex-wrap: nowrap;
        }
      }
      .ww-e-dxa {
        margin: 10px 0 0;
      }
      .ww-e-dxa.ww-layout, .ww-e-dxa [data-ww-ls~="dxa"] {
        display: flex;
        flex-flow: column;
        row-gap: 10px;
      }
      .ww-e-dxb {
        margin: 0;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 400;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxb {
          font-size: 12px;
          font-weight: 500;
        }
      }
      .ww-e-dxc {
        padding: 5px 10px;
        display: none;
      }
      @media (max-width: 767px) {
        .ww-e-dxc {
          padding: 2px 10px;
        }
      }
      .ww-e-dxc.ww-layout, .ww-e-dxc [data-ww-ls~="dxc"] {
        display: none;
      }
      .ww-e-dxd {
        margin: 0;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxd {
          width: revert-layer;
          max-width: 200px;
          font-size: 14px;
        }
      }
      .ww-e-dxd:where(:hover) {
        cursor: pointer;
        opacity: 0.6;
      }
      .ww-e-dxe {
        font-size: 24px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-41508f52-fc73-41f4-ada1-c3691ecd90ef-base-default;
      }
      @keyframes ww-keyframes-element-41508f52-fc73-41f4-ada1-c3691ecd90ef-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dxe {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxe {
          font-size: 16px;
        }
      }
      .ww-e-dxf {
        margin: 0 0 12px;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dxf {
          font-size: 12px;
        }
      }
      .ww-e-dxg {
        margin: 5px 0;
        max-width: unset;
        min-width: 70px;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxg {
          min-width: 50px;
          font-size: 12px;
        }
      }
      .ww-e-dxh {
        margin: 0;
        display: var(--ww-style-display);
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxh {
          font-size: 12px;
        }
      }
      .ww-e-dxi {
        margin: 0;
        display: var(--ww-style-display);
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxi {
          font-size: 12px;
        }
      }
    }
  }
  @layer custom {
    .ww-e-dJF {
      backdrop-filter: blur(10px);
    }
    .ww-e-dJN {
      backdrop-filter: blur(10px);
    }
    .ww-e-dwu {
      word-break: break-word;
      white-space: pre-wrap;
      overflow-wrap: break-word;
    }
    @media (max-width: 767px) {
      .ww-e-dxD:where([data-ww-states~="U7UYbI"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dxD:where([data-ww-states~="hQCGFR"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dxE:where([data-ww-states~="6gviM9"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dxE:where([data-ww-states~="I7lxO2"]) {
        backdrop-filter: blur(10px);
      }
    }
  }
}
@layer ww-style-layout-override {
}
