@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Kx1Omt4gI5aMcV9U {
        height: auto;
        z-index: unset;
        min-height: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-ToP1y73DpSf7xjcF {
        width: 100%;
        max-width: unset;
        min-width: unset;
        min-height: unset;
        max-height: unset;
      }
      .ww-a-uWRDKzdjvkf4EAoV {
        z-index: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-Y6MTqAnlYkTtOtmG {
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-dE {
        aspect-ratio: unset;
      }
      @media (max-width: 767px) {
        .ww-s-dE {
          z-index: 100;
        }
      }
      .ww-s-dE > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .ww-s-dh {
        height: auto;
        aspect-ratio: unset;
        min-height: 1200px;
        background: var(--ww-style-background-color);
      }
      @media (max-width: 767px) {
        .ww-s-dh {
          margin: 0;
          min-height: 800px;
        }
      }
      .ww-s-dh > .ww-section-element {
        width: 100%;
        padding: 120px 64px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-dh > .ww-section-element {
          --ww-section-root-auto-align: center;
          --ww-section-root-auto-width: 100%;
          padding: 64px 16px 128px;
          min-height: 800px;
        }
      }
      .ww-s-dh > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-s-dh > .ww-section-element.ww-layout {
          align-items: stretch;
          column-gap: 0;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-ojR9yNVv0aSDeAdG {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-7dxAqErApSSqFalm {
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-tz8Ot9L7YJtLyH-p {
        margin: 0;
        padding: 0;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-VKUhmmNDcyZcVcWk {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-JavJ86pcuk-G7rQt {
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-3tJBOiCg_zaOJAaU {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-dQVf4AfE6DwFXRwu {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-Uds4CVZOBCUG_xSn {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-iVX9xAOhxPh0TDna {
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-r7WnTn9SzgK-adhw {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Pl_ddFv4O7h7sQ1q {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-musbR7AL09vB7JZp {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2XmtwZSC2Y1t00Nv {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-EFbekEDt-bxLyKV- {
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2ew-mtNf67a7wUE0 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-hrle4cgh7E0q5WYv {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-6N55Z-BsXmtn0S5J {
        padding: 0;
        z-index: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-0XtwMMjcpjxcaUFe {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YF0k00I-Mi8zOhMt {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-BI3sa-LGkscs_rj1 {
        z-index: unset;
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-bz1Dtfovudlkg0nb {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-gKJVPigFRIKz_eoQ {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-BaIC8tdCYp5mXVzM {
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
    }
    @layer ordered {
      .ww-e-dJD {
        padding: 2px;
      }
      .ww-e-dJD.ww-layout, .ww-e-dJD [data-ww-ls~="dJD"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dJE.ww-layout, .ww-e-dJE [data-ww-ls~="dJE"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dJF {
        margin: 0;
        padding: 8px;
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dJF:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dJF.ww-layout, .ww-e-dJF [data-ww-ls~="dJF"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
      }
      .ww-e-dJG {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: var(--ww-style-width, 100vw);
        height: 100vh;
        aspect-ratio: unset;
        background-color: #0006;
      }
      .ww-e-dJG.ww-layout, .ww-e-dJG [data-ww-ls~="dJG"] {
        display: flex;
      }
      .ww-e-dJH {
        font-size: 16px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dJI {
        cursor: pointer;
      }
      .ww-e-dJI.ww-layout, .ww-e-dJI [data-ww-ls~="dJI"] {
        display: flex;
      }
      .ww-e-dJJ {
        width: 22px;
      }
      .ww-e-dJK {
        width: 32px;
      }
      .ww-e-dJL {
        width: revert-layer;
        height: auto;
        aspect-ratio: unset;
      }
      .ww-e-dJL.ww-layout, .ww-e-dJL [data-ww-ls~="dJL"] {
        display: flex;
        flex-flow: row;
        align-items: center;
        align-content: revert-layer;
        column-gap: 10px;
      }
      @media (max-width: 767px) {
        .ww-e-dJL.ww-layout, .ww-e-dJL [data-ww-ls~="dJL"] {
          column-gap: 15px;
        }
      }
      .ww-e-dJM {
        width: var(--ww-section-root-auto-width, revert-layer);
      }
      .ww-e-dJM.ww-layout, .ww-e-dJM [data-ww-ls~="dJM"] {
        display: flex;
        flex-direction: row;
        flex-wrap: revert-layer;
      }
      .ww-e-dJN {
        font-size: 14px;
        font-weight: 500;
        color: #000c;
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dJN {
          width: 200px;
        }
      }
      .ww-e-dJO {
        width: 22px;
      }
      .ww-e-dJP {
        width: 32px;
      }
      .ww-e-dJQ {
        padding: 2px;
      }
      .ww-e-dJQ.ww-layout, .ww-e-dJQ [data-ww-ls~="dJQ"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dJR {
        margin: 0;
        padding: 8px;
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dJR:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dJR.ww-layout, .ww-e-dJR [data-ww-ls~="dJR"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
      }
      .ww-e-dJS.ww-layout, .ww-e-dJS [data-ww-ls~="dJS"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dJT {
        width: revert-layer;
        height: auto;
        aspect-ratio: unset;
      }
      .ww-e-dJT.ww-layout, .ww-e-dJT [data-ww-ls~="dJT"] {
        display: flex;
        flex-flow: row;
        align-items: center;
        align-content: revert-layer;
        column-gap: 10px;
      }
      @media (max-width: 767px) {
        .ww-e-dJT.ww-layout, .ww-e-dJT [data-ww-ls~="dJT"] {
          column-gap: 15px;
        }
      }
      .ww-e-dJU {
        margin: 12px;
        padding: 12px 22px;
        z-index: 2;
        display: flex;
        width: 400px;
        height: 100px;
        aspect-ratio: unset;
        background-color: #fffc;
        box-shadow: inset 0 1px 1px #78787880;
        border: 0 solid #e6e6e6;
        border-radius: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dJU {
          width: 90%;
        }
      }
      .ww-e-dJU.ww-layout, .ww-e-dJU [data-ww-ls~="dJU"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
      }
      .ww-e-dJV {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: var(--ww-style-width, 100vw);
        height: 100vh;
        aspect-ratio: unset;
        background-color: #0006;
      }
      .ww-e-dJV.ww-layout, .ww-e-dJV [data-ww-ls~="dJV"] {
        display: flex;
      }
      .ww-e-dJW {
        font-size: 16px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dJX {
        cursor: pointer;
      }
      .ww-e-dJX.ww-layout, .ww-e-dJX [data-ww-ls~="dJX"] {
        display: flex;
      }
      .ww-e-dJY {
        width: var(--ww-section-root-auto-width, revert-layer);
      }
      .ww-e-dJY.ww-layout, .ww-e-dJY [data-ww-ls~="dJY"] {
        display: flex;
        flex-direction: row;
        flex-wrap: revert-layer;
      }
      .ww-e-dJZ {
        font-size: 14px;
        font-weight: 500;
        color: #000c;
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dJZ {
          width: 200px;
        }
      }
      .ww-e-dJa {
        margin: 12px;
        padding: 12px 22px;
        z-index: 2;
        display: flex;
        width: 400px;
        height: 100px;
        aspect-ratio: unset;
        background-color: #fffc;
        border: 0 solid #e6e6e6;
        border-radius: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dJa {
          width: 90%;
        }
      }
      .ww-e-dJa.ww-layout, .ww-e-dJa [data-ww-ls~="dJa"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
      }
      .ww-e-dx6.ww-layout, .ww-e-dx6 [data-ww-ls~="dx6"] {
        display: flex;
        flex-flow: column;
        row-gap: 10px;
      }
      @media (max-width: 767px) {
        .ww-e-dx6.ww-layout, .ww-e-dx6 [data-ww-ls~="dx6"] {
          row-gap: 5px;
        }
      }
      .ww-e-dx7 {
        margin: 0;
        display: var(--ww-style-display);
        width: 18px;
        height: 18px;
      }
      @media (max-width: 767px) {
        .ww-e-dx7 {
          width: 16px;
          height: 16px;
        }
      }
      .ww-e-dx8 {
        margin: 0;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dx8 {
          font-size: 12px;
        }
      }
      .ww-e-dx9 {
        margin: 0;
        width: 18px;
        height: 18px;
      }
      @media (max-width: 767px) {
        .ww-e-dx9 {
          width: 16px;
          height: 16px;
        }
      }
      .ww-e-dxA.ww-layout, .ww-e-dxA [data-ww-ls~="dxA"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dxA.ww-layout, .ww-e-dxA [data-ww-ls~="dxA"] {
          align-items: center;
          align-content: revert-layer;
          row-gap: 5px;
          flex-wrap: wrap;
        }
      }
      .ww-e-dxB {
        margin: 0;
        padding: 10px;
        align-self: unset;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 700;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        cursor: auto;
        transition: all 0.3s ease 0s;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxB {
          width: revert-layer;
          max-width: 200px;
          font-size: 12px;
        }
      }
      .ww-e-dxC {
        padding: 5px 10px;
        min-width: 300px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 10px;
      }
      @media (max-width: 767px) {
        .ww-e-dxC {
          padding: 5px 10px;
          min-width: unset;
        }
      }
      .ww-e-dxC:where(:hover) {
        padding: 5px 10px;
        background-color: #ffffff1a;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 10px;
      }
      .ww-e-dxC.ww-layout, .ww-e-dxC [data-ww-ls~="dxC"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 0;
        flex-wrap: revert-layer;
      }
      .ww-e-dxD {
        margin: 0;
        display: flex;
      }
      .ww-e-dxD.ww-layout, .ww-e-dxD [data-ww-ls~="dxD"] {
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dxD.ww-layout, .ww-e-dxD [data-ww-ls~="dxD"] {
          align-content: revert-layer;
          column-gap: 10px;
          flex-wrap: nowrap;
        }
      }
      .ww-e-dxE {
        align-self: unset;
        display: var(--ww-style-display, none);
        width: 1200px;
      }
      @media (max-width: 767px) {
        .ww-e-dxE {
          width: 100%;
        }
      }
      .ww-e-dxE.ww-layout, .ww-e-dxE [data-ww-ls~="dxE"] {
        display: var(--ww-style-display, none);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, var(--ww-content-row-gap-layout-grid, revert-layer));
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        grid-auto-flow: var(--ww-content-grid-auto-flow-layout-grid, revert-layer);
        grid-template-columns: var(--ww-content-grid-template-columns-layout-grid, revert-layer);
        grid-template-rows: var(--ww-content-grid-template-rows-layout-grid, revert-layer);
        column-gap: var(--ww-content-column-gap-layout-grid, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dxE.ww-layout, .ww-e-dxE [data-ww-ls~="dxE"] {
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        }
      }
      .ww-e-dxF {
        align-self: center;
        display: var(--ww-style-display);
        width: 1px;
        height: 100%;
        aspect-ratio: unset;
        border: 2px solid #fdca00;
        border-radius: 16px;
      }
      .ww-e-dxF.ww-layout, .ww-e-dxF [data-ww-ls~="dxF"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dxG {
          align-self: unset;
        }
      }
      .ww-e-dxG.ww-layout, .ww-e-dxG [data-ww-ls~="dxG"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-e-dxG.ww-layout, .ww-e-dxG [data-ww-ls~="dxG"] {
          flex-flow: column;
          justify-content: flex-start;
          align-items: stretch;
        }
      }
      .ww-e-dxH {
        width: 16px;
      }
      .ww-e-dxI {
        margin: 0;
        padding: 10px;
        align-self: flex-start;
        display: flex;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-eac08aca-2da2-4b7a-9f0f-64af0a725b51-base-default;
      }
      @keyframes ww-keyframes-element-eac08aca-2da2-4b7a-9f0f-64af0a725b51-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxI {
          padding: 10px;
          display: none;
          cursor: pointer;
        }
      }
      .ww-e-dxI:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dxI.ww-layout, .ww-e-dxI [data-ww-ls~="dxI"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dxI.ww-layout, .ww-e-dxI [data-ww-ls~="dxI"] {
          display: none;
        }
      }
      .ww-e-dxI.ww-layout:where(:hover), .ww-e-dxI [data-ww-ls~="dxI"]:where(:hover) {
        column-gap: 5px;
      }
      .ww-e-dxJ {
        font-size: 16px;
        font-weight: 400;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-045a27e4-a4c9-44de-8095-2e849c010a2b-base-default;
      }
      @keyframes ww-keyframes-element-045a27e4-a4c9-44de-8095-2e849c010a2b-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dxJ {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxJ {
          font-size: 16px;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dxK.ww-layout, .ww-e-dxK [data-ww-ls~="dxK"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-dxL {
        display: var(--ww-style-display);
        position: revert-layer;
        inset: revert-layer;
        width: 90px;
        height: 120px;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        border-radius: 12px;
        --wwi-ar: unset;
        --wwi-of: cover;
      }
      @media (max-width: 767px) {
        .ww-e-dxL {
          width: 80px;
          min-width: 80px;
          height: 100px;
          --wwi-of: cover;
        }
      }
      .ww-e-dxM {
        display: var(--ww-style-display);
        width: 90px;
        height: 120px;
        aspect-ratio: unset;
        background: var(--ww-style-background-color);
        border-radius: 16px;
      }
      .ww-e-dxM.ww-layout, .ww-e-dxM [data-ww-ls~="dxM"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-dxN {
        display: flex;
        width: var(--ww-section-root-auto-width, revert-layer);
      }
      .ww-e-dxN.ww-layout, .ww-e-dxN [data-ww-ls~="dxN"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dxO.ww-layout, .ww-e-dxO [data-ww-ls~="dxO"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dxP {
        margin: 0;
        font-size: 20px;
        line-height: 1.3;
        font-weight: 700;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxP {
          font-size: 14px;
        }
      }
      .ww-e-dxQ {
        width: 60px;
      }
      .ww-e-dxR {
        margin: 100px 0;
        align-self: center;
        display: var(--ww-style-display, none);
        max-width: 500px;
      }
      @media (max-width: 767px) {
        .ww-e-dxR {
          max-width: unset;
        }
      }
      .ww-e-dxR.ww-layout, .ww-e-dxR [data-ww-ls~="dxR"] {
        display: var(--ww-style-display, none);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-dxS {
        margin: 0;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 700;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxS {
          font-size: 12px;
        }
      }
      .ww-e-dxT.ww-layout, .ww-e-dxT [data-ww-ls~="dxT"] {
        display: flex;
        flex-flow: column;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-e-dxT.ww-layout, .ww-e-dxT [data-ww-ls~="dxT"] {
          row-gap: 10px;
        }
      }
      .ww-e-dxU {
        font-size: 16px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dxU {
          padding: 5px;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          color: var(--ww-content-ww-text-color);
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
        }
      }
      .ww-e-dxV {
        padding: 10px;
        align-self: flex-start;
        display: none;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-64f19580-9f4d-4217-8b30-172769a5bb2e-base-default;
      }
      @keyframes ww-keyframes-element-64f19580-9f4d-4217-8b30-172769a5bb2e-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxV {
          margin: 0;
          padding: 0 10px;
          z-index: 100;
          align-self: center;
          display: flex;
          position: fixed;
          top: 5px;
          right: auto;
          left: auto;
          width: 100%;
          flex: 1 0 auto;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          cursor: auto;
          box-shadow: revert-layer;
          animation-name: ww-keyframes-element-64f19580-9f4d-4217-8b30-172769a5bb2e-base-mobile;
          border-radius: 100px;
        }
        @keyframes ww-keyframes-element-64f19580-9f4d-4217-8b30-172769a5bb2e-base-mobile {
          0% {
          }
          100% {
          }
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxV:where([data-ww-states~="0bFTkZ"]) {
          padding: 0 10px;
          top: 10px;
          width: 90%;
          box-shadow: revert-layer;
        }
      }
      .ww-e-dxV.ww-layout, .ww-e-dxV [data-ww-ls~="dxV"] {
        display: none;
      }
      @media (max-width: 767px) {
        .ww-e-dxV.ww-layout, .ww-e-dxV [data-ww-ls~="dxV"] {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          column-gap: 10px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-dxW {
        padding: 12px;
        display: var(--ww-style-display, flex);
      }
      .ww-e-dxX {
        margin: 32px 0;
        padding: 48px;
        align-self: unset;
        width: 100%;
        max-width: 1200px;
        background-color: #0000001a;
        border-radius: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-dxX {
          padding: 32px;
          width: 100%;
          box-shadow: revert-layer;
          border-radius: 32px;
        }
      }
      .ww-e-dxX.ww-layout, .ww-e-dxX [data-ww-ls~="dxX"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dxX.ww-layout, .ww-e-dxX [data-ww-ls~="dxX"] {
          row-gap: 25px;
        }
      }
      .ww-e-dxY.ww-layout, .ww-e-dxY [data-ww-ls~="dxY"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dxZ.ww-layout, .ww-e-dxZ [data-ww-ls~="dxZ"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dxa {
        margin: 0;
        display: var(--ww-style-display);
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxa {
          font-size: 12px;
        }
      }
      .ww-e-dxb.ww-layout, .ww-e-dxb [data-ww-ls~="dxb"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dxb.ww-layout, .ww-e-dxb [data-ww-ls~="dxb"] {
          align-items: center;
        }
      }
      .ww-e-dxc.ww-layout, .ww-e-dxc [data-ww-ls~="dxc"] {
        display: flex;
        flex-direction: row;
        flex-wrap: revert-layer;
      }
      .ww-e-dxd {
        margin: 0;
        width: 18px;
        height: 18px;
      }
      @media (max-width: 767px) {
        .ww-e-dxd {
          width: 16px;
          height: 16px;
        }
      }
      .ww-e-dxe {
        margin: 0;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxe {
          font-size: 12px;
        }
      }
      .ww-e-dxf {
        margin: 0;
        max-width: unset;
        min-width: 70px;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxf {
          min-width: 50px;
          font-size: 12px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxg {
          width: 100%;
        }
      }
      .ww-e-dxg.ww-layout, .ww-e-dxg [data-ww-ls~="dxg"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dxh {
        padding: 28px;
        display: flex;
        width: 800px;
        background-color: #fff0;
        box-shadow: inset 0 1px 1px #78787800;
        transition: all 0.3s ease;
        border: 0 solid #f1f5f9;
        border-radius: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dxh {
          padding: 12px 0 12px 12px;
          width: 100%;
        }
      }
      .ww-e-dxh.ww-layout, .ww-e-dxh [data-ww-ls~="dxh"] {
        display: flex;
        flex-flow: column;
        align-items: stretch;
      }
      @media (max-width: 767px) {
        .ww-e-dxi {
          width: 100%;
        }
      }
      .ww-e-dxi.ww-layout, .ww-e-dxi [data-ww-ls~="dxi"] {
        display: flex;
        flex-direction: row;
        flex-wrap: revert-layer;
      }
      .ww-e-dxj {
        margin: 0;
        display: var(--ww-style-display);
        width: 18px;
        height: 18px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxj {
          display: none;
        }
      }
      .ww-e-dxk {
        margin: 0;
        display: var(--ww-style-display);
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxk {
          font-size: 12px;
        }
      }
      .ww-e-dxl.ww-layout, .ww-e-dxl [data-ww-ls~="dxl"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dxl.ww-layout, .ww-e-dxl [data-ww-ls~="dxl"] {
          align-content: revert-layer;
          row-gap: 5px;
          flex-wrap: nowrap;
        }
      }
      .ww-e-dxm {
        margin: 10px 0 0;
      }
      .ww-e-dxm.ww-layout, .ww-e-dxm [data-ww-ls~="dxm"] {
        display: flex;
        flex-flow: column;
        row-gap: 10px;
      }
      .ww-e-dxn {
        margin: 0;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 400;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxn {
          font-size: 12px;
          font-weight: 500;
        }
      }
      .ww-e-dxo {
        padding: 5px 10px;
        display: none;
      }
      @media (max-width: 767px) {
        .ww-e-dxo {
          padding: 2px 10px;
        }
      }
      .ww-e-dxo.ww-layout, .ww-e-dxo [data-ww-ls~="dxo"] {
        display: none;
      }
      .ww-e-dxp {
        margin: 0;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxp {
          width: revert-layer;
          max-width: 200px;
          font-size: 14px;
        }
      }
      .ww-e-dxp:where(:hover) {
        cursor: pointer;
        opacity: 0.6;
      }
      .ww-e-dxq {
        font-size: 24px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-41508f52-fc73-41f4-ada1-c3691ecd90ef-base-default;
      }
      @keyframes ww-keyframes-element-41508f52-fc73-41f4-ada1-c3691ecd90ef-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dxq {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxq {
          font-size: 16px;
        }
      }
      .ww-e-dxr {
        margin: 0 0 12px;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dxr {
          font-size: 12px;
        }
      }
      .ww-e-dxs {
        margin: 5px 0;
        max-width: unset;
        min-width: 70px;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxs {
          min-width: 50px;
          font-size: 12px;
        }
      }
      .ww-e-dxt {
        margin: 0;
        display: var(--ww-style-display);
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxt {
          font-size: 12px;
        }
      }
      .ww-e-dxu {
        margin: 0;
        display: var(--ww-style-display);
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        transition: all 0.3s ease 0s;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dxu {
          font-size: 12px;
        }
      }
      .ww-e-dxv {
        width: 28px;
        height: auto;
      }
      @media (max-width: 767px) {
        .ww-e-dxw {
          align-self: center;
          display: var(--ww-style-display);
          max-width: 250px;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          background-color: #19191980;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxw:where([data-ww-states~="6gviM9"]) {
          align-self: center;
          display: flex;
          flex: 1 0 auto;
          box-shadow: inset 0 1px 1px #78787833, 0 1px 1px #7878781a;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxw:where([data-ww-states~="I7lxO2"]) {
          background-color: #d6d6d680;
          box-shadow: inset 0 1px 1px #78787833, 0 1px 1px #7878781a;
          border-radius: 100px;
        }
      }
      .ww-e-dxw.ww-layout, .ww-e-dxw [data-ww-ls~="dxw"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-e-dxw.ww-layout, .ww-e-dxw [data-ww-ls~="dxw"] {
          display: var(--ww-style-display);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxw.ww-layout:where([data-ww-states~="6gviM9"]), .ww-e-dxw [data-ww-ls~="dxw"]:where([data-ww-states~="6gviM9"]) {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
        }
      }
      .ww-e-dxx {
        width: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dxx {
          padding: 5px;
          width: 40px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxx:where(:hover) {
          opacity: 1;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxx:where([data-ww-states~="U7UYbI"]) {
          background-color: #19191980;
          box-shadow: inset 0 1px 1px #78787833, 0 1px 1px #7878781a;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dxx:where([data-ww-states~="hQCGFR"]) {
          background-color: #d6d6d680;
          box-shadow: inset 0 1px 1px #78787833, 0 1px 1px #7878781a;
        }
      }
      .ww-e-dxy {
        margin: 0 0 12px;
        padding: 12px 18px;
        z-index: 100;
        align-self: flex-start;
        position: sticky;
        top: 100px;
        font-size: 24px;
        line-height: 1.3;
        font-weight: 800;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background: var(--ww-style-background-color);
        box-shadow: inset 0 1px 1px #78787833, 0 1px 1px #7878781a;
        border-radius: 100px;
      }
      @media (max-width: 767px) {
        .ww-e-dxy {
          padding: 6px 12px;
          z-index: 100;
          position: sticky;
          top: 100px;
          font-size: 14px;
          background: var(--ww-style-background-color);
          box-shadow: revert-layer;
          border-radius: 100px;
        }
      }
    }
  }
  @layer custom {
    .ww-e-dJU {
      backdrop-filter: blur(10px);
    }
    .ww-e-dJa {
      backdrop-filter: blur(10px);
    }
    .ww-e-dxB {
      word-break: break-word;
      white-space: pre-wrap;
      overflow-wrap: break-word;
    }
    @media (max-width: 767px) {
      .ww-e-dxw:where([data-ww-states~="6gviM9"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dxw:where([data-ww-states~="I7lxO2"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dxx:where([data-ww-states~="U7UYbI"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dxx:where([data-ww-states~="hQCGFR"]) {
        backdrop-filter: blur(10px);
      }
    }
  }
}
@layer ww-style-layout-override {
}
