@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-ah5kXiW44wImNtcA {
        height: auto;
        z-index: unset;
        max-height: unset;
      }
      .ww-a-Y6MTqAnlYkTtOtmG {
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-dY {
        margin: 0;
        min-height: 1200px;
        display: flex;
        background: var(--ww-style-background-color);
        position: revert-layer;
        inset: revert-layer;
        width: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-s-dY {
          margin: 0;
          overflow: auto;
          min-height: 1200px;
        }
      }
      .ww-s-dY > .ww-section-element {
        width: 100%;
        padding: 120px 32px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-dY > .ww-section-element {
          --ww-section-root-auto-align: center;
          --ww-section-root-auto-width: 100%;
          width: 100%;
          padding: 64px 16px 128px;
          min-height: 1200px;
        }
      }
      .ww-s-dY > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: center;
      }
      @media (max-width: 767px) {
        .ww-s-dY > .ww-section-element.ww-layout {
          align-items: stretch;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-oD8b5Gow0Chk0AYK {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-EFbekEDt-bxLyKV- {
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-0T6B8Vc_A72EVexv {
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-MAOj6ERGDcSW_KsW {
        margin: 0;
        z-index: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-0XtwMMjcpjxcaUFe {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-dQVf4AfE6DwFXRwu {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-musbR7AL09vB7JZp {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Pl_ddFv4O7h7sQ1q {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-osFt1bovyjmw1wCr {
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4RoHNZRxGrkSNyJL {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2ew-mtNf67a7wUE0 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-e64GhYcJHEm1j0gb {
        margin: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-WkYDv_R-J8OFs7mx {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YF0k00I-Mi8zOhMt {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YP1sznfDWeKOxiXA {
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-dmv {
        align-self: var(--ww-section-root-auto-align, unset);
        width: 100%;
        max-width: 1200px;
      }
      @media (max-width: 767px) {
        .ww-e-dmv {
          margin: 0;
          width: var(--ww-section-root-auto-width, revert-layer);
        }
      }
      .ww-e-dmv.ww-layout, .ww-e-dmv [data-ww-ls~="dmv"] {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 50px;
      }
      @media (max-width: 767px) {
        .ww-e-dmv.ww-layout, .ww-e-dmv [data-ww-ls~="dmv"] {
          row-gap: 40px;
        }
      }
      .ww-e-dmw {
        margin: 0;
        padding: 10px 16px;
        align-self: center;
        display: var(--ww-style-display);
        width: auto;
        font-size: 14px;
        font-family: var(--ww-default-font-family);
        font-weight: 600;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background: var(--ww-style-background-color);
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border: none;
        border-radius: 32px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dmw {
          margin: 0;
          padding: 10px 16px;
          align-self: center;
          max-width: 200px;
          min-height: 40px;
          font-size: 12px;
          text-align: center;
          border-radius: 32px;
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
        }
      }
      .ww-e-dmw:where(:hover) {
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-dmx {
        margin: 0;
        padding: 16px 32px;
        align-self: unset;
        display: block;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000001a;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-98a7c77e-9071-4547-8f3e-5e7fb043ce7d-base-default;
        border-radius: 32px;
      }
      @keyframes ww-keyframes-element-98a7c77e-9071-4547-8f3e-5e7fb043ce7d-base-default {
        0% {
          opacity: 0;
          transform: translateY(-10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dmx {
          margin: 25px 0;
          font-size: 12px;
          text-align: center;
        }
      }
      .ww-e-dmy {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-dmz {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-dn0 {
        width: 16px;
      }
      .ww-e-dn1 {
        margin: 0;
        padding: 10px;
        align-self: flex-start;
        display: flex;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-39942ac4-1042-4f25-99a4-5c909b468c78-base-default;
      }
      @keyframes ww-keyframes-element-39942ac4-1042-4f25-99a4-5c909b468c78-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dn1 {
          padding: 10px;
          display: none;
          cursor: pointer;
        }
      }
      .ww-e-dn1:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dn1.ww-layout, .ww-e-dn1 [data-ww-ls~="dn1"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dn1.ww-layout, .ww-e-dn1 [data-ww-ls~="dn1"] {
          display: none;
        }
      }
      .ww-e-dn1.ww-layout:where(:hover), .ww-e-dn1 [data-ww-ls~="dn1"]:where(:hover) {
        column-gap: 5px;
      }
      .ww-e-dn2 {
        padding: 32px;
        align-self: unset;
        display: flex;
        width: 100%;
        flex: 0 1 auto;
        max-width: 1200px;
        background-color: #0000001a;
        border-radius: 32px;
      }
      .ww-e-dn2.ww-layout, .ww-e-dn2 [data-ww-ls~="dn2"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dn2.ww-layout, .ww-e-dn2 [data-ww-ls~="dn2"] {
          flex-flow: column;
          justify-content: center;
          gap: 25px;
        }
      }
      .ww-e-dn3 {
        padding: 10px;
        align-self: flex-start;
        display: none;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-6588daa6-4500-4411-bf56-ac28145a63f6-base-default;
      }
      @keyframes ww-keyframes-element-6588daa6-4500-4411-bf56-ac28145a63f6-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dn3 {
          margin: 0;
          padding: 0 10px;
          z-index: 100;
          align-self: center;
          display: flex;
          position: fixed;
          top: 5px;
          right: auto;
          left: auto;
          width: 100%;
          flex: 1 0 auto;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          cursor: auto;
          box-shadow: revert-layer;
          animation-name: ww-keyframes-element-6588daa6-4500-4411-bf56-ac28145a63f6-base-mobile;
          border-radius: 100px;
        }
        @keyframes ww-keyframes-element-6588daa6-4500-4411-bf56-ac28145a63f6-base-mobile {
          0% {
          }
          100% {
          }
        }
      }
      @media (max-width: 767px) {
        .ww-e-dn3:where([data-ww-states~="0bFTkZ"]) {
          padding: 0 10px;
          top: 10px;
          width: 90%;
          box-shadow: revert-layer;
        }
      }
      .ww-e-dn3.ww-layout, .ww-e-dn3 [data-ww-ls~="dn3"] {
        display: none;
      }
      @media (max-width: 767px) {
        .ww-e-dn3.ww-layout, .ww-e-dn3 [data-ww-ls~="dn3"] {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          column-gap: 10px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-dn4 {
        font-size: 16px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-dn4 {
          padding: 5px;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          color: var(--ww-content-ww-text-color);
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
        }
      }
      .ww-e-dn5 {
        margin: 0;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dn5 {
          margin: 0;
          font-size: 12px;
          font-weight: 600;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dn6 {
        align-self: unset;
        display: flex;
        width: 25px;
      }
      @media (max-width: 767px) {
        .ww-e-dn6 {
          padding: 10px;
          width: 50px;
        }
      }
      .ww-e-dn7 {
        font-size: 14px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-c8d00351-2bd6-4127-b7b8-ae28b4a72589-base-default;
      }
      @keyframes ww-keyframes-element-c8d00351-2bd6-4127-b7b8-ae28b4a72589-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dn7 {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dn7 {
          margin: 0;
          display: block;
          width: revert-layer;
          font-size: 14px;
          font-weight: 500;
          text-align: center;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dn8 {
        margin: 100px 0;
        display: var(--ww-style-display, none);
      }
      @media (max-width: 767px) {
        .ww-e-dn8 {
          margin: 100px 0;
          padding: 0;
          display: var(--ww-style-display, none);
        }
      }
      .ww-e-dn8.ww-layout, .ww-e-dn8 [data-ww-ls~="dn8"] {
        display: var(--ww-style-display, none);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dn8.ww-layout, .ww-e-dn8 [data-ww-ls~="dn8"] {
          display: var(--ww-style-display, none);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-dn9 {
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        width: 280px;
        height: auto;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: translateY(0);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-02faea91-a932-437e-aa9f-5b847083c074-base-default;
        border-radius: 32px;
      }
      @keyframes ww-keyframes-element-02faea91-a932-437e-aa9f-5b847083c074-base-default {
        0% {
        }
        100% {
        }
      }
      @media (max-width: 991px) {
        .ww-e-dn9 {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dn9 {
          display: flex;
          width: revert-layer;
          height: auto;
          aspect-ratio: unset;
          border-radius: 12px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dn9:where(:hover) {
          background-color: #fff0;
        }
      }
      .ww-e-dn9.ww-layout, .ww-e-dn9 [data-ww-ls~="dn9"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 991px) {
        .ww-e-dn9.ww-layout, .ww-e-dn9 [data-ww-ls~="dn9"] {
          display: flex;
          flex-flow: column;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dn9.ww-layout, .ww-e-dn9 [data-ww-ls~="dn9"] {
          display: flex;
          flex-flow: column;
          align-items: center;
          column-gap: 15px;
        }
      }
      .ww-e-dnA {
        padding: 0 5px;
        display: flex;
        width: 50px;
        height: auto;
        cursor: auto;
        transition: all 0.3s ease 0s;
        border-radius: 0;
      }
      @media (max-width: 767px) {
        .ww-e-dnA {
          width: 30px;
        }
      }
      .ww-e-dnB {
        display: var(--ww-style-display);
        position: revert-layer;
        inset: revert-layer;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: scale3d(.95, .95, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        border-radius: 32px;
        --wwi-ar: unset;
        --wwi-of: cover;
      }
      @media (max-width: 767px) {
        .ww-e-dnB {
          width: 150px;
          height: 100%;
          transform: scale3d(.95, .95, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        }
      }
      .ww-e-dnB:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        width: 100%;
        height: 100%;
        transform: scale3d(.9, .9, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      @media (max-width: 767px) {
        .ww-e-dnB:where(:hover) {
          transform: scale3d(.85, .85, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        }
      }
      .ww-e-dnC {
        padding: 0 5px;
        display: flex;
        width: 30px;
        height: auto;
        cursor: auto;
        transition: all 0.3s ease 0s;
        border-radius: 0;
      }
      @media (max-width: 767px) {
        .ww-e-dnC {
          width: 30px;
        }
      }
      .ww-e-dnD {
        padding: 0;
        overflow: hidden;
        display: block;
        position: revert-layer;
        inset: revert-layer;
        width: 280px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #fff;
        background-image: none;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border: 0 solid #fff;
        border-radius: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-dnD {
          align-self: unset;
          width: 150px;
          height: 150px;
          aspect-ratio: unset;
          background-color: #fff;
          background-image: none;
        }
      }
      .ww-e-dnD:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dnD.ww-layout, .ww-e-dnD [data-ww-ls~="dnD"] {
        display: block;
      }
      .ww-e-dnE {
        padding: 5px 10px;
        z-index: 101;
        display: var(--ww-style-display);
        position: revert-layer;
        inset: revert-layer;
        background: var(--ww-style-background-color);
        border-radius: 32px;
      }
      .ww-e-dnE.ww-layout, .ww-e-dnE [data-ww-ls~="dnE"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-dnF {
        position: absolute;
        right: 20px;
        bottom: 20px;
      }
      @media (max-width: 767px) {
        .ww-e-dnF {
          bottom: 10px;
        }
      }
      .ww-e-dnF.ww-layout, .ww-e-dnF [data-ww-ls~="dnF"] {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      .ww-e-dnG {
        margin: 0;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dnG {
          margin: 0;
          font-size: 12px;
          font-weight: 600;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dnH {
        margin: 0;
        width: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dnH {
          align-self: unset;
        }
      }
      .ww-e-dnH.ww-layout, .ww-e-dnH [data-ww-ls~="dnH"] {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dnH.ww-layout, .ww-e-dnH [data-ww-ls~="dnH"] {
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-start;
          row-gap: 5px;
        }
      }
      .ww-e-dnI {
        margin: 10px 5px;
      }
      .ww-e-dnI.ww-layout, .ww-e-dnI [data-ww-ls~="dnI"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dnI.ww-layout, .ww-e-dnI [data-ww-ls~="dnI"] {
          flex-flow: column;
        }
      }
      .ww-e-dnJ {
        align-self: unset;
        display: grid;
        position: revert-layer;
        inset: revert-layer;
        width: revert-layer;
        flex: 0 1 auto;
        min-width: 900px;
        height: auto;
        aspect-ratio: unset;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
      }
      @media (max-width: 991px) {
        .ww-e-dnJ {
          display: grid;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dnJ {
          padding: 0 10px;
          align-self: center;
          display: flex;
          width: 100%;
          min-width: unset;
        }
      }
      .ww-e-dnJ.ww-layout, .ww-e-dnJ [data-ww-ls~="dnJ"] {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
      }
      @media (max-width: 991px) {
        .ww-e-dnJ.ww-layout, .ww-e-dnJ [data-ww-ls~="dnJ"] {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dnJ.ww-layout, .ww-e-dnJ [data-ww-ls~="dnJ"] {
          display: flex;
          flex-flow: wrap;
          place-content: stretch space-between;
          align-items: stretch;
          gap: 15px 5px;
        }
      }
      .ww-e-dnK {
        padding: 12px;
        display: var(--ww-style-display, none);
      }
      @media (max-width: 767px) {
        .ww-e-dnK {
          display: var(--ww-style-display, none);
        }
      }
      .ww-e-dnL {
        margin: 0;
        align-self: unset;
        display: var(--ww-style-display, none);
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-d1172171-ae50-4a4d-a294-fcb065bc5833-base-default;
      }
      @keyframes ww-keyframes-element-d1172171-ae50-4a4d-a294-fcb065bc5833-base-default {
        0% {
          opacity: 0;
          transform: translateY(-10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dnL {
          margin: 25px 0;
          font-size: 16px;
          text-align: center;
        }
      }
      .ww-e-dnM {
        margin: 0;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dnM {
          margin: 0;
          font-size: 12px;
          font-weight: 600;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dnN {
        font-size: 16px;
        font-weight: 400;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-bfedd0c6-6de9-4e39-b572-03385e68d14a-base-default;
      }
      @keyframes ww-keyframes-element-bfedd0c6-6de9-4e39-b572-03385e68d14a-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dnN {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dnN {
          font-size: 16px;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dnO {
        padding: 5px 10px;
        z-index: 101;
        display: var(--ww-style-display);
        position: revert-layer;
        inset: revert-layer;
        background: var(--ww-style-background-color);
        border-radius: 32px;
      }
      .ww-e-dnO.ww-layout, .ww-e-dnO [data-ww-ls~="dnO"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-dnP {
        padding: 5px 10px;
        z-index: 101;
        display: var(--ww-style-display);
        position: absolute;
        inset: 43% 40%;
        background: var(--ww-style-background-color);
        border-radius: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-dnP {
          inset: 40% 35%;
        }
      }
      .ww-e-dnP.ww-layout, .ww-e-dnP [data-ww-ls~="dnP"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-dnQ {
        width: 28px;
        height: auto;
      }
      .ww-e-dnR.ww-layout, .ww-e-dnR [data-ww-ls~="dnR"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dnS {
          align-self: center;
          display: var(--ww-style-display);
          max-width: 250px;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          background-color: #19191980;
          box-shadow: inset 0 1px 1px #78787833, 0 1px 1px #7878781a;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dnS:where([data-ww-states~="6gviM9"]) {
          align-self: center;
          display: flex;
          flex: 1 0 auto;
          box-shadow: inset 0 1px 1px #78787833, 0 1px 1px #7878781a;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dnS:where([data-ww-states~="I7lxO2"]) {
          background-color: #d6d6d680;
          border-radius: 100px;
        }
      }
      .ww-e-dnS.ww-layout, .ww-e-dnS [data-ww-ls~="dnS"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-e-dnS.ww-layout, .ww-e-dnS [data-ww-ls~="dnS"] {
          display: var(--ww-style-display);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dnS.ww-layout:where([data-ww-states~="6gviM9"]), .ww-e-dnS [data-ww-ls~="dnS"]:where([data-ww-states~="6gviM9"]) {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
        }
      }
      .ww-e-dnT {
        width: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-dnT {
          padding: 5px;
          width: 40px;
          cursor: pointer;
          box-shadow: revert-layer;
          transition: all 0.3s ease 0s;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dnT:where(:hover) {
          opacity: 1;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dnT:where([data-ww-states~="U7UYbI"]) {
          background-color: #19191980;
          box-shadow: inset 0 1px 1px #78787833, 0 1px 1px #7878781a;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dnT:where([data-ww-states~="hQCGFR"]) {
          background-color: #d6d6d680;
        }
      }
    }
  }
  @layer custom {
    .ww-e-dnB:where([data-ww-states~="jGFOR9"]) {
      filter: blur(20px);
    }
    @media (max-width: 767px) {
      .ww-e-dnS:where([data-ww-states~="6gviM9"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dnS:where([data-ww-states~="I7lxO2"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dnT:where([data-ww-states~="U7UYbI"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dnT:where([data-ww-states~="hQCGFR"]) {
        backdrop-filter: blur(10px);
      }
    }
  }
}
@layer ww-style-layout-override {
}
