@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-ah5kXiW44wImNtcA {
        height: auto;
        z-index: unset;
        max-height: unset;
      }
      .ww-a-Y6MTqAnlYkTtOtmG {
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-dR {
        min-height: 1200px;
        display: flex;
        background: var(--ww-style-background-color);
      }
      @media (max-width: 767px) {
        .ww-s-dR {
          margin: 0;
          min-height: 1200px;
        }
      }
      .ww-s-dR > .ww-section-element {
        width: 100%;
        padding: 120px 64px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-dR > .ww-section-element {
          --ww-section-root-auto-align: center;
          --ww-section-root-auto-width: 100%;
          width: 100%;
          padding: 64px 16px 128px;
          min-height: 1200px;
        }
      }
      .ww-s-dR > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-s-dR > .ww-section-element.ww-layout {
          align-items: stretch;
          gap: 20px 0;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-EFbekEDt-bxLyKV- {
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-0XtwMMjcpjxcaUFe {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Km-a_vLqZYKzg1qQ {
        margin: 0;
        z-index: unset;
        width: auto;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-CQC-UYJF9-3biM3_ {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Fijzlf8jhln2zwt7 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-osFt1bovyjmw1wCr {
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-dQVf4AfE6DwFXRwu {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Wf3kR1fDZCtNqRYp {
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-2MXhXlVHrdKM1K4g {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-6GOhhIoAx0jRKIia {
        margin: 0;
        padding: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-e64GhYcJHEm1j0gb {
        margin: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-LDmpW3IfZ4eTGdcl {
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4RoHNZRxGrkSNyJL {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2XmtwZSC2Y1t00Nv {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-hrle4cgh7E0q5WYv {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-3tJBOiCg_zaOJAaU {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2ew-mtNf67a7wUE0 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-62B4z2iQ-iPYknmh {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-GY9OD6k0O9NAwLah {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-hrpkn2nmdrP6iFfB {
        margin: 0;
        padding: 0;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-ZHFlyccgidWMqZZn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-deC {
        width: 16px;
      }
      .ww-e-deD {
        margin: 0;
        padding: 10px;
        align-self: flex-start;
        display: flex;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-1e6c40b4-c966-43a3-af51-98f3f0d18546-base-default;
      }
      @keyframes ww-keyframes-element-1e6c40b4-c966-43a3-af51-98f3f0d18546-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-deD {
          padding: 10px;
          display: none;
          cursor: pointer;
        }
      }
      .ww-e-deD:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-deD.ww-layout, .ww-e-deD [data-ww-ls~="deD"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-deD.ww-layout, .ww-e-deD [data-ww-ls~="deD"] {
          display: none;
        }
      }
      .ww-e-deD.ww-layout:where(:hover), .ww-e-deD [data-ww-ls~="deD"]:where(:hover) {
        column-gap: 5px;
      }
      .ww-e-deE {
        padding: 10px;
        align-self: flex-start;
        display: none;
        position: fixed;
        top: 100px;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-7509c9e7-1c0b-477d-937c-3d38fa8f3a6d-base-default;
      }
      @keyframes ww-keyframes-element-7509c9e7-1c0b-477d-937c-3d38fa8f3a6d-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-deE {
          padding: 0 10px;
          z-index: 100;
          align-self: center;
          top: 5px;
          width: 100%;
          flex: 1 0 auto;
          max-height: 50px;
          min-height: 40px;
          cursor: auto;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deE {
          margin: 0;
          padding: 0 10px;
          z-index: 100;
          align-self: center;
          display: flex;
          position: fixed;
          top: 5px;
          right: auto;
          left: auto;
          width: 100%;
          flex: 1 0 auto;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          cursor: auto;
          box-shadow: revert-layer;
          animation-name: ww-keyframes-element-7509c9e7-1c0b-477d-937c-3d38fa8f3a6d-base-mobile;
          border-radius: 100px;
        }
        @keyframes ww-keyframes-element-7509c9e7-1c0b-477d-937c-3d38fa8f3a6d-base-mobile {
          0% {
          }
          100% {
          }
        }
      }
      @media (max-width: 991px) {
        .ww-e-deE:where([data-ww-states~="0bFTkZ"]) {
          top: 10px;
          width: 90%;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deE:where([data-ww-states~="0bFTkZ"]) {
          padding: 0 10px;
          top: 10px;
          width: 90%;
          box-shadow: revert-layer;
        }
      }
      .ww-e-deE.ww-layout, .ww-e-deE [data-ww-ls~="deE"] {
        display: none;
      }
      @media (max-width: 767px) {
        .ww-e-deE.ww-layout, .ww-e-deE [data-ww-ls~="deE"] {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          column-gap: 10px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-deF {
        padding: 12px;
        align-self: center;
        display: var(--ww-style-display, none);
      }
      .ww-e-deG {
        padding: 10px 16px;
        align-self: center;
        display: var(--ww-style-display);
        font-size: 14px;
        font-weight: 600;
        color: #191919;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-deG {
          font-size: 12px;
          font-weight: 700;
        }
      }
      .ww-e-deG:where(:hover) {
        background-color: #fdca00cc;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-deH {
        display: flex;
        width: 100%;
        max-width: 1200px;
      }
      .ww-e-deH.ww-layout, .ww-e-deH [data-ww-ls~="deH"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        row-gap: 40px;
      }
      @media (max-width: 767px) {
        .ww-e-deH.ww-layout, .ww-e-deH [data-ww-ls~="deH"] {
          align-items: flex-start;
          row-gap: 40px;
        }
      }
      .ww-e-deI {
        width: 32px;
        transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-deI {
          padding: 5px;
          width: 40px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          border-radius: 100px;
        }
      }
      @media (max-width: 991px) {
        .ww-e-deI:where([data-ww-states~="U7UYbI"]) {
          padding: 5px;
          width: 40px;
          background-color: #19191980;
          cursor: pointer;
          box-shadow: inset 0 1px 1px #78787833;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deI:where([data-ww-states~="U7UYbI"]) {
          background-color: #19191980;
          box-shadow: inset 0 1px 1px #78787833;
        }
      }
      @media (max-width: 991px) {
        .ww-e-deI:where([data-ww-states~="hQCGFR"]) {
          background-color: #d6d6d680;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deI:where([data-ww-states~="hQCGFR"]) {
          background-color: #d6d6d680;
        }
      }
      .ww-e-deI:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      @media (max-width: 991px) {
        .ww-e-deJ {
          align-self: center;
          display: var(--ww-style-display);
          max-width: 250px;
          max-height: 50px;
          min-height: 40px;
          background-color: #19191980;
          transition: all 0.3s ease 0s;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deJ {
          align-self: center;
          display: var(--ww-style-display);
          max-width: 250px;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          background-color: #19191980;
          border-radius: 100px;
        }
      }
      @media (max-width: 991px) {
        .ww-e-deJ:where([data-ww-states~="6gviM9"]) {
          display: flex;
          flex: 1 0 auto;
          box-shadow: inset 0 1px 1px #78787833;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deJ:where([data-ww-states~="6gviM9"]) {
          align-self: center;
          display: flex;
          flex: 1 0 auto;
          box-shadow: inset 0 1px 1px #78787833;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deJ:where([data-ww-states~="I7lxO2"]) {
          background-color: #d6d6d680;
          border-radius: 100px;
        }
      }
      .ww-e-deJ.ww-layout, .ww-e-deJ [data-ww-ls~="deJ"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 991px) {
        .ww-e-deJ.ww-layout, .ww-e-deJ [data-ww-ls~="deJ"] {
          display: var(--ww-style-display);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      @media (max-width: 767px) {
        .ww-e-deJ.ww-layout, .ww-e-deJ [data-ww-ls~="deJ"] {
          display: var(--ww-style-display);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      @media (max-width: 991px) {
        .ww-e-deJ.ww-layout:where([data-ww-states~="6gviM9"]), .ww-e-deJ [data-ww-ls~="deJ"]:where([data-ww-states~="6gviM9"]) {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deJ.ww-layout:where([data-ww-states~="6gviM9"]), .ww-e-deJ [data-ww-ls~="deJ"]:where([data-ww-states~="6gviM9"]) {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
        }
      }
      .ww-e-deK {
        display: none;
        font-size: 16px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 991px) {
        .ww-e-deK {
          padding: 5px;
          display: block;
          font-weight: 600;
          text-align: center;
          color: var(--ww-content-ww-text-color);
          transition: all 0.3s ease 0s;
          --ww-element-transition: all 0.3s ease 0s;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deK {
          padding: 5px;
          display: block;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          color: var(--ww-content-ww-text-color);
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
        }
      }
      .ww-e-deL {
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        width: 200px;
        height: auto;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: translateY(0);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-359b1498-58db-4bc6-a5ea-323218dad85c-base-default;
      }
      @keyframes ww-keyframes-element-359b1498-58db-4bc6-a5ea-323218dad85c-base-default {
        0% {
        }
        100% {
        }
      }
      @media (max-width: 991px) {
        .ww-e-deL {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deL {
          display: flex;
          width: 100%;
          height: auto;
          aspect-ratio: unset;
          border-radius: 12px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deL:where(:hover) {
          background-color: #ffffff0d;
        }
      }
      .ww-e-deL.ww-layout, .ww-e-deL [data-ww-ls~="deL"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 991px) {
        .ww-e-deL.ww-layout, .ww-e-deL [data-ww-ls~="deL"] {
          display: flex;
          flex-flow: column;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deL.ww-layout, .ww-e-deL [data-ww-ls~="deL"] {
          display: flex;
          flex-direction: row;
          column-gap: 15px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-deM {
        margin: 0;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-deM {
          margin: 5px 0 10px;
          font-size: 16px;
        }
      }
      .ww-e-deN {
        width: 18px;
        height: auto;
        transition: all 0.2s ease;
      }
      .ww-e-deN:where([data-ww-states~="2w7mmz"]) {
        transition: all 0.2s ease;
      }
      .ww-e-deO {
        margin: 0;
        padding: 0;
        position: revert-layer;
        inset: revert-layer;
        font-size: 14px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-deO {
          font-size: 12px;
        }
      }
      .ww-e-deP {
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-deP {
          font-size: 12px;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-deQ {
        padding: 5px;
        align-self: flex-start;
        display: flex;
        width: 20px;
        height: 20px;
        aspect-ratio: unset;
        background: var(--ww-style-background-color);
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-deQ {
          margin: 10px 0;
          padding: 5px;
          align-self: unset;
          width: 20px;
          height: 20px;
          aspect-ratio: unset;
        }
      }
      .ww-e-deQ.ww-layout, .ww-e-deQ [data-ww-ls~="deQ"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-deR {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-deR.ww-layout, .ww-e-deR [data-ww-ls~="deR"] {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        flex-wrap: revert-layer;
      }
      .ww-e-deS {
        margin: 0;
        width: revert-layer;
      }
      .ww-e-deS.ww-layout, .ww-e-deS [data-ww-ls~="deS"] {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-deS.ww-layout, .ww-e-deS [data-ww-ls~="deS"] {
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-start;
          row-gap: 5px;
        }
      }
      .ww-e-deT {
        margin: 10px 5px;
      }
      @media (max-width: 767px) {
        .ww-e-deT {
          width: 200px;
        }
      }
      .ww-e-deT.ww-layout, .ww-e-deT [data-ww-ls~="deT"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-deT.ww-layout, .ww-e-deT [data-ww-ls~="deT"] {
          flex-flow: column;
        }
      }
      .ww-e-deV {
        z-index: 101;
        display: flex;
        position: absolute;
        top: 12px;
        right: 12px;
        width: 32px;
        height: 32px;
        background-color: #252525cc;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 50%;
      }
      @media (max-width: 991px) {
        .ww-e-deV {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deV {
          display: none;
        }
      }
      .ww-e-deV:where(:hover) {
        display: flex;
        background-color: #252525;
      }
      .ww-e-deV.ww-layout, .ww-e-deV [data-ww-ls~="deV"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      @media (max-width: 991px) {
        .ww-e-deV.ww-layout, .ww-e-deV [data-ww-ls~="deV"] {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deV.ww-layout, .ww-e-deV [data-ww-ls~="deV"] {
          display: none;
        }
      }
      .ww-e-deV.ww-layout:where(:hover), .ww-e-deV [data-ww-ls~="deV"]:where(:hover) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-deW {
        padding: 6px;
        z-index: 101;
        display: var(--ww-style-display);
        position: absolute;
        top: 12px;
        left: 12px;
        background: var(--ww-style-background-color);
        opacity: 1;
        border-radius: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-deW {
          padding: 4px;
        }
      }
      .ww-e-deW.ww-layout, .ww-e-deW [data-ww-ls~="deW"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-deX {
        margin: 30px;
        padding: 0;
        align-self: unset;
        flex: 0 1 auto;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-2741e854-c978-4aea-bd9f-ba523e074f9f-base-default;
      }
      @keyframes ww-keyframes-element-2741e854-c978-4aea-bd9f-ba523e074f9f-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-deX {
          margin: 0;
          animation-duration: 0s;
          animation-delay: 0s;
          animation-fill-mode: none;
          animation-iteration-count: infinite;
        }
      }
      .ww-e-deX.ww-layout, .ww-e-deX [data-ww-ls~="deX"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-deX.ww-layout, .ww-e-deX [data-ww-ls~="deX"] {
          column-gap: 0;
        }
      }
      .ww-e-deY {
        font-size: 12px;
        line-height: 1.3;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
      }
      @media (max-width: 767px) {
        .ww-e-deY {
          font-size: 12px;
        }
      }
      .ww-e-deZ {
        margin: 0;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-deZ {
          margin: 0;
          font-size: 12px;
          font-weight: 400;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dea {
        padding: 0;
        overflow: hidden;
        display: block;
        position: revert-layer;
        inset: revert-layer;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dea {
          width: 100px;
          height: 150px;
          aspect-ratio: unset;
        }
      }
      .ww-e-dea.ww-layout, .ww-e-dea [data-ww-ls~="dea"] {
        display: block;
      }
      .ww-e-deb {
        align-self: unset;
        display: grid;
        position: revert-layer;
        inset: revert-layer;
        width: revert-layer;
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
      }
      @media (max-width: 991px) {
        .ww-e-deb {
          display: grid;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deb {
          align-self: center;
          display: grid;
          width: 100%;
        }
      }
      .ww-e-deb.ww-layout, .ww-e-deb [data-ww-ls~="deb"] {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: revert-layer;
        gap: 30px;
      }
      @media (max-width: 991px) {
        .ww-e-deb.ww-layout, .ww-e-deb [data-ww-ls~="deb"] {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: revert-layer;
          gap: 30px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-deb.ww-layout, .ww-e-deb [data-ww-ls~="deb"] {
          display: grid;
          grid-auto-flow: row;
          grid-template-columns: revert-layer;
          grid-template-rows: revert-layer;
          gap: 15px 0;
        }
      }
      .ww-e-dec {
        display: var(--ww-style-display, none);
        width: 1200px;
        opacity: 0.2;
      }
      @media (max-width: 767px) {
        .ww-e-dec {
          display: var(--ww-style-display, none);
          width: var(--ww-section-root-auto-width, revert-layer);
        }
      }
      .ww-e-dec:where([data-ww-states~="3ahbRv"]) {
        opacity: 0.5;
      }
      .ww-e-dec.ww-layout, .ww-e-dec [data-ww-ls~="dec"] {
        display: var(--ww-style-display, none);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dec.ww-layout, .ww-e-dec [data-ww-ls~="dec"] {
          display: var(--ww-style-display, none);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-ded {
        margin: 0 0 0 40px;
        display: block;
        width: 200px;
        height: 40px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      .ww-e-dee {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dee {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-def {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-def {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-deg {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-deg {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-deh {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-deh {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dei {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dei {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dej {
        width: 100%;
      }
      .ww-e-dej.ww-layout, .ww-e-dej [data-ww-ls~="dej"] {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dej.ww-layout, .ww-e-dej [data-ww-ls~="dej"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-dek {
        width: 100%;
      }
      .ww-e-dek.ww-layout, .ww-e-dek [data-ww-ls~="dek"] {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dek.ww-layout, .ww-e-dek [data-ww-ls~="dek"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-del {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-del {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dem {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dem {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-den {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-den {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-deo {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-deo {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dep {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dep {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-deq {
        width: 100%;
      }
      .ww-e-deq.ww-layout, .ww-e-deq [data-ww-ls~="deq"] {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-deq.ww-layout, .ww-e-deq [data-ww-ls~="deq"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-der {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-der {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-des {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-des {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-det {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-det {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-deu {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-deu {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dev {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dev {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dew {
        width: 100%;
        max-width: unset;
      }
      .ww-e-dew.ww-layout, .ww-e-dew [data-ww-ls~="dew"] {
        display: flex;
        flex-flow: column;
        gap: 30px;
      }
      .ww-e-dex {
        font-size: 16px;
        font-weight: 400;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-48e7dce2-c15d-48f8-855b-c9ab7d6d3c75-base-default;
      }
      @keyframes ww-keyframes-element-48e7dce2-c15d-48f8-855b-c9ab7d6d3c75-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dex {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dex {
          font-size: 16px;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dey {
        font-size: 24px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-030484a6-7e11-435a-a177-64b760d2ae54-base-default;
      }
      @keyframes ww-keyframes-element-030484a6-7e11-435a-a177-64b760d2ae54-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-dey {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dey {
          font-size: 12px;
        }
      }
      .ww-e-dez {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        border-radius: 12px;
        --wwi-ar: unset;
        --wwi-of: cover;
      }
      @media (max-width: 767px) {
        .ww-e-dez {
          width: 100px;
          height: 100%;
        }
      }
      .ww-e-dez:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        transform: scale(1.05);
      }
      .ww-e-df0 {
        z-index: 100;
        align-self: unset;
        display: var(--ww-style-display);
        position: revert-layer;
        inset: revert-layer;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        background: var(--ww-style-background-gradient);
        transition: all 0.3s ease 0s;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-df0 {
          height: 100%;
          aspect-ratio: unset;
        }
      }
      .ww-e-df0:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-df0.ww-layout, .ww-e-df0 [data-ww-ls~="df0"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-df0.ww-layout, .ww-e-df0 [data-ww-ls~="df0"] {
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        }
      }
      .ww-e-df1 {
        overflow: unset;
        position: revert-layer;
        inset: revert-layer;
        max-width: unset;
        font-size: 16px;
        font-family: var(--ww-default-font-family);
        line-height: 1.2;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-65de1562-4b88-40e4-889e-7823725b518e-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-65de1562-4b88-40e4-889e-7823725b518e-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-df1 {
          font-size: 36px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-df1 {
          margin: 0;
          overflow: unset;
          z-index: unset;
          align-self: unset;
          position: revert-layer;
          inset: revert-layer;
          max-width: unset;
          height: auto;
          aspect-ratio: unset;
          font-size: 16px;
          font-weight: 800;
          text-align: center;
        }
      }
    }
  }
  @layer custom {
    @media (min-width: 768px) and (max-width: 991px) {
      .ww-e-deI:where([data-ww-states~="U7UYbI"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-deI:where([data-ww-states~="U7UYbI"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-deI:where([data-ww-states~="hQCGFR"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .ww-e-deJ:where([data-ww-states~="6gviM9"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-deJ:where([data-ww-states~="6gviM9"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .ww-e-deJ:where([data-ww-states~="I7lxO2"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-deJ:where([data-ww-states~="I7lxO2"]) {
        backdrop-filter: blur(10px);
      }
    }
    .ww-e-deV {
      backdrop-filter: blur(4px);
    }
  }
}
@layer ww-style-layout-override {
}
