@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-uWRDKzdjvkf4EAoV {
        z-index: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a--KGRjBBOtDBhGNXy {
        width: 100%;
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-d1 {
        height: auto;
        aspect-ratio: unset;
        min-height: 1200px;
        background-color: #191919;
      }
      @media (max-width: 767px) {
        .ww-s-d1 {
          height: auto;
        }
      }
      .ww-s-d1 > .ww-section-element {
        --ww-section-root-auto-align: center;
        --ww-section-root-auto-width: 100%;
        padding: 120px 64px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-d1 > .ww-section-element {
          padding: 64px 16px;
        }
      }
      .ww-s-d1 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: stretch;
        row-gap: 20px;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-YF0k00I-Mi8zOhMt {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-nZjgbPdLeWAAAagC {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-0XtwMMjcpjxcaUFe {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-hrle4cgh7E0q5WYv {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Wf3kR1fDZCtNqRYp {
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-dVjV1oRkjIr0ILF4 {
        z-index: unset;
        align-self: unset;
        display: flex;
        width: auto;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-VKUhmmNDcyZcVcWk {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-IBqsSZqALGUiyJm3 {
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-1HJqa9Ng_FeY5w71 {
        margin: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-fKo7xotRqyrxdbG4 {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jmcmduGw2BpHZ9RI {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-909017zV2JtYxP_Z {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-KGd9mkrHibbFBfIk {
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-7z7Fp3CUQKsvog5J {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-BUy5c_7mQD_pnjJN {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-ojR9yNVv0aSDeAdG {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-CQC-UYJF9-3biM3_ {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-XMNgqUZITcWnfqZ3 {
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-jY00-auMuYX_Yaxn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        width: auto;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-Fijzlf8jhln2zwt7 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
    }
    @layer ordered {
      .ww-e-d1r {
        padding: 12px;
        display: var(--ww-style-display, none);
      }
      .ww-e-d1s {
        display: flex;
        width: 100%;
        max-width: 1200px;
      }
      .ww-e-d1s.ww-layout, .ww-e-d1s [data-ww-ls~="d1s"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-d1s.ww-layout, .ww-e-d1s [data-ww-ls~="d1s"] {
          row-gap: 10px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d1t {
          margin: 20px 0;
        }
      }
      .ww-e-d1t.ww-layout, .ww-e-d1t [data-ww-ls~="d1t"] {
        display: flex;
        flex-flow: column;
        row-gap: 20px;
      }
      .ww-e-d1u {
        width: 32px;
        transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-d1u {
          padding: 5px;
          width: 40px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          border-radius: 100px;
        }
      }
      @media (max-width: 991px) {
        .ww-e-d1u:where([data-ww-states~="U7UYbI"]) {
          padding: 5px;
          width: 40px;
          background-color: #19191980;
          cursor: pointer;
          box-shadow: inset 0 1px 1px #78787833;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d1u:where([data-ww-states~="U7UYbI"]) {
          background-color: #19191980;
          box-shadow: inset 0 1px 1px #78787833;
        }
      }
      @media (max-width: 991px) {
        .ww-e-d1u:where([data-ww-states~="hQCGFR"]) {
          background-color: #d6d6d680;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d1u:where([data-ww-states~="hQCGFR"]) {
          background-color: #d6d6d680;
        }
      }
      .ww-e-d1u:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-d1v {
        padding: 10px;
        align-self: flex-start;
        display: none;
        position: fixed;
        top: 100px;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-847163f6-e90e-4791-9f1d-f964518cc2c4-base-default;
      }
      @keyframes ww-keyframes-element-847163f6-e90e-4791-9f1d-f964518cc2c4-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-d1v {
          padding: 0 10px;
          z-index: 100;
          align-self: center;
          top: 5px;
          width: 100%;
          flex: 1 0 auto;
          max-height: 50px;
          min-height: 40px;
          cursor: auto;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d1v {
          margin: 0;
          padding: 0 10px;
          z-index: 100;
          align-self: center;
          display: flex;
          position: fixed;
          top: 5px;
          right: auto;
          left: auto;
          width: 100%;
          flex: 1 0 auto;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          cursor: auto;
          box-shadow: revert-layer;
          animation-name: ww-keyframes-element-847163f6-e90e-4791-9f1d-f964518cc2c4-base-mobile;
          border-radius: 100px;
        }
        @keyframes ww-keyframes-element-847163f6-e90e-4791-9f1d-f964518cc2c4-base-mobile {
          0% {
          }
          100% {
          }
        }
      }
      @media (max-width: 991px) {
        .ww-e-d1v:where([data-ww-states~="0bFTkZ"]) {
          top: 10px;
          width: 90%;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d1v:where([data-ww-states~="0bFTkZ"]) {
          padding: 0 10px;
          top: 10px;
          width: 90%;
          box-shadow: revert-layer;
        }
      }
      .ww-e-d1v.ww-layout, .ww-e-d1v [data-ww-ls~="d1v"] {
        display: none;
      }
      @media (max-width: 767px) {
        .ww-e-d1v.ww-layout, .ww-e-d1v [data-ww-ls~="d1v"] {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          column-gap: 10px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-d1w {
        display: var(--ww-style-display, none);
        width: 32px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-d1w {
          padding: 5px;
          display: none;
          width: 40px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          border-radius: 100px;
        }
      }
      @media (max-width: 991px) {
        .ww-e-d1w:where([data-ww-states~="U7UYbI"]) {
          padding: 5px;
          width: 40px;
          background-color: #19191980;
          cursor: pointer;
          box-shadow: inset 0 1px 1px #78787833;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d1w:where([data-ww-states~="U7UYbI"]) {
          background-color: #19191980;
          box-shadow: inset 0 1px 1px #78787833;
        }
      }
      @media (max-width: 991px) {
        .ww-e-d1w:where([data-ww-states~="hQCGFR"]) {
          background-color: #d6d6d680;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d1w:where([data-ww-states~="hQCGFR"]) {
          background-color: #d6d6d680;
        }
      }
      .ww-e-d1w:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-d1x {
        width: 32px;
        transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-d1x {
          padding: 7px;
          display: var(--ww-style-display, none);
          width: 40px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          border-radius: 100px;
        }
      }
      @media (max-width: 991px) {
        .ww-e-d1x:where([data-ww-states~="U7UYbI"]) {
          padding: 5px;
          width: 40px;
          background-color: #19191980;
          cursor: pointer;
          box-shadow: inset 0 1px 1px #78787833;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d1x:where([data-ww-states~="U7UYbI"]) {
          padding: 7px;
          background-color: #19191980;
          box-shadow: inset 0 1px 1px #78787833;
        }
      }
      @media (max-width: 991px) {
        .ww-e-d1x:where([data-ww-states~="hQCGFR"]) {
          background-color: #d6d6d680;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d1x:where([data-ww-states~="hQCGFR"]) {
          background-color: #d6d6d680;
        }
      }
      .ww-e-d1x:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-d1y {
        margin: 0;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        cursor: pointer;
        box-shadow: inset 0 1px 1px #78787880;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-d1y {
          padding: 10px;
          font-size: 12px;
          text-align: center;
          box-shadow: inset 0 1px 1px #78787880;
          transition: all 0.3s ease 0s;
          border-radius: 16px;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
          --ww-element-transition: all 0.3s ease 0s;
        }
      }
      .ww-e-d1y:where([data-ww-states~="CbuaNt"]) {
        color: #fdca00;
        background: var(--ww-style-background-color);
        box-shadow: inset 0 1px 1px #78787880;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      @media (max-width: 767px) {
        .ww-e-d1y:where([data-ww-states~="CbuaNt"]) {
          color: #fdca00;
          background: var(--ww-style-background-color);
          box-shadow: inset 0 1px 1px #78787880;
          border: 0 solid;
        }
      }
      .ww-e-d1y:where(:hover) {
        color: #fdca00;
        background: var(--ww-style-background-color);
        box-shadow: inset 0 1px 1px #78787880;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      @media (max-width: 767px) {
        .ww-e-d1y:where(:hover) {
          color: #fdca00;
          background: var(--ww-style-background-color);
          box-shadow: inset 0 1px 1px #78787880;
          border-radius: 16px;
        }
      }
      .ww-e-d1z {
        margin: 10px 0;
        padding: 12px 24px;
        font-size: 12px;
        font-weight: 500;
        color: #000;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        border: none;
        border-radius: 12px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      .ww-e-d1z:where(:hover) {
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-d20 {
        width: var(--ww-section-root-auto-width, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-d20 {
          align-self: var(--ww-section-root-auto-align, unset);
          display: flex;
          width: var(--ww-section-root-auto-width, revert-layer);
          flex: 0 1 auto;
        }
      }
      .ww-e-d20.ww-layout, .ww-e-d20 [data-ww-ls~="d20"] {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
        align-content: revert-layer;
        column-gap: 50px;
      }
      @media (max-width: 767px) {
        .ww-e-d20.ww-layout, .ww-e-d20 [data-ww-ls~="d20"] {
          display: flex;
          flex-flow: wrap;
          place-content: stretch center;
          align-items: center;
          gap: 50px;
        }
      }
      .ww-e-d21 {
        width: 300px;
      }
      .ww-e-d22 {
        width: 300px;
      }
      .ww-e-d23 {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d24 {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d25 {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: auto;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d26 {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d27 {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d28 {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d29 {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d2A {
        padding: 5px;
        align-self: unset;
        width: 300px;
        height: auto;
        aspect-ratio: unset;
        background-color: #333;
        border-radius: 16px;
      }
      .ww-e-d2B {
        padding: 5px;
        align-self: unset;
        width: 300px;
        height: auto;
        aspect-ratio: unset;
        background-color: #333;
        border-radius: 16px;
      }
      .ww-e-d2C {
        padding: 5px;
        align-self: unset;
        width: 300px;
        height: auto;
        aspect-ratio: unset;
        background-color: #333;
        border-radius: 16px;
      }
      .ww-e-d2D {
        padding: 5px;
        align-self: unset;
        width: 300px;
        height: auto;
        aspect-ratio: unset;
        background-color: #333;
        border-radius: 16px;
      }
      .ww-e-d2E {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d2F {
        padding: 15px;
        width: 300px;
        height: 50px;
        aspect-ratio: unset;
        background-color: #333;
        border-radius: 16px;
      }
      .ww-e-d2F.ww-layout, .ww-e-d2F [data-ww-ls~="d2F"] {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: revert-layer;
      }
      .ww-e-d2G {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d2H {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d2I {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d2J {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d2K {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d2L {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d2M {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d2N {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d2O {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d2P {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d2Q {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d2R {
        padding: 0;
        cursor: pointer;
        border: 0 solid #d1d5db;
      }
      .ww-e-d2S {
        padding: 15px;
        width: 300px;
        height: 50px;
        aspect-ratio: unset;
        font-size: 16px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d2T {
        padding: 15px;
        width: 300px;
        height: 50px;
        aspect-ratio: unset;
        font-size: 16px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border: 0 solid #e0e0e0;
        border-radius: 16px;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d2U {
        padding: 5px;
        align-self: unset;
        width: 300px;
        height: auto;
        aspect-ratio: unset;
        background-color: #333;
        border-radius: 16px;
      }
      .ww-e-d2V {
        margin: 0;
        padding: 10px 15px;
        display: var(--ww-style-display, none);
        font-size: 16px;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        cursor: pointer;
        box-shadow: inset 0 1px 1px #78787880;
        transition: all 0.3s ease 0s;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-d2V {
          padding: 10px;
          font-size: 12px;
          text-align: center;
          box-shadow: inset 0 1px 1px #78787880;
          transition: all 0.3s ease 0s;
          border-radius: 16px;
          --ww-text-white-space: nowrap;
          --ww-text-overflow: hidden;
          --ww-element-transition: all 0.3s ease 0s;
        }
      }
      .ww-e-d2V:where([data-ww-states~="CbuaNt"]) {
        color: #fdca00;
        background: var(--ww-style-background-color);
        box-shadow: inset 0 1px 1px #78787880;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      @media (max-width: 767px) {
        .ww-e-d2V:where([data-ww-states~="CbuaNt"]) {
          color: #fdca00;
          background: var(--ww-style-background-color);
          box-shadow: inset 0 1px 1px #78787880;
          border: 0 solid;
        }
      }
      .ww-e-d2V:where(:hover) {
        color: #fdca00;
        background: var(--ww-style-background-color);
        box-shadow: inset 0 1px 1px #78787880;
        transform: scale3d(1.05, 1.05, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      @media (max-width: 767px) {
        .ww-e-d2V:where(:hover) {
          color: #fdca00;
          background: var(--ww-style-background-color);
          box-shadow: inset 0 1px 1px #78787880;
          border-radius: 16px;
        }
      }
      .ww-e-d2W {
        font-size: 12px;
        text-align: center;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d2X.ww-layout, .ww-e-d2X [data-ww-ls~="d2X"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d2Y.ww-layout, .ww-e-d2Y [data-ww-ls~="d2Y"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: 5px;
      }
      .ww-e-d2Z {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-d2a {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-d2b {
        width: 300px;
      }
      .ww-e-d2c.ww-layout, .ww-e-d2c [data-ww-ls~="d2c"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-d2d {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d2e {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-d2f {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-d2g {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d2h {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d2i {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d2j {
        padding: 12px;
        width: 100%;
        font-size: 16px;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d2j:where(:hover) {
        background-color: #f9fafb;
      }
      .ww-e-d2k {
        padding: 12px;
        width: 100%;
        font-size: 16px;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d2k:where(:hover) {
        background-color: #f9fafb;
      }
      .ww-e-d2l {
        align-self: unset;
        font-size: 14px;
        color: #aaa;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d2m {
        padding: 12px;
      }
      .ww-e-d2n.ww-layout, .ww-e-d2n [data-ww-ls~="d2n"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d2o {
        width: 100%;
      }
      .ww-e-d2o.ww-layout, .ww-e-d2o [data-ww-ls~="d2o"] {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        align-content: revert-layer;
      }
      .ww-e-d2p {
        width: 100%;
      }
      .ww-e-d2p.ww-layout, .ww-e-d2p [data-ww-ls~="d2p"] {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        align-content: revert-layer;
      }
      .ww-e-d2q.ww-layout, .ww-e-d2q [data-ww-ls~="d2q"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d2r.ww-layout, .ww-e-d2r [data-ww-ls~="d2r"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d2s.ww-layout, .ww-e-d2s [data-ww-ls~="d2s"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d2t.ww-layout, .ww-e-d2t [data-ww-ls~="d2t"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d2u.ww-layout, .ww-e-d2u [data-ww-ls~="d2u"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d2v.ww-layout, .ww-e-d2v [data-ww-ls~="d2v"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d2w.ww-layout, .ww-e-d2w [data-ww-ls~="d2w"] {
        display: flex;
        flex-flow: column;
        row-gap: 20px;
      }
      .ww-e-d2x.ww-layout, .ww-e-d2x [data-ww-ls~="d2x"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d2y.ww-layout, .ww-e-d2y [data-ww-ls~="d2y"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d2z.ww-layout, .ww-e-d2z [data-ww-ls~="d2z"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d30.ww-layout, .ww-e-d30 [data-ww-ls~="d30"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-e-d31 {
          align-self: center;
        }
      }
      .ww-e-d31.ww-layout, .ww-e-d31 [data-ww-ls~="d31"] {
        display: flex;
        flex-flow: column;
        row-gap: 25px;
      }
      .ww-e-d32 {
        display: var(--ww-style-display, none);
        width: 100%;
        max-width: 1200px;
      }
      @media (max-width: 767px) {
        .ww-e-d32 {
          align-self: var(--ww-section-root-auto-align, unset);
          width: 100%;
        }
      }
      .ww-e-d32.ww-layout, .ww-e-d32 [data-ww-ls~="d32"] {
        display: var(--ww-style-display, none);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-d32.ww-layout, .ww-e-d32 [data-ww-ls~="d32"] {
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-d33 {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 12px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d34 {
        margin: 0;
        padding: 15px;
        width: 300px;
        height: 50px;
        font-size: 14px;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #333;
        border-top: 0 solid #e0e0e0;
        border-bottom: 0 solid #aaa;
        border-left: 0 solid #e0e0e0;
        border-right: 0 solid #e0e0e0;
        border-radius: 12px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #AAAAAA;
      }
      .ww-e-d35.ww-layout, .ww-e-d35 [data-ww-ls~="d35"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: 5px;
      }
      .ww-e-d36 {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-d37 {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-d38 {
        display: var(--ww-style-display, none);
        width: 100%;
        max-width: 1200px;
      }
      @media (max-width: 767px) {
        .ww-e-d38 {
          align-self: var(--ww-section-root-auto-align, unset);
          width: 100%;
        }
      }
      .ww-e-d38.ww-layout, .ww-e-d38 [data-ww-ls~="d38"] {
        display: var(--ww-style-display, none);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-d39 {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3A {
        margin: 10px 0;
        padding: 12px 24px;
        width: 100%;
        font-size: 12px;
        font-weight: 500;
        color: #000;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        border: none;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-d3A {
          border-radius: 16px;
        }
      }
      .ww-e-d3A:where(:hover) {
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-d3B {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3C {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3D {
        font-size: 16px;
        font-weight: initial;
        text-transform: none;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3E {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3F.ww-layout, .ww-e-d3F [data-ww-ls~="d3F"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d3G {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3H {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3I {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3J.ww-layout, .ww-e-d3J [data-ww-ls~="d3J"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d3K {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3L {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-d3M {
          align-self: center;
        }
      }
      .ww-e-d3M.ww-layout, .ww-e-d3M [data-ww-ls~="d3M"] {
        display: flex;
        flex-direction: row;
        column-gap: 50px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-d3M.ww-layout, .ww-e-d3M [data-ww-ls~="d3M"] {
          flex-flow: column;
        }
      }
      .ww-e-d3N {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3O {
        font-size: 14px;
        color: #a1a1aa;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3P.ww-layout, .ww-e-d3P [data-ww-ls~="d3P"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d3Q {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3R.ww-layout, .ww-e-d3R [data-ww-ls~="d3R"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d3S.ww-layout, .ww-e-d3S [data-ww-ls~="d3S"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d3T {
        padding: 12px;
      }
      .ww-e-d3U {
        font-size: 14px;
        color: #a1a1aa;
        letter-spacing: 0;
        word-spacing: 0;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: solid;
        text-decoration-color: initial;
        white-space-collapse: preserve;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3V.ww-layout, .ww-e-d3V [data-ww-ls~="d3V"] {
        display: flex;
        flex-flow: column;
        row-gap: 20px;
      }
      .ww-e-d3W {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3X {
        padding: 12px;
      }
      .ww-e-d3Y.ww-layout, .ww-e-d3Y [data-ww-ls~="d3Y"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d3Z {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3a.ww-layout, .ww-e-d3a [data-ww-ls~="d3a"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d3b {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3c {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3d {
        padding: 0;
        width: revert-layer;
        height: auto;
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-d3e.ww-layout, .ww-e-d3e [data-ww-ls~="d3e"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      .ww-e-d3f {
        padding: 12px;
      }
      .ww-e-d3g {
        display: var(--ww-style-display, none);
        font-size: 12px;
        color: var(--c8ad9641-1f8b-4f9e-972e-24d3d7c79164,#fa444d);
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3h {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d3i {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-d3i {
          max-width: unset;
          font-size: 14px;
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
        }
      }
      .ww-e-d3j {
        font-size: 12px;
        color: #fff;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-d3j {
          max-width: unset;
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d3k {
          margin: 20px 0 0;
        }
      }
      .ww-e-d3k.ww-layout, .ww-e-d3k [data-ww-ls~="d3k"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-d3k.ww-layout, .ww-e-d3k [data-ww-ls~="d3k"] {
          row-gap: 10px;
        }
      }
      .ww-e-d3l.ww-layout, .ww-e-d3l [data-ww-ls~="d3l"] {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-d3l.ww-layout, .ww-e-d3l [data-ww-ls~="d3l"] {
          row-gap: 10px;
        }
      }
      .ww-e-d3m {
        padding: 5px;
        align-self: unset;
        width: 300px;
        height: auto;
        aspect-ratio: unset;
        background-color: #333;
        border-radius: 12px;
      }
      .ww-e-d3n {
        margin: 10px 0;
        padding: 12px 24px;
        display: var(--ww-style-display, flex);
        width: auto;
        font-size: 12px;
        font-weight: 500;
        color: #000;
        white-space-collapse: preserve;
        background-color: #fdca00;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border: none;
        border-radius: 16px;
        --ww-element-transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-d3n {
          margin: 10px 0 50px;
          border-radius: 16px;
        }
      }
      .ww-e-d3n:where(:hover) {
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
    }
  }
  @layer custom {
    @media (min-width: 768px) and (max-width: 991px) {
      .ww-e-d1u:where([data-ww-states~="U7UYbI"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-d1u:where([data-ww-states~="U7UYbI"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-d1u:where([data-ww-states~="hQCGFR"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .ww-e-d1w:where([data-ww-states~="U7UYbI"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-d1w:where([data-ww-states~="U7UYbI"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-d1w:where([data-ww-states~="hQCGFR"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .ww-e-d1x:where([data-ww-states~="U7UYbI"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-d1x:where([data-ww-states~="U7UYbI"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-d1x:where([data-ww-states~="hQCGFR"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (min-width: 992px) {
      .ww-e-d1y {
        backdrop-filter: blur(4px);
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .ww-e-d1y {
        backdrop-filter: blur(4px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-d1y {
        backdrop-filter: blur(4px);
      }
    }
    @media (min-width: 992px) {
      .ww-e-d2V {
        backdrop-filter: blur(4px);
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .ww-e-d2V {
        backdrop-filter: blur(4px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-d2V {
        backdrop-filter: blur(4px);
      }
    }
    .ww-e-d3d {
      width: max-content;
    }
  }
}
@layer ww-style-layout-override {
}
