@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-uWRDKzdjvkf4EAoV {
        z-index: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-Y6MTqAnlYkTtOtmG {
        max-width: unset;
        min-width: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-dU {
        height: auto;
        aspect-ratio: unset;
        min-height: 1200px;
        background: var(--ww-style-background-color);
      }
      @media (max-width: 767px) {
        .ww-s-dU {
          margin: 0;
          min-height: 1200px;
        }
      }
      .ww-s-dU > .ww-section-element {
        width: 100%;
        padding: 120px 32px 64px;
        min-height: 1200px;
      }
      @media (max-width: 767px) {
        .ww-s-dU > .ww-section-element {
          --ww-section-root-auto-align: center;
          --ww-section-root-auto-width: 100%;
          padding: 64px 16px 128px;
          min-height: 1200px;
        }
      }
      .ww-s-dU > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-s-dU > .ww-section-element.ww-layout {
          align-items: stretch;
          gap: 0;
        }
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-3tJBOiCg_zaOJAaU {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2ew-mtNf67a7wUE0 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-jv_Vqe1raKX4ZAEH {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-62B4z2iQ-iPYknmh {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-GY9OD6k0O9NAwLah {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Wf3kR1fDZCtNqRYp {
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-dQVf4AfE6DwFXRwu {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-0196u6vQjAePVbDF {
        margin: 0;
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-bz1Dtfovudlkg0nb {
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-Fijzlf8jhln2zwt7 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-EFbekEDt-bxLyKV- {
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-hrle4cgh7E0q5WYv {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YF0k00I-Mi8zOhMt {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-0XtwMMjcpjxcaUFe {
        margin: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-CQC-UYJF9-3biM3_ {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-osFt1bovyjmw1wCr {
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4RoHNZRxGrkSNyJL {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-6GOhhIoAx0jRKIia {
        margin: 0;
        padding: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-e64GhYcJHEm1j0gb {
        margin: 0;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-wepO1Mjw7DgHz3WK {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2XmtwZSC2Y1t00Nv {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-ZHFlyccgidWMqZZn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-hrpkn2nmdrP6iFfB {
        margin: 0;
        padding: 0;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-dhM.ww-layout, .ww-e-dhM [data-ww-ls~="dhM"] {
        display: flex;
        flex-flow: column;
      }
      .ww-e-dhN {
        margin: 0;
        width: revert-layer;
      }
      .ww-e-dhN.ww-layout, .ww-e-dhN [data-ww-ls~="dhN"] {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        row-gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dhN.ww-layout, .ww-e-dhN [data-ww-ls~="dhN"] {
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-start;
          row-gap: 5px;
        }
      }
      .ww-e-dhO {
        width: 16px;
      }
      .ww-e-dhP {
        margin: 0 0 0 40px;
        display: block;
        width: 200px;
        height: 40px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      .ww-e-dhQ {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dhQ {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dhR {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dhR {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dhS {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dhS {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dhT {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dhT {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dhU {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dhU {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dhV {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dhV {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dhW {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dhW {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dhX {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dhX {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dhY {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dhY {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dhZ {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dhZ {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dha {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dha {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dhb {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dhb {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dhc {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dhc {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dhd {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dhd {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dhe {
        display: block;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        background-color: #888;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dhe {
          width: 100%;
          height: 160px;
        }
      }
      .ww-e-dhf {
        width: 100%;
      }
      .ww-e-dhf.ww-layout, .ww-e-dhf [data-ww-ls~="dhf"] {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dhf.ww-layout, .ww-e-dhf [data-ww-ls~="dhf"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-dhg {
        width: 100%;
      }
      .ww-e-dhg.ww-layout, .ww-e-dhg [data-ww-ls~="dhg"] {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dhg.ww-layout, .ww-e-dhg [data-ww-ls~="dhg"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-dhh {
        width: 100%;
      }
      .ww-e-dhh.ww-layout, .ww-e-dhh [data-ww-ls~="dhh"] {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dhh.ww-layout, .ww-e-dhh [data-ww-ls~="dhh"] {
          flex-flow: column;
          row-gap: 30px;
        }
      }
      .ww-e-dhi {
        width: 32px;
        transition: all 0.3s ease 0s;
      }
      @media (max-width: 767px) {
        .ww-e-dhi {
          padding: 5px;
          width: 40px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dhi:where([data-ww-states~="U7UYbI"]) {
          background-color: #19191980;
          box-shadow: inset 0 1px 1px #78787833;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dhi:where([data-ww-states~="hQCGFR"]) {
          background-color: #d6d6d680;
        }
      }
      .ww-e-dhi:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dhj {
        width: 18px;
        height: auto;
        transition: all 0.2s ease;
      }
      .ww-e-dhj:where([data-ww-states~="2w7mmz"]) {
        transition: all 0.2s ease;
      }
      .ww-e-dhk {
        width: 100%;
        max-width: unset;
      }
      .ww-e-dhk.ww-layout, .ww-e-dhk [data-ww-ls~="dhk"] {
        display: flex;
        flex-flow: column;
        gap: 30px;
      }
      .ww-e-dhl {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
        border-radius: 12px;
        --wwi-ar: unset;
        --wwi-of: cover;
      }
      @media (max-width: 767px) {
        .ww-e-dhl {
          width: 100px;
          height: 100%;
        }
      }
      .ww-e-dhl:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        transform: scale(1.05);
      }
      .ww-e-dhm {
        margin: 0;
        padding: 0;
        position: revert-layer;
        inset: revert-layer;
        font-size: 14px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-dhm {
          font-size: 12px;
        }
      }
      .ww-e-dhn {
        margin: 0;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 600;
        text-align: left;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dhn {
          margin: 5px 0 10px;
          font-size: 16px;
        }
      }
      .ww-e-dho {
        padding: 32px;
        align-self: unset;
        width: 100%;
        background-color: #0000001a;
        box-shadow: inset 0 1px 1px #78787833;
        border-radius: 32px;
      }
      @media (max-width: 767px) {
        .ww-e-dho {
          padding: 32px;
          box-shadow: inset 0 1px 1px #78787833;
          border-radius: 32px;
        }
      }
      .ww-e-dho.ww-layout, .ww-e-dho [data-ww-ls~="dho"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 50px 20px;
      }
      .ww-e-dhp {
        margin: 0;
        display: block;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dhp {
          margin: 0;
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dhq {
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-dhq {
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dhr {
        display: block;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 400;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
      }
      @media (max-width: 767px) {
        .ww-e-dhr {
          align-self: unset;
          display: block;
          font-size: 12px;
          text-align: left;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-dhs {
        display: block;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
      }
      @media (max-width: 767px) {
        .ww-e-dhs {
          align-self: flex-start;
          display: block;
          font-size: 12px;
          text-align: left;
          color: var(--ww-content-ww-text-color);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dht {
          align-self: center;
          display: var(--ww-style-display);
          max-width: 250px;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          background-color: #19191980;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dht:where([data-ww-states~="6gviM9"]) {
          align-self: center;
          display: flex;
          flex: 1 0 auto;
          box-shadow: inset 0 1px 1px #78787833;
          border-radius: 100px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-dht:where([data-ww-states~="I7lxO2"]) {
          background-color: #d6d6d680;
          border-radius: 100px;
        }
      }
      .ww-e-dht.ww-layout, .ww-e-dht [data-ww-ls~="dht"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 767px) {
        .ww-e-dht.ww-layout, .ww-e-dht [data-ww-ls~="dht"] {
          display: var(--ww-style-display);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dht.ww-layout:where([data-ww-states~="6gviM9"]), .ww-e-dht [data-ww-ls~="dht"]:where([data-ww-states~="6gviM9"]) {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
        }
      }
      .ww-e-dhu {
        margin: 0;
        padding: 10px;
        align-self: flex-start;
        display: flex;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-77e6c291-0d43-4c03-bd34-eb6640692550-base-default;
      }
      @keyframes ww-keyframes-element-77e6c291-0d43-4c03-bd34-eb6640692550-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dhu {
          padding: 10px;
          display: none;
          cursor: pointer;
        }
      }
      .ww-e-dhu:where(:hover) {
        opacity: 0.6;
        transition: all 0.3s ease 0s;
      }
      .ww-e-dhu.ww-layout, .ww-e-dhu [data-ww-ls~="dhu"] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        column-gap: 10px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dhu.ww-layout, .ww-e-dhu [data-ww-ls~="dhu"] {
          display: none;
        }
      }
      .ww-e-dhu.ww-layout:where(:hover), .ww-e-dhu [data-ww-ls~="dhu"]:where(:hover) {
        column-gap: 5px;
      }
      .ww-e-dhv {
        display: var(--ww-style-display, none);
        width: 1200px;
        opacity: 0.2;
      }
      @media (max-width: 767px) {
        .ww-e-dhv {
          display: var(--ww-style-display, none);
          width: var(--ww-section-root-auto-width, revert-layer);
        }
      }
      .ww-e-dhv:where([data-ww-states~="3ahbRv"]) {
        opacity: 0.5;
      }
      .ww-e-dhv.ww-layout, .ww-e-dhv [data-ww-ls~="dhv"] {
        display: var(--ww-style-display, none);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dhv.ww-layout, .ww-e-dhv [data-ww-ls~="dhv"] {
          display: var(--ww-style-display, none);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-dhw {
        padding: 0;
        display: var(--ww-style-display);
      }
      @media (max-width: 767px) {
        .ww-e-dhw {
          padding: 0;
          align-self: unset;
          display: var(--ww-style-display);
        }
      }
      .ww-e-dhw.ww-layout, .ww-e-dhw [data-ww-ls~="dhw"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dhw.ww-layout, .ww-e-dhw [data-ww-ls~="dhw"] {
          display: var(--ww-style-display);
          flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
          column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
          flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
        }
      }
      .ww-e-dhx {
        padding: 10px;
        align-self: flex-start;
        display: none;
        position: fixed;
        top: 100px;
        width: revert-layer;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-d3294563-6746-475f-9a53-ef00f60d6ce5-base-default;
      }
      @keyframes ww-keyframes-element-d3294563-6746-475f-9a53-ef00f60d6ce5-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 767px) {
        .ww-e-dhx {
          margin: 0;
          padding: 0 10px;
          z-index: 100;
          align-self: center;
          display: flex;
          position: fixed;
          top: 5px;
          right: auto;
          left: auto;
          width: 100%;
          flex: 1 0 auto;
          height: auto;
          aspect-ratio: unset;
          max-height: 50px;
          min-height: 40px;
          cursor: auto;
          box-shadow: revert-layer;
          animation-name: ww-keyframes-element-d3294563-6746-475f-9a53-ef00f60d6ce5-base-mobile;
          border-radius: 100px;
        }
        @keyframes ww-keyframes-element-d3294563-6746-475f-9a53-ef00f60d6ce5-base-mobile {
          0% {
          }
          100% {
          }
        }
      }
      @media (max-width: 767px) {
        .ww-e-dhx:where([data-ww-states~="0bFTkZ"]) {
          padding: 0 10px;
          top: 10px;
          width: 90%;
          box-shadow: revert-layer;
        }
      }
      .ww-e-dhx.ww-layout, .ww-e-dhx [data-ww-ls~="dhx"] {
        display: none;
      }
      @media (max-width: 767px) {
        .ww-e-dhx.ww-layout, .ww-e-dhx [data-ww-ls~="dhx"] {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          column-gap: 10px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-dhy {
        margin: 10px 5px;
      }
      @media (max-width: 767px) {
        .ww-e-dhy {
          width: 200px;
        }
      }
      .ww-e-dhy.ww-layout, .ww-e-dhy [data-ww-ls~="dhy"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dhy.ww-layout, .ww-e-dhy [data-ww-ls~="dhy"] {
          flex-flow: column;
        }
      }
      .ww-e-dhz {
        display: var(--ww-style-display, flex);
        width: 100%;
        max-width: 1200px;
      }
      @media (max-width: 767px) {
        .ww-e-dhz {
          width: var(--ww-section-root-auto-width, revert-layer);
          max-width: unset;
        }
      }
      .ww-e-dhz.ww-layout, .ww-e-dhz [data-ww-ls~="dhz"] {
        display: var(--ww-style-display, flex);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        row-gap: var(--ww-content-row-gap-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-dhz.ww-layout, .ww-e-dhz [data-ww-ls~="dhz"] {
          align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        }
      }
      .ww-e-di0 {
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        width: 200px;
        height: auto;
        aspect-ratio: unset;
        transition: all 0.3s ease;
        transform: translateY(0);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-bc03eb06-f56a-4bd6-9de7-23511665d6f0-base-default;
      }
      @keyframes ww-keyframes-element-bc03eb06-f56a-4bd6-9de7-23511665d6f0-base-default {
        0% {
        }
        100% {
        }
      }
      @media (max-width: 991px) {
        .ww-e-di0 {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-di0 {
          display: flex;
          width: 100%;
          height: auto;
          aspect-ratio: unset;
          border-radius: 12px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-di0:where(:hover) {
          background-color: #ffffff0d;
        }
      }
      .ww-e-di0.ww-layout, .ww-e-di0 [data-ww-ls~="di0"] {
        display: flex;
        flex-flow: column;
      }
      @media (max-width: 991px) {
        .ww-e-di0.ww-layout, .ww-e-di0 [data-ww-ls~="di0"] {
          display: flex;
          flex-flow: column;
        }
      }
      @media (max-width: 767px) {
        .ww-e-di0.ww-layout, .ww-e-di0 [data-ww-ls~="di0"] {
          display: flex;
          flex-direction: row;
          column-gap: 15px;
          flex-wrap: revert-layer;
        }
      }
      .ww-e-di1 {
        padding: 0;
        overflow: hidden;
        display: block;
        position: revert-layer;
        inset: revert-layer;
        width: 200px;
        height: 280px;
        aspect-ratio: unset;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-di1 {
          width: 100px;
          height: 150px;
          aspect-ratio: unset;
        }
      }
      .ww-e-di1.ww-layout, .ww-e-di1 [data-ww-ls~="di1"] {
        display: block;
      }
      .ww-e-di2 {
        z-index: 101;
        display: var(--ww-style-display);
        position: absolute;
        top: 12px;
        right: 12px;
        width: 32px;
        height: 32px;
        background-color: #252525cc;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        border-radius: 50%;
      }
      @media (max-width: 991px) {
        .ww-e-di2 {
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-di2 {
          display: none;
        }
      }
      .ww-e-di2:where(:hover) {
        display: flex;
        background-color: #252525;
      }
      .ww-e-di2.ww-layout, .ww-e-di2 [data-ww-ls~="di2"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 991px) {
        .ww-e-di2.ww-layout, .ww-e-di2 [data-ww-ls~="di2"] {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: revert-layer;
        }
      }
      @media (max-width: 767px) {
        .ww-e-di2.ww-layout, .ww-e-di2 [data-ww-ls~="di2"] {
          display: none;
        }
      }
      .ww-e-di2.ww-layout:where(:hover), .ww-e-di2 [data-ww-ls~="di2"]:where(:hover) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: revert-layer;
      }
      .ww-e-di3 {
        padding: 6px;
        z-index: 101;
        display: var(--ww-style-display);
        position: absolute;
        top: 12px;
        left: 12px;
        background: var(--ww-style-background-color);
        opacity: 1;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-di3 {
          padding: 4px;
        }
      }
      .ww-e-di3.ww-layout, .ww-e-di3 [data-ww-ls~="di3"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      .ww-e-di4 {
        width: 32px;
        height: auto;
      }
      .ww-e-di5 {
        padding: 12px;
        align-self: center;
        display: var(--ww-style-display, none);
      }
      .ww-e-di6 {
        display: flex;
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-di6.ww-layout, .ww-e-di6 [data-ww-ls~="di6"] {
        display: flex;
        flex-flow: wrap;
        align-content: revert-layer;
        gap: 5px;
      }
      @media (max-width: 767px) {
        .ww-e-di6.ww-layout, .ww-e-di6 [data-ww-ls~="di6"] {
          align-content: revert-layer;
          row-gap: 5px;
          flex-wrap: wrap;
        }
      }
      .ww-e-di7 {
        align-self: unset;
        display: grid;
        position: revert-layer;
        inset: revert-layer;
        width: revert-layer;
        flex: 0 1 auto;
        height: auto;
        aspect-ratio: unset;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-direction: normal;
      }
      @media (max-width: 991px) {
        .ww-e-di7 {
          display: grid;
        }
      }
      @media (max-width: 767px) {
        .ww-e-di7 {
          align-self: center;
          display: grid;
          width: 100%;
        }
      }
      .ww-e-di7.ww-layout, .ww-e-di7 [data-ww-ls~="di7"] {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 30px;
      }
      @media (max-width: 991px) {
        .ww-e-di7.ww-layout, .ww-e-di7 [data-ww-ls~="di7"] {
          display: grid;
          grid-auto-flow: row;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-di7.ww-layout, .ww-e-di7 [data-ww-ls~="di7"] {
          display: grid;
          grid-auto-flow: row;
          grid-template-columns: revert-layer;
          grid-template-rows: revert-layer;
          gap: 15px 0;
        }
      }
      .ww-e-di8 {
        font-size: 16px;
        font-weight: 400;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: ease;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: ww-keyframes-element-0f03f365-5ed1-475e-8207-776c666c9327-base-default;
      }
      @keyframes ww-keyframes-element-0f03f365-5ed1-475e-8207-776c666c9327-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-di8 {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-di8 {
          font-size: 16px;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-di9 {
        font-size: 24px;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        animation-duration: 0s;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-delay: 0s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-5dcfc946-aa3d-4269-828e-1ba5f6b5ddb0-base-default;
      }
      @keyframes ww-keyframes-element-5dcfc946-aa3d-4269-828e-1ba5f6b5ddb0-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-di9 {
          font-size: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-di9 {
          font-size: 16px;
        }
      }
      .ww-e-diA {
        margin: 0;
        display: block;
        font-size: 12px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
      }
      @media (max-width: 767px) {
        .ww-e-diA {
          margin: 0;
          font-size: 12px;
          font-weight: 500;
          color: var(--ww-content-ww-text-color);
        }
      }
      .ww-e-diB {
        display: none;
        font-size: 16px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-diB {
          padding: 5px;
          display: block;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          color: var(--ww-content-ww-text-color);
          --ww-text-white-space: initial;
          --ww-text-overflow: initial;
        }
      }
      .ww-e-diC {
        overflow: unset;
        position: revert-layer;
        inset: revert-layer;
        max-width: unset;
        font-size: 16px;
        font-family: var(--ww-default-font-family);
        line-height: 1.2;
        font-weight: 700;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ww-keyframes-element-53ea0263-98c3-4489-8f43-738d984fbf73-base-default;
        --ww-text-white-space: initial;
        --ww-text-overflow: initial;
      }
      @keyframes ww-keyframes-element-53ea0263-98c3-4489-8f43-738d984fbf73-base-default {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @media (max-width: 991px) {
        .ww-e-diC {
          font-size: 36px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-diC {
          margin: 0;
          overflow: unset;
          z-index: unset;
          align-self: unset;
          position: revert-layer;
          inset: revert-layer;
          max-width: unset;
          height: auto;
          aspect-ratio: unset;
          font-size: 16px;
          font-weight: 800;
          text-align: center;
        }
      }
      .ww-e-diD {
        z-index: 100;
        align-self: unset;
        display: var(--ww-style-display);
        position: revert-layer;
        inset: revert-layer;
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        background: var(--ww-style-background-gradient);
        transition: all 0.3s ease 0s;
        border-radius: 12px;
      }
      @media (max-width: 767px) {
        .ww-e-diD {
          height: 100%;
          aspect-ratio: unset;
        }
      }
      .ww-e-diD:where(:hover) {
        position: revert-layer;
        inset: revert-layer;
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-diD.ww-layout, .ww-e-diD [data-ww-ls~="diD"] {
        display: var(--ww-style-display);
        flex-direction: var(--ww-content-flex-direction-layout-flex, revert-layer);
        justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        align-items: var(--ww-content-align-items-layout-flex, revert-layer);
        flex-wrap: var(--ww-content-flex-wrap-layout-flex, revert-layer);
      }
      @media (max-width: 767px) {
        .ww-e-diD.ww-layout, .ww-e-diD [data-ww-ls~="diD"] {
          justify-content: var(--ww-content-justify-content-layout-flex, revert-layer);
        }
      }
    }
  }
  @layer custom {
    @media (max-width: 767px) {
      .ww-e-dhi:where([data-ww-states~="U7UYbI"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dhi:where([data-ww-states~="hQCGFR"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dht:where([data-ww-states~="6gviM9"]) {
        backdrop-filter: blur(10px);
      }
    }
    @media (max-width: 767px) {
      .ww-e-dht:where([data-ww-states~="I7lxO2"]) {
        backdrop-filter: blur(10px);
      }
    }
    .ww-e-di2 {
      backdrop-filter: blur(4px);
    }
  }
}
@layer ww-style-layout-override {
}
